[2020-11-24 11:32] AlexanderYastrebov commented on #1614
Might be related: there is `-reverse-source-predicate` flag
https://github.com/zalando/skipper/blob/6008afe1eabdb5daac926a27c0278b78dee5a373/skipper.go#L595-L601
but apparently it only affects kubernetes healthcheck endpoint
https://github.com/zalando/skipper/blob/6008afe1eabdb5daac926a27c0278b78dee5a373/skipper.go#L729-L747

[2020-11-24 12:24] AlexanderYastrebov commented on #965
Connecting the dots. Filter cleanup is a part of route cleanup, so these #202 #1552 may be related

[2020-11-24 12:36] AlexanderYastrebov commented on #629
Probably could be hacked around with `JWTPayloadAnyKVRegexp` predicate and specific rate-limited routes

[2020-11-24 13:10] #1614 closed

[2020-11-24 13:14] szuecs commented on #629
Yes for the quality idea, but not for refreshing the token which changes auth header.

[2020-11-24 13:20] szuecs commented on #1614
If you check details, the cli switch will not help, because you want to have both at the time of LB switch. It does not matter what we do here. We can easily duplicate routes on PreProcessor or PostProcessor for enabling migration purposes from alb to nlb for example

[2020-11-24 13:24] aermakov-zalando commented on #1614
@szuecs The idea would be to run two separate deployments and switch between them, but my main point is that the predicates should separate the intent from the implementation instead of being extremely low level. It doesn't look like this is what you would like, though, so I'll leave it up to you.

[2020-11-24 13:25] AlexanderYastrebov commented on #629
I mean that by having specific route with `JWTPayloadAnyKVRegexp` users can isolate particular client(+scopes) and then impose `clusterRatelimit` on it without relying on `Authorization` header (though it must be validated).

[2020-11-24 13:26] scherniavsky commented on #1614
Thanks everyone for the quick fix!

[2020-11-24 13:33] szuecs opened #1619 "Duplicate routes and rewrite predicate"
**Is your feature request related to a problem? Please describe.**
If you want to migrate ALB (http proxy) to NLB (packet forwarder), in front of your skipper fleet and use for example SourceFromLast predicate, you want to rewrite routes to use ClientIP predicate.
Context https://github.com/zalando/skipper/issues/1614#issuecomment-732818965

**Describe the solution you would like**
I would propose

[2020-11-24 13:37] AlexanderYastrebov commented on #1614
I get the point @aermakov-zalando makes, also it seems here the request is to have `RemoteAddr` filter right now.

I think it is still possible to have such a switch that would define what IP check logic is used effectively making `Source`, `SourceFromLast` and `ClientIP` aliases to the same thing.

[2020-11-24 13:45] szuecs commented on #1614
@AlexanderYastrebov it doesn’t solve the problem, that you have to support both at the same time for a period of time and then I prefer a generic solution via PreProcessor, that can rewrite other predicates, too.

[2020-11-24 14:17] AlexanderYastrebov commented on #1614
@szuecs @aermakov-zalando

I don't get it, as...

I imagine all three of predicates are aliases to the same thing that is controlled by command switch when present. Say first deployment behind ALB uses `SourceFromLast` as an implementation for all three predicates and second deployment behind NLB uses `ClientIP` implementation for all three.

Predicate rewrite could be a useful thing if made gener

[2020-11-24 14:28] AlexanderYastrebov commented on #1614
Beside ALB->NLB migration there is a usecase when skipper is deployed as a managed infrastructure (say ingress) in known configuration and users can define their own routes.

In such a case users may not be fully aware of the implementation details difference between `Source`, `SourceFromLast` and `ClientIP` in relation to the infrastructure configuration which may lead to insecure routes if wrong

[2020-11-24 14:39] aermakov-zalando commented on #1614
@AlexanderYastrebov I've meant two skipper deployments for the duration of the migration, one running behind the NLB and using IPs for filtering, the other running behind the ELB and using XFF.

[2020-11-25 02:02] AlexanderYastrebov opened #1620 "Configurable ClientIP utility function"
**Is your feature request related to a problem? Please describe.**
There are several modules where client IP address is required.

Depending on the setup it can be reliably obtained from:
* `http.Request.RemoteAddr` attribute
* first `X-Forwarded-For` header (e.g. when behind a loadbalancer)
* last `X-Forwarded-For` header

Different modules (predicates, rate limiters, load balancing) use differen

[2020-11-25 21:11] szuecs commented on #1620
It’s not possible to do it in general.
Think about behind ALB and east-west, these are 2 completely different scenarios and need different predicates to make it work as expected.

The alb->nlb case is wrong, in case we implicitly switch without creating a new skipper stack and I am more in favor of non new stack creation, because of several reasons. One example is cost, another is east west routin

[2020-11-25 21:23] AlexanderYastrebov commented on #1618
I guess the proper validation should
1. parse eskip and check there is a single filter (doable)
2. check filter name (seems doable, needs filter registry)
3. check args (seems tricky as it would need to actually create filter which might be impossible (e.g. `static` filter checks directory permissions) )

somewhere along the https://github.com/zalando/skipper/blob/807227afddc22b17d6291458c0944d0a2

[2020-11-25 21:28] AlexanderYastrebov commented on #1620
@szuecs Look from users perspective - they don't really want to know in depth all the details and implications of the setup especially when skipper is provided as infrastructure. What they what is to use "client ip" and proper "client ip" definition depends on the setup. In this ticket I propose to configure proper "client ip" for all modules at once.

[2020-11-26 10:48] szuecs commented on #1620
@AlexanderYastrebov users perspective, that's why I proposed the PreProcessor!
We can later propose changes via GHE API to all projects that use P1 to switch to P2, no matter what P1 and P2 will be in the future.

[2020-11-27 18:49] szuecs commented on #1446
Interesting KEP updates
https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2030-endpointslice-subsetting#proposal
https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2004-topology-aware-subsetting

[2020-12-03 11:15] herojan opened #1628 "Allow configuring the rate limit error response"
**Is your feature request related to a problem? Please describe.**
Our services are supposed to return json for all responses, and [problem json](https://opensource.zalando.com/restful-api-guidelines/#176) for error responses.  The rate limit filter returns a plaintext response, which means services need to handle that possibility specifically.

<details>
  <summary>Example of a current ratelimit-

[2020-12-03 13:05] peterklijn commented on #1537
Hi guys, could you share your thoughts on how to proceed with this please?
@szuecs @AlexanderYastrebov @aryszka 😇

[2020-12-03 18:40] szuecs commented on #1537
I hope we can think about this next week. Sorry that it takes so long.

[2020-12-03 20:54] AlexanderYastrebov commented on #1628
It seems possible to achieve this with existing filters:
[code]

[2020-12-04 09:33] herojan commented on #1628
Nice find, I tried it out and it doesn't appear to work though

[code]

Gives me

[code]

I tried it with clusterClientRateLimit and tried putting the rateLimit filter first too. I believe this filter only works on the response from the end service, not from other filters.

[2020-12-04 09:51] szuecs commented on #1628
You would need to set the Response and not to write it to the ResponseWriter, I guess.
Something like this should work:
[code]

[2020-12-04 10:05] aermakov-zalando opened #1631 "Client disconnecting before the request is sent can result in the wrong status code"
**Describe the bug**

If a client disconnects before the request is sent, most of the time Skipper recognises it correctly and tracks it with the status code 499:

    [APP]time="2020-12-04T09:54:41Z" level=error msg="client canceled after 64.545424ms, route kube_XXXX with backend network http://XXXX:8080, status code 499: dialing failed false: context canceled, remote host: XXXX, request: \"POST

[2020-12-04 10:21] herojan commented on #1628
That makes sense, the only problem is it's a breaking change... We can document it in release notes I guess, and try to be careful with the rollout internally

[2020-12-04 11:36] herojan commented on #1628
Actually, I've just checked that if I run skipper locally (from master branch), then the command @AlexanderYastrebov provided works, but when I tested it via an ingress it didn't work.

Works Locally:
`inlineContentIfStatus(429, "{\"status\":429}", "application/problem+json") -> ratelimit(1, "1m")`

Fails locally:
`ratelimit(1, "1m") -> inlineContentIfStatus(429, "{\"status\":429}", "application/p

[2020-12-04 12:22] AlexanderYastrebov commented on #1628
@herojan Hi, please check which skipper version is used in the ingress. I believe my solution (as well as you PR changes actually) are only possible after https://github.com/zalando/skipper/commit/79b6e240f40771704ed4da52754607d32c83fc01 which has landed into v0.11.190

`inlineContentIfStatus` should be before `ratelimit`because it works on response filterchain path which invokes filters in [rever

[2020-12-04 12:35] herojan commented on #1628
Thanks for the info, that makes sense :+1:

The version used is `v0.11.188-30`, so yeah it's before your changes. Ok great, then I think I can close this issue and just wait for rollout of your changes, then the combo of inlineContentIfStatus and clusterClientRateLimit should do what we want :partying_face:

[2020-12-04 12:39] #1628 closed

[2020-12-05 02:36] AlexanderYastrebov commented on #1631
Also reproducible with
[code]

Debug log
[code]
shows
[code]
i.e. sometimes roundtrip error (`err`) is `unexpected EOF` and sometimes it is `context canceled`, the same as request context error. Request context error seems to be always present. `unexpected EOF` results in 503 and `context canceled` in 499.

The solution could be to check request context error before inspecting roundtrip error (wit

[2020-12-07 15:24] szuecs opened #1637 "wildcard hostname match not possible"
There are some issues specific to Kubernetes:
1. ingress does not allow this setting, but we can weaken RouteGroup to support it
1. You can't specify `"*.example.org"` because of the regexp match that enforces `[a-z0-9].` in CRD
1. `"*.example.org"` would need special handling, because it should be treated as `Host(/[a-z0-9]+[.]example[.]org/)`

[2020-12-07 16:30] szuecs commented on #1637
@NorthFury @aryszka can this be considered safe to reduce weight by adding `Weight(0.1)`?

[2020-12-08 14:23] aryszka commented on #1637
We need to change for this what we allow as the hostname. OTOH, I would try to avoid the solution based on the Weight, because it can lead to unforeseen long term challenges.

Would an approach like the following help here?

[code]

This would limit the matched hostnames to fixed set, but I believe that should be managaeble, unless we face a situation where dozens/hunderds of hostnames, or an unkn

[2020-12-08 14:35] szuecs commented on #1637
This does not work if the owner of the wildcard domain does not know the hostnames in advance.
What I wonder was that when I did not had the Weight() I IIRC got 404, now it just work without Weight().

[code]

[2020-12-08 14:57] aryszka commented on #1637
for that case, when the owner doesn't know the hostnames in advance, I recommend the second example described above. Of course it still needs changes to what we allow in the route groups.

The `404` might have been just a mistake resulting in an invalid route, I cannot imagine a different case.

Careful! It's still an undefined behavior, if you restart skipper a couple of times, you will probably

[2020-12-08 15:12] #1631 closed

[2020-12-08 15:17] szuecs commented on #1637
I don't think that approach is a great one. :)

I consider this as, I was doing something wrong. I could have tricked myself.

I think we should consider this as bug and we should fix it long term (v1 ?) with a routing tree change. Maybe the internal proposed "hostname before path match" should be also considered. So a basically 2 tree lookups (or one tree with both), first host, second path to re

[2020-12-09 09:51] bl1nk opened #1645 "Skipper creates shunt routes for valid deployments"
**Describe the bug**
While upgrading our apigateway that uses skipper as a library from version `v0.11.144` to version `v0.11.204` we encoutered issues with skipper creating shunt routes that were not created with the older version.

Changes in `v0.11.174` seem to have introduced the issue. Skipper will wrongly try to match the targetPort instead of the containerPort when matching the ingress to t

[2020-12-09 16:42] szuecs commented on #1645
@bl1nk Can you show the corresponding endpoints of the service?
We do the shunting only for services that have 0 endpoints and the route that was created in the past created 504 GW timeouts, because the svc had no endpoints to send the traffic to, which created an incident on our side.

[2020-12-10 08:13] bl1nk commented on #1645
Sure! I have reapplied the configuration on my local cluster so I'll post everything once more. Here is the endpoint resource of `whoami-service`

[code]

For reference: I am using a slightly modified version of the deployment files in `docs/kubernetes/deploy/deployment`

[code]

**skipper `v0.12.10`**

[code]

**skipper at commit `91bcc26f666ff2a6f70f458acf1b40eb6c2d0f69`**
[code]

[code]

In thi

[2020-12-10 16:33] cartucciam opened #1649 "Getting connection refused but can connect through port forward to service/pods"
Hi there, I have been getting 502s consistently one of our deployments. I can successfully port forward onto the service and the pod, the security groups are allowing traffic between those IPs and the container is exposing the right port.

[code]

I can see the routes on a daemon and they are as expected resolving to the container port target:
[code]

I am using `v0.11.151`, is this something alre

[2020-12-10 18:11] AlexanderYastrebov commented on #1649
Is it possible to connect from skipper pod to application pod?

[2020-12-10 18:17] szuecs commented on #1649
@cartucciam yes I saw these when the backend restarted during this time we get connection errors until readinessProbe populated through kubernetes and skipper update the routing table again.

[2020-12-10 18:39] cartucciam commented on #1649
Hi @AlexanderYastrebov and @szuecs, I can't connect from the skipper pod to the endpoint target. With another deployment I don't have this issue. All the worker nodes have a security group to allow talking to each other and I can access the container with port forwarding.

[2020-12-10 19:48] szuecs commented on #1645
I think your PR is completely right!

I checked the definitions of your service and at first it seemed to be wrong to me.

https://kubernetes.io/docs/concepts/services-networking/service/#defining-a-service shows, that

[code]

Further the docs say:

and

The API document is also precisely saying that `targetPort` is the port number or port name of the pod https://kubernetes.io/docs/reference/gene

[2020-12-10 22:42] szuecs commented on #1649
Maybe same as https://github.com/zalando/skipper/issues/1645 ?

[2020-12-11 07:04] cartucciam commented on #1649
I don't think so, I get this even using the same port for target and container and the routes shown on the skipper pod are correct.

[2020-12-11 07:48] cartucciam commented on #1649
It was a problem with the application, thanks for all the help.

[2020-12-11 07:48] #1649 closed

[2020-12-11 14:56] NorthFury commented on #1637
There is this option of having strict predicates that are in a priority list. Following through with this idea in the current code setup, one could have a `HostStrict` predicate that needs to be an exact match. This would need to behave similarly to how the `headersExact` matcher works in there. Basically this can add a `hostExact` property to the `leafMatcher` and in the `matchLeaf` function it w

[2020-12-11 23:45] AlexanderYastrebov commented on #1637
If it is about
https://github.com/zalando/skipper/blob/4dcbf4bfffaf6d8f31bc7397dbd05181f4ff6857/proxy/proxy.go#L814-L823
that already seemed adhoc to me

The problem of wildcard domain match feels similar to wildcard path matching.

[2020-12-12 10:22] NorthFury commented on #1637
I would argue that wildcard domain matching is much more limited in scope. I would choose not to increase the complexity because of it without good use cases.

And to make it more explicit about my suggestion, there is already a list of high priority predicates, although not marked as such. Here is where you can find them: https://github.com/zalando/skipper/blob/aa497f6330716505e98cfb1dd5175aed7c0

[2020-12-14 16:11] aryszka commented on #1537
I think we should proceed with this. Let me explain why.

One concern raised by @AlexanderYastrebov  is that if the set of helpers diverge from the implementation. It's true that it puts some maintenance burden on the contributors to the filters and predicates, to keep it in sync. But, I can imagine that we could also generate this code, based on the actual filters and predicates. Generating this

[2020-12-14 16:35] AlexanderYastrebov commented on #1618
Linking the comment https://github.com/zalando/skipper/issues/1537#issuecomment-744544223 from @aryszka touching route validation

[2020-12-15 13:08] #1645 closed

[2020-12-15 13:08] szuecs opened #1653 "kubernetes ingress svc-port mapping can be tricked"
https://github.com/zalando/skipper/pull/1646 did all great besides the following scenario:

Imagine a user creates an ingress with named-port A with service that has 2 ports (A and B) and mapping correctly to the port of the pod.
Now a user deletes the current referenced port A in the container spec of the pod.
The result will be that we serve the port B, which might not be intended.
reference: `t

[2020-12-15 14:36] szuecs commented on #1537
Thanks @aryszka , the only thing to add is that we could likely generate parts of the filter/predicate reference documentation, too.

[2020-12-15 15:42] aryszka commented on #1537
Excellent point! The docs are currently a point where need to be conscious about keeping the godoc and the reference docs in sync "manually".

[2020-12-15 15:44] peterklijn opened #1654 "Client cancelling request gets logged as error"
**Describe the bug**

Whenever a client cancels a request before the backend is able to process it, Skipper logs an error. I would assume that since this is something the client does, it's not really an error from Skipper's perspective.

Could you elaborate why Skipper logs this as an error here:
https://github.com/zalando/skipper/blob/master/proxy/proxy.go#L1246-L1260

Would a loglevel `info` not

[2020-12-15 16:49] szuecs commented on #1654
@peterklijn yes I agree, that it's not always a skipper error, but also GW timeout is not a skipper error (only if skipper is too slow, which is not likely considering to have backends that should do more work than skipper) and GW timeout we also have error logs.

Logs to consider to have `error -> info`:
https://github.com/zalando/skipper/blob/7c1c975916e316a240e397df21eeabaea3218284/proxy/proxy.

[2020-12-15 16:56] cbrgm opened #1655 "How to set LoadUpdate() interval for dataclient implementations"
Hi there,

just a quick question. I'm currently using skipper as a library and I'm implementing a custom dataclient to poll routes from.
It's working fine so far, but the `LoadUpdate()` function is called quite often during runtime. Is it hacky to simply put a `time.Sleep` statement at the end of the function like this:

[code]

or is there any option to set the `LoadUpdate()` interval via `skippe

[2020-12-15 17:38] AlexanderYastrebov commented on #1655
https://github.com/zalando/skipper/blob/7c1c975916e316a240e397df21eeabaea3218284/routing/routing.go#L89-L91

https://github.com/zalando/skipper/blob/7c1c975916e316a240e397df21eeabaea3218284/routing/datasource.go#L76

[2020-12-16 00:22] cbrgm commented on #1655
Thanks alot! That's very helpful! I'm closing the isssue.

[2020-12-16 00:22] #1655 closed

[2020-12-16 11:24] peterklijn commented on #1654
Thanks for your reply @szuecs :)

Finding the right log level is hard. Personally, `error` is something that requires action, something is really wrong. From what you describe, I interpret it as follows. Seeing one of these logs is fine, nothing is wrong. but when you see a lot of them (compared to an hour before, or compared to other routes with equal traffic), it might require action.
If `info`

[2020-12-16 12:23] szuecs commented on #1654
If we change anything I would prefer info, because I have a strong bias for warning is only for depreciations.
In general we don’t know if skipper is the major contributor to the client cancellation or not. Normally not, so maybe the change to info is the right to do.
@aryszka @AlexanderYastrebov wdyt?

[2020-12-16 13:52] aryszka opened #1657 "teeLoopback() drops the net/http.Request.RequestURI field"
**Describe the bug**
teeLoopback() drops the net/http.Request.RequestURI field by not copying it when cloning. Normally, this field should not be used, but rather the net/http.Request.URL.Path field should be used instead. But there can be filters and other extensions that rely on the field while routing, and therefore it should be copied.

**To Reproduce**

1. Create two routes, one using teeLoop

[2020-12-16 15:39] #1657 closed

[2020-12-17 23:59] AlexanderYastrebov commented on #1654
The `errorResponse` is executed whenever there is a error during proxying request. The case for client cancellation was introduced in #1391 and later extended in #1392 and #1407; before that it was logged as a generic error. I think it can be converted to `Info` or even removed as it is also duplicated in access log:
[code]

[2020-12-19 09:37] peterklijn commented on #1654
I've updated the log level for client canceled errors here:
https://github.com/zalando/skipper/pull/1659

@szuecs I did not update the backend  roundtrip errors as I don't fully understand them.

[2020-12-19 23:10] ioggstream commented on #1169
Update: the draft is now under the ietf umbrella, yet not RFC... draft-ietf-httpapi-ratelimit-headers feel free to review and support it to finalize the standardization

https://twitter.com/ioggstream/status/1340038502529024000?s=19

[2020-12-20 16:19] peterklijn commented on #1537
Hey all,

I've been quite busy this weekend with the first implementation, and would appreciate some feedback 😇. I grossly underestimated the amount of filters and predicates, and the work required to make helpers for all.

https://github.com/zalando/skipper/pull/1536

There's still some work to be done, but I'm getting close :)

[2020-12-21 07:31] ycydk opened #1661 "Cpu usage can not exceed 200%"
I found that cpu usage couldn't not exceed 200% when stress testing was performed

[2020-12-21 09:58] szuecs commented on #1661
@ycydk we run skipper sometimes with 32 CPU cores with >16 cores in use all the time.
Please create more information, because right now the issue is just not understandable and I would consider the statement as just wrong.

Thanks for your time to create more information about setup (hardware assigned, runtime, test setup, how do you measure 200%, how do you see 200% as max, which counters are use

[2020-12-21 10:11] szuecs commented on #1041
https://opensource.zalando.com/skipper/reference/filters/#backendtimeout filter can be configured per route

[2020-12-21 10:18] szuecs commented on #1516
@AlexanderYastrebov can we do this with templating maybe?
I am thinking of a header to [tracingTag](https://opensource.zalando.com/skipper/reference/filters/#tracingtag) case.
[FlowID](https://opensource.zalando.com/skipper/reference/filters/#flowid) is created or reused from HTTP requests and if we would make `getHeader`, such that the following would work, it would create a lot more value, than

[2020-12-21 10:56] ycydk commented on #1661
@szuecs
thank you for your reply!
we use skipper in a kubernetes cluster
the args
- skipper
        - -kubernetes
        - -kubernetes-in-cluster
        - -kubernetes-path-mode=path-prefix
        - -address=:80
        - -wait-first-route-load
        - -proxy-preserve-host
        - -serve-host-metrics
        - -disable-metrics-compat
        - -enable-profile
        - -debug-listener=:9922

[2020-12-21 12:09] AlexanderYastrebov commented on #1516
@szuecs
If we enhance `tracingTag` to support template placeholders the solution would look like
[code]

I have also noticed the following code
https://github.com/zalando/skipper/blob/5801bbb44c13d3018490f4cfd1d9e3a50d897913/proxy/proxy.go#L1454-L1456
but it seems there is a bug because `FlowIDTag` is defined as
https://github.com/zalando/skipper/blob/5801bbb44c13d3018490f4cfd1d9e3a50d897913/proxy

[2020-12-21 12:16] AlexanderYastrebov commented on #1444
The common facility to resolve template placeholders was introduced and utilized by `(set|append)(Request|Response)Header`, `setPath` and `setQuery` filters, other filters can be enhanced to use it as well. Several sources for placeholders were implemented, see https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#template-placeholders

[2020-12-21 12:16] #1444 closed

[2020-12-21 12:33] AlexanderYastrebov commented on #804
Regarding

oauthTokeninfoCompareHeaderAny("https://idp.example.org/oauth2/tokeninfo", "uid", "X-Uid", "uuid", "X-Uuid", "group", "X-Group")
The filter would allow the request to pass if one of the values match:
uid from token and X-Uid header value
uuid from token and X-Uuid header value
group from token and X-Group header value

and

`oauthTokeninfo*/oauthTokenintrospection*` filters can be enhan

[2020-12-21 12:41] AlexanderYastrebov commented on #1516
Looks like a duplicate of https://github.com/zalando/skipper/issues/704

[2020-12-21 12:42] AlexanderYastrebov commented on #704
If we enhance `tracingTag` filter to support [template placeholders](https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#template-placeholders) the solution would look like
[code]

[2020-12-21 13:54] AlexanderYastrebov commented on #1516
Adding flow id tag in proxy code was done within #882 and broken by #1066 ([line](https://github.com/zalando/skipper/pull/1066/files#diff-cb531749aeef2d9124889e10dec27542ddebc8140a7862f406821297d9d74e7aR11))

[2020-12-21 15:38] Nilegfx opened #1663 "[improvement] CRD API Schema missing some field descriptions"
**Is your feature request related to a problem? Please describe.**
Missing some descriptions when using `zkubectl explain` command

**Describe the solution you would like**
Being more strict with  CRD's API schema, we are missing some descriptions to some properties  (specifically the routeGroups definition so it would act as a closer and fast source of documentation)

example:
[code]

**Describe

[2020-12-22 16:44] tkrop commented on #1637
@szuecs While wildcards are find, we could solve the problem also more efficiently with a host-suffix support instead of wildcards.

[2020-12-22 19:12] szuecs commented on #1637
@tkrop the normal way of suffix match won’t be possible for DNS (only one wildcard until the dot is possible) and I am not yet talking about implementation details only about what to achieve. We could perfectly do in skipper a suffix search and enforce via jsonSchema.

[2020-12-22 19:32] szuecs commented on #1516
Thanks @AlexanderYastrebov

[2020-12-22 19:41] szuecs commented on #1661
-default-filters-prepend=enableAccessLog(4,5) -> lifo(2000,20000,"3s")
 will allow 2000 concurrent requests to a single route. If you hit with jmeter always the same route you will be limited there.

- -enable-tcp-queue
- -expected-bytes-per-request=51200
- -max-tcp-listener-concurrency=-1
- -max-tcp-listener-queue=-1
Will limit concurrent tcp connections based on memory available in cgroup.

Ther

[2020-12-23 07:34] #1661 closed

[2020-12-23 07:36] ycydk commented on #1661
@szuecs
thank you very much!
i found out why.

[2020-12-24 12:49] AlexanderYastrebov commented on #1501
@rraraujo Should we close this or is there something else left to implement?

[2020-12-24 13:58] rraraujo commented on #1501
Yes, sure. Thank you all for this great project!

[2020-12-24 13:58] #1501 closed

[2020-12-28 14:19] LEDfan opened #1669 "Websocket connection is not closed when backend server is stopped"
Hi all, first thank you for Skipper, we use it as "intermediate" ingress controller in one of our projects.

**Describe the bug**
I'll first give some context:
We use Skipper as ingress controller in a Kubernetes deployment. We have an application that makes uses of websocket connections.
The front-end of this application connects to the Java application using websockets. The front-end will show a

[2020-12-28 22:27] szuecs commented on #1669
@LEDfan thanks for the issue we will check it as soon we are back from vacation period.
As long we can reproduce it we should be able to fix it.

[2020-12-28 22:39] AlexanderYastrebov commented on #1669
To reproduce locally:
1. Run `openanalytics/shinyproxy-demo`
[code]
1a. Navigate to http://localhost:3838 move slider - chart updates
1b. Ctrl+C `shinyproxy-demo` docker - application becomes grey as expected
1c. Run `shinyproxy-demo` docker again

2. Run skipper
[code]
2a. Navigate to http://localhost:9999 move slider - chart updates
2b. Ctrl+C `shinyproxy-demo` docker - application does not beco

[2020-12-29 08:46] LEDfan commented on #1669
Yes indeed.

I just built a Docker image from the PR by @AlexanderYastrebov and I can confirm this works as expected! Even in our most complex setup with two additional proxies in place.
Many thanks, this I why I love open-source!

Enjoy your vacation and celebrations!

[2020-12-30 03:31] ycydk opened #1672 "how to build a image from the source code"
i tried to build a docker image from the source code(v0.12) follow the steps

make deps
make install
make shortcheck
docker build -t skipper-test:v1 .

i tried to start a container by docker run skipper-test:v1, and an error occured "exec user process caused 'no such file or directory'"

the Dockerfile is

FROM registry.opensource.zalan.do/library/alpine-3.12:latest
LABEL maintainer="Team Teapot @

[2020-12-30 08:28] #1672 closed

[2021-01-04 08:44] mikkeloscar commented on #1663
The CRD generated as part of the client library has better descriptions: https://github.com/szuecs/routegroup-client/blob/master/zalando.org_routegroups.yaml

It may make sense to adapt that version in skipper

[2021-01-04 16:42] #704 closed

[2021-01-06 12:21] peterklijn commented on #1654
Hi @szuecs or anybody else from the team, could you have a look at the PR please?
I would like to get rid of the errors in our production logs :) j

[2021-01-07 17:38] mikkeloscar opened #1677 "Oauth2 Grant callback route invalid"
**Describe the bug**

In our Zalando setup the OAuth2 Grant callback looks like this:

[code]

Which causes the following error logs:

[code]

One problem is that we are setting a full URL when we should only set a path via the `-oauth2-callback-path`. However, fixing that seems to be not enough as we don't have the hostname which is needed to avoid shadowing other routes in a shared environment l

[2021-01-07 19:06] szuecs commented on #1677
@mikkeloscar no we install only one route as callback. We have no host in this case.

[2021-01-07 19:21] AlexanderYastrebov commented on #1677
What do you think about having `-oauth2-callback-route` instead of `-oauth2-callback-path`?
Another idea is to have a flag `-oauth2-callback-disable` which disables default callback route and requires user to specify route manually, e.g. via `-inline-routes`. This would allow flexible configuration of host, path, disable access log, etc.

[2021-01-07 20:16] mikkeloscar commented on #1677
@szuecs Without host predicate it's possible to shadow backends which also exposes the same path and don't use the skipper oauth grant feature.

I.e. `https://my-app.example.org/.well-known/oauth2-callback` would match even though we may only want `https://auth.example.org/.well-known/oauth2-callback` to match for the oauthGrant feature.

@AlexanderYastrebov I don't have a strong opinion. It seems

[2021-01-08 08:46] jonathanbeber commented on #1526
As discussed [here](https://github.com/zalando/skipper/pull/1676#discussion_r553531245) what we want is to block traffic that [ClientIP](https://opensource.zalando.com/skipper/reference/predicates/#clientip) does not match the internal CIDR. The `X-Forwarded-For` header is not present, since, for internal traffic, it won't go through the load balancers.

[2021-01-08 10:27] AlexanderYastrebov commented on #1677
My previous idea to config a route instead of path does not help much as `callback-path` is used to construct a redirect url by `oauthGrant` filter as well.

The shadowing problem may be mitigated by using an unique callback path configuration instead of "well-known" `/.well-known/oauth2-callback` that may be used by applications in shared environment.

In general I think the source of the problem

[2021-01-08 17:47] jonathanbeber commented on #1526
After some tests with it, we will have to once again change the strategy to block traffic from outside the cluster:

On Zalando's specific environment we use skipper as [`host network`](https://github.com/zalando-incubator/kubernetes-on-aws/blob/7145b377642d8ffef70f4ee1dcab49744c077985/cluster/manifests/skipper/deployment.yaml#L51), it means pods calling the `.cluster.internal` domain will have th

[2021-01-08 18:59] szuecs commented on #1526
What about switching alb to nlb as I measured makes sense anyways. We could also have a parameter to define which predicate to use for the „internal“ case.

[2021-01-08 19:15] szuecs commented on #1677
@mikkeloscar even with hostname the path could be used by a backend and I don’t think it‘s worth to do it by host.
In the initial PR I also wrote that we might want to have it by host but in general I think it’s ok like it is.

[2021-01-10 13:58] AlexanderYastrebov commented on #1448
Looks like it is implemented by #1468

[2021-01-10 13:58] #1448 closed

[2021-01-10 14:04] AlexanderYastrebov commented on #1275
Fixed within #1528

[2021-01-10 14:04] #1275 closed

[2021-01-10 14:07] AlexanderYastrebov commented on #1320
Closing as a duplicate of #1526

[2021-01-10 14:07] #1320 closed

[2021-01-10 14:34] AlexanderYastrebov commented on #1182
If I get it right the idea is to use path parameter in the backend hostname.

This is possible with a help of [template placeholders](https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#template-placeholders) and a route:
[code]
Note that `setDynamicBackendUrlFromHeader` does not change path, `setPath` filter can be used for that.
We may think about adding template placeholder

[2021-01-10 14:58] AlexanderYastrebov commented on #1140
Implemented by #1609. See https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#oauthgrant

[2021-01-10 14:58] #1140 closed

[2021-01-10 15:04] AlexanderYastrebov commented on #1013
In the https://github.com/zalando/skipper/issues/1013#issuecomment-477168269 `status` filter should be before `inlineContent`, see https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#inlinecontent

[2021-01-10 15:06] AlexanderYastrebov commented on #1013
Closing as https://github.com/zalando/skipper/issues/1013#issuecomment-477168269 answers the question, please reopen if I've missed something.

[2021-01-10 15:06] #1013 closed

[2021-01-10 16:55] AlexanderYastrebov commented on #867
https://github.com/zalando/skipper/issues/867#issuecomment-670577467 provides a solution

[2021-01-10 16:55] #867 closed

[2021-01-10 17:04] AlexanderYastrebov commented on #1473
Seems to be related to #674

[2021-01-10 17:14] AlexanderYastrebov commented on #551
This was unified across filters as https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#template-placeholders and can be reused for access log formatting as well.

[2021-01-10 17:38] AlexanderYastrebov commented on #523
Related to #202

[2021-01-10 21:26] szuecs commented on #674
Follow up is #1473

[2021-01-10 21:26] #674 closed

[2021-01-11 08:21] mikkeloscar commented on #1677
My original assumption was that the redirect URL was ALWAYS a fixed on like `https://auth.cluster.com/.well-known/oauth2-callback` (based on how we configured it in our Zalando setup), but I now understand, based on @AlexanderYastrebov comments above and checking the code, that it's intended to be the same host as was used for the `oauthGrant()` i.e. `https://my-app.example.com/.well-known/oauth2-

[2021-01-11 10:04] szuecs commented on #1677
@mikkeloscar ok great, that this could be clarified. Do you think we should do anything in skipper code, besides fixing Zalando's deployment in kubernetes-on-aws?

[2021-01-11 10:13] mikkeloscar commented on #1677
No, I will close this.

[2021-01-11 10:13] #1677 closed

[2021-01-11 14:39] aryszka commented on #1654
Hi @peterklijn , the PR looks good to me.

I would even consider it to degrade the log level to Debug, because the relevant information at large scale is the number of the 499s, which we can get from the metrics. As a first step, changing to Info is ok, though, if that's more preferred by others.

[2021-01-11 16:13] peterklijn commented on #1654
I agree @aryszka, I changed it to info as it felt like a 'smaller' change since it's error right now, and debug is commonly not stored in production.
But if you think 'debug' the better level, I think that's definitely fine by me 👍

[2021-01-12 09:36] szuecs commented on #1526
Internally discussed that we can also use the suggested double predicate to support all scenarios:
`ClientIP && SourceFromLast`, but this would only enable users that run in AWS.
The suggested solution is to pass a chosen predicate chain via flags, such that in baremetal or other cloud providers you can use the feature with `ClientIP && Source` or only `ClientIP` or you can also set it to an arbit

[2021-01-13 09:44] #1663 closed

[2021-01-14 18:49] spkane opened #1685 "Slack invite in README is out of data and no longer works"
**Describe the bug**
Slack invite in README is out of data and no longer works.

As a workaround: I found this working invite via reddit: https://invite.slack.golangbridge.org/

**To Reproduce**
Attempt to use the link

**Expected behavior**
The link works and allows on to join gophers.slack.com

**Observed behavior**
It says that it is expired.

[2021-01-14 19:08] jonathanbeber commented on #1685
Thanks for the info @spkane. I believe https://invite.slack.gobridge.org/ is working again now. We can remove the extra info.

[2021-01-15 08:18] k-nut opened #1687 "OauthGrant: Documentation inconsistent with implementation regarding access token header name"
One of the features of the new oauthGrant flow is Skipper automatically adding the auth token to a header for subsequent requests.

Then name of the header where the token should be put is defined with the `-oauth2-access-token-header-name` flag. The [documentation](https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#oauthgrant) states that the default header name is `Authoriz

[2021-01-15 11:08] szuecs commented on #1685
Great thanks for the info!
I added this as a workaround a while ago.

[2021-01-15 11:09] #1685 closed

[2021-01-15 21:30] AlexanderYastrebov opened #1690 "Unavailable Redis ring blocks requests on ratelimited route during Skipper startup"
**Describe the bug**

Unavailable Redis ring blocks requests on ratelimited route during Skipper startup for an interval around 10-20 s which leads to clients timeout waiting for a response.

Skipper stores ratelimiters in a registry using settings tuple as a key and lazily initialized ratelimiter on the first request:
https://github.com/zalando/skipper/blob/727ad0b18f6c8299b1835c02e33fcc66691291e

[2021-01-15 21:55] AlexanderYastrebov commented on #1687
The answer depends on whether auth header is mandatory for downstream application.

[2021-01-16 13:09] AlexanderYastrebov commented on #1690
Ring availability check in constructor does not bring much value as ring may go down anytime later and `AllowContext` allows request in such case:
https://github.com/zalando/skipper/blob/727ad0b18f6c8299b1835c02e33fcc66691291e9/ratelimit/redis.go#L223

I think the solution may be just to remove ring availability check (or move it into registry constructor which would then delay instance startup if

[2021-01-16 18:35] szuecs commented on #1690
Great finding, but the pr should better add this to possible status checks IMO.

[2021-01-17 18:24] AlexanderYastrebov commented on #1690
The problem is I don't see a good place for ring availability check. Delaying or preventing Skipper startup when ring is not available does not feel like a good idea but rather a cascading failure.

[2021-01-18 09:54] szuecs commented on #1690
@AlexanderYastrebov then we could break the ratelimit feature while doing and update, update won't be blocked and nobody will see it until it is too late.

[2021-01-18 10:15] szuecs commented on #1690
Let's merge the PR. I am also refactoring out the redis client and then we can do a non lazy init of the client and init connectivity at startup.

[2021-01-18 13:02] #1690 closed

[2021-01-19 11:29] szuecs commented on #1637
I think we should do the work around mentioned in https://github.com/zalando/skipper/issues/1637#issuecomment-740649193 to add in all cases the `Host(".*[.]example[.]org")` predicate to all routes with `Host()` to ensure we have 2x Host() to have the priority for non wildcard definitions.
What we need to clarify, too is:
- how does kube-ingress-aws-controller works in this case https://github.com/

[2021-01-20 10:54] szuecs opened #1694 "ingress http to https redirect broken"
**Describe the bug**
Since at least `v0.12.*` the https redirect that we auto provision seems to not work.

**To Reproduce**

`curl -v http://<url>/ `

**Expected behavior**
should redirect

**Observed behavior**
does not show redirect

[2021-01-20 13:25] AlexanderYastrebov commented on #1694
The problem seems to be related to ingresses that define path, see [testcase](https://github.com/zalando/skipper/compare/GH-1696-redirect-path?expand=1)

The redirect is added when `redirect.enable || redirect.override`:
https://github.com/zalando/skipper/blob/f5afb6574981d554d60b25ae3d3354dccf2a361b/dataclients/kubernetes/ingress.go#L317-L324

When `r.defaultEnabled==true`
https://github.com/zala

[2021-01-20 13:46] aryszka commented on #1694
correct. The current approach was introduced here, where a certain level of ingress specific redirect behavior customization was introduced: https://github.com/zalando/skipper/pull/799

Though, the solution should be instead to check also `defaultEnabled` in addition, where the `enable` and `disable` are currently evaluated.

The reason is that `defaultEnabled` means that the global config enables

[2021-01-20 14:46] AlexanderYastrebov commented on #1694
I have this impression as well though did not check any past revision

[2021-01-20 15:05] szuecs commented on #1694
We could also do the same as in east west routes and just copy predicates + add XFF predicate, replace the filters and backend.

[2021-01-20 15:28] aryszka commented on #1694
we also need to support the case when auto is enabled, but somebody wants to disable it for a specific ingress. Otherwise, it sounds legit, and the above proposed update to the condition would do the same. Or do I misunderstand something?

See: https://github.com/zalando/skipper/blob/master/dataclients/kubernetes/redirect.go#L86 (copying the predicates and adding XFF, though it doesn't replace the

[2021-01-20 15:36] szuecs commented on #1694
Do we want to apply 2x the filters?

Regarding the change in line 317, I am fine with that.

[2021-01-20 17:10] aryszka commented on #1694
as discussed, it doesn't make sense to apply those filters in the redirect routes

[2021-01-20 19:45] szuecs commented on #1687
@muaazsaleem @aryszka ^

[2021-01-22 11:05] szuecs commented on #1526
closed via https://github.com/zalando/skipper/pull/1676

[2021-01-22 11:05] #1526 closed

[2021-01-25 17:36] szuecs commented on #745
We have now `-tls-min-version`

[2021-01-25 17:36] #745 closed

[2021-01-25 17:39] szuecs commented on #819
We don't have loopback routes for load balanced backend anymore which could likely have caused this issue.
Because we got no response, I will close it. Please let us know if you hit one of these cases with a current version.

[2021-01-25 17:39] #819 closed

[2021-01-25 17:44] szuecs commented on #1034
We don't retry requests with body since ba9801db5289019424845b34ad3e149201cd5448 07/2019

[2021-01-25 17:44] #1034 closed

[2021-01-25 18:27] szuecs opened #1699 "add XFF header"
We should add [Request.RemoteAddr](https://godoc.org/net/http#Request) into the X-Forwarded-For headers as other http proxies also do.
There is no spec for the layout of X-Forwarded-For header, but we know that nginx and others do it differently from ALBs.

As far as I remember others have `client_ip, proxy1, proxy2, ..` and ALB `proxy1, proxy2,..., client_ip`, where `client_ip` is the Request.Rem

[2021-01-25 18:30] szuecs commented on #1182
@jeremycolin can you check if @AlexanderYastrebov got your feature request correctly?

[2021-01-26 10:30] szuecs opened #1701 "ratelimit and clientRatelimit filters - upper bound of memory usage"
We should have an upper bound of configuration allowed, because of the filters memory usage.
Skipper should not crash after configuration.

[2021-01-26 10:47] #1669 closed

[2021-01-26 15:37] c0nstantx opened #1702 "Password support for Redis server"
**Is your feature request related to a problem? Please describe.**

`Skipper` has `Redis` as a persistence option to enforce cluster rate limits. Current implementation doesn't support redis servers that use password.

**Describe the solution you would like**

A new setting will be introduced `-swarm-redis-password` which will set the password for `Redis` ring.

**Describe alternatives you've cons

[2021-01-26 20:16] AlexanderYastrebov commented on #1702
Thank you for the PR.
As there are already have quite a few of redis-related options:
[code]
what is the benefit of encoding password into the address over explicit password option (e.g. `-swarm-redis-password`)?

[2021-01-26 20:28] AlexanderYastrebov opened #1705 "Document clusterRatelimit memory requirements"
**Is your feature request related to a problem? Please describe.**
The problem is how to configure Redis cluster used by [cluster ratelimit](https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#clusterclientratelimit) filters.

**Describe the solution you would like**
A formula to estimate Redis cluster size in terms of memory requirement and number of shards based on ratelimit

[2021-01-26 20:29] c0nstantx commented on #1702
The reason behind this decision was to be compatible with existing implementations, without having to edit code in order to support passwords.
The only thing needed with this approach is just the update of Skipper's version and add the passwords in the configuration.
Of course this applies only for cases of using Skipper as a library.

TBH, I am not very strong on my approach. Having a clear setti

[2021-01-26 20:33] AlexanderYastrebov commented on #1702
I think password in the url of the first shard is a bit obscure and feels unaligned with options already present.
Having it as a separate option makes it clear and documented similar to:
[code]

[2021-01-26 20:35] c0nstantx commented on #1702
Cool. Thanks for the feedback.
I will change it accordingly :+1:

[2021-01-26 20:52] AlexanderYastrebov commented on #1702
Your initial proposal is akin to the [connection string](https://en.wikipedia.org/wiki/Connection_string) approach.
As we are talking about password which is a sensitive bit, it might the best practice to specify it via environment variable, see e.g.:
* https://redis.io/topics/rediscli#host-port-password-and-database
* https://dba.stackexchange.com/questions/14740/how-to-use-psql-with-no-password-

[2021-01-26 21:12] c0nstantx commented on #1702
About `ps` you can pass the password as an environment variable in the command so that it isn't visible. ex. `skipper -swarm-redis-password=${REDIS_PASSWORD}`

Regarding the `kubectl describe` you can set environment variables as secret.
See here: https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-environment-variables

[2021-01-27 01:38] AlexanderYastrebov commented on #1702
In the first example shell would resolve variable before command execution and password will be visible in `ps` output.
The second will work if used in conjunction with https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-container/#using-environment-variables-inside-of-your-config

[2021-01-27 08:02] c0nstantx commented on #1702
You are right on that :+1:

[2021-01-29 09:17] c0nstantx commented on #1702
Hi @AlexanderYastrebov. Do you end up in a decision on the topic ?
FYI, I updated the [PR](https://github.com/zalando/skipper/pull/1703) and moved to your initial proposal passing it as an option `-swarm-redis-password`

[2021-01-29 13:51] szuecs commented on #1702
I would suggest to do it like this:
Flag and env,
If flag is not set (not passed to skipper configuration option), then read env and pass it.
Can you please check if we can just set an empty string as password for redis without password?
I guess it works but better to check before it doesn’t work for current users.

[2021-01-29 14:04] c0nstantx commented on #1702
OK. I will do that. Thanks :+1:

I checked it works manually, but you can verify it works also in [tests](https://github.com/zalando/skipper/blob/08b62b1201037b5ecf2fc741b923185ffbba988b/ratelimit/redis_test.go#L185) without password.

[2021-02-04 10:56] ePaul opened #1708 "New Backend: S3 (with authorization)"
**Is your feature request related to a problem? Please describe.**

When serving static files from an AWS S3 bucket via Skipper, currently the "Network" backend with a address like `https://<bucket>.s3.eu-central-1.amazonaws.com` is the straightforward way to go (and what is documented internally – I didn't find an example on the public Skipper docs). ~~This requires the bucket content to be publi

[2021-02-04 11:01] ePaul commented on #1520
Is this meant for server or client side?

[2021-02-04 11:34] AlexanderYastrebov commented on #1708
Alternative implementation might be an `s3` filter similar to https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#static

[2021-02-04 11:45] AlexanderYastrebov commented on #1708
Also may be it would be possible to serve s3 via http and have special filter to provide AWS credentials.

[2021-02-04 19:07] szuecs commented on #1520
@ePaul I think it makes sense to start with the server handler and later proxy to backend.

[2021-02-05 08:11] peterklijn commented on #1654
Fixed in https://github.com/zalando/skipper/pull/1659
Released in [version 0.13.3](https://github.com/zalando/skipper/releases/tag/v0.13.3)

[2021-02-05 08:11] #1654 closed

[2021-02-08 14:50] szuecs opened #1709 "Wait for first sync for each configured dataclient"
Right now if `-wait-first-route-load` is specified we wait for the first dataclient to return from `LoadAll()`.

The problem is this:

[code]

https://github.com/zalando/skipper/blob/master/routing/routing.go#L361 should get signaled which dataclients are expected to LoadAll and wait for all of them. A simple counter to wait for N LoadAll() might add a race condition, if we call LoadAll concurrent

[2021-02-08 16:43] #1709 closed

[2021-02-09 15:31] AlexanderYastrebov opened #1711 "Configurable consistent hash request key"
**Is your feature request related to a problem? Please describe.**

Consistent [hash algorithm](https://github.com/zalando/skipper/blob/master/docs/reference/backends.md#load-balancer-backend) uses client IP address to consistently select backend endpoint to serve client request. Skipper should allow users to specify consistent hash request key per route created from request properties such as hea

[2021-02-09 15:42] AlexanderYastrebov opened #1712 "Improve consistent hash endpoint selection strategy"
**Is your feature request related to a problem? Please describe.**

[Consistent hash](https://github.com/zalando/skipper/blob/master/docs/reference/backends.md#load-balancer-backend) load balancing algorithm uses simple endpoint selection strategy `endpoint = endpoints[hash(request) % len(endpoints)]` to select endpoint to serve client request. When endpoint list changes (e.g. due to backend re-sc

[2021-02-09 16:18] cjbooms commented on #1712
Worth investigating if the Bounded Load algorithm could be implemented when working on this ticket:
https://arxiv.org/abs/1608.01350
https://medium.com/vimeo-engineering-blog/improving-load-balancing-with-a-new-consistent-hashing-algorithm-9f1bd75709ed
This algorithm is still consistent hashing load balancing, but it provides excellent failover to neighbouring nodes

[2021-02-09 17:24] #1702 closed

[2021-02-11 14:54] szuecs commented on #960
There is also https://pkg.go.dev/github.com/christopher-dG/go-obs-websocket, but I did not look into it

[2021-02-12 15:00] AlexanderYastrebov commented on #1699
I think [`X-Forwarded-Host`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-Host) could also be handy, e.g. to distinguish between ingress and cluster local requests in application logs.
With #1716 I can think of `setRequestHeader("X-Forwarded-Host", "${request.host}")` as a work around.

[2021-02-13 17:43] AlexanderYastrebov commented on #1699
There is also https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#xforward filter

[2021-02-15 10:47] rbarilani commented on #1145
@aryszka I can't reproduce the behavior, I thought that I have fixed it "accidentally" with this one #1719 but actually, the span was already tagged with the right `http.status_code`. Any thoughts? Might this issue be already fixed?

[2021-02-16 16:39] Skalsi opened #1720 "5xx responses not tagged as error by proxy"
**Is your feature request related to a problem? Please describe.**
The issue is that 5xx errors from a backend do not get tagged as `error:true` in open tracing span. We are using a stream in Lightstep to track the availability of a service behind an API gateway. Since these operations don't get tagged as `error:true`, this leads to the error % of the stream being 0 despite there being 5xx errors.

[2021-02-16 16:58] AlexanderYastrebov opened #1721 "Add timezone support for interval predicates"
**Is your feature request related to a problem? Please describe.**

[Interval predicates](https://github.com/zalando/skipper/blob/master/docs/reference/predicates.md#interval) support timestamps in [RFC3339](https://tools.ietf.org/html/rfc3339) format. The format specifies timezone offset as a number and therefore is not aware about https://en.wikipedia.org/wiki/Daylight_saving_time (e.g. [CET/CES

[2021-02-17 10:15] szuecs opened #1722 "refactor ioutil usage to io package - Go1.16"
https://golang.org/doc/go1.16#ioutil deprecated and we get fs.FS as benefit to better test file integration (read,close,..) in tests

[2021-02-19 17:38] AlexanderYastrebov opened #1726 "Support external ratelimit registry"
**Is your feature request related to a problem? Please describe.**

Ratelimit registry is initialized in Skipper `run` method out of the options:
https://github.com/zalando/skipper/blob/7de16ef81048ba58da0771d340d995bdb4d1bf8f/skipper.go#L1263-L1267

There are library users that created ratelimit filters (custom filters that delegate to stock filters) and supplied them via `CustomFilters` option:

[2021-02-20 00:40] AlexanderYastrebov commented on #1726
The configuration of ratelimit registry is quite elaborate and also depends on opentracing initialization. The alternative is to provide
[code]
config option that may be used to plugin custom filters that require registry (or use registry somehow differently if desired)

[2021-02-20 11:27] rbarilani opened #1728 "rateLimit and clusterRateLimit filters should use HTTP 503 response status code"
**Is your feature request related to a problem? Please describe.**

Rate limiting capabilities that are not based on a client quota (by IP, by header, etc.) such as the one activated by `rateLimit` and `clusterRateLimit` filters are frequently used to protect the backend to be overloaded by too many requests, stopping requests based on server maximum capacity.

The current HTTP status code returne

[2021-02-20 11:46] lmineiro commented on #1728
Adding my 2c. I think @rbarilani very well describes what I personally consider the fundamental difference between rate limiting and load shedding. Both can use the exact same mechanism to protect a backend but the key difference is the semantics.
- Rate limiting should adopt 4XX and inform the client that they are exceeding some quota. It doesn't depend on the current capacity of the backend.
- L

[2021-02-20 13:34] szuecs commented on #1728
So as far as I understand we could create a loadShedding filter, but as far as I understand load shedding, it should limit per backend instance to protect max throughput measured for one instance. @aryszka started using lifo queue for this use case which works on per skipper instance but at least it response with the 5xx status code.
For ratelimit I would not change the status code.

[2021-02-22 09:32] rbarilani commented on #1728
@szuecs what you think about the `loadSheedingLimit` and `clusterLoadSheedingLimit` filters? Didn't check in depth the code necessary but the idea will be to reuse as much as possible the abstraction created for rate-limiting package.

[2021-02-22 09:36] AlexanderYastrebov commented on #1728
@rbarilani In order to limit rps per backed instance, Skipper needs to be aware if the Skipper swarm size which is not implemented yet (`rps per backend instance = total rps / Skipper swarm size / number of backend instances`)

[2021-02-22 09:39] rbarilani commented on #1728
@AlexanderYastrebov actually I was thinking of something simpler, which is basically working as the `clusterRateLimit` filter and `rateLimit` filter but returning `503` instead of 429 given the scenario that we have (developers wanting to cap the maximum amount of request on route level or a group of routes)

[2021-02-22 13:15] #1145 closed

[2021-02-22 13:57] #1726 closed

[2021-02-22 15:35] #1721 closed

[2021-02-25 10:17] AlexanderYastrebov commented on #1687
#1732 documents option #1

[2021-02-25 10:18] #1687 closed

[2021-02-25 12:13] rbarilani commented on #1728
@szuecs @AlexanderYastrebov What you are describing if I understood correctly it's really a nice feature for skipper-ingress but in our use case we use it as a simple/gateway proxy which has not and shouldn't necessarily have the notion of the number of instances, we want to "just" to cap the maximum amount of requests that a route can receive.

How can we/I proceed? Since I think that we are talk

[2021-02-25 16:33] szuecs commented on #1728
Maybe we can have a global option to allow to set the response code type for ratelimits.
I think this should be a global decision and not case by case at filter level.
If you create a PR with adding a flag, config and pass this as option to set a default for RatelimitStatus it could be fine IMO.

[2021-02-25 16:37] rbarilani commented on #1728
@szuecs oh damned I missed the meetup!

[2021-02-25 16:40] rbarilani commented on #1728
I think this should be a global decision and not case by case at filter level.

@szuecs I thought about on filter level just for `rateLimit` and `clusterRateLimit` to allow to switch gradually to the new behaviour which might require consumers of those endpoints to adapt their code accordingly.

[2021-02-25 17:55] szuecs commented on #1728
@rbarilani we can do this only in non "client" ratelimit filters, because then we would need to break the configuration of these client filters. For rateLimit and clusterRateLimit we could do an optional argument to set the status code of choice.

@AlexanderYastrebov wdyt?

[2021-02-25 21:15] ePaul commented on #1708
After I created this issue, we found out that this is not true:

As part of the BucketPolicy, we can define that the read access is only possible for a certain virtual private cloud's network:

[code]

As VPC_ID, you need to use your accounts VPC ID. (In Zalando's deployment system, we have this as a variable which can be automatically injected.)

I still think the S3 access is useful (so I won't

[2021-02-26 13:13] aryszka commented on #1708
Thanks for raising this topic.

However, I am quite strongly against integrating the main Skipper distribution (the current repo) with proprietary protocols (like AWS S3 and IAM). Skipper is for HTTP. It is OK not to support everything.

(I know how we could point to the lightstep integration, but in that case, all Skipper's functionality is really only relying on is the OpenTracing procotol, and

[2021-02-26 13:13] #1708 closed

[2021-02-26 13:36] aryszka commented on #1720
I am strongly against this. Consider it this way: when a backend returns a 500, and the proxy successfully proxies this result, the proxy didn't fail, ergo it is not an error from the proxy perspective. My understanding about OpenTracing is that it is enough to mark those spans with error=true, where the operation of that particular span resulted in error, and evaluate the trace as a whole only du

[2021-02-26 13:53] aryszka commented on #1728
I support adding an optional status code parameter to the rate limit filters, where possible, or where not, creating a variant that can support this parameter.

Though, for the load shedding use case, a cluster aware lifo would be indeed the best approach. It's planned for the near future, I'll create a separate issue for discussing that topic.

[2021-02-26 14:07] AlexanderYastrebov commented on #1728
Beside allowing status code override, I was thinking about flag to enable/disable retry-after headers.

Also we have two pairs of filters `ratelimit/clusterRatelimit` and `clientRatelimit/clusterClientRatelimit` with a difference that client versions use client IP or a header to compose limit key (where non-client use fixed key) so I was thinking that maybe we can extend non-client versions with t

[2021-02-26 14:16] aryszka commented on #1728
just started wondering if we should rather create a filter that conditionally overwrites the status: `statusIf(429, 503)`. Composing more primitive filters like this would be quite "Skipper style", and the general use case of such a filter would be 'patching' the more exotic status codes in cases when e.g. a legacy or hard to change client doesn't tolerate them well, e.g. `statusIf(524, 504)`. WDY

[2021-02-26 14:27] AlexanderYastrebov commented on #1728
Not against it, but feel that proposed `statusIf` as well as `inlineContentIfStatus` are a bit borderline between declarative and imperative. For imperative we have Turing-complete lua support which can rewrite both status and body and do everything else:
[code]
(with a minor pitfall that it does not distinct 429 coming from backend or ratelimit filter)

[2021-02-26 14:33] aryszka commented on #1728
this is actually a very good point, I wouldn't call it minor :)

[2021-02-26 14:38] AlexanderYastrebov commented on #1728
A working demo of ratelimit status/body rewrite:
[code]

we may think about signalling ratelimit happened in a statebag or expose "shunted" helper in lua's filter context and rely on it.

[2021-02-26 17:49] rbarilani commented on #1728
Hi, @AlexanderYastrebov @aryszka @szuecs I have opened a minimal [draft PR](https://github.com/zalando/skipper/pull/1734) to see if we want to proceed in that direction.  Let me know.

[2021-02-27 19:46] szuecs commented on #1720
@aryszka while I agree with you, there’s also a use case of using skipper as distributed loadbalancer and add it to an application pod to create automatically visibility for an application that is not instrumented, let’s say a 3rd party binary that you can’t easily instrument yourself.
In this case you want to set it as error=true, so my vote would be to have a flag that decides if you want to hav

[2021-02-27 19:48] #1711 closed

[2021-03-01 16:47] aryszka commented on #1720
the use case is valid, but there alternative approaches. I still would avoid going against the OpenTracing semantics. Instead of using the well defined `error` tag, I would set a different tag, e.g. `backend_error=true`. This way we can equally search for the errors in the application, without contaminating the spans of Skipper or breaking OT concepts. This approach also avoids distinguishing betw

[2021-03-02 15:55] arnisoph commented on #851
Well, what do you with short-living certs as those from let's encrypt? For this a native integration using the tls field in IngressSpec would be essential..

[code]

[2021-03-02 15:55] arnisoph commented on #1421
I think @appu-sm means the tls secret name set in the ingress resource. See https://github.com/zalando/skipper/issues/851#issuecomment-789010664

[2021-03-02 21:23] szuecs commented on #851
We would need to change the https Listener to change dynamically the cert/key. If you want to check how this can be done feel free to propose a PR.

[2021-03-03 08:47] szuecs commented on #1421
@arnisoph the spec.tls can be done if we can do in process cert/key rotation. secrets in a projected volume could be used to deliver the secrets as files to skipper process, but we need to update the https listener and right now we don't do this.

[2021-03-05 03:25] cabelo-doido opened #1737 "Is it possible to use skipper as reverse proxy with AWS ECS cluster"
**Is your feature request related to a problem? Please describe.**
I ever use skipper as reverse proxy and hack some feature like canary with specific condition with my application and It's working perfectly with EKS. But now I change my orchestration to AWS ECS and I like to use skipper as same as I ever done in EKS.

**Describe the solution you would like**
In my understanding "skipper" was comp

[2021-03-09 09:32] #1074 closed

[2021-03-09 14:21] #1728 closed

[2021-03-10 09:35] rbarilani commented on #1720
@aryszka @szuecs to me both use cases are valid, you might have users that want to have Skipper considering an operation failed based on HTTP semantics (given that Skipper is an HTTP reverse proxy) and you might have users that do not want that. So it depends, and as it depends I will think about adding config options to either activate this type of instrumentation or not, we can probably think to

[2021-03-10 10:25] lmineiro commented on #1720
ICYMI, Zalando's implementation of Adaptive Paging is aware of infrastructure components such as Skipper and handles it differently. It does not need skipper's spans to be marked as errors to continue its root-cause analysis.

I do not think that each service's individual ingress is the "closest to the client as possible". The closest will be the actual client.

This type of functionality is reall

[2021-03-10 10:42] aryszka commented on #1737
Hi, thanks for raising this topic.

I am not familiar enough with ECS to have a good grasp of the challenges here, but I also don't see any too big obstacles either.

As for compatibility: Skipper is just a reverse proxy, so it can be deployed as any application, you just need to figure how to feed Skipper with the right route configuration.

When using in a Kubernetes cluster, the route source is

[2021-03-16 12:08] aupadh12 opened #1743 "Readiness probe not working for skipper depoyment"
Hi Team,

I am trying to deploy skipper ingress in AWS EKS which already has nginx-ingress controller up and running.
But when I run the depployment.yaml, the readiness probe does not go through and container never really serves traffic.
Below is my deployment.yaml. Can someone please let me know where the issue is:

[code]

Please find the logs which I am receiving:
[code]

[2021-03-16 18:40] aupadh12 commented on #1743
I also have below mentioned thing in the logs:

[APP]time="2021-03-16T10:57:36Z" level=info msg="route settings, reset, route: kube__healthz: Path(\"/kube-system/healthz\") && SourceFromLast(\"10.0.0.0/8\", \"192.168.0.0/16\", \"172.16.0.0/12\", \"127.0.0.1/8\", \"fd00::/8\", \"::1/128\") -> status(200) -> <shunt>"

I am using internal IPs in the 100.0.0.0/8 range, while Skipper only replies to th

[2021-03-16 23:04] AlexanderYastrebov commented on #1743
Hello, please have a look at `-whitelisted-healthcheck-cidr` option:
[code]

[2021-03-16 23:35] aupadh12 commented on #1743
Hi @AlexanderYastrebov ,

This worked. Thank you very much fir the help here.

[2021-03-16 23:35] #1743 closed

[2021-03-18 13:32] rbarilani commented on #1720
@lmineiro All valid points, we discussed that also offline though I still think that as Skipper is a multi-purpose tool (can be used as an ingress, an API gateway, a simple reverse proxy in front of a service which I can't control) we should not force concepts that are specific to the domain or our beliefs into it but let the user decide how each operation should be instrumented without touching t

[2021-03-18 18:20] szuecs commented on #939
Flaky tests per environment, I can locally reproduce only `TestFadeIn/random,_7` with about 10% error.

GH actions:
[code]

CDP:
[code]

[2021-03-18 19:02] szuecs commented on #1720
@rbarilani you can also think from the position of the owner of the infrastructure service, that wants to see "route lookup failed" as error. Right now I have no strong opinion. I basically had never the problem, that someone asked me to investigate a routing issue like this.

[2021-03-22 10:18] rbarilani commented on #1720
@szuecs I agree with you, you should still be able to detect this problem and you can with "logs or tags", you should still be able to decide to mark that as an error as infrastructure owner or not depending on your use case and how are using skipper (as REST API Gateway vs as an Ingress).

[2021-03-27 11:40] rbarilani commented on #1720
@szuecs off-topic for this issue but related to the `routeLookupFailder` error and open tracing, what about opening a child span for the `match_route` operation and mark that as an error when no match without marking as an error the parent (main) span?

[2021-03-27 22:00] szuecs commented on #1720
@rbarilani considering that I had to investigate a lightstep issue because we have too many spans collected in our buffer to be able to send these, I would say not a great idea. I would rather reduce the number of spans:
@aryszka we should not have one span per redis operation.

@rbarilani additionally the overhead of a span is not 0 and the more we have the more garbage we create that needs GCed

[2021-03-29 07:01] rbarilani commented on #1720
@szuecs apart of the overhead of creating spans that need to GCed, about

Is it a vendor-specific limitation or is it a generic problem applicable to any vendor?
At which load (ops) does it start to become a problem?

[2021-03-29 16:50] tomekit commented on #1206
Facing similar issue:
[code]
when visited the documentation: https://opensource.zalando.com/skipper/operation/operation/#connection-options I could no longer find the: `-response-header-timeout-backend` however I've found the: `-timeout-backend` which I've set to `5s` to check if it affects the timeout, unfortunately it doesn't have any affect, my config is:
[code]

using the: `registry.opensource

[2021-03-29 16:51] tomekit commented on #1206
Facing similar issue:
[code]
when visited the documentation: https://opensource.zalando.com/skipper/operation/operation/#connection-options I could no longer find the: `-response-header-timeout-backend` however I've found the: `-timeout-backend` which I've set to `5s` to check if it affects the timeout, unfortunately it doesn't have any affect, my config is:
[code]

using the: `registry.opensource

[2021-03-29 17:37] tomekit opened #1748 "Skipper connection to back-end times out after 1 minute regardless of timeout settings"
**Describe the bug**
My back-end takes more than a minute to respond. In fact I need to support up to 3600s request times.
Skipper times out after 1m connection to back-end, regardless of timeout settings

[code]
I've decided to set all timeout settings to `0`:
[code]
unfortunately this doesn't affect the behavior of Skipper. It still fails after  `1m`.

### To reproduce

**Run slow responding bac

[2021-03-29 19:10] tomekit commented on #1748
I've grepped the `skipper` repo with `timeout` and found flag in `config/config.go` that works.

In case you have this issue, set the: `-response-header-timeout-backend=<duration>`  flag.

Is there any reason this flag isn't listed in the documentation?

[2021-03-29 20:36] tomekit commented on #1748
This all worked, until I've modified my `index.php` to:
[code]
which rendered:
[code]

Documentation mentions that in case you use ALB you need to set the: `-idle-timeout-server=<duration>` as well.

In my case it hasn't change anything for both ALB and above test setup.

It's the: `-write-timeout-server=<duration>` flag which solved this problem.

[2021-03-29 20:36] #1748 closed

[2021-03-30 13:56] AlexanderYastrebov commented on #551
Another thing not mentioned whether access log pattern should be customized globally or per route or both.

[2021-03-30 14:00] AlexanderYastrebov commented on #535
Closing in favor of #551

[2021-03-30 14:00] #535 closed

[2021-03-30 14:12] AlexanderYastrebov commented on #1748
Hi @tomekit

I think there are many more not documented, you may see all available options running `skipper -h`

Could you post the full updated configuration that works?

[2021-03-30 14:14] AlexanderYastrebov commented on #1206
Try also looking at all available options via `skipper -h`

[2021-03-30 17:29] tomekit commented on #1748
Here is my full configuration:
[code]
Last two flags are crucial here, where as the rest are pretty much standard coming from tutorial about `kube-ingress-aws-controller`, which in case you use it, you also need to set up the ALB idle timeout by adding this to `kube-ingress-aws-controller` deployment:
  - "--idle-connection-timeout=3600s"

[2021-04-07 14:43] tamer-abdulghani opened #1752 "Error while processing filter oauthGrant - Skipper on AKS - Azure"
We have installed skipper on AKS on microsoft azure to be used as reverse proxy behind azure gateway.
Currently, We are trying to configure authentication/authorization for skipper using OAuth2.0. However, we are getting some errors in the logs of Skipper thus we are unable to configure the Authorization step.

We have followed the steps below:

1.  Skipper configuration
[code]

2.  Skipper Ingres

[2021-04-07 16:33] AlexanderYastrebov commented on #1752
Hello, to me `"-oauth2-tokeninfo-url=https://login.microsoftonline.com/TENANT_ID/.well-known/openid-configuration"` looks suspicious, I would guess that grant filter does token info request, gets 200 and `openid-configuration` json, parses it into generic `map[string]interface{}` thinking it is token info and fails when it tries to get `uid` field (`TokeninfoSubjectKey=uid` by default)
https://git

[2021-04-07 16:46] AlexanderYastrebov commented on #1752
I think `oauth2-tokeninfo-subject-key` should be set to `sub`, not empty string actually

[2021-04-07 17:55] tamer-abdulghani commented on #1752
Thanks @AlexanderYastrebov
I have tried set `oauth2-tokeninfo-subject-key=sub` and `oauth2-tokeninfo-url=https://login.microsoftonline.com/TENANT_ID/openid/userinfo`, also I tried different possibilites (oid & graph userinfo url).

I'm not getting anymore the nil error that was mentioned before.

But now, I'm getting the following:

- This page isn’t working redirected you too many times. Try clea

[2021-04-07 20:00] AlexanderYastrebov commented on #1752
Just in case, try cleaning up all the cookies

[2021-04-08 07:06] tamer-abdulghani commented on #1752
I've tried that already, also tried different browsers, but got same thing "too many redirects"

[2021-04-08 20:52] szuecs commented on #1752
@tamer-abdulghani too many redirects likely happen if the login flow was not successful.
Can you check if skipper has a route for the callback path?
See also https://opensource.zalando.com/skipper/operation/operation/#routing-table-information for how to get the current routing table.

[2021-04-09 07:57] tamer-abdulghani commented on #1752
Hello @szuecs
Here is the route table information located under `http://localhost:9911/routes` :

[code]

And here is a snapshot taken from fiddler to capture the requests:

![Capture](https://user-images.githubusercontent.com/10975812/114147507-0e6a1f00-9919-11eb-8057-48462a33117f.PNG)

I guess the first `401` are before the login, then `200` after login, then `302`.

I thought that if the cookie

[2021-04-09 17:18] AlexanderYastrebov commented on #1752
@szuecs

IMO it is not an issue, json package encodes ampersand by default https://golang.org/pkg/encoding/json/#Encoder.SetEscapeHTML
Could be reproduced by
[code]

[2021-04-10 18:25] szuecs commented on #1752
@AlexanderYastrebov thanks for clarification.

@tamer-abdulghani I don’t know the tool you used to record the traffic but packet 26-30 look unrelated to skipper. One question from my side would be what the application would do with a request to /app1/statu (do we miss an ‘s’ here?). Maybe the redirect is not done by skipper but the backend?
You can add debug logs via skipper cli flags. You could a

[2021-04-12 06:38] tamer-abdulghani commented on #1752
Fiddler

no that's fine, all services endpoints working perfectly without OAuthGrant, they are all returing Json result.

Thanks I will check that.

Also, I got response from Microsoft support regarding this problem, and they said that my application (skipper) reuses authorization codes to get tokens. also they mentioned that:

Starting on November 15, 2018, Azure AD will stop accepting previously

[2021-04-12 10:07] szuecs commented on #1752
Reuse should not happen. I think there’s a redirect loop but not sure how. The request trace shows it and I think auth code should never be reused also in a redirect loop case.
Maybe @aryszka can check it when he has time.

[2021-04-12 13:34] AlexanderYastrebov commented on #1752
Maybe there is something going on with domains - I would expect to see only application and microsoft login domains but we see three out there.  What is `adfs. .com` and how it is related to `myapp .application` (the fiddler screenshot is a bit obscure)? It is also worth checking what domain is set on the `oauth-grant` cookie in 307 response from /oauth/callback

[2021-04-12 14:07] tamer-abdulghani commented on #1752
`adfs.com` is just a part of the authentication process with microsoft.

so basically, I'm being redirected to a login page (user/pass), then I enter my credentials properly, then enter the loop.

**However, again, if I change the `tokeninfo-url` back to the one that return a json object (https://login.microsoftonline.com/TENANT_ID/.well-known/openid-configuration), there is NO loop and I will get

[2021-04-14 07:34] #945 closed

[2021-04-15 18:10] szuecs commented on #1720
@rbarilani Span size is more the problem than load. In case you worry about it please update lightstep library to latest, because I created a fix for it.

[2021-04-16 14:54] AClarkie opened #1756 "There are security vulnerabilities in the go module dependencies"
**Describe the bug**
There are security vulnerabilities in dependencies

**To Reproduce**
Use any security scanning tool for example `snyk test` and view the output

**Expected behavior**

No security vulnerabilities in dependent packages. Could we upgrade the versions of `tidwall/gjson`, `go-yaml/yaml`, `yookoala/gofast`, `tidwall/match` and `miekg/dns` to later versions to resolve these as descr

[2021-04-16 16:20] aryszka opened #1757 "catch performance regressions between versions"
@jonathanbeber showed me this project: https://github.com/knqyf263/cob

We could potentially use it, but of course other solutions, too, to catch small performance regressions between old and new versions of Skipper. We could refactor and extend the scripts in the [skptesting](https://github.com/zalando/skipper/tree/master/skptesting) package that are currently not part of the regular build.

[2021-04-16 16:25] aryszka commented on #1757
we can use the test dataclient and the root package of Skipper to get the highest possible level of a Skipper process programmatically in the go test specs, and maintain realistic test scenarios [testdataclient](https://pkg.go.dev/github.com/zalando/skipper@v0.13.52/routing/testdataclient).

[2021-04-17 15:51] abinet opened #1760 "oidcClaimsQuery filter does not work properly with strings containing spaces"
Filter with queries containing spaces do not apply properly.

Example:
`oidcClaimsQuery("/login:groups.#[==\"appX Tester\"]")` returns 200 regardless of any content of groups in id_token.

This is probably because of split function using spaces here:
https://github.com/zalando/skipper/blob/b1981c01bfd58b807dde5349b2d3110fe3ecc18d/filters/auth/oidc_introspection.go#L70

IMHO it's valid use case to

[2021-04-17 18:25] AlexanderYastrebov commented on #1760
Hello, I have created #1761 to allow whitespaces in query strings.
@universam1 Could you please have a look if that makes sense?

[2021-04-17 18:30] szuecs commented on #1756
Thanks, great to see we should have it running in our CI.

[2021-04-21 12:25] AlexanderYastrebov commented on #1728
[`backendRatelimit`](https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#backendratelimit) filter implements this.

[2021-04-23 06:49] ethercrow opened #1762 "Make HTTP response code of backendRatelimit configurable"
Currently other rate limiting filters support this feature.

For example, docs of `ratelimit`:

[code]

Please implement the same for `backendRatelimit` for consistency.

[2021-04-23 09:23] szuecs commented on #1762
1) iirc only one ratelimit filter has this option, because other filters have an optional argument already (all client ratelimits)
2) The filter name should be load shedding,
so not really as you write.

 I guess we can do it anyways 🤗

[2021-04-23 12:54] #1760 closed

[2021-04-23 15:11] DestyNova opened #1763 "Colons can't be escaped in path syntax"
## Describe the bug
Paths containing a literal colon can't be parsed literally and (apparently) fail to match.

## To reproduce
Example RouteGroup definition:
[code]
2. Trying to call it:
[code]

## Expected behavior
Response code 200 with JSON content as defined in the `inlineContent` example.

## Observed behavior
[code]

The same thing happens with both `path` and `pathSubtree`, probably becaus

[2021-04-23 15:19] aryszka commented on #1763
as we already discussed, one possible solution can be to use a `\` based escape style. E.g: `\:`

In this case the main caveat is that `\\` should also become escaped, and this may break those possible cases where somebody used `\` in the path. Question to everybody: are we aware of such a configuration?

If we go with the `\` based escaping, then I am in favor of allowing any character to be esca

[2021-04-23 15:58] DestyNova commented on #1763
If we can get `\:` or even `\\:` that would seem pretty decent.

[2021-04-23 16:09] aryszka commented on #1763
one more caveat: we often put these expressions into YAML documents in Kubernetes manifests. Using `\` there can lead to various confusion. E.g if `\:` means `:` and `\\` means `\`, then when wrapped with YAML, they would become `\\:` and `\\\\`. The doubling `::` may be a better solution after all.

[2021-04-23 16:18] AlexanderYastrebov commented on #1763
The Path spec https://github.com/zalando/skipper/blob/master/docs/reference/predicates.md#path says

So maybe we may lift-up the `*:` check somehow
https://github.com/zalando/skipper/blob/f27cb2d71530acf167e5c06e721a9b0286dbc9cb/pathmux/tree.go#L119-L121
and reduce prohibited paths to only those where segment start with `:` or `*`.

There is eskip `\`-based escaping as well but this one should car

[2021-04-24 13:08] Clivern commented on #1722
I am trying to build with go1.16 and skipper fails

[code]

[2021-04-24 19:04] szuecs commented on #1722
Please create a new issue, instead. Thanks

[2021-04-24 20:11] AlexanderYastrebov commented on #1722
@Clivern Hello, you need to use `make` to build Skipper, see https://github.com/zalando/skipper#working-with-the-code

[2021-04-24 21:10] szuecs commented on #1752
You can set -application-log-level=debug to turn on debug logs. The format doesn't matter.

[2021-04-24 22:10] Clivern commented on #1722
Yeah, i extracted the command from `Makefile`. Thanks @AlexanderYastrebov

[code]

[2021-04-27 09:36] #1762 closed

[2021-05-03 08:59] aryszka commented on #1763
Sounds like a simple pragmatic solution, though contains the future problem when somebody wants to use paths like /:foo . I can live with this for the time being, though.

[2021-05-03 16:02] yury-kozlov opened #1767 "question: How to implement retries for Dynamic Backend?"
We intend use dynamic backends in our routes (defined in Route Groups CRD), but couldn't figure out the proper way to handle retries: for example if dynamic backend returns invalid response (e.g. timeout) how can we tell skipper to give it another try?

So far, we found only two **alternatives**:
1) use Load Balancer Backend instead of dynamic backend which automatically provides retry infra. The

[2021-05-04 09:29] aryszka commented on #1767
thanks for the question. If I understand correctly what you described, this is not supported out-of-the-box. Skipper only does a single retry for failed TCP connects, but doesn't do retries for application layer failures, e.g. for 500s received from the backend. This is something that is considered to be a decision of the client. This applies to the LB backend.

your proposed alternative approach

[2021-05-04 10:09] AlexanderYastrebov commented on #1767
Related feature request https://github.com/zalando/skipper/issues/1473

[2021-05-06 20:09] cjbooms opened #1769 "Bounded Load Consistent Hash Load Balancing Algorithm"
**Is your feature request related to a problem? Please describe.**
We plan to use the Consistent hash load balancing algorithm in a Tier One product serving API at Zalando, using the `product-id` from the request URL as input into the consistent hash load balancing algorithm.
`GET /products/{product-id}`
This will allow small pod-local caches to have high hit rates for hot products in our Catalog.

[2021-05-06 20:11] cjbooms commented on #1712
This ticket can be closed if PR #1715 fixes the issue of mass request-to-endpoint reassignments when endpoint list changes
I've created a separate ticket for the bounded load algorithm.
https://github.com/zalando/skipper/issues/1769

[2021-05-06 20:26] #1712 closed

[2021-05-07 11:01] AlexanderYastrebov commented on #1041
Addition to the https://github.com/zalando/skipper/issues/1041#issuecomment-714419683

It turns out that `-write-timeout-server` applies if server sends body. Consider server that sends pings infinitely:
[code]
[code]
and Skipper with all timeouts set to 1s:
[code]
and the client:
[code]
The client receives status from Skipper and Skipper closes the connection:
[code]

If `-write-timout-server` is

[2021-05-07 12:20] SergeiKalachev commented on #1041
Hello.

I have another use case where I need to configure timeouts per route/backend.
The original discussion started [here](https://chat.google.com/room/AAAAGhZzIdU/8HPuYl-aUIA).
Here is some copy-paste from the thread that explains the problem:

and

With the help of @AlexanderYastrebov I figured out the timeout I need to adjust, it is `-write-timeout-server`. If I set it to, let's say, 5m then

[2021-05-08 15:50] szuecs commented on #1041
As far as I remember it's not easy to change it from filters. I am back end of May and can check it.
@AlexanderYastrebov maybe you can check if we have the queue listener accessible from proxy. If so we could add a func to change it via FilterContext, not sure if it makes a lot of sense. The problem is that we have to increase it to max (for all routes and all connections) and rely on backendTimeo

[2021-05-11 13:47] janavenkat opened #1771 "Grafana dashboard for skipper"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you would like**
Skipper team has grafana dashboard internally as it here https://opensource.zalando.com/skipper/tutorials/operations/#dashboards. It would be nice to make available for public.

Yes Prometheus metrics is available but dashboard from skipper will be really nice

[2021-05-12 08:59] tetiana-pustovit opened #1773 "Downgrade message level to debug when target endpoints not found for route groups"
**Is your feature request related to a problem? Please describe.**
When the deployment is scaled down there are `Target endpoints not found, shuntroute for` entries logged by each skipper instance in [route groups](https://github.com/zalando/skipper/blob/master/dataclients/kubernetes/routegroup.go#L264
) every three seconds (default value of `-source-poll-timeout`)

**Describe the solution you wou

[2021-05-12 12:15] #1773 closed

[2021-05-13 13:29] AlexanderYastrebov commented on #1516
Fixed by #1666

[2021-05-13 13:29] #1516 closed

[2021-05-13 13:40] AlexanderYastrebov commented on #1618
Related issue https://github.com/zalando/skipper/issues/1333

[2021-05-13 13:41] AlexanderYastrebov commented on #1618
Related issue https://github.com/zalando/skipper/issues/1333

[2021-05-13 13:46] AlexanderYastrebov commented on #1312
Fixed by #1313

[2021-05-13 13:46] #1312 closed

[2021-05-13 14:07] AlexanderYastrebov commented on #1033
See https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#backendratelimit

[2021-05-13 14:07] #1033 closed

[2021-05-13 14:41] AlexanderYastrebov commented on #1699
Related issue #61

[2021-05-13 14:44] AlexanderYastrebov commented on #962
Related issue #225

[2021-05-13 14:44] AlexanderYastrebov commented on #962
Related issue #225

[2021-05-13 19:59] szuecs commented on #1771
Hi @janavenkat , great is that our former colleague is working on it. We don't use Prometheus as dashboard source, such that we have nothing to share besides the queries.

[2021-05-15 18:18] atheriel opened #1775 "Allow non-Secure cookies for non-HTTPS hosts"
**Is your feature request related to a problem? Please describe.**

The [current cookie implementation](https://github.com/zalando/skipper/blob/9c3be7ba13cb3520e07cd419dc971b2521951bda/filters/cookie/cookie.go) hardcodes `Secure`, which will cause browsers to reject them for non-HTTPS hosts. To set a cookie for plain HTTP hosts at the moment you need to set cookies via header instead.

**Describe

[2021-05-15 18:46] szuecs commented on #1775
Hi @atheriel , no it makes sense for 2 layer loadbalancer setup. We terminate tls on nlb/alb in front of skipper.

Also for cookie user sessions, I believe we should have https enforced for the users.

We could have a configuration value for the decision, but I think I like it how it is. (What do you think @AlexanderYastrebov  @aryszka ?)

[2021-05-15 21:44] AlexanderYastrebov commented on #1775
Hi, what is your usecase that requires HTTP?
I would not complicate things and suggest to go for `setResponseHeader` that gives full control over cookie attributes (and it is a legitimate way to set cookie).

[2021-05-15 23:29] atheriel commented on #1775
Our usecase is some internal tooling that requires session cookies and doesn't have TLS at the moment.

[2021-05-19 19:48] jrusso1020 commented on #1041
Took me forever to find this issue, but I believe we are encountering the same issue with a SSE stream behind skipper. Full issue in the Backstage repo describing it https://github.com/backstage/backstage/issues/5535

[2021-05-20 12:59] szuecs commented on #1041
@jrusso1020 I will check the references issue, thanks for pointing it out.
The `-write-timeout-server` can't be changed by route. It's based on the Listener socket which does not know any routes (L4 vs L7 OSI layer).

[2021-05-20 14:24] jrusso1020 commented on #1041
@szuecs gotcha, just curious are there any other recommendations on how to configure skipper to handle long lived (over 1 minute) SSE streams? besides increasing `-write-timeout-server`

[2021-05-20 17:15] szuecs commented on #1041
It depends on where the timeout hits us. The problem is that Go does not expose something that we can use for this kind of decision. Maybe just decide that some duration like 15m or 1h is fine as timeout?

[2021-05-21 21:07] szuecs commented on #1752
@tamer-abdulghani sorry for the late reply. I am now back from parental leave and can check the code with a computer. :)

I think you are right with the `tokeninfo`. I am not sure why we use it here in the filter. I think it is an error, because tokeninfo is optional in the spec and at Zalando we have a tokeninfo but it is not the openid-configuration URL, which is `$issuer/.well-known/openid-conf

[2021-05-24 13:55] universam1 opened #1779 "metrics route-ID string should be labels for PromQL querying"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you would like**
Prometheus metrics contain one central metric `route` that becomes one concatenated string of various independent fields such as
- namespace
- name
- host
- path
- backend
- index etc

This implementation is problematic as it is
- hard

[2021-05-25 11:31] AlexanderYastrebov commented on #1779
Hi, thank you for the feature request, I'll add a couple of notes.

Ingress properties (namespace, name, path, etc) used to construct route id are not preserved up to the point where metrics are collected. Metrics collection attempts to fit two implementations (coda hale and prometheus) under the same interface and thus lacks labels concept which would complicate the feature implementation.

This

[2021-05-25 13:27] universam1 commented on #1779
Thank you for the feedback and the references!

Fully agree - that is eventually the core problem described in this issue that there is currently neither a way via standard patterns such as Prometheus labels nor a published API to solve this issue. My preference would though certainly be to extend the labels  following canonical concept.

Looking through the sources one idea could be to replace th

[2021-05-25 13:52] abinet opened #1780 "Skipper mTLS support"
Hi all,

does skipper support mTLS use-case?

Nginx ingress controller use following annotations to configure client validation:

[code]

Is it possible to get similar with skipper?

[2021-05-25 16:32] szuecs commented on #1779
@universam1 , first I like the idea and route was just for operations to make sure they can figure out in case they need to have something and have not a metrics explosion in cardinality.
I would expect a bit of math how much the mentioned dimensions (labels) will cost in memory. We should think about it with different patterns of input. One of ours is having a cluster with 40k ingress (created by

[2021-05-25 16:37] szuecs commented on #1780
@abinet not as flexible as nginx annotations, no.
We have only flags like:
[code]
This is not useful for the ingress case.

Right now the most useful deployment is to use something like Amazon ALB/NLB in front and terminate TLS there.

[2021-05-26 07:53] szuecs commented on #1752
@tamer-abdulghani Reading again the issue and resources, I think this is correct:
[code]

The question is what else is not. Can you send an access token to https://login.microsoftonline.com/TENANT_ID/openid/userinfo and send us the output if the json you get back, such that we can check if the code path misses data?

[2021-05-26 09:28] szuecs opened #1782 "Document how to run skipper for SSE backends"
As shown in https://github.com/zalando/skipper/issues/1041#issuecomment-844418218 and easily testable with https://github.com/SubChord/go-sse/blob/master/example/send_to_client_using_reference.go , there is an issue if `-write-timeout-server` is set to not equal to `0` or to a very high value.

Doc of WriteTimeout:
[code]

Clients can also try to send heartbeat requests with only request headers t

[2021-05-26 15:21] tamer-abdulghani commented on #1752
@szuecs

Unfortunately, there is no endpoint available provided by microsoft to varify the access token.

User-info endpoint wont't work here, because it returns different result type (user information)

https://docs.microsoft.com/en-us/azure/active-directory/develop/userinfo#calling-the-api

And if I'm not wrong, Skipper is expecting something like this:
https://github.com/zalando/skipper/blob/ma

[2021-05-26 15:53] AlexanderYastrebov commented on #1752
@tamer-abdulghani

Userinfo API requires token and I assume it validates it.

It does not interpret the result as far as I can tell, it queries "tokeninfo" (any api that returns json would work)
https://github.com/zalando/skipper/blob/48a63d6f0443e3cca143c6f424c66a6264bae7c4/filters/auth/grant.go#L169-L180
https://github.com/zalando/skipper/blob/48a63d6f0443e3cca143c6f424c66a6264bae7c4/filters/aut

[2021-05-26 16:23] tamer-abdulghani commented on #1752
@szuecs @AlexanderYastrebov

Yes I would agree on this.

Here you go:
[code]
I have just modified the result to have fake values instead of the real ones but the json object look like this anyway. "abc" values are mostly random string characters.

Hope it is helpful.

[2021-05-26 16:48] aryszka commented on #1780
It could be a nice feature for Skipper to support mTLS, and it doesn't seem too hard to implement, either. See the `ClientAuth` field of the [crypto/tls.Config](https://pkg.go.dev/crypto/tls?utm_source=godoc#Config)

It may be more tricky to accept different client certificates for different routes, but we can also implement that in a separate phase. It seems possible, because the TLS field of the

[2021-05-26 16:57] aryszka commented on #1779
I would approach this slightly differently regarding the implementation details:

Ideally, we will be able to drop the mandatory and unique route ID from the eskip.Route object (and therefore also from the eskip format) in the future. To pass in values for the monitoring, I would rather create symbolic filters, which can be used during converting the ingress objects, but also in free-form configur

[2021-05-26 17:14] szuecs commented on #1752
@tamer-abdulghani the userinfo is great, because it shows you can use this as "tokeninfo". The data you got from userinfo endpoint is stored such that you can use the authz filter to allow/deny.

Reading again the first log error message:
[code]
This shows https://github.com/zalando/skipper/blob/48a63d6f0443e3cca143c6f424c66a6264bae7c4/filters/auth/grantcallback.go#L67, which shows that the Exchan

[2021-05-26 17:26] szuecs commented on #1780
@aryszka the other problem to solve is that we have to update also TLS certificates in the server handler, because with mTLS you need to terminate TLS in the server process.

[2021-05-26 19:48] AlexanderYastrebov commented on #1779
I think (not 100% sure though) Prometheus requires a set of labels to be known upfront so we may come up up with a config key like `-prometheus-route-labels=namespace,service,whitelabel` and a "marker" filter like `metricsLabels("namespace=whatever", "service=nginx", "whitelabel=mycustomlabelforthisroute")`. Ingress/routegroup processor may inject them unconditionally or based on some annotation.

[2021-05-27 09:26] universam1 commented on #1779
That's my conclusion after trying a couple of ideas how to make the labels dynamic, since as you stated the common denominator of route sources is rather short. Their early init appears hard to support variadic labels to me.

We'd be highly interested in `path` or maybe its matcher. Think about microservice architecture where we need to measure the individual services mounted at different paths, b

[2021-05-27 12:18] mohabusama opened #1784 "Proposal: fetchOauthGrantToken filter to complement oauthGrant"
**Is your feature request related to a problem? Please describe.**

Assuming the following routes in a custom skipper deployment:

[code]

The idea here is that an employee logs in using the `oauthGrant` filter and immediately we get a session cookie with the access token. Now the client (i.e. the browser JS code) will make subsequent REST API calls to one or more backends (e.g. `backendService`),

[2021-05-27 12:18] mohabusama commented on #1784
@szuecs @aryszka please let me know what you think.

[2021-05-27 13:50] AlexanderYastrebov commented on #1784
Hi,

Could you clarify what could be the reason for client to be no longer logged? Did they remove the cookie? And if they removed the cookie how would the proposed solution extract token out of it?

[2021-05-27 14:09] mohabusama commented on #1784
This might be caused by couple of reasons:

1. Token revoked.
2. The API call is coming from a headless client (i.e. the cookie is missing). The route technically can serve both session based clients and clients calling with Authorization header.

[2021-05-27 14:25] szuecs commented on #1784
@mohabusama so you want to have a new filter that extracts data from one or more cookies and put it into a header as far as I understand?
If so we should not call it grantWhatever, but `cookieToStateBag(cookie-name, key, statebag-entry)` and then we need to read from stateBag and put it into a header, which we already have https://opensource.zalando.com/skipper/reference/filters/#setcontextrequest

[2021-05-27 16:27] AlexanderYastrebov commented on #1784
What is the point of extracting it then?

Would a separate route for "headless clients" work then?
[code]

[2021-05-27 16:50] mohabusama commented on #1784
@szuecs Thanks,  I will look into that and get back if I have any questions.

@AlexanderYastrebov Thanks for the suggestion, but we are trying to avoid duplicating routes in the setup.

The idea is to offload authentication to the backend service while handling a single route. The backend service will respond according to its defined API specs, something that should not leak into skipper.

[2021-05-27 17:40] aryszka commented on #1775
one valid use case that comes to my mind is testing something locally with a browser. Going HTTPS on localhost can be often inconvenient. Though I agree that the `setResponseHeader` should be able solve the problem. We just may need something like the modRequestHeader for the response, that could drop only the `Secure` fragment from the cookie.

[2021-05-27 17:48] aryszka commented on #1784
I like the idea, and also the mentioned risk seems to be less of a problem, because if we extract the token from the cookie into the `Authorization` header, then the backend route can have a subsequent tokeninfo filter that would validate the token and would return 401 if it is invalid.

[2021-05-27 18:02] aryszka commented on #1779
indeed, I haven't thought of the fixed label keys of Prometheus. We may need to do something 'ugliish', like:

- either passing in these label names as a startup option, and then ignore those labels from the filters that are not listed
- or letting k8s concepts, like 'namespace' propagate through the non-k8s codebase of skipper

I am a proponent of the first option.

[2021-05-27 18:55] jrusso1020 commented on #1041
thanks for opening up #1782 @szuecs !

We've increased `-write-timeout-server` to `300s` (5 minutes) which is well below how long the stream takes, normally around 1 -2 minutes.

However, we are still observing the issue. Getting `error while copying the response stream: context canceled`. I've also noticed that this occurs even in some "successful" cases. What I mean by that is the stream can tak

[2021-05-27 23:11] AlexanderYastrebov commented on #1041
@jrusso1020 Hi, if your Skipper is behind AWS LoadBalancer you may need to increase its idle timeout as well https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/config-idle-timeout.html (also mentioned in https://github.com/zalando/skipper/issues/1748#issuecomment-810443361)

[2021-05-28 16:05] AlexanderYastrebov commented on #1752
The authorize url apparently has a proper callback url `redirect_uri=https%3A%2F%2Fmy.application.domain%2Foauth%2Fcallback` (configured via `-oauth2-callback-path`)

You are redirected to that callback url. The response from the callback normally would have status 307, `Location` header that contains initial url and `Set-Cookie` header setting the grant cookie (name is configured via `-oauth2-tok

[2021-05-31 17:30] #1767 closed

[2021-05-31 18:21] szuecs opened #1786 "ACME support"
We should build a filter that supports ACME to do the letsencrypt challenge automatically

Pointers to some docs, that might help
- golang.org/x/crypto/acme
- golang.org/x/crypto/acme/autocert
- Example: https://github.com/bradfitz/autocertdelegate/blob/master/autocertdelegate.go

[2021-06-01 08:51] luismanuelmontoro opened #1787 "Problem with affinity"
Hello, i´m working on EKS and skipper are always on pending, when i have a decribe  i got that reason:

0/1 nodes are available: 1 node(s) didn't match Pod's node affinity.

Can you help me?
---------------------------------------------------------------------

Name:                 skipper-ingress-c8577d6ff-5vlwj
Namespace:            kube-system
Priority:             2000000000
Priority Class Na

[2021-06-01 09:47] AlexanderYastrebov commented on #1787
Hi, please check deployment spec (`kubectl get ... -o yaml`) maybe there is some more clues than `kubectl describe` provides.
I've also noticed you are using an old version of Skipper, checkout https://github.com/zalando/skipper/releases for the fresh one.

[2021-06-01 10:57] luismanuelmontoro commented on #1787
I stop using the deployment and start using the daemonset, and it works, with a little change, in EKS all nodes are workers, and I delete the restriction

[2021-06-01 10:57] #1787 closed

[2021-06-01 20:26] jrusso1020 commented on #1041
Just to close this loop here, we are still seeing the `error while copying the response stream: context canceled` message in our logs

But from a user perspective we are no longer seeing the SSE streams in the browser being reset

[2021-06-02 15:17] jrusso1020 commented on #1041
@szuecs
We added the below to the ingress
[code]

and the below to the `kube-ingress-aws-controller` controller
[code]

No additional code changes on our applications

So increasing the idle timeout  means that the ALB will automatically open up new connections when the ingress closes them, as long as it's within that idle connection timeout and the client hasn't closed the connection?

[2021-06-02 15:20] AlexanderYastrebov commented on #1041
IMO LB idle timeout should be above Skipper timeouts. From Skipper point of view load balancer is the client that closes connection after 5 minutes. If it happens just before skipper timeout it would manifest itself as `context canceled ` error in the logs.

[2021-06-02 18:06] szuecs commented on #1041
@jrusso1020 also set the idle timeout +2s higher than the ALB idle timeout. Once I investigated a rarely happened issue that returned 500 for some reason and it was a race condition on idle timeouts and a connect in flight.

[2021-06-02 18:10] jrusso1020 commented on #1041
@szuecs can you clarify what is the "idle timeout" you recommend setting 2s higher than the ALB idle timeout? (which flag/deployment should I do that for)

[2021-06-02 18:17] szuecs commented on #1041
skipper's idle timeout should be +2s bigger than the ALB idle timeout. Including @AlexanderYastrebov 's answer, for example skipper:

[code]

and the below to the kube-ingress-aws-controller controller

[code]

[2021-06-10 14:34] szuecs commented on #1752
Just a side note we can get credits for Azure via https://developer.microsoft.com/en-us/microsoft-365/dev-program. I got a reply in #provider-azure in kubernetes slack.

[2021-06-17 07:52] universam1 commented on #1779
would be great if Skipper could be added to the list of supported Ingresses for SLO operator

https://github.com/slok/go-http-metrics

[2021-06-17 09:21] aryszka opened #1796 "Improve the consistentHash LB algorithm"
There's a little bit of a weakness in the current consistentHash implementation. Since each endpoint only gets one place on the hash ring, they are unlikely to be evenly spaced on the ring, meaning some servers are likely to get the majority of requests. From looking around at e.g. envoy proxy, the solution is to give each endpoint a lot of places on the hash ring, e.g. 100 places on the ring for

[2021-06-17 15:15] szuecs commented on #1779
I am not sure if I understand what you mean @universam1 .
The linked project looks not really useful for skipper. It looks more like a project to expose metrics of your backend application.

I don't undstand what the mentioned SLO operator is. Seems like another project, right?

[2021-06-17 15:29] universam1 commented on #1779
Pardon for not providing enough context.
We are leveraging this SLO Operator https://github.com/slok/sloth where we define the SLI's mostly on Skipper route metrics. As initially stated they are challenging for the devs to generate currently.

I linked the plugin sdk of this Operator, which when this issue would be implemented, would enable one to create a plugin tailored to Skipper, as being done

[2021-06-18 14:47] szuecs commented on #1779
Sounds great to me!

Btw. path metrics:
For the path metrics, it might also make sense to have a config options to enable it like @jonathanbeber did for other metrics to reduce the number of keys. We had issues with Prometheus.

[2021-06-21 10:15] AlexanderYastrebov opened #1798 "Allow open tracing client span name and component tag customization"
**Is your feature request related to a problem? Please describe.**

Skipper allows customization of the incoming span name
https://github.com/zalando/skipper/blob/d0b249a4aa8993a050b87cecc11cc6ca839195a4/proxy/tracing.go#L47-L49

but uses hardcoded outgoing(client) span name (could be changed by [tracingSpanName](https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#tracingspann

[2021-06-21 17:04] mohabusama commented on #1784
@szuecs I looked into possible implementation of `cookieToStateBag` in the context of `oauthGrant` and found a blocker. Mainly skipper differentiates between cookies filter(s) and `ouathGrant` cookie, since the [grantcookie](https://github.com/zalando/skipper/blob/master/filters/auth/grantcookie.go) encrypts the cookie based on `oauthGrant` configuration.

Thought about adjusting `cookieToStateBag

[2021-06-21 17:15] szuecs commented on #1784
What if we would put the cookie always into the statebag?

[2021-06-23 14:07] herojan commented on #1796
Some numbers I got from testing

Skipper route:
[code]

Ran 100k requests, /products/sku-1 to /products/sku-100000, skipper had 10 backend endpoints.

Current implementation requests per server(servers numbered 1-10):
[code]

If I add 100 hashes per endpoint, it's still not great since server 6 gets 27k requests

[code]

If I replace the skipper hashring with https://github.com/serialx/hashring, t

[2021-06-23 15:11] cjbooms commented on #1796
One simple solution to spread the distribution would be to use addition to derive the other hashes per endpoint.

So say we want to add 10 entires for endpoint 192.168.0.1 to a `hash_ring_size` = 1,000,000:
Compute the hash of the endpoint
hash(192.168.0.1) == 799,000

Divide `hash_ring_size` by the desired number of entries per endpoint to obtain the offset between entries:
1,000,000 / 10 == 100,

[2021-06-23 15:18] herojan commented on #1796
The results for that were:
[code]

It's looks around the same as the 100 hashes per endpoint

[2021-06-25 16:19] AlexanderYastrebov commented on #1798
Component name is also hardcoded in several other places
https://github.com/zalando/skipper/blob/2a887863f6875029a8d4ba3aed535efc39156e4a/ratelimit/redis.go#L93
https://github.com/zalando/skipper/blob/2a887863f6875029a8d4ba3aed535efc39156e4a/filters/auth/authclient.go#L52
https://github.com/zalando/skipper/blob/2a887863f6875029a8d4ba3aed535efc39156e4a/filters/auth/grantconfig.go#L177

[2021-06-25 17:54] szuecs commented on #1796
Did you consider https://github.com/buraksezer/consistent ?
I just read https://dgryski.medium.com/consistent-hashing-algorithmic-tradeoffs-ef6b8e2fcae8 and it looks like the one we need in your LB case. Search for "Consistent Hashing with Bounded Loads" in the blog post.

[2021-06-28 08:06] szuecs opened #1800 "rewrite opentracing docs"
User reported:
I found https://opensource.zalando.com/skipper/tutorials/development/#opentracing and https://opensource.zalando.com/skipper/reference/plugins/#opentracing-plugins but no out of the box solution do I miss it or is it this way?

https://pkg.go.dev/github.com/zalando/skipper@v0.13.72/tracing/tracers/jaeger is empty and the user docs are outdated:
https://pkg.go.dev/github.com/zalando/

[2021-06-28 15:21] ponimas opened #1801 "Headers are overwritten in `context.responseWriter` if `context.response` has any headers with the same name."
**Describe the bug**
Headers are [overwritten](https://github.com/zalando/skipper/blob/master/proxy/proxy.go#L383) in `context.responseWriter` if `context.response` has any headers with the same name.

**To Reproduce**
[code]

**Expected behavior**
[code]

**Observed behavior**
[code]

[2021-06-29 08:05] herojan commented on #1796
Nice, I'll give this one a try too. Hopefully it can just replace the existing hash ring and give us bounded loads for free

[2021-06-29 10:21] AlexanderYastrebov commented on #1796
If additional hashes (vnodes) on the ring are derived in uniform way like https://github.com/zalando/skipper/issues/1796#issuecomment-866923543 proposes then in case node(backend) goes away all its requests would be reassigned to another single node(backend) which may not be desirable. To avoid that vnodes should have a bit of "randomness" e.g. obtained by hashing node name and vnode index - this

[2021-06-29 11:15] herojan commented on #1796
Yeah that's what I did for the 100 hashes per node in the original comment, I edited that comment now to make it clearer

[2021-06-30 08:47] ponimas commented on #1801
closing, because `ctx.ResponseWriter` [has been delcared deprecated](https://github.com/zalando/skipper/pull/1802)

[2021-06-30 08:47] #1801 closed

[2021-07-05 14:29] szuecs opened #1805 "request and response latency filters should have time.Duration string as input"
request and response latency filters should have time.Duration string as input.
To be more conform with other filters we should add 2 new filters and maybe deprecate `latency()` and `backendLatency()` filters:
- `requestLatency("10ms")`
- `responseLatency("1s")`

TBD: naming: do we need a prefix for the "type" like `static` or `fixed` instead of `normal` and `uniform`?

[2021-07-05 14:35] AlexanderYastrebov commented on #1805
I think the name should provide useful hints. Single argument implies constant delay so IMO `static` or `fixed` prefix would be redundant.

[2021-07-08 06:50] abinet opened #1810 "JWT Token validation without introspection endpoint"
In current project we are using skipper to cover authorization part for applications running on AKS. OpenID flow works fine, but because Azure AD does not provide token introspection endpoint, we are not able to validate tokens in service-2-service use case. To cover this gap we implemented a new filter jwtValidation. This filter extracts Authorization Bearer token, validates using public keys of

[2021-07-09 10:13] aryszka commented on #1810
Hi @abinet , thanks a lot. I agree with this proposal, the functionality makes a lot of sense. We also thought about it already, but we currently use a side car for this functionality internally and it was not a main priority to replace it with internal logic, but clearly, that would make the setup way simpler for everybody.

[2021-07-10 13:45] szuecs commented on #1446
See also https://twitter.com/a_sykim/status/1413492899258400770?s=21 for changes in kubernetes 1.22

[2021-07-12 08:49] AlexanderYastrebov commented on #1810
https://github.com/zalando/skipper/issues/1752 might be related

[2021-07-13 08:59] #1796 closed

[2021-07-13 09:53] AlexanderYastrebov commented on #1769
Implemented by #1797

[2021-07-13 09:53] #1769 closed

[2021-07-14 15:43] ponimas opened #1816 "Goroutine leak in the `teeLoopback`"
**Describe the bug**
We have set up traffic shadowing with these 2 routes (simplified):

[code]
The `backend1` is an unreliable service and it's being restarted periodically. At the exact moments of the restart, we observe goroutine leaks.
![Screenshot_20210714_173429](https://user-images.githubusercontent.com/34179/125649986-98bd0d62-c701-45d4-9483-0fe21fdd78be.png)

We were able to get a gorouti

[2021-07-14 20:26] AlexanderYastrebov commented on #1816
Hello, thank you for the detailed report.

Is it a `backend1` or a `backend2` in fact?

Could you also share timeout configuration? `timeout-backend` and `response-header-timeout-backend` in particular.
https://github.com/zalando/skipper/blob/44d0a73103d9416fe2e29410efae4815169292a1/proxy/proxy.go#L211-L216

Defaults are
https://github.com/zalando/skipper/blob/44d0a73103d9416fe2e29410efae481516929

[2021-07-15 09:14] oporkka commented on #1816
@AlexanderYastrebov some more insights from the logs. It seemed that the circuit breaker to backend1 was open around the time when goroutines leak happened. I am wondering if we are consuming the POST body properly in this edge case that
1) The request method is POST
2) The circuit breaker to actual backend is open (backend1)
3) There is `teeLoopback()` that copies the body

I recall we had simila

[2021-07-15 10:58] ponimas commented on #1816
`TimeoutBackend` is `53 * time.Second` and `ResponseHeaderTimeout` is not set, so should be default.

[2021-07-15 12:54] AlexanderYastrebov commented on #1816
@oporkka @ponimas I think you've nailed it. `teeLoopback` uses pipe to copy request body that is written to when original body is read. If backend error happens or circuit breaker is open then request body is not read.
Demo:
[code]
shows go routine count grows.

The circuit breaker simply prevents backend request when open and also does not read request body, the problem exists without it as well.

[2021-07-15 16:13] AlexanderYastrebov commented on #1816
Related https://github.com/zalando/skipper/issues/1310 and https://github.com/zalando/skipper/pull/1314#issuecomment-590871467

[2021-07-15 16:23] AlexanderYastrebov commented on #1816
Another problem is that request body cloning is synchronous so if the backend on T-route is slow (or does not read the request body) it affects the main route since read on main route is blocked by the write to the T-pipe which waits for the read on T-route.
https://github.com/zalando/skipper/blob/44d0a73103d9416fe2e29410efae4815169292a1/proxy/teebody.go#L16-L27

[code]

[2021-07-15 16:52] aryszka commented on #1816
Thanks for reporting this, great findings! We should consume the request body in these cases like in case of tee/shunt. Or maybe find better ways to terminate the request, as there can be requests from attackers whose request body never finishes, but that can be handled as a separate issue, together with all such cases.

This is done so intentionally, because otherwise we wouldn't be able to contr

[2021-07-19 14:51] szuecs commented on #1810
I added some comments.
Mainly:
1. you do need a goroutine to refresh public keys from JWKs
2. because of 1. you don't need the authclient at all
3. because of 1. you should not fetch public keys in Request()
4. you should use a separate type for the query filter, similar to https://github.com/zalando/skipper/blob/master/filters/auth/grantclaimsquery.go

[2021-07-21 10:03] szuecs commented on #1207
Do we miss something to close this issue?
For me it feels like fadeIn() is implementing the supposed feature request, but maybe we can have a follow up issue that makes clear what we want to achieve as next step.

What do you think @otrosien @aryszka @AlexanderYastrebov?

[2021-07-28 07:51] #1816 closed

[2021-08-04 17:42] szuecs opened #1824 "Kubernetes 1.22 api removed beta ingress"
IngressesClusterURI for example is using beta and our tests should also be changed to return v1 networking objects.

Related #1477 #1478

according to https://www.civo.com/learn/migrating-your-ingresses-in-k3s-1-20 spec change is also in service that now has
[code]

see also https://kubernetes.io/docs/reference/using-api/deprecation-guide/#ingress-v122

[2021-08-16 00:41] filipecosta90 opened #1829 "codahale/hdrhistogram repo url has been transferred under the github HdrHstogram umbrella"
## Problem

The codahale/hdrhistogram repo has been transferred under the github HdrHstogram umbrella with the help from the original author in Sept 2020 (new repo url https://github.com/HdrHistogram/hdrhistogram-go). The main reasons are to group all implementations under the same roof and to provide more active contribution from the community as the original repository was archived several years

[2021-08-19 09:15] mortenbo opened #1831 "Custom route-level clusterClientRatelimit in Ingress"
Is there a way in the ingress file to define custom clusterClientRatelimit for specific routes? This is where I'm at atm:

[code]

The issue here seems to be that the rate limiter is *always on* for those two routes. It never relays the requests to our backend when not having made more than 10 reqs within 10 minutes.

I've tried `<loopback>`, `<dynamic>`, `http://127.0.0.1:4000`, and more. Either

[2021-08-19 10:21] AlexanderYastrebov commented on #1831
Hello.

To add ratelimit to the specific path/route you would either need _two_ ingress definitions for the _same_ backend and host, something like
[code]
or use [Routegroups](https://github.com/zalando/skipper/blob/master/docs/kubernetes/routegroups.md) to define routes explicitly which might be more user-friendly than several ingresses

This is something to improve for us in the docs, the closes

[2021-08-19 10:33] AlexanderYastrebov commented on #1831
@mortenbo

The problem with `<loopback>` approach is that `/login` requests would go into a loop and most likely you would observe `max loopbacks reached` error in the logs.

The general hurdle with path-specific ratelimits and a single ingress is that `zalando.org/skipper-filter` or `zalando.org/skipper-predicate` is applied to all routes generated from the ingress definition while `zalando.org/s

[2021-08-19 13:41] mortenbo commented on #1831
@AlexanderYastrebov Thanks a bunch. That did the trick. Have a nice day ☀️

[2021-08-19 13:41] #1831 closed

[2021-08-19 16:35] AlexanderYastrebov commented on #1619
@szuecs Is this PR https://github.com/zalando/skipper/pull/1822 related (or fixes this issue)?

[2021-08-20 07:47] szuecs opened #1833 "Check another Security scanner"
https://www.praetorian.com/blog/introducing-gokart/

[2021-08-24 16:27] marsmining opened #1836 "Go 1.17 segmentation violation on MacOS Big Sur"
**Describe the bug**
Using Go 1.17 I see error running `skipper`:

[code]

**To Reproduce**
Install Go 1.17 on MacOS Big Sur then run:

[code]

And the run `skipper`.

**Expected behavior**

No segmentation violation.

**Observed behavior**

Segmentation violation.

[2021-08-25 09:30] AlexanderYastrebov commented on #1836
Hello, thank you for reporting.
Does it fail if you run it via docker `docker run registry.opensource.zalan.do/teapot/skipper:v0.13.89 skipper`?

[2021-08-25 12:01] marsmining commented on #1836
That Docker command runs great.

[2021-08-25 13:51] AlexanderYastrebov commented on #1836
Is there any additional data like stacktrace or skipper version (`go: downloading github.com/zalando/skipper vXXX`)?

Both
`docker run registry.opensource.zalan.do/teapot/skipper:v0.13.89 skipper` and `GO111MODULE=on go get github.com/zalando/skipper/...` work on Ubuntu.

[2021-08-26 08:19] realsenseme opened #1838 "Webhook sends back 401 for all codes above 300"
**Describe the bug**
I am using webhook filter to redirect the request to an external authorization service which returns 401 and 403 depending on the authorization policy. But the skipper filter handles this and always returns 401 to the client.

https://github.com/zalando/skipper/blob/master/filters/auth/webhook.go#L113

**To Reproduce**
1. Create a custom service for acl based authorization wit

[2021-08-30 15:01] szuecs opened #1841 "user documentation for route converters"
"route converter to be able to switch filters and predicates": https://github.com/zalando/skipper/pull/1822/

should be documented

[2021-08-30 15:44] #1829 closed

[2021-08-30 15:53] szuecs commented on #1829
@filipecosta90 thanks!

[2021-08-30 20:44] filipecosta90 commented on #1829
My pleasure :) Notice that the [latest versions](https://github.com/HdrHistogram/hdrhistogram-go/releases) deeply improve read performance.

[2021-08-31 07:53] marcinzaremba opened #1842 "Enable remote eskip file functionality via a flag"
**Is your feature request related to a problem? Please describe.**
Currently Skipper has already [implemented](https://github.com/zalando/skipper/pull/1735) an ability to fetch eskip routes from a remote endpoint, however it is not possible to use this functionality when running Skipper as a standalone binary, namely there is no configuration flag that would enable it.

**Describe the solution you

[2021-08-31 16:56] abinet opened #1844 "combination of oauthOidcUserInfo filter + websocket + python backend does not work"
This is something I found recently  and even not sure whether this is a bug.

I have a python based service running on K8s and  covered by skipper oauthOidcUserInfo plugin. It works well until browser is trying to establish a websocket connection to the backend service. On this backend service responds  400 BadRequest to the skipper during proxy upgrade call. Surprisingly it works perfectly with s

[2021-09-01 08:27] #1842 closed

[2021-09-01 08:28] AlexanderYastrebov commented on #1281
Could there be a usecase to have multiple routes to the same host with different ports?

[2021-09-01 08:48] szuecs commented on #1844
@abinet can you try to use https://opensource.zalando.com/skipper/reference/filters/#preservehost `preservehost("true")` in your route with the oauthOidcUserInfo filter and check if you get the original host header in the Upgrade call?

[2021-09-01 09:19] abinet commented on #1844
Just tried but with preservehost("true") skipper do not properly redirect after the callback response

[2021-09-01 09:40] szuecs commented on #1844
Did you try:
[code]
or
[code]

[2021-09-01 10:09] abinet commented on #1844
`oauthOidcUserInfo() -> preservehost("true")`

[2021-09-01 14:58] szuecs commented on #1844
I tested the following which works, so it has to be a problem with the oauthOidc* filter
[code]

with preserveHost:
[code]

[2021-09-01 14:59] szuecs commented on #1844
Can you try to test a similar example with the oauthOidc* filter and show results here from netcat (server) here?

[2021-09-02 10:47] abinet commented on #1844
@szuecs I am not able to reproduce your steps exactly because oidc flow requires initial user interaction to generate oauth cookie, but here is tcpdump from my use-case:

Origin: https://example.org
Pragma: no-cache
Sec-Websocket-Extensions: permessage-deflate; client_max_window_bits
Sec-Websocket-Key: rzZ9IbtoxMyIwcGWhA9TaA==
Sec-Websocket-Version: 13
Upgrade: websocket
X-Appgw-Trace-Id: 542fef86

[2021-09-02 11:24] AlexanderYastrebov commented on #1281
@szuecs #1839 proposes to match any port so once merged it would be hard to re-introduce port matching back.
I understand the RFC reference but I am also wondering what is the setup that produces host header with a port included.

@shamil @girishc13 Could you outline maybe how you get a request with a port in the Host header?

[2021-09-02 13:21] girishc13 commented on #1281
This is standard behavior in the java Apache Http client. I will try to find the documentation for this.

[2021-09-03 12:39] abinet commented on #1844
I think I found the issue. It seems that whatever python library used for websocket communication it reacts badly on skiperOauthOidc-cookie. Adding `-> dropHeader("Cookie")`  solved the problem.

[2021-09-03 13:37] szuecs commented on #1281
@AlexanderYastrebov if you use `curl http://localhost:12345` you get:
[code]

[2021-09-03 13:57] szuecs commented on #1844
@abinet interesting, I mean it will work in the websocket case, but it won't be SSO. The cookie is important for the token handling, but if you just have an open websocket, it does not need another validation, because it just streams data in both direction in skipper's point of view. A reconnect will require another redirect login with credentials passing, so maybe not as usable as it should be.

[2021-09-03 15:03] szuecs commented on #1838
@realsenseme sounds good to me

[2021-09-03 17:40] AlexanderYastrebov commented on #1838
The
[code]
will forbid on any error.

[2021-09-03 19:01] AlexanderYastrebov commented on #1526
The issue outlined in https://github.com/zalando/skipper/issues/1526#issuecomment-756903746

is solved by disallowing cluster local domains by ALB listener rule https://github.com/zalando-incubator/kube-ingress-aws-controller/pull/400

[2021-09-07 07:17] szuecs commented on #1619
@AlexanderYastrebov yes, thanks

[2021-09-07 07:17] #1619 closed

[2021-09-07 17:06] aryszka opened #1849 "testing: close the underlying server of the backendtest.BackendRecorderHandler"
the servers created here https://github.com/zalando/skipper/blob/master/proxy/backendtest/backendrecorder.go#L58 , should be closed when not used anymore

[2021-09-08 16:10] AlexanderYastrebov opened #1851 "Unknown error for route based LIFO: queue closed for host"
**Describe the bug**

Users observe 500 response errors and `Unknown error for route based LIFO: queue closed for host` error in Skipper logs.

The error response is returned from
https://github.com/zalando/skipper/blob/6b089867410bf4b9f56b4686450cf95301ac02c7/filters/scheduler/lifo.go#L295
https://github.com/zalando/skipper/blob/6b089867410bf4b9f56b4686450cf95301ac02c7/filters/scheduler/lifo.go#L

[2021-09-09 14:04] AlexanderYastrebov opened #1854 "Reconsider use of `redis` build tag"
With in the https://github.com/zalando/skipper/pull/1853#discussion_r705322502 it was discovered that `redis` tag condition is not used properly and that redis-dependent tests were always executed.
This is not a bad thing to run as many tests as possible so maybe we should simply eliminate redis build tag altogether.

The idea behind the tag was to exclude tests that depend on the `redis-server` b

[2021-09-09 21:43] xavivars commented on #1842
It's great there's a flag for this now 😊

[2021-09-09 21:48] xavivars commented on #1737
I have skipper deployed in ECS using the remote eskip file functionality @aryszka was referring to, and it's working smoothly

[2021-09-17 10:22] AlexanderYastrebov opened #1858 "Credentials folder path should detect addition and removal of files"
**Is your feature request related to a problem? Please describe.**

Users of [`bearerinjector`](https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#bearerinjector) may configure **folders** and **files** to look secrets at via `-credentials-paths` option.
When **folder** is configured Skipper lists all the files and re-reads their content periodically (configured via `-credent

[2021-09-17 12:16] szuecs commented on #1858
What if a single instance has a missing secret file which is required to run?
Right now we would return an error and after change we would write error logs.
Maybe it's better to crash if file is not there or start shutdown procedure.
Maybe it's also just ok to log, but it would contradict the self healing approach if we would just stop in case files are not there.

[2021-09-17 23:22] joeypedicini92 commented on #1836
[code]

[2021-09-18 11:25] szuecs commented on #1836
@joeypedicini92 you also built on a Mac, right?
Can you please all including @marsmining share how you built skipper?

[2021-09-18 11:58] joeypedicini92 commented on #1836
I just followed the steps in the readme exactly

[2021-09-18 13:42] AlexanderYastrebov commented on #1836
Judging from the trace https://github.com/zalando/skipper/issues/1836#issuecomment-922130891 this https://github.com/sirupsen/logrus/issues/1285 seems related

[2021-09-18 14:10] AlexanderYastrebov commented on #1836
I have created a PR https://github.com/zalando/skipper/pull/1859 to update logrus

@joeypedicini92 @marsmining Could you please check if PR fixes the problem?

[2021-09-18 19:10] marsmining commented on #1836
Thanks @AlexanderYastrebov. I can confirm it fixes the problem.

1. I had `go1.16.7` installed, ran `make clean` then `make install` then `skipper` and everything is ok.
2. I then installed `go1.17.1` and repeated step one and got a panic as described in this issue.
3. I then checked out branch of #1859 and repeated step one and everything is ok.

[2021-09-20 09:13] #1836 closed

[2021-09-21 12:48] #1281 closed

[2021-09-21 17:58] szuecs commented on #696
You are right that it can be done withing `compress` filter or you could add filters to configure what compress will support via filters like `brotli()`.

[2021-09-21 18:12] szuecs commented on #696
https://github.com/andybalholm/brotli could be likely used to implement the reader and writer. I also created https://github.com/klauspost/compress/issues/443 , because this includes optimized drop in replacements for other compress algorithms, too.

[2021-09-21 19:57] ameowlia opened #1860 "eskip testable example is incorrectly passing"
👋  Hello,

I am investigating the golang issue: https://github.com/golang/go/issues/48362, where testable examples are causing false positives when the output comment block is not the last comment block example.

I ran a parser against the [top golang repos](https://github.com/kaxap/arl/blob/master/README-Go.md), including this repo, and I found this bug with one of your [testable examples](https:

[2021-09-21 22:36] AlexanderYastrebov commented on #1860
@ameowlia Hello and thank you for detailed report and interesting bug. I have opened #1861 to fix the example.

[2021-09-23 09:53] szuecs commented on #1860
Thanks @ameowlia !!

[2021-09-23 15:05] #1860 closed

[2021-09-23 15:05] #1849 closed

[2021-09-23 22:58] AlexanderYastrebov opened #1865 "Graceful shutdown is not working in HTTPS mode"
**Describe the bug**

#988 implemented graceful shutdown but it is not working in HTTPS mode because of an early return:
https://github.com/zalando/skipper/blob/27f48492393ba36ae3ef4d6000f0e0a454a161af/skipper.go#L1053

**To Reproduce**

1. Run Skipper in HTTPS mode
[code]
2. Send SIGTERM
[code]
3. Observe immediate shutdown

**Expected behavior**

Graceful shutdown like in HTTP mode, e.g. the log

[2021-09-27 20:34] #1865 closed

[2021-10-04 14:45] AlexanderYastrebov commented on #1694
If users have e.g. a route group with `inlineContent` (or any shunting filter), current implementation will clone the route,  add `Header("X-Forwarded-For", "http")` predicate and append `redirectTo(308, "https:")` and thus user filter would still apply because it shunts `redirectTo`. I think for redirect routes user filter should be removed as https://github.com/zalando/skipper/issues/1694#issuec

[2021-10-04 14:51] AlexanderYastrebov commented on #1694
Although maybe removing all filters is not a good idea as there might be default filters including protecting `lifo`

[2021-10-04 16:44] szuecs commented on #1694
Removing lifo() does not hurt because redirect is served by skipper itself so it's nothing we need to throttle to protect backends from each other IMO.

[2021-10-05 08:08] szuecs commented on #1694
Regarding default vs enabled/disabled. Why we don't have one thing to track if we want to have a redirect?
This looks more complicated, than we need:
https://github.com/zalando/skipper/blob/f5afb6574981d554d60b25ae3d3354dccf2a361b/dataclients/kubernetes/redirect.go#L37-L38
Do I miss something?

[2021-10-06 13:58] AlexanderYastrebov opened #1875 "panic: runtime error: invalid memory address or nil pointer dereference"
[code]

It looks like `DirEntry.Info()` err is not checked
https://github.com/zalando/skipper/blob/7f4a3e9c5a5dddf13b2ceb7036448e2bf1a1ba77/dataclients/kubernetes/defaultfilters.go#L33-L37
and info is nil which fails on the `info.Size()`

[2021-10-07 09:59] #1875 closed, assigned to nobody

[2021-10-08 17:29] szuecs commented on #1694
fixed with https://github.com/zalando/skipper/pull/1877

[2021-10-08 17:29] #1694 closed

[2021-10-13 10:43] marcinzaremba opened #1882 "Skipper looses Header predicates in consumed routes in case of more than one Header predicates concerning the same header name"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Add context, for example:
1. route or ingress definition
2. http request with headers (truncate your secrets)
3. response with headers

**Expected behavior**

**Observed behavior**

[2021-10-19 22:50] tomekit commented on #1824
I am updating to Kubernetes `v1.2.2` and after convincing the `ingress-controller` to cooperate: https://github.com/zalando-incubator/kube-ingress-aws-controller/issues/448

I am now trying to run skipper, so far I've modified `apiVersion` from `rbac.authorization.k8s.io/v1beta1` to `rbac.authorization.k8s.io/v1` in `ClusterRole` and ClusterRoleBinding`.

[code]

Unfortunately I am getting the:
[c

[2021-10-20 08:19] tomekit commented on #1824
Thanks @mikkeloscar.
After amending `extensions` to `networking.k8s.io` I am now getting slightly different error:
[code]
currently it responds with 403, whilst previously it was `resource not found`:
[code]

[2021-10-20 08:48] mikkeloscar commented on #1824
Ok, then  the issue is skipper is looking for the old api `extensions` and now you removed permissions for that so it's 403 instead of 404.

So the real solution includes changes to skipper to use the newer API, similar to what was done for kube-ingress-aws-controller.

[2021-10-26 10:00] szuecs opened #1894 "add another vulnerability scanner"
We run security scanning provided by GH, but https://github.com/zalando/skipper/issues/1756 showed a tool that we might want to use ourselves: `snyk test`

There is also https://www.praetorian.com/blog/introducing-gokart/

[2021-11-04 12:37] bojleros commented on #1068
I am deploying skipper with aws nlb and have just realized that `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"` completly breaks connectivity. Our decision to stick with skipper was made on a basis of rich acl methods. Unfortunately without proxy-protocol it would not be possible to implement our whitelists. Do you think Traefik can be an useful example of proxy-protocol impleme

[2021-11-04 20:32] szuecs commented on #1068
@bojleros you can check Traefik https://github.com/traefik/traefik/blob/master/go.mod#L65 and then use https://github.com/pires/go-proxyproto.

[2021-11-05 10:57] AlexanderYastrebov opened #1898 "Redis ratelimit check duration metrics"
**Is your feature request related to a problem? Please describe.**

Skipper does not collect runtime duration metric for ratelimit `Allow()` method.
To observe ratelimit latency currently users may look at filter runtime duration metrics (e.g. `request_filter_duration_p999_ms.clusterClientRatelimit`).

The `backendRatelimit` filter introduced by #1751 instructs proxy to ratelimit requests based on

[2021-11-05 11:11] AlexanderYastrebov opened #1899 "Healthcheck endpoint using routesrv"
**Is your feature request related to a problem? Please describe.**

Currently there is no separate healthcheck facility that would signal Skipper shutdown correctly.
There is a healthcheck that observes SIGTERM but it is part of Kubernetes client and e.g. will be disabled when Skipper is configured to fetch routes from `routesrv` (introduced by #1848)

**Describe the solution you would like**

Add

[2021-11-08 08:45] bojleros commented on #1068
@szuecs Ok, i shall start learning golang then :)

[2021-11-08 16:36] AlexanderYastrebov commented on #1898
Not true actually, it is measured here
https://github.com/zalando/skipper/blob/dfbb0dbc9037f63520c8673c79a2f7ec6e513649/ratelimit/redis.go#L127-L129

[2021-11-08 16:36] #1898 closed

[2021-11-11 15:16] AlexanderYastrebov commented on #839
Duplicate of #1709

[2021-11-11 15:16] #839 closed

[2021-11-11 17:21] AlexanderYastrebov commented on #1899
#1900 proposes `Shutdown` predicate that could be used to define customized healthcheck (status, content, allowed IPs) using e.g. `-inline-routes`.

If #1900 is accepted then kubernetes client could be refactored to use it instead of listening for `SIGTERM`.

[2021-11-18 18:01] AlexanderYastrebov opened #1902 "Invalid test manifests"
**Describe the bug**

The change #1646 (for #1645) introduces a test manifest(s) that are not valid, e.g.:
https://github.com/zalando/skipper/blob/1b5dd5e4e525f4b73991e1ba7f01e591d5987589/dataclients/kubernetes/testdata/ingress/service-ports/multiple-by-name.yaml#L17-L22

[code]
It is not immediately clear what is wrong with it, it seems not just the string vs integer. The name "multiple" suggests

[2021-11-18 18:01] AlexanderYastrebov commented on #1902
/cc @bl1nk

[2021-11-18 18:03] szuecs commented on #1902
`grep -rl 'containerPort: web' dataclients/kubernetes/testdata | xargs sed -i 's/containerPort: web/containerPort: 8080/'`
fixed in ingress v1

[2021-11-18 18:05] AlexanderYastrebov commented on #1902
@szuecs I think it is not only about string vs ingress, the definition does not look clear. If we replace port then it matches 100% with [multiple-by-value.yaml](https://github.com/zalando/skipper/blob/1b5dd5e4e525f4b73991e1ba7f01e591d5987589/dataclients/kubernetes/testdata/ingress/service-ports/multiple-by-value.yaml#L21) so why we have two is not clear. The naming is also misleading.

[2021-11-18 18:26] szuecs commented on #1902
@AlexanderYastrebov I think this is a leftover from the time when we had an issue because we did not fully understood the service port mappings

[2021-11-23 22:33] AlexanderYastrebov commented on #1637
@szuecs

I think it should be other way around - use `Weight` (or `True`) to give preference to exact match. Note that `Weight` requires integer argument we just do not validate it strict enough and round 0.1 to 0:
https://github.com/zalando/skipper/blob/1e26fcd250309d05da5a7b086c784ba100cf07da/routing/datasource.go#L341-L355
E.g. (note that correct wildcard regexp should be more complex https://s

[2021-11-24 15:49] szuecs commented on #1637
@AlexanderYastrebov I would rather use `True()`, but maybe we can also change the weight in the routing package.
Maybe @aryszka has a suggestion.

[2021-11-26 13:41] abinet opened #1909 "Cookies for OIDC filter are being set for wrong domain"
We are experiencing an issue with skipper running in multiple environments dev and test and oidc cookie.

Skipper is creating two unique cookies per host like:

host: dev.applications.example.com
skipperOauthOidc2c6815ff-a
skipperOauthOidc2c6815ff-b

host: test.applications.example.com
skipperOauthOidc84ee2c5e-a
skipperOauthOidc84ee2c5e-b

The problem is that skipper stores both cookie sets under

[2021-11-29 09:01] bl1nk commented on #1902
I think it was! However I am not sure what "multiple" refers to here.

I agree that "multiple-by-name.yaml" can be deleted as it would match "multiple-by-value.yaml" when fixed.

[2021-11-29 14:38] #1902 closed

[2021-11-29 15:55] szuecs commented on #1909
@abinet we suppose that you have likely multiple applications that you want to have SSO for.
For example you have `a.example.org` and `b.example.org` and you want to use the same identity and cookie for both.
So if you would use:
`applications.dev.example.com`
`applications.test.example.com`
`applications.example.com`

it should also work.

[2021-11-30 11:23] #386 closed

[2021-11-30 13:23] #1824 closed

[2021-11-30 13:46] szuecs commented on #1477
https://github.com/zalando/skipper/pull/1892 implements v1 ingress with the new pathType and new kind and released in https://github.com/zalando/skipper/releases/tag/v0.13.149

[2021-11-30 13:46] #1477 closed

[2021-11-30 13:46] szuecs commented on #935
https://github.com/zalando/skipper/pull/1892 implements v1 ingress with the new pathType and new kind and released in https://github.com/zalando/skipper/releases/tag/v0.13.149

[2021-11-30 13:46] #935 closed

[2021-11-30 14:16] szuecs commented on #1737
@cabelo-doido @xavivars do you think we miss documentation or should we just close this issue?

[2021-11-30 14:26] AlexanderYastrebov opened #1914 "Improve HTTPS redirect handling"
**Is your feature request related to a problem? Please describe.**

Skipper can generate HTTP to HTTPS redirect responses which is enabled by default in Kubernetes client:
https://github.com/zalando/skipper/blob/ffc7786165626845148ab03f02da5bc3f8e3dd18/config/config.go#L394-L395

Skipper implements it by generating a second route for each ingress/routegroup rule that matches `Header("X-Forwarded-P

[2021-11-30 15:03] xavivars commented on #1737
I think there's no missing docs... I would close this issue.

[2021-11-30 15:55] sandor-nemeth opened #1915 "Access query parameters in the `FilterContext`"
**Is your feature request related to a problem? Please describe.**
For filters it would be beneficial to have a streamlined access to the query parameters. For example that would enable filters to provide path transformations based on query parameters.

Example:
[code]

**Describe the solution you would like**
The `FilterContext` interface should have a `QueryParam(string) string` method that prov

[2021-11-30 16:09] AlexanderYastrebov commented on #1915
As for the feature request I am not sure it worth extending the interface as one may get query para as simple as
[code]

[2021-11-30 17:14] AlexanderYastrebov opened #1916 "Support `networking.k8s.io/v1` ingress in routesrv"
`routesrv` component should support fetching `networking.k8s.io/v1` ingress manifests.

This is a followup on https://github.com/zalando/skipper/pull/1892

[2021-11-30 19:33] szuecs commented on #1737
Thanks

[2021-11-30 19:33] #1737 closed

[2021-12-01 08:21] sandor-nemeth commented on #1915
We are upgrading a filter to return a custom/special URL when a header is provided, but otherwise apply the standard redirection rules:

[code]

And then providing `X-Custom-Filter: true` in a request header would result in returning the url defined in the `customFilter`.

As for the feature request you are correct, we can reach it using the way described, the proposal is to provide a more concise

[2021-12-01 09:24] szuecs commented on #1915
@sandor-nemeth the skipper way would be to match the condition you require with predicates and to do the changes to requests/response with filters. We also do not provide explicit OR matching, because this can be done with adding just another route.

There is also https://opensource.zalando.com/skipper/reference/backends/#dynamic-backend which could help you, too. Not sure, maybe you can tell us m

[2021-12-01 09:24] #1915 closed

[2021-12-01 10:44] AlexanderYastrebov commented on #1915
@sandor-nemeth  You may also use https://github.com/zalando/skipper/blob/e5a6fb5139220c56ad4ad31f7809ae3dccb3754e/eskip/template.go#L63
if that fits your needs (`FilterContext` implements `TemplateContext`).

[2021-12-01 14:36] AlexanderYastrebov commented on #1899
#1900 introduced `Shutdown` predicate that could be used to define healthcheck routes.

The [initial idea](https://github.com/zalando/skipper/issues/1899#issuecomment-966481031) was to disable k8s healthcheck via `-kubernetes-healthcheck=false` in `routesrv` component and use `-inline-routes` to define healthcheck using `Shutdown` in `ingress` component that [fetches routes](https://github.com/zal

[2021-12-01 18:17] #1916 closed

[2021-12-02 13:19] abinet commented on #1909
Thank you @szuecs  for the details and workaround. The subdomain removal make sense when you put a single skipper instance in front of multiple environments. However it does not work for cases like ours and changing the dns schema is quite complicated in our case as well. What would you say if we make this behavior configurable introducing either instance setting or filter parameter like  "extract

[2021-12-02 15:42] AlexanderYastrebov commented on #1909
`oauthOidc*` filters already have quite bloated interface it would be challenging to cram a new parameter :(

[2021-12-02 15:56] szuecs opened #1922 "doc: OIDC domain pattern to use"
https://github.com/zalando/skipper/issues/1909 shows a bad DNS pattern for OIDC and likely oauth-grant filters (cookie domains).
We should document the outlined DNS pattern https://github.com/zalando/skipper/issues/1909#issuecomment-981768326 , which is greatly supported with SSO.

[2021-12-02 16:22] AlexanderYastrebov commented on #1909
We've have discussed the issue with @szuecs and came to the following points.

* it makes sense to have cookie domain level configurable in general as per https://github.com/zalando/skipper/issues/1909#issuecomment-984620970
* the configuration should be per filter, not global. Having it global makes it obscure/non-consistent and postpones the problem until when different domain levels are needed

[2021-12-06 09:16] abinet commented on #1909
@szuecs @AlexanderYastrebov Just small clarification. Current logic is to remove subdomains only starting from the third level:

localhost -> localhost
example.com -> example.com
www.example.com -> example.com

If you want to keep this logic for backward compatibility reason it would mean that all the removal logic applies for hosts with starting with 3th domain level

| Host | DomainLevelToRemove

[2021-12-06 10:54] AlexanderYastrebov commented on #1909
yes. But I think it is wrong to set cookie for the TLD https://stackoverflow.com/questions/53848070/can-cookie-be-set-against-top-level-domain-like-com so this

| Host | DomainLevelToRemove | Result |
|--|--|--|
www.example.com | 2 | com

is not correct.

I would prefer that code simply removes as many subdomains as configured and rely on the user to configure proper value for the their domain but

[2021-12-07 16:29] AlexanderYastrebov opened #1926 "Enable hostname testing"
**Is your feature request related to a problem? Please describe.**

Skipper tests use `httptest.NewServer` and connect to the address specified by test server URL property which has IP:port format.
Sometimes it is required to make a request to the hostname to test request host handling. It is possible to set request host header like:
[code]

But sometimes tested components use internal http client

[2021-12-07 19:03] #1899 closed

[2021-12-08 12:22] #1926 closed

[2021-12-08 15:39] otrosien commented on #1207
Happy with fadeIn (and if I'm not mistaken it now also works in combination with powerOfRandomNChoices) and happy to close this. I don't see any documentation note on the potential issue of a rolling-restart of a deployment vs. the fadeIn filter, causing a skew in traffic allocation. (hint: set spec.minReadySeconds to ensure we don't roll too quickly). Is this available, but I didn't find it?

[2021-12-08 20:36] Shegox opened #1929 "Broken link in SECURITY.md to security form"
**Describe the bug**
When looking at the [SECURITY:md](https://github.com/zalando/skipper/blob/29b29fc9f4c986059f7e2c22b87ec07b9c3d27c8/SECURITY.md?plain=1#L4-L6) the link to the security form leads to a contact page without the security form.

**To Reproduce**
1. Go to https://github.com/zalando/skipper/blob/29b29fc9f4c986059f7e2c22b87ec07b9c3d27c8/SECURITY.md?plain=1#L4-L6
1. Click on https://co

[2021-12-09 09:46] szuecs commented on #1929
@Shegox thanks, I will check with internal security team that we have something that works reliable. If not we need to create a workaround with a security mailinglist.

[2021-12-09 12:31] szuecs commented on #1207
@otrosien I am not sure if you have not the most knowledge about the issue, so maybe you could propose something for the docs as PR?
The source is https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#fadein

[2021-12-10 11:06] conmurray commented on #1929
Link to ServiceNOW ticket that this os being worked on by SOC team

https://zalandoprod.service-now.com/nav_to.do?uri=%2Fsn_si_request.do%3Fsys_id%3D84858512db5049508eb3eacbd396194b%26sysparm_view%3D%26sysparm_domain%3Dnull%26sysparm_domain_scope%3Dnull%26sysparm_record_row%3D1%26sysparm_record_rows%3D308%26sysparm_record_list%3Dactive%253dtrue%255eORDERBYDESCsys_created_on

[2021-12-10 13:36] #1838 closed

[2021-12-10 13:40] szuecs commented on #1929
Since we only provide a workaround right now

[2021-12-10 13:42] szuecs commented on #1929
@conmurray I get a 404 response by your pasted link. Maybe handle it first internally before we paste the link here.

[2021-12-16 13:56] szuecs commented on #1929
@Shegox we updated the SECURITY.md file to fallback to send an e-mail to maintainers. We have to rely on the current not working process, but I hope you agree it makes sense to inform maintainers if you found a security issue in our code base. Thanks for the heads up and sorry that it takes that long to reply!

[2021-12-16 14:07] Shegox commented on #1929
Fully agree, I think it makes sense to have a email in there anyway.
I didn't found a security issue, but was more looking for inspiration on how other teams/projects handle their security disclose process. While doing that I found the broken link/contact and opened an issue to make you aware :)

[2021-12-16 17:46] szuecs commented on #1929
Ok great thanks!

[2021-12-16 17:46] #1929 closed

[2021-12-19 13:53] AlexanderYastrebov commented on #1909
@abinet Thank you for your contribution.

Fixed by #1923

[2021-12-19 13:53] #1909 closed

[2021-12-30 19:46] bilalcaliskan commented on #965
@szuecs if this is still in progress and no one is assigned, can you assign it to me? I will be very glad if i can contribute to that repository!

[2022-01-03 19:23] szuecs opened #1941 "Multi tenant skipper scheduler"
For low latency applications next to spiky traffic, it would be great to have a request (or host header ?) aware tcp lifo to bypass low latency traffic to its own queue.

[2022-01-05 12:22] darkweak opened #1943 "Proposal to use Souin as an HTTP cache system"
**Is your feature request related to a problem? Please describe.**
Not a real problem.

**Describe the solution you would like**
I would know if it would be accepted if I apply for integrate the Souin HTTP cache system as the cache management system in the skipper codebase/external community middleware and same time when we request the backend service?

**Describe alternatives you've considered (o

[2022-01-05 14:49] AlexanderYastrebov commented on #1943
Hello, thank you for bringing this up.
To get a better idea what is this all about could you please post some links to the documentation and to the existing integrations with other servers?
Thank you.

[2022-01-05 15:18] szuecs commented on #1943
From my first impression reading https://github.com/darkweak/souin , it can fit as a filter, see also https://opensource.zalando.com/skipper/reference/architecture/ where the filter is applied. It's basically middleware after route lookup.

[2022-01-05 16:27] darkweak commented on #1943
Thank you for your helpful answers. I'll work on a poc on my side and when I'll have a working bridge I'll ask you to review my work and tell me if there are better ways to do that.
I'm reading the documentation but it's a little bit obscure 😅.

[2022-01-05 16:30] szuecs commented on #1943
https://opensource.zalando.com/skipper/tutorials/development/#filters might help

[2022-01-12 15:32] szuecs commented on #628
Other interesting project https://github.com/pomerium/autocache
It uses hashicorps memberlist

[2022-01-23 11:36] darkweak commented on #1943
@szuecs I've got a working POC, I hope you'll have time to review the implementation here https://github.com/darkweak/souin/pull/173/commits/f11bb3d9aac880e2f13398c357f1d3d674c143ea please ? 🙏

[2022-01-24 16:11] maelvls commented on #1028
I made a discovery today. It is most probably not what cause @antoniobeyah's and @ruudk's issue, but I think it is worth mentioning it here since the title of this issue relates 100% to the symptom I was seeing.

I was running two versions of Skipper:

- One configured with `-kubernetes-ingress-class=skipper`,
- The other configured with `-kubernetes-ingress-class=skipper-internal`.

But when crea

[2022-01-24 19:05] szuecs commented on #1028
@maelvls interesting, I guess this needs a documentation fix.
The CLI help message also shows it, but user docs seem to be not good enough, because they only say `<string>`.
[code]

[2022-01-24 20:13] szuecs commented on #1943
@darkweak skipper part of the commit seems to be fine.

[2022-01-26 21:07] darkweak commented on #1943
Thank you for your time, it's now merged in Souin, do you want I open a PR to integrate it in the Skipper core repository and allow users to enable the cache natively in Skipper through the `httpcache` filter ?

[2022-01-28 19:27] szuecs commented on #800
I think this was fixed with https://github.com/zalando/skipper/pull/1877 wdyt @aryszka ?

[2022-01-31 18:43] szuecs commented on #1943
@darkweak right now we don't want to add a caching layer. Thanks for the question!

[2022-01-31 18:43] #1943 closed

[2022-02-03 19:47] szuecs opened #1951 "refactor: change redis library"
Check if we can improve https://github.com/rueian/rueidis to all commands we require and check if we can leverage the client side caching that they provide

[2022-02-08 13:44] tamer-abdulghani opened #1952 "Add support to refer K8S secrets with skipper filter"
**Backgroud**
We are trying to deploy ingress objects that uses Skipper. Those ingresses have Microsoft OAuth configuration which need a service principle (clientId/clientSecret). Currently we are storing these secrets in GitHub secrets and override the ingress objects during helm deployment to K8S.
To avoid storing these client-id/client-secret in GitHub, we are thinking to store them directly in

[2022-02-08 13:47] tamer-abdulghani commented on #1752
Solved with [JWT Token validation without introspection endpoint #1810
](https://github.com/zalando/skipper/issues/1810)

[2022-02-08 16:17] szuecs commented on #1952
@tamer-abdulghani , I would not do it via Kubernetes secrets API, but use the `secrets` module that works with the filesystem. Secrets can be mounted to the pod, so you can configure skipper to update these in memory secrets. If you want to propose a filter change it would be great to see.

[2022-02-08 19:28] AlexanderYastrebov commented on #1952
Some thoughts for the context.

We could establish some kind of convention to lookup value from the `secrets.SecretsReader` e.g. if client_id/client_secret starts with a prefix like `secret:/opt/ms-client-id`.
We would also need to consider multitenant setups such that users that define ingress can not read client id/secret not intended for them.

Currently we use `secrets.SecretsReader` for https

[2022-02-09 18:16] AlexanderYastrebov commented on #1851
To reduce probability we defer queue closing for one route update cycle or a pre-configured delay.
The proper fix would be to close queue on completion of in-flight requests which probably requires https://github.com/zalando/skipper/issues/202

[2022-02-14 15:17] universam1 opened #1955 "OIDC: Aggregated and Distributed Claims"
**Is your feature request related to a problem? Please describe.**

For OIDC (using filter `oauthOidcAnyClaims` ) with _Azure AD_ we are seeing users who are member of many groups to run into a [clipped groups token behaviour](https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens#groups-overage-claim) of Azure.
The `groups` claim is replaced by `hasToken` and a pointer to the G

[2022-02-15 10:22] universam1 commented on #1955
It as actually a well defined standard behaviour: https://openid.net/specs/openid-connect-core-1_0.html#AggregatedDistributedClaims

[2022-02-15 19:06] webframp commented on #1955
If it's part of the oidc standard then it seems potentially useful to implement to me. Interestingly both referenced example implementations look like they were able to be implemented using `golang.org/x/oauth2` without requiring any azure specific implementation library. That's a nice design goal I would think.

Although some nice libraries like https://github.com/manicminer/hamilton/ exist, it w

[2022-02-15 19:22] szuecs commented on #1955
If it's part of the spec let's build it of course!
So I guess we should put the aggregated data into our container that we pass to stateBag which can queried via `oidcClaimsQuery` or how do you think to integrate it?

[2022-02-18 21:09] szuecs opened #1963 "Go1.18 Rewrite string parsing with Cut()"
Go 1.18: Rewrite string parsing with Cut()

For example tracer option parsing that use Split

[2022-02-24 08:27] TBeijen opened #1968 "Crashlooping on missing claim argument in oauthOidc*Claims filter"
**Describe the bug**
Skipper starts crashlooping when filter `oauthOidcAllClaims` is misconfigured by omitting the claims argument. This probably affects all `oauthOidc*` filters.

Running in Kubernetes, skipper version: `v0.13.167`

**To Reproduce**
Add a filter that's incomplete:

[code]

This results in panic errors in skipper like this:

[code]

**Expected behavior**

Error stating filter argu

[2022-02-24 08:34] szuecs commented on #1968
@TBeijen I guess the `oauthOidcAnyClaims` filter behave the same

[2022-02-24 09:57] #1968 closed

[2022-03-05 02:31] rickhlx commented on #851
Looking into how we could read TLS certs from the Ingress resource.

@szuecs could we leverage `GetCertificate` [crypto/tls](https://pkg.go.dev/crypto/tls#Config)?

    ClientHelloInfo. It will only be called if the client supplies SNI
   information or if Certificates is empty.

We could dynamically return the correct cert by matching the `ClientHelloInfo.ServerName` to the TLS hosts.

Just havin

[2022-03-08 13:44] #696 closed

[2022-03-09 10:12] aupadh12 opened #1975 "Error while proxying"
Hello Team,

I am using skipper ingress version v0.13.188 as a proxy ingress controller which then forwards the traffic from my application to nginx ingress controller.
I have also recently upgraded the nginx ingress controller to 1.1.2.
I am noticing errors like below:
[APP]time="2022-03-09T09:50:14Z" level=error msg="error while proxying after 13.636284ms, route kube_kube_system__ngingx_to_skipp

[2022-03-09 12:23] aupadh12 commented on #1975
Hello,

So I was able to find the issue here.
In the ingress.yaml, we still need to use annotation --> kubernetes.io/ingress.class: "nginx"
I was using the latest syntax of -->
spec:
  #ingressClassName: nginx

Please note that starting K8s 1.22, this annotation will be deprecated and will be removed.
So, I would like to suggest to create the syntax usable in skipper ingress.

[2022-03-09 12:28] aupadh12 opened #1976 "support for ingressClassName"
**Is your feature request related to a problem? Please describe.**
I am using skipper ingress version v0.13.188 as a proxy ingress controller which then forwards the traffic from my application to nginx ingress controller.
I have also recently upgraded the nginx ingress controller to 1.1.2.
I am noticing errors like below:
[APP]time="2022-03-09T09:50:14Z" level=error msg="error while proxying afte

[2022-03-09 13:09] AlexanderYastrebov commented on #1976
Related to #1892, see also https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/

While it is being deprecated I think it will continue to work as expected as it is an annotation and not e.g. a field that is removed.
The #1892 implemented ingress v1 support by copy-pasting the v1beta1 implementation so the question is should we remove v1beta1 support before doin

[2022-03-09 13:14] AlexanderYastrebov commented on #1976
Interestingly there is a piece that actually checks `Spec.IngressClassName`
https://github.com/zalando/skipper/blob/2c79795de8f376d34e5b4fecdcc58718cd90aeb6/dataclients/kubernetes/clusterclient.go#L292-L295

@aupadh12 do you set the `-kubernetes-ingress-v1`?

[2022-03-09 13:25] aupadh12 commented on #1976
Hi,

I did not set the flag.
But I do know that:
Ingress API deprecation for extensions/v1beta1. As of Kubernetes 1.16 this API has been deprecated and is unavailable in 1.22. Teams that are using this API version and running 1.19 and above should migrate to the stable networking.k8s.io/v1 version.

Ingress Class Annotation deprecation - As of Kubernetes 1.18 the kubernetes.io/ingress.class annota

[2022-03-09 13:27] aupadh12 commented on #1976
Also, currently my validation webhook for ingress controller skips all other ingress class name other than nginx.
This was fixed in nginx ingress controller 1.1.2.

[2022-03-09 18:01] AlexanderYastrebov commented on #1976
When flag is not set Skipper uses v1beta1 k8s API to get ingress definitions even if ingress was defined as v1.
This will stop working starting from 1.22 as it removes v1beta1 API, see https://kubernetes.io/docs/reference/using-api/deprecation-guide/#ingress-v122
When flag is set, Skipper uses v1 API and should take `spec.ingressClassName` into account as far as I can tell from the code.

[2022-03-09 20:47] rickhlx commented on #851
@szuecs let me know what you think of adding tls certs to Routes, I can add some tests and clean up if you’re ok with it.

[2022-03-09 22:05] aupadh12 commented on #1976
Hello @AlexanderYastrebov ,

I tried setting the flag in daemonset but I started receiving this error:
APP]time="2022-03-09T21:48:02Z" level=error msg="error while receiving initial data;failed to load cluster state: request failed, status: 403, 403 Forbidden"

Below is my daemonset file:

[code]

[2022-03-09 22:05] aupadh12 commented on #1976
Am I missing something here?

[2022-03-10 09:55] AlexanderYastrebov commented on #1976
I think you need to update cluster roles to allow v1 ingress fetch, something like https://github.com/zalando-incubator/kubernetes-on-aws/pull/4801

[2022-03-10 11:33] aupadh12 commented on #1976
Perfect...This worked..Thank you very much. However, I still think having skipper with default new api version of v1 will help in the future.

[2022-03-10 11:58] AlexanderYastrebov commented on #1976
Yes, we are going to deprecate v1beta1 and make v1 a default API

[2022-03-10 12:00] #1976 closed

[2022-03-14 16:10] abinet opened #1977 "Cookie too large issue still exists"
Hi all,
I am aware about https://github.com/zalando/skipper/issues/1089

For some users with big number of user groups we get cookie size 8454 (compressed already)
And even with the cookie chunked into 3 parts we get "cookie too large" response.

I am wondering does the chunking help to avoid the issue really?

[2022-03-18 12:45] jbspeakr opened #1981 "Verbose error log: context canceled"
**Describe the bug**
Whenever a client cancels a request before the request can be processed, Skipper logs an error. Logged errors should be actionable, which in this context is not the case since this is something the client does. It's not an error from Skipper's perspective.

**Expected behavior**
Log level of info would potentially make more sense in this case.

**Observed behavior**
with Skipp

[2022-03-18 12:49] jbspeakr opened #1982 "Verbose error log: URL query contains semicolon"
**Describe the bug**
Skipper does not support parsing of URL queries that contain semicolon, but logs an error if clients send semicolons. Logged errors should be actionable, which in this context is not the case since this is something the client does. It's not an error from Skipper's perspective.

**Expected behavior**
Log level of info would potentially (if a log message is actually required) m

[2022-03-18 14:13] AlexanderYastrebov commented on #1982
https://github.com/golang/go/issues/25192 mentions two others https://github.com/golang/go/issues/49399 and https://github.com/golang/go/issues/50034
To mute the log message (if we decide so) the machinery introduced by #1904 can be used.

[2022-03-21 10:11] #1982 closed

[2022-03-24 09:09] szuecs opened #1989 "add goleak tests and check if it makes sense"
Maybe helpful https://pkg.go.dev/go.uber.org/goleak

[2022-03-29 08:21] #1207 closed

[2022-03-30 11:02] mikkeloscar opened #1992 "net.Error.Temporary() is Deprecated in Go 1.18"
In Go 1.18 the `[net.Error.Temporary()](https://pkg.go.dev/net@master#Error)` method we use in a few places is deprecated. We should consider removing it.

For now we upgraded to 1.18 ignoring the deprecation

[2022-03-30 11:45] F1ko opened #1993 "Layer 4 LB SourceIP"
**Is your feature request related to a problem? Please describe.**
Due to a variety of reasons companies may have to use a layer 4 load balancer instead of a layer 7 in front of their Kubernetes cluster. Many of those will overwrite the original source IP with their own effectively making some of skippers features obsolete.

**Describe the solution you would like**
This issue is more of a question

[2022-03-30 11:59] szuecs commented on #1993
Which features are obsolete by changing to a l4 load balancer in front of skipper?
We run >95% of all the ingress/RouteGroup with a shared nlb in front.

[2022-03-30 16:39] F1ko commented on #1993
Thanks for the quick response @szuecs .

Yes I was indeed referring to Source predicates. Another use-case may also be for a backend application to log the original source IP.

It seems as if I misunderstood the default setting of AWS NLB, sorry about that. Apparently [by default](https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html#client-ip-preservatio

[2022-03-30 19:57] szuecs commented on #1993
Yes, you would see the proxy IP in skipper as connecting client. If you know there is a proxy, then either this is good to limit access through this proxy or it's bad because you don't see the client IP. On the other hand if you have a proxy, it will write XFF headers and then you can use Source/SourceFromLast predicates, depending on where the proxy write the connecting client IP to it.

In case

[2022-04-04 09:36] #1981 closed

[2022-04-04 10:49] szuecs commented on #1780
@AlexanderYastrebov I don't think it's mTLS authnz is implemented only server handler TLS.

[2022-04-08 11:06] AlexanderYastrebov commented on #1851
Mitigated by #1953

[2022-04-08 11:06] #1851 closed

[2022-04-11 05:31] #1993 closed

[2022-04-13 19:01] JordanSussman opened #1994 "Preserve empty User-Agent header"
**Describe the bug**

Requests sent through skipper with an empty `User-Agent` header have the value of `Go-http-client/1.1` added instead of preserving the empty value.

**To Reproduce**
Add context, for example:

1. Start skipper in proxy mode with `./bin/skipper -inline-routes='r1: * -> <roundRobin, "http://127.0.0.1:9001">' --address :9999`
2. Create a http server to print out the `User-Agent`

[2022-04-13 23:45] AlexanderYastrebov commented on #1994
This is similar to https://github.com/golang/go/issues/15524

[2022-04-15 01:25] #1994 closed

[2022-04-15 01:31] AlexanderYastrebov commented on #1994
@JordanSussman Thank you for detailed report!

[2022-04-15 01:45] JordanSussman commented on #1994
Thanks! Any chance the implementation you introduced will also change the behavior for the Kubernetes ingress?

[2022-04-15 02:11] AlexanderYastrebov commented on #1994
The change is in the common proxy component so k8s backends should stop seeing default go user agent.

[2022-04-15 02:12] AlexanderYastrebov commented on #1994
The change is in the common proxy component so k8s backends should stop seeing default go user agent.

[2022-04-19 18:53] RasmusWernerLarsen opened #1997 "Skipper fails upgrade/websocket request with pure ipv6 backend"
**Describe the bug**
We're using an IPv6 only kubernetes cluster running on AWS eks with skipper as ingress controller. Normal non-websocket traffic works as expected to all endpoints, but websocket traffic fails with the following error.

The ipaddress of the backend (pod) in question is 2a05:d018:d54:c508:e3d9::8 and the service port is 3000, so somehow it looks like an extra ":" is added to the

[2022-04-19 19:16] szuecs commented on #1997
Log line is https://github.com/zalando/skipper/blob/master/proxy/upgrade.go#L78
and this seems to be wrong for IPv6 https://github.com/zalando/skipper/blob/494ca96bc8f0fb1f6cf699a6fa22defd4d30b8dd/proxy/upgrade.go#L232

go doc net.Dial shows how to set this up for IPv6:
[code]

As far as I see we should replace it with `net.JoinHostPort(host, port string)`

[2022-04-19 19:33] RasmusWernerLarsen commented on #1997
@szuecs - I would be very happy to test it and thank you for the absurdly fast response.

[2022-04-19 19:41] szuecs commented on #1997
@RasmusWernerLarsen haha, you were lucky because I just checked emails and had a little time to check. Of course we try to address all bugs ASAP as we can, but I am all in agreeing with you `absurdly fast response`. :)
Test image is with a likely non working fix is registry.opensource.zalan.do/teapot/skipper-test:pr-1998-1

[2022-04-19 19:49] szuecs commented on #1997
@RasmusWernerLarsen can you please paste a result of `kubectl get endpoints <name> -o json` any endpoint that has a single IPv6 address is enough to understand the issue. It might be a problem of our assumption that we get `[ab::cd]` as IPv6 address from the kubernetes dataclient configured in our load balancer backend.

[2022-04-19 19:55] RasmusWernerLarsen commented on #1997
I can confirm that I see the exact same behavior with registry.opensource.zalan.do/teapot/skipper-test:pr-1998-1.

I think you are on the right track with the endpoints, here's data from the endpoint in question, which as you suspect does not seem to have the [] notation.

Btw, this is a kubernetes 1.22 cluster.

`{
    "apiVersion": "v1",
    "items": [
        {
            "apiVersion": "v1",

[2022-04-19 20:37] szuecs commented on #1997
@RasmusWernerLarsen registry.opensource.zalan.do/teapot/skipper-test:pr-1998-3 should fix the problem, would be great if you can report if it works for you.

[2022-04-19 20:54] RasmusWernerLarsen commented on #1997
I can confirm that websocket connections to ipv6 works with registry.opensource.zalan.do/teapot/skipper-test:pr-1998-3 :)

[2022-04-19 21:40] szuecs commented on #1997
Great, then we will release as soon as @AlexanderYastrebov will have the time to review. I guess tomorrow :)

[2022-04-20 12:11] #1997 closed

[2022-04-20 14:20] szuecs commented on #1997
Releases are automated: https://github.com/zalando/skipper/releases/tag/v0.13.202

[2022-05-04 15:55] #1955 closed

[2022-05-09 14:07] universam1 opened #2003 "panic on rolling out SWARM"
**Describe the bug**
Upon rolling out deployment changes enabling swarm mode, the new pods error out with

[code]

**To Reproduce**
Add context, for example:
1. existing Skipper deployment
2. update deployment to enable SWIM: https://opensource.zalando.com/skipper/kubernetes/ingress-controller/#swim-based
3. pods crash until the 2nd last pod is rolled

**Expected behavior**
exclude Skipper pods of

[2022-05-11 20:38] szuecs commented on #2003
So `self` is nil and we should return an error in `swarm.Join()`

[2022-05-13 16:04] andrewhowdencom opened #2004 "As a software operator, I want Skipper to shed traffic that I am unable to handle"
**Is your feature request related to a problem? Please describe.**

When I am operating a service (particularly with skipper-ingress), that service will sometimes have a sudden and substantial increase in traffic. This can happen in a few situations:

1. An increase in traffic at the edge (such as abusive traffic)
2. An upstream service timing out, and retrying aggressively

The traffic frequently

[2022-05-16 18:37] szuecs commented on #2004
@andrewhowdencom thanks for the well written feature requests with the references, that I have to read to understand it better.
I have two questions already after reading.

1. There is a bit of a mix with per instance (pod) and route (kubernetes uses a load balanced backend so per route != per pod). I guess you want really per instance, so a snowflake pod will be also create some "noise"
2. I thin

[2022-05-19 07:07] dyordsabuzo opened #2008 "Requesting all ingresses failed, resource not found"
**Describe the bug**
I tried installing skipper on a kubernetes cluster but the readinessProbe does not allow my pods to come up healthy and so I commented the readinessProbe block.
And when I checked the logs, I saw these error messages.  This happens in both with readinessProbe and without readinessProbe.

[code]

I'm trying to do a proof of concept on use of skipper and went through this docume

[2022-05-19 08:11] szuecs commented on #2008
@dyordsabuzo I think we missed to change the docs that you need to add `-kubernetes-ingress-v1` (depends on kubernetes and skipper version). Soon this flag will be dropped and default to ingress v1 and cluster role needs to be changed to allow networking.k8s.io ingress for v1:

[code]

[2022-05-19 08:16] szuecs commented on #2008
Can you point me to the deeplink where you found the file?
It seems to be outdated, but I don't find old ones anymore.

[2022-05-19 08:31] dyordsabuzo commented on #2008
I followed the steps here https://opensource.zalando.com/skipper/kubernetes/ingress-controller/.
I pulled the yml files from the repo provided in the section *Install Skipper as ingress-controller* and from this repo: https://github.com/zalando/skipper.git

And then, when i started getting the problem i raised here, i started tinkering the files and that's how I ended up with the version in my att

[2022-05-19 08:42] szuecs commented on #2008
@dyordsabuzo can you try to do `git pull --rebase`, just to make sure you use the latest files?
And maybe reload without cache: https://opensource.zalando.com/skipper/kubernetes/ingress-controller/#deployment
This should show https://github.com/zalando/skipper/blob/master/docs/kubernetes/deploy/deployment/rbac.yaml#L46 and I don't see networking.k8s.io in your rbac file you pasted.
We are slowly r

[2022-05-19 08:45] dyordsabuzo commented on #2008
@szuecs Will do.  Just AFK at the moment.  Hopefully I can provide an update soon either tonight or tomorrow.
Thank you for picking this up.  :)

[2022-05-19 19:30] dyordsabuzo commented on #2008
@szuecs This works for me now.  I did all that you mentioned:
- pull latest from the repo
- modify the deployment file to add the `-kubernetes-ingress-v1` flag (not in the documentation)

This is how my new log looks:
[code]

Thank you again for looking into this.  Very much appreciated.

[2022-05-30 08:35] szuecs commented on #2004
It's not really clear what should be done. So let me ask more questions, because the docs are not clear to me, nor the spec in the issue.

1. Should this be measured per route or per backend application (set of pods) or per backend instance (pod)?

1. Should this be measured per route or per backend application (set of pods) or per backend instance (pod)?

2. Why does it make sense to dynamically

[2022-05-31 13:19] bedakb commented on #1963
I'd like to work on this one.

[2022-06-14 14:14] #1963 closed

[2022-06-14 14:16] szuecs opened #2015 "rewrite error format string %v to %w"
All cases that use `fmt.Errorf("...: %v", err)` should be replaced with `fmt.Errorf("...: %w", err)`

[2022-06-14 18:41] xavivars opened #2016 "Issue when using Kana characters with common prefixes in the path"
**Describe the bug**
There is an issue when some characters (we reproduced it with Kana characters) are part of the path, and share a common prefix. Other non-ascii characters work properly (tested with Kanji).

There is something in the tree generation that ends in an infinite loop, but only happens when there is more than one route.

**To Reproduce**
Eskip fail with failures (including Japanese

[2022-06-14 19:35] szuecs commented on #2016
@xavivars can you test it with latest skipper v0.13.80 is a bit outdated.

[2022-06-14 20:08] AlexanderYastrebov commented on #2016
I would also like to better understand why zero prefix length fails - two strings `"マ"` and `"カ"` have zero common prefix rune-wise.
The byte oriented calculation returns prefix length of 1
[code]

[2022-06-14 20:19] AlexanderYastrebov commented on #2016
Everywhere else in the file paths are treated as byte slices, not rune slices.
The `splitCommonPrefix` is only called when first byte of added path matches first byte of existing path:
https://github.com/zalando/skipper/blob/dba156771ee00e20029bdf03ba9e934a159d37d7/pathmux/tree.go#L75
https://github.com/zalando/skipper/blob/dba156771ee00e20029bdf03ba9e934a159d37d7/pathmux/tree.go#L123-L128

so byt

[2022-06-14 20:25] szuecs commented on #2016
sounds good to me

[2022-06-14 22:16] xavivars commented on #2016
Thanks a lot for looking at this so quickly! Did I already say I love Skipper and its maintainers? 😍

I guess this is not that relevant anymore (given that Alexander found a fix for it :) ), but regarding Go & Skipper versions, we had tested with recent ones with the same result.

I think I understand what the problem is, but I don't understand why that's a problem with Kana characters ("マ" and "カ

[2022-06-15 12:36] xavivars commented on #2016
From Go documentation...
https://go.dev/blog/strings
![image](https://user-images.githubusercontent.com/134083/173828197-9c2f4ffc-2e5b-411a-bb0a-1d32cabf9f18.png)

[2022-06-15 20:34] #2016 closed, assigned to AlexanderYastrebov

[2022-06-19 17:53] FelixWe opened #2025 "add request body support within Lua scrips"
**Is your feature request related to a problem? Please describe.**
Currently, we faced the issue that we wanna access the payload of a request within our Lua script. This is currently not possible.

**Describe the solution you would like**
Add an option to access the payload of a POST Request (read-only), like the already existing parameters.

**Would you like to work on it?**
Yes, already worked

[2022-06-19 18:02] szuecs commented on #2025
Are you sure you want to read the body?
It will block the whole asynchronous processing.
Any specific feature you need to do with the body?

[2022-06-19 20:51] FelixWe commented on #2025
I have the problem because, within a customer installation, we need to provide a "csrf-token" that is impossible for one connected client.
First of all, I know it's not good to avoid security features like csrf-token, but I thought it would be possible to get the csrf-token within Lua and then use that response and the request body to create a new request within Lua and serve that response.

Not s

[2022-06-19 21:26] AlexanderYastrebov commented on #2025
@FelixWe
As Sandor mentioned it was a deliberate choice not to provide access to the request body. If we do that we would need to carefully think about how to prevent resource exhaustion (basically read bod only up to a certain size) and how to make it possible to pass the request body to the backend as normally request body could only be read once.

Before we explore that lets maybe better unders

[2022-06-19 21:50] FelixWe commented on #2025
Hey, yes, I understand the problem you both mentioned.

So the problem is that we have an application behind skipper securing the POST Endpoints with csrf Tokens and sessions.
For most cases, that is no problem as the client handles the session and csrf Token as it is meant to be.

But there is one "client" that cannot do that. Therefore, I thought it would be possible to check within Lua if the r

[2022-06-20 14:12] szuecs commented on #2025
I think for safety reasons I would do a won't fix here.
As skipper is a library, feel free to create your own skipper and create a filter.
Here is an example how to build a custom skipper with a custom filter: https://github.com/szuecs/skipper-example-proxy

[2022-07-07 13:30] szuecs opened #2038 "Set host header in order to use it in another route lookup"
If you add `dropRequestHeader("Host") -> setRequestHeader("Host", "bar") -> <loopback>` the new host "bar" is not replacing the host header, but appending it. This works differently from the network backend.

Example
[code]

network backend:
[code]

[2022-07-26 15:07] szuecs opened #2043 "document redis autoscaling"
https://github.com/zalando/skipper/pull/2009 added redis based swarm autoscaling possibility
We lack in documentation for this feature:
- [ ] kubernetes dataclient docs https://opensource.zalando.com/skipper/kubernetes/ingress-controller/#redis-based
- [ ] swarm redis tutorial https://opensource.zalando.com/skipper/tutorials/ratelimit/#redis-based-cluster-ratelimits

[2022-07-27 13:59] azarakovskiy opened #2045 "Use k8s server-side filtering for Ingresses"
**Is your feature request related to a problem? Please describe.**

_Check additional context to understand better :)_

Before we used a custom data client that doesn't get updated in runtime, and when on our dev environment Skipper app was idle under little traffic, and you could check in the metrics that it doesn't do much.

We are working to replace it with a K8S client that would use Ingress t

[2022-07-27 18:14] szuecs commented on #2045
@azarakovskiy we poll all resources even if we filter ingressClass, because of simplicity. Keep also in mind the v1 ingress with v1 ingressClass is different than the annotation from the past.
Our current solution is to run a few `routesrv` and query these from skipper-ingress to offload traffic from kube-apiserver.
https://github.com/zalando/skipper/tree/master/cmd/routesrv

[2022-07-28 08:51] azarakovskiy commented on #2045
@szuecs thanks, we had the similar option in mind too but decided to first verify if we could optimize the querying somehow.

I am currently playing with a POC that solves our specific issues. I am wondering if this would be something you would consider merging into Skipper. Of course, after adjusting it to serve a more generic purpose.

---

The POC works as following:

We have different dev team

[2022-07-28 21:00] szuecs commented on #2045
If we just check what HTTP REST would say from client API and filtering point of view, it sounds like a legit feature.
On the other hand Kubernetes is having different ideas with this ingress class, but they also have the madness of client-go and informers.
In my point of view it sounds like a nice and clean way to achieve what you want. So good to go from my side.

@AlexanderYastrebov when you ha

[2022-08-01 14:46] alexandreliberato commented on #1989
@szuecs may I work on this issue?

[2022-08-01 19:22] szuecs commented on #1989
Sure would be great!

[2022-08-02 15:44] azarakovskiy commented on #2045
I made a draft PR to showcase the implementation. I'm still in progress with it (have some issues with the tests :( ) but accidentally opened it in the main repo instead of one in my own fork :shame:

https://github.com/zalando/skipper/pull/2048

The implementation is slightly different compared to my message above.

K8S data client can now receive a map of labels that must be set on a resource to

[2022-08-05 11:48] peterklijn opened #2049 "Excluding specific paths from wildcards"
**Is your feature request related to a problem? Please describe.**
Feature request: If you define a wildcard route in Skipper, there is no easy way to exclude specific routes from the wildcard.

**Describe the solution you would like**
We could introduce a predicate, NotPath, which would do negate a matched route, effectively `Predicate.Match(req)` would always return true if the route does not ma

[2022-08-05 11:48] peterklijn commented on #2049
A POC can be found here:
https://github.com/zalando/skipper/pull/2050

[2022-08-07 17:54] alexandreliberato commented on #1989
Great! :)

I have a question about the existent tests:
- Is intentional that some test file use a test package(_test) and other no? That happens in the same package structure:
![image](https://user-images.githubusercontent.com/300424/183304426-04461832-b810-4acf-802c-6fe76e2265ff.png)
and
![image](https://user-images.githubusercontent.com/300424/183304446-8065c30a-845a-4e27-9ea7-50e4d7fa558e.png)

[2022-08-07 19:44] alexandreliberato commented on #1989
My analysis on it:
  - [x] what: a library the detect unexpected gorountines
  - [x] why: prevent resources leakage and unexpected behaviors(bugs/defects)
  - [x] how: use in unit tests, if there is any error: "unexpected goroutines found"
  - [x] when: when you have multiple use of channels
  - [x] where: used by test or test package

Yes, I think that would be nice to use this library, after som

[2022-08-07 19:46] alexandreliberato commented on #1989
I have other question, is there any initiative to run the tests in parallel?

[2022-08-07 20:44] szuecs commented on #1989
Yes basically think about "whitebox" vs "blackbox" testing. If you are in the same package you can use internal functions and if not you are user of the library interface.

[2022-08-07 20:45] szuecs commented on #1989
Yes, but if you run with race detector it runs test not concurrently as far as I remember.

[2022-08-07 21:04] szuecs commented on #1989
It can be also false positive of course but it's great to check if it is or not.

[2022-08-08 19:10] szuecs commented on #2049
Why not use a 4th route to PathSubtree("/super-secret")?

[2022-08-08 19:22] peterklijn commented on #2049
Hi Sandor, thanks for your reply.
Yes, in this oversimplified example, that would work.

I tried to explain that in the alternatives' section:

If you have many routes, and want to exclude some exceptions, my thought was it would get a bit messy.
Additionally, you'd need to make sure that the routes that you want to exclude (`/super-secret` in this case) will be the ones that match and not the mor

[2022-08-08 19:35] szuecs commented on #2049
Then I think we should support NotPathSubtree() and NotPath(). NotPath() should not be close to Path() which is in routing package, but close to PathSubtree.
What do you think @AlexanderYastrebov ?

[2022-08-09 11:13] szuecs opened #2055 "Use checker ruleguard and semgrep"
https://github.com/dgryski/semgrep-go code quality checker which make sense to use/test

[2022-08-17 16:28] AlexanderYastrebov commented on #2049
I would like to see a compelling usecase.
As far as I understand, requests excluded by the proposed predicate will end up getting 404 since there is no matching route.

I do not see yet how proposed predicate is better than explicit `PathSubtree("/super-secret") -> status(404) -> inlineContent("this does not exist") -> <shunt>`.

[2022-08-22 17:39] mikkeloscar opened #2062 "gosec v2.13.1 reports issue for use of http.ListenAndServe"
With `gosec v2.13.1` the following issues are reported:

[code]

The G114 check was introduced here: https://github.com/securego/gosec/pull/842

We should either exclude the check for now or fix the use of `http.ListenAndServe` to instead use a custom `http.Server` with timeouts as described here: https://blog.cloudflare.com/exposing-go-on-the-internet/

[2022-08-22 19:52] szuecs commented on #2062
So gosec found the support listener and debug listener, which should not be deployed such that everyone from the internet can access it. I think we can safely add a `/* nosec*/` directive there to opt-out this check in the code part

[2022-08-22 20:19] szuecs opened #2064 "go1.19: replace go.uber.org/atomic.Int64"
Go1.19 https://go.dev/doc/go1.19#atomic_types:

New atomic types

The [sync/atomic](https://go.dev/pkg/sync/atomic/) package defines new atomic types [Bool](https://go.dev/pkg/sync/atomic/#Bool), [Int32](https://go.dev/pkg/sync/atomic/#Int32), [Int64](https://go.dev/pkg/sync/atomic/#Int64), [Uint32](https://go.dev/pkg/sync/atomic/#Uint32), [Uint64](https://go.dev/pkg/sync/atomic/#Uint64), [Uintptr

[2022-08-22 20:50] #2062 closed

[2022-08-23 15:13] rickhlx opened #2065 "Allow insecure traffic on separate port when TLS termination enabled"
**Is your feature request related to a problem? Please describe.**
When configuring TLS termination using Skipper Ingress TLS, all requests to Skipper need to be encrypted. It is not possible to have both `http` and `https` requests simultaneously.

**Describe the solution you would like**
Allow users to specify separate ports for encrypted and unencrypted traffic when terminating TLS at Skipper.

[2022-08-23 19:47] szuecs commented on #2065
I am fine with having this option and the question is how to achieve this with a non breaking change.
Right now the proposal would likely do a breaking change for people who run `-address=:9999` without TLS cert/key and for library users as well that won't set the new option.

[2022-08-23 21:07] rickhlx commented on #2065
@szuecs We could ignore the `-insecure-address` flag when not using TLS cert/keys since traffic would already be unencrypted. This option would only be effective when TLS is enabled. Would that work?

[2022-08-25 11:00] #2065 closed

[2022-08-26 14:40] AlexanderYastrebov opened #2069 "Go routine leak in `clientRatelimit` filters"
`clientRatelimit`/`serviceRatelimit` creates `circularbuffer.NewClientRateLimiter` for each instance of `Settings`
https://github.com/zalando/skipper/blob/717857730d1decabe4615821fb0f77cc4c6bd483/ratelimit/ratelimit.go#L452-L459
that internally [starts a goroutine](https://github.com/szuecs/rate-limit-buffer/blob/8e69195c2c48f3809e4c90646d21719867fb834a/ratelimit.go#L93-L103).

Since `Close()` is

[2022-08-29 08:56] amorimdecoelho opened #2070 "Share admission control filter across routes"
**Is your feature request related to a problem? Please describe.**
Currently, the admission control filter can be used for load shedding and protecting some resources. Some applications have multiple routes, which could be grouped by impacted resources. It's not currently possible to benefit from this resource grouping and each route creates its own admission control filter, having its own counter

[2022-09-01 08:33] ioanacraciun opened #2071 "Replace matched regex in Response header"
**Is your feature request related to a problem? Please describe.**
Currently, as part of the Skipper Filters, only the `modRequestHeader` is provided. It replaces all matched regex expressions in the given request header. I would need to replace an expression in the response header, in my use case `Location`.

**Describe the solution you would like**
It would be useful to have a counterpart filter

[2022-09-01 08:38] szuecs commented on #2071
Sound good

[2022-09-08 12:00] #2045 closed

[2022-09-15 10:53] RomanZavodskikh commented on #2071
Resolved in PR above.

[2022-09-15 10:53] #2071 closed

[2022-09-19 15:48] AlexanderYastrebov opened #2079 "Make cluster state read-only"
Cluster state has `cachedEndpoints` that is updated in runtime and may cause `fatal error: concurrent map read and map write`
To mitigate the problem #2078 synchronizes access to it (somewhat indirectly).

The better way is to make cluster state immutable/read-only either by pre-populating `cachedEndpoints` or just getting rid of it and use `endpoints` on each lookup.

[2022-09-20 20:18] AlexanderYastrebov commented on #1041
* https://github.com/golang/go/issues/16100
* https://github.com/golang/go/issues/54136

[2022-09-22 10:53] herojan opened #2081 "fadeIn filter support for consistentHash load balancer"
**Is your feature request related to a problem? Please describe.**
The consistentHash load balancing algorithm does not have support for the fadeIn filter. This means new pods immediately get as much traffic as old pods, which can cause overload.

**Describe the solution you would like**
I would like to gradually add traffic to new nodes with the fadeIn filter. The logic would be the same as the e

[2022-09-23 18:33] szuecs opened #2084 "refactor: mocktracer use"
Package ./tracing/tracingtest should have all regular used purposes.
Right now we use github.com/opentracing/opentracing-go/mocktracer instead of this in:
- filters/tracing/tag_test.go
- filters/scheduler/fifo_test.go
- proxy/tracing_test.go

[2022-09-23 18:43] szuecs opened #2085 "refactor: test setups with proxytest"
We should try to reduce the complexity of test setups such that creating a proxy with $dataclient are simple.
Examples are filters/auth , filters/scheduler, scheduler/ proxy/ and skipper_test.go.

### http client

Likely a test http client should be created which could use vegeta as library, but we also need to capture response headers.
We normally test with a single request, but in practice we se

[2022-09-23 18:45] szuecs commented on #1041
Let's reopen to be aware of a possible change that we can make to enhance the current timeouts

[2022-09-26 09:04] AlexanderYastrebov commented on #2084
I have used mocktracer here https://github.com/zalando/skipper/pull/1666#discussion_r547477511 due to the problem with tracingtest

[2022-09-27 10:45] peterklijn commented on #2049
Thanks for your replies, I'll close the issue :)

[2022-09-27 10:45] #2049 closed

[2022-09-27 12:24] peterklijn opened #2089 "Add an option to override the route using k8s endpoints behaviour"
**Is your feature request related to a problem? Please describe.**

It would be nice if the design decision of routing traffic via Kubernetes Endpoints can be overwritten, and instead service addresses can be used.

**Describe the solution you would like**

Add an option that allows us to override the default behaviour. When provided, it will use `eskip.Route -> BackendType: eskip.NetworkBackend`

[2022-09-27 12:48] peterklijn commented on #2089
Thanks for the quick reply 🚀

**In short**

We expect that switching to service addresses to reduce CPU spikes in Skipper caused by updated routes.

**Detailed**

We noticed a big increase in CPU usage when we started using the Kubernetes Ingresses directly in Skipper.

We started using a [Route service](https://github.com/zalando/skipper/tree/master/routesrv), and use a custom `routing.DataClient

[2022-09-27 13:09] szuecs commented on #2089
We just create the preStop hook via admission webhook in kubernetes, all applications get this for free.

I wonder a bit about CPU usage.
Can you share how you run skipper-ingress hpa+deployment or daemonset, what CPU resources you assign to skipper?
Maybe you can share data before/after CPU graph or so, best would be pprof to see that it's actually the dataclient and not something else?

Great to

[2022-09-28 14:41] peterklijn commented on #2089
In addition to the above, we have an additional reason for needing this functionality, but this is specific to our infrastructure.

We have multiple Kubernetes clusters that together form a platform, and use Kubernetes Cluster Federation using Istio's network magic to bridge the gap.

We run a RouteSrv per cluster (we have 7 clusters) and aggregate the routes in a single Skipper deployment in only