[2015-09-17 08:47] lmineiro opened #8 "Add pre-route and post-route filters"
Pre-Route filters allows us to always go through a set of filters that are relevant enough to be applied to each and every route. Owners of the routes don't need to include them and they also can't opt-out.

Post-Route filters can be used to blacklist given headers / cookies, for ex. or override specific headers like 'X-Powered-By', for ex.

[2015-09-17 08:51] danpersa commented on #8
:+1:

[2015-10-07 12:36] aryszka opened #14 "prioritize multiple data clients (innkeeper, overridden by etcd, overridden by file source)"

[2015-10-12 07:53] lmineiro opened #15 "Add X-Powered-By and Server headers"
Skipper needs some branding

[2015-10-12 12:17] #15 closed

[2015-10-12 12:38] aryszka commented on #8
done

[2015-10-12 12:38] #8 closed

[2015-10-13 15:11] lmineiro opened #18 "Add a filter to generate a request id"
Often there is a flow id that helps gather events and log entries from multiple systems originated for the same customer request.

Such flow id needs to be generated at the earliest and sent down the request path so that the following systems can use it for those purposes.

I suggest we use a common HTTP header `X-Flow-Id` that is created for every request. Generation of this id should favor perfo

[2015-10-15 12:31] aryszka opened #21 "header matching is case sensitive"

[2015-10-18 17:25] aryszka opened #25 "more cleanup for the tests: apply "table-driven" tests, where they are more expressive"

[2015-10-19 08:55] #18 closed

[2015-10-27 13:56] lmineiro opened #29 "Create a Github DataClient implementation"
Github provides a good source of route definitions that can be easily reviewed and versioned

[2015-10-27 17:00] aryszka opened #30 "glob standard for free wildcards?"
it could be tested if /some/path/** works, and then it could be mentioned in the documentation.

https://github.com/zalando/skipper/pull/28#discussion_r43122909
https://github.com/zalando/skipper/pull/28#discussion_r43139473

[2015-10-27 17:10] aryszka opened #31 "static filter signature: file system path first, http path prefix optional"
https://github.com/zalando/skipper/pull/28#discussion_r43128432

[2015-10-27 17:13] aryszka opened #32 "static filter: can make a log warning if the local path is not available"
https://github.com/zalando/skipper/pull/28#discussion_r43128631

[2015-10-27 17:39] aryszka opened #33 "Host condition naming: currently it is called Host, but it is a regexp. Make consistent with other predicates."
https://github.com/zalando/skipper/pull/28#discussion_r43139167

[2015-10-27 20:46] aryszka commented on #29
great idea! could be a nice project. plus the gained experience could be used for considering something like a github based filter repository.

[2015-10-27 20:47] #21 closed

[2015-10-30 16:26] aryszka opened #37 "remove default data client"

[2015-11-09 14:12] aryszka opened #40 "make the filter instances identifiable for monitoring purpose"

[2015-11-09 20:11] aryszka opened #45 "header filter behavior and naming"
currently the requestHeader and responseHeader filters use the stdlib add method, which in some cases may be what the user expects and in some cases may not.
- enable set besides add
- improve the naming

[2015-11-11 16:35] aryszka opened #49 "fix the time sensitivity of the tests"
tests are randomly failing due to the non-sync initial propagation of the route settings. however, this is not an issue in normal operation, it causes annoyances in dev time and ci/cd.

[2015-11-18 14:15] aryszka opened #56 "chaining filters"
allow this:

[code]

involves:
- eskip syntax
- runtime route table construction
- etcd: (with prefix /filters on the same level as /routes)
- innkeeper
- eskip tool

[2015-11-18 17:33] lmineiro opened #57 "Expose the backend url from the route in the FilterContext"
Some filters need access to the backend url from the route to whitelist/blacklist certain features

Currently there is no way to do it.

The FilterContext should include a copy of that element from the route

[2015-11-18 20:08] aryszka opened #58 "handle oauth failures properly"

[2015-11-19 15:10] #57 closed

[2015-11-20 16:41] aryszka opened #61 "provide standard proxy headers"

[2015-11-20 17:00] aryszka opened #62 "introduce versioning"

[2015-11-27 16:31] aryszka opened #63 "eskip tool nil pointers when etcd not specified for delete command"

[2015-11-29 17:10] aryszka opened #64 "fine tune the proxy response streaming buffer size with benchmarks"
as an extra, may check if a buffer pool pays back the cost of the additional complexity

[2015-11-30 10:33] aryszka opened #65 "smarter header request and response header, with similar replace capabilities as modPath"

[2015-11-30 10:33] lmineiro commented on #65
:+1:

[2015-12-01 15:36] lmineiro opened #69 "Add metrics to count errors"
We should also expose counter metrics for, at least, the major errors

[2015-12-03 16:16] Raffo commented on #62
How? Can I contribute providing Godeps? Did you evaluate that?

[2015-12-03 18:52] aryszka commented on #62
we considered that, and the builtin solution that appeared with go 1.5. We didn't like either of them too much. But we will need some solution. Let's do a chat about it tomorrow. And, we're very happy for your contriubtion, of course :)

[2015-12-03 19:03] aryszka commented on #62
another possible approach, also Luis's recommendation, is: http://labix.org/gopkg.in

[2015-12-03 21:56] Raffo commented on #62
Let's chat about it :-)
I'll have a look at gopkg.in, but for the moment I'm quite happy with Godeps... in the end is used by Google itself like in https://github.com/kubernetes/kubernetes

[2015-12-04 13:34] aryszka opened #71 "eskip parsing fails when a comment is the last token"

[2015-12-04 16:33] Raffo commented on #62
https://github.com/zalando/skipper/pull/73

[2015-12-04 21:40] Raffo commented on #62
Closed by #73

[2015-12-07 14:29] #71 closed

[2015-12-07 14:30] #62 closed

[2015-12-07 14:32] aryszka commented on #37
this has been solved since then

[2015-12-07 14:32] #37 closed

[2015-12-14 10:42] danpersa opened #80 "Make Innkeeper WriteClient secure"
Write now, we create it with the insecure flag. `writeclient.go:32`

[2015-12-14 10:54] danpersa opened #81 "Delete for Innkeeper"
Implement the delete operation in eskip for Innkeeper

[2015-12-14 13:20] danpersa opened #82 "Investigate if function need pre and post route filters"
innkeeper/client.go:238

    func convertJsonToEskip(data []*routeData, preRouteFilters, postRouteFilters []*eskip.Filter) ([]*eskip.Route, []string, string)

[2015-12-14 13:24] danpersa opened #83 "Refactor RouteInfo"
Either remove RouteInfo from everything but etcd, either implement route parsing errors for innkeeper

'routeInfos' here is visible in the docs, due to LoadAndParseAll is public, info doesn't have plural form. Please, give it a better name.

[2015-12-14 13:27] danpersa opened #84 "r.PathRegexps should have only one path"
innkeeper/eskiptojson.go:18
     innkeeper/eskiptojson.go:37

[2015-12-14 19:39] aryszka commented on #83
note: this issue belongs to the branch add-innkeeper-cmd

[2015-12-14 19:39] aryszka commented on #81
note: this issue belongs to branch add-innkeeper-cmd

[2015-12-14 19:40] aryszka commented on #80
note: this issue belongs to add-innkeeper-cmd

[2015-12-14 22:35] danpersa commented on #81
It's for all of the branches... we don't have delete for Innkeeper on master for example

[2015-12-29 15:19] danpersa opened #85 "Handle all non success status codes from Innkeeper"
[code]

In case of a 500, the calling code will believe that the request was successful, and can't even make a log entry or anything.

[2016-01-04 13:13] danpersa opened #86 "Refactor The Command Map"
For

    src/github.com/zalando/skipper/cmd/eskip/media.go:137

Refactor the map keeping in mind @mo-gr's comment

    To me, those two maps (commandToValidations and commands in eskip.go) smell a lot like some
    weird inside-out data structures (call it OO if you insist). I think, command should not be a type alias for
    a string anymore but instead be a proper struct containing a command-nam

[2016-01-12 10:48] vigneshshanmugam opened #87 "Support gzip compression when required"
+ Return gzip response when Accept-Encoding: gzip, deflate is set by the browser

[2016-01-14 10:26] aryszka opened #89 "Eskip refactor: convert post-yacc processing of predicates into yacc rules."

[2016-01-26 10:57] aryszka opened #96 "consider <shunt> symbol to be implicit"

[2016-01-28 12:40] aryszka opened #97 "eskip pretty printing option"
consider if this should be done by eskip, or just provide an awk example

[2016-01-28 12:44] aryszka opened #98 "add confirmation and force mode for more dangerous eskip operations"

[2016-01-28 15:58] aryszka opened #99 "include the requested host in the access log"
should be similar to setting `%{Host}i` in apache

[2016-02-02 14:00] aryszka commented on #64
measure the impact os using a buffer pool (sync.Pool?)

[2016-02-02 14:01] aryszka commented on #63
fixed

[2016-02-02 14:01] #63 closed

[2016-02-04 21:25] lmineiro opened #105 "Improve metrics"
We need a global request metric and also a routing failure metric

[2016-02-10 16:49] aryszka opened #110 "explicit types for different request/response objects during filtering and maybe predicates"
Pasting on behalf of @mo-gr :

The incoming req/resp and the outgoing req/resp in some filters can be confusing. I believe, the likelyhood of such issues can be greatly reduced by some type-trickery.
package main

import (
"fmt"
"net/http"
)

type IncomingRequest http.Request
type OutgoingRequest http.Request

func foo(r http.Request) int {
	return 1
}

func Filter(r IncomingRequest) int {
	return

[2016-02-10 16:53] aryszka commented on #110
Good point. The type names can be fine tuned yet. I would start looking at the filters.FilterContext around the OriginalRequest and OriginalResponse properties, in the first round. The actual outgoing request object is never exposed to the filters, so maybe we can call the original as IncomingRequest, but the other one as ForwardedRequest.

Issue open for discussions.

[2016-02-10 21:33] lmineiro commented on #110
I was trying to figure out where a Filter could access the request created to access the backend but I don't think it is ever exposed.

I can understand that with the Response this is not that clear. We already tried to improve it a little bit getting rid of the ResponseWriter/Response ambiguity. Is there such a thing as an IncomingResponse?

[2016-02-10 22:46] aryszka commented on #110
first part: true

second: it is a very similar case, almost symmetric. Actually, that's kind of cool, I think. My first approach would be in this scenario to call it ForwardedResponse, too, but that's not how most of us think about the http request flow. The downstream/upstream is also constantly confusing, because we always mix which is which.

What we have:
1. OriginalRequest
2. Request
3. Origi

[2016-03-03 15:41] mo-gr opened #116 "Surprising route behaviour with more specific sub-path routes"
If I have the following three routes:

`a: Path("/foo/*_") -> "https://foo.org"`
`b: Path("/foo/bar") && Traffic(0.5, "bar", "foobar") -> "https://bar.org"`
`z: * -> "https://catch.all"`

I would expect a request with the path `/foo/bar` to hit `foo.org` in half the time and `bar.org` the other half. However, all the requests, that don't hit `bar.org` end up being route to `catch.all`.

This is pr

[2016-03-03 15:46] aryszka commented on #116
this may need to be handled in github.com/zalando/pathmux

[2016-03-03 16:06] aryszka commented on #116
the right thing to do would be to move the non-path type predicate matching into the tree lookup in pathmux, so that this would be solved by the backtracking in pathmux

[2016-03-08 19:54] #105 closed

[2016-03-08 22:40] aryszka commented on #105
what did happen to #105?

On Tue, Mar 8, 2016, at 08:54 PM, Luis wrote:

Links:

  1. https://github.com/zalando/skipper/issues/105
  2. https://github.com/zalando/skipper/issues/105#event-582259418

[2016-03-09 08:16] lmineiro commented on #105
Should've added some comments before closing.
I came to realize that this can easily be solved in the collector (zmon + grafana) and it wouldn't make sense to add the aggregates to the current metrics setup.

[2016-03-10 11:11] aryszka opened #124 "provide tests for the etcd endpoint rotation"

[2016-03-10 13:44] #99 closed

[2016-03-14 10:43] #124 closed

[2016-03-14 12:43] aryszka commented on #65
headers are done, replace capabilities are coming with the path-params branch

[2016-03-14 12:43] #65 closed

[2016-03-14 12:45] aryszka commented on #45
fixed

[2016-03-14 12:45] #45 closed

[2016-03-14 12:48] aryszka commented on #25
fixing as continuous improvement

[2016-03-14 12:48] #25 closed

[2016-03-14 18:53] aryszka commented on #87
this could be a builtin filter

[2016-03-20 23:13] ewgRa commented on #116
Is Traffic predicate in open-source?

"[APP]ERRO[0000] predicate not found: 'Traffic'"

Can anybody share it?

[2016-03-21 00:08] ewgRa commented on #116
I think tests from #130 is a right reproduce of this bug.

[2016-03-21 09:13] ewgRa commented on #116
@aryszka instead of move predicates to pathmux (that seems not so good from architecture perspective, since pathmux work only with path) how about this two options?

1. Add to patchmux - "skipStatic" option, or something like this. When skipper get from pathmux static route and predicates do not match it - skipper can ask pathmux to look another route in non-static routes. There is no performance

[2016-03-30 15:05] aryszka commented on #116
@ewgRa
I agree that we shouldn't move any skipper specific logic or types to pathmux. For the solution however, I am thinking now in something else. The values stored in pathmux leaves are currently of type `interface{}`. This could replaced with something like:

[code]

...and when pathmux finds a leaf that matches this way, would ask the implementation if it really wants to match for the given r

[2016-03-30 16:19] ewgRa commented on #116
Kind of "match callback" way.

Is it critical bug for you?

I will take it, but don't know when I can finish it. Maybe week, maybe even more. So, if it is critical - feel free to work on fix yourself.

[2016-03-30 17:28] aryszka commented on #116
yeah, just like a callback.

currently, it is not critical, but we'll need some fix for this in a matter of a few weeks, as more people will be involved in defining routes. if you like this bug, then just pls feel free to go after it.

if the fix becomes critical, then we can still join our efforts, i guess..

some notes on working with https://github.com/zalando/pathmux:

1. it would be nice, if

[2016-03-31 10:13] ewgRa commented on #116
ok, I will take it. If it become critical for you - feel free to fix it yourself.

[2016-03-31 11:20] aryszka opened #132 "version output for the skipper and eskip commands"

[2016-04-01 22:49] ewgRa commented on #116
pathmux don't know anything about request, and also from architecture perspective share request to pathmux not a right idea.

For now I implement it as "isMatch() bool", but don't find good solution how to use it in skipper, since request we know only at Matcher.match that call Tree.Lookup. For now I see only option to change Lookup signature, or add also LookupWithMatcher that will have request i

[2016-04-02 10:47] ewgRa commented on #116
https://github.com/zalando/pathmux/pull/2 - have performance degradation, but will work.

I have also idea that channels here can help to implement "found->check->continue" way, but don't sure on 100%.

[2016-04-02 11:56] ewgRa commented on #116
Fix for this bug https://github.com/zalando/skipper/pull/133, with usage of https://github.com/zalando/pathmux/pull/2 implementation

[2016-04-05 07:48] grassator opened #134 "Using regex delimiter fails in character list in eskip"
This should work

[code]

but it fails in eskip

[2016-04-21 14:30] #116 closed

[2016-05-13 14:50] Raffo opened #148 "Skipper should support SSL/TLS"
- It should be possible to turn on and off.
- It should be possible to specify Key, CA, Certificate.

[2016-05-13 15:37] lmineiro commented on #148
Sounds good. What do you think of HTTP/2? We could combine this :)

[2016-05-13 15:48] Raffo commented on #148
This [should come out of the box with HTTPS ](https://golang.org/pkg/net/http/)

[code]

[2016-05-13 15:50] lmineiro commented on #148
That was actually what I meant.

It's probably more test code than anything else

[2016-05-15 00:57] hmatinho commented on #148
could you support getting certificates from letsencrypt automatically and managing them ?

[2016-05-17 08:26] Raffo commented on #148
@hmatinho I believe this is out of scope for this request. You can maybe open another issue and discuss is there what you would love to see implemented.

[2016-05-17 10:50] aryszka commented on #148
@hmatinho  what I would prefer, would be that skipper could monitor the provided path to the certificate and key, and automatically fetch the updates if any from there. And then letsencrypt's certbot standalone, or any other update method, could run separately from skipper, and update the certs in the configured directory. This way we wouldn't create a built-in dependency on a particular service (

[2016-05-17 15:08] Raffo opened #149 "Improve linting"
As of current version (08b8adf04c1d7ca80ae76df6adc757c80627270f), skipper needs some linting love: it currently has 278 "problems", mostly style mistakes like `proxy/proxy.go:228:6: func cloneUrl should be cloneURL`.
I would go through all the source code and make it compliant. Please @lmineiro @aryszka have a look at the current output and share what you think.

[2016-05-19 16:11] aryszka opened #151 "the debug proxy seems to handle the outgoing host wrong, sending the incoming host, as if the preserve host switch was always on"

[2016-05-20 09:35] danpersa opened #153 "Declarative validations for filters and predicates"
Right now, as soon as a predicate or filter is constructed, there are some checks done.

Those checks can be done in a more general, declarative way. For example, for a `status` filter, we could have:

    status(float)

Based on this, we know that status should accept one parameter, and that that parameter should be a float.

[2016-05-20 09:59] lmineiro commented on #153
I don't exactly get it. What do you propose?

[2016-05-20 12:05] lmineiro commented on #149
Most of it won't hurt. I'd reconsider any of those changes that can break backwards compatibility. I'd rather have the linter bitching about them

[2016-05-20 13:19] Raffo commented on #149
Agreed, I also briefly discussed in private with @aryszka. The only thing I think that we really need is to make sure that struct initialization is not positional anymore.

[2016-05-20 14:36] aryszka commented on #149
the only thing that I found that would break backwards compatibility is renaming some public symbols (e.g. .*ID, .*URL, Err.*). These can break programs that depend on skipper as a library. The rest can be fixed anytime. For the public symbols, I recommend to do it in v2 (which is my summer mission :)). Many Thanks @Raffo

[2016-05-23 11:11] LappleApple opened #154 "Apply Gocover.io so I can add this to Awesome Go"
To add Skipper to https://github.com/avelino/awesome-go, it needs a Gocover link. Can you add?

[2016-05-23 12:56] aryszka commented on #154
Added the gocover badge.

Currently, it shows an error, not sure why. On the other hand it seems like it runs only the root package tests, which is not very useful in skipper's case. I'll check yet some time if i can fix this, but seems like gocover is not prepared for sub packages. In addition to all, we have a small script to be run for being able to test, that won't be gone until we replace etc

[2016-05-23 12:59] LappleApple commented on #154
Thanks, @aryszka :)

[2016-05-23 13:05] aryszka commented on #154
np :)
i close this issue for now. We have plans to cleanup the tests, I'll give an update when that changes the coverage report.

[2016-05-23 13:05] #154 closed

[2016-05-24 14:39] LappleApple opened #155 "Add a CONTRIBUTING.md"
Would also identify 2-3 issues you really want help with that are good candidates for community to-do's, and add them in the README. I could do the add, if you share the issue #'s here.

[2016-05-26 10:57] akurkin opened #157 "Skipper available as docker image"
hey guys,
will be really nice to have skipper available as a docker image, so we can bypass the go get step and use it in a form of docker image.

Thanks,
Alex

[2016-05-26 13:56] lmineiro commented on #157
Skipper is mainly a library, hence the reason why we never included any Docker image.
Of course, there are also the cmd binaries, eskip and skipper. Is this something that you'd like to see packaged as a Docker image?

[2016-05-26 14:27] mo-gr commented on #157
Especially having eskip as a docker image could be useful. People could validate their eskip files without going through the whole `$GOPATH`/`go get` dance

[2016-05-26 14:36] aryszka commented on #157
we can create a docker image and link it from here. The skipper cmd shipped here can be useful with some quick-n-dirties, while eskip can be useful qutie regularly. We can still document that the recommended way of using skipper is to compile your own for production purposes with the potential extensions.

[2016-05-30 11:31] aryszka opened #159 "Support to upgrade protocol http code 101"

[2016-06-03 12:26] LappleApple commented on #155
@aryszka @lmineiro @danpersa Went ahead and made one. This project has a fair number of open issues; to encourage contributions I would highlight a few in the README that you really need.

[2016-06-06 09:55] szuecs commented on #159
As far as I understand we can implement a feature which can do upgrade connections of http in a generic way, such that you can use WS, Spdy or what other protocol the client and backend agrees to handshake.
Because of that I changed the title to make the feature request more clear.

[2016-06-11 10:39] Raffo commented on #148
Closed by #150.

[2016-06-11 10:39] #148 closed

[2016-06-13 13:32] evangelion1204 opened #165 "Add filter to allow/deny certain IPs"
Hi,

We would need something to block or allow certain IP-Ranges to access different routes, maybe it would make sense to use a filter to return a `403`.
A matcher could be an alternative to not even select the route blocked for certain ranges.

`allow: Path("/allow") -> allowIPv4("192.168.1.0/24", "127.0.0.1/32") -> "http://myendpoint.org"`
or
`deny: Path("/deny") -> denyIPv4("100.100.100.100/32"

[2016-06-13 13:40] lmineiro commented on #165
We already have something in those lines. The `Source` predicate was created for similar purposes.

Check https://github.com/zalando/skipper/blob/master/predicates/source

You just need to craft your routing table in a way that only matches with the allowed source IP addresses and a catch all route that returns `403`.

[2016-06-13 13:48] evangelion1204 commented on #165
Yeah it helps, then we don't even expose that this is route is available 😄  I will come back to you if I ever need a `!source`

[2016-06-13 13:48] #165 closed

[2016-06-14 16:17] aryszka commented on #159
agree

[2016-06-17 09:47] szuecs commented on #157
Hi!

Did you have a particular reason to have it running on Arch and not an OS which could be analyzed by https://github.com/coreos/clair ?
As some kind of frontend loadbalancer it would be better to know (or even better automated reported) your CVEs. Maybe Arch can also be used with Clair, but it's not listed.

Thanks and best, sandor

[2016-06-17 10:34] aryszka commented on #157
ok, convinced: will make an ubuntu based one, too.

[2016-06-17 10:53] lmineiro commented on #157
I don't think this is even relevant. Clair should be the one supporting analysis of different distros. AFAIK, it doesn't do any inspection on our Go binaries (can it?). There are clear benefits on keeping this image as slim as it is. If anything, we could consider contributing the analyser for Clair for the base image that we're using - busybox

[2016-06-17 11:36] szuecs commented on #157
@lmineiro this is totally true, but Arch is as big as Ubuntu....
On the other hand what do you need from busybox and why not having FROM scratch?
We would have to implement and maintain a custom Certpool, but this could be good, too.
For example if you want to use an internal CA and make it possible without modifying System CA would be a feature. On the other hand you can also whitelist some CAs y

[2016-06-17 11:54] aryszka commented on #157
@lmineiro @szuecs, sofar, i was thinking about this docker image as something that is used to have a quick-and-dirty skipper available when you don't want to install go and git and compile skipper. for more serious, prodcution use cases, i believe, it is not a big deal to create a new image that contains all that is needed for the purpose (and optimally nothing else). So we should agree on what we

[2016-06-17 12:02] lmineiro commented on #157
"quick-and-dirty skipper available" sounds like the best fit. My expectation is that anyone else out there is going to build their own image with all their requirements.

[2016-06-17 12:28] szuecs commented on #157
I am also ok with it, but it should be clearly communicated that we do not regularly update the Dockerfile and for security reasons you should only run this on localhost.

[2016-06-17 12:47] aryszka commented on #157
agreed :+1:

[2016-06-17 12:48] aryszka commented on #157
i leave this issue open now, and update the readme during the match

[2016-06-20 12:44] #159 closed

[2016-06-21 14:53] mohabusama opened #169 "Method predicate with multiple http methods is not behaving as expected"
Assuming the following eskip example:

``Path("/endpoint") && Method("GET", "POST")``

``eskip check`` passes with no errors.

So the expected behavior was to allow only ``GET`` and ``POST`` http methods, but ``DELETE`` was allowed too.

[2016-06-21 16:32] #169 closed

[2016-07-07 11:33] aryszka opened #175 "log spam: don't log when client connections are broken"

[2016-07-07 11:34] aryszka commented on #175
reproducible with piping filters: compress

[2016-07-12 12:51] lmineiro opened #178 "Evaluate go-lua VM for dynamically loadable predicates/filters"
We've thought about solutions to dynamically load filters (and later predicates)

We should evaluate the integration of https://github.com/Shopify/go-lua and benchmark:
- External script load time
- Execution of a similar native Go filter/predicate

If we get interesting results we can consider a proper integration design with a specific, separate, issue.

[2016-07-15 14:27] pc-alves commented on #97
Working on this issue I came across a question: Should indentation be

1. a single space (`' '`)
2. a single tab (`\t`)
3. one of the above as default, and an option for the number of spaces (`-s4` to have 4 spaces)

Any thoughts? Comments?

[2016-07-15 15:34] aryszka commented on #97
in our practice, two spaces became a de-facto standard. It could be the default for the tool, too. For overriding, I would prefer a single option, where one can specify just anything as the atomic indentation:

[code]

the value of this parameter could be validated with "\s*", because we accept all \s when parsing eskip.

[2016-07-17 10:12] lmineiro commented on #97
Wondering if we could consider the "existing" OFS, RS, ... environment variables that already control the output of some well known tools, line AWK

[2016-07-21 15:18] mikkeloscar opened #179 "Add CertPool interface for dynamically updating cert pool."
Hi,

We (Team Teapot) have a use case where we want to dynamically update the RootCA cert pool used for verifying the endpoint certificate.
#### Usecase:

We have a single [skoap](https://github.com/zalando-incubator/skoap) authenticating and forwarding clients to different GKE clusters. We want to dynamically add/remove clusters and use the etcd routes backend for this. However when creating a cl

[2016-07-21 21:16] lmineiro commented on #179
How different is this from using the -insecure flag? You still control the routes... Are all those self-signed certificates issued by the same CA?

It does sound like an awful amount of moving parts with a large f*up surface...

[2016-07-22 08:34] szuecs commented on #179
From security point of view, adding a known internal CA is much better than using -insecure, because with -insecure a man-in-the-middle attack can happen without knowledge of the caller.

The dynamic part of updating a CertPool would be nice, because we have to create backends on demand that create different certificates and we have not control and influence on the backend (It's google's GKE kube-

[2016-07-22 09:11] mikkeloscar commented on #179
Unfortunately not.

[code]

[2016-07-22 10:25] aryszka commented on #179
it sounds good to me. The approach with the CertPool interface also fine. For the f*up potential: it should be possible to make the default without moving parts, and when someone uses this feature, should be well aware what they're doing.

[2016-07-22 11:52] mikkeloscar commented on #179
Yeah, the patch I linked doesn't change the default behavior of skipper, it only adds the CertPool field to the Options struct, which you can leave out if you don't need a custom certpool.

[2016-07-26 13:57] grassator opened #182 "RFC: Extend *.eskip format with basic abstraction facilities"
The following proposal is to implement several abstraction facilities to *.eskip format. The focus is to have minimal changes to the syntax of the files and introduce bare minimum extra grammar.

## Example

[code]

## Specification

### User-defined constants

A constant MUST be able to represent the following base types:

* Number
* String
* Regular Expression

Each constant identifier MUST be p

[2016-07-26 15:11] aryszka commented on #182
this is awesome!

i am only not sure about these two:

"An identifier for a user-defined filter chain MUST start with a lowercase latin character."
"An identifier for a user-defined predicate MUST start with an uppercase latin character."

while it's very Goish, not sure that users would expect it. Need to consider this. Any suggestions, opinions, wishes?

[2016-07-26 15:28] Raffo commented on #182
I agree with @aryszka that this looks like Go and it is something the could be counter intuitive in something that is not directly Go.

[2016-07-27 08:04] grassator commented on #182
I'm happy to drop this requirement, but my idea here was that it would help to statically verify the routes. Otherwise it will either be a "dumb" macro or we will have to carry types through expansion, which is a bit complicated. However it also might be that I'm totally missing something :)

[2016-07-27 08:37] aryszka commented on #182
can they be verified like this?
to do a complete check, the checking code needs to know about the deployed predicates and filters. If it knows, then it can check if in the final routes, there are only predicates in predicate positions and only filters in the filter positions. did you think about something more?

[2016-07-27 08:47] grassator commented on #182
@aryszka That is true, however `eskip` can know about all the built-in filters, which will cover a lot of cases. For people that do need custom filters we could add some sort of "external" spec later which could probably even be auto-generated from filter go code.

For now, `eskip` could just warn about "unknown" filters and predicates with an option to set it to quiet (or other way around), or ma

[2016-07-28 21:29] aryszka commented on #182
still considering this. I would like it if it was possible to differentiate between a predicate definition and a filter definition. I just don't have a syntax solution on my mind that I would like as a user. Sofar.

[2016-07-29 16:27] aryszka opened #184 "create a Cookie() predicate"
Create a predicate that can be used the parsed cookies in a request. As a supplement to the Header() predicate, this could save the burden of matching a single cookie in the whole "Cookie" header.

[2016-08-05 09:19] aryszka opened #188 "consider killing pooled connections when a route backend has changed"
when skipper is used in the role of a service broker, the backend services may change, redeployed, or new versions tested in parallel (canary). To avoid having connections, or too many connections stuck to the old service instances in the pool, the current solution is to regularly clear the idle connections with a configurable, relatively large time interval, using `http.Transport.CloseIdleConnect

[2016-08-07 15:15] aryszka commented on #155
solved by #183

[2016-08-07 15:15] #155 closed

[2016-08-07 16:11] aryszka opened #191 "close the actual body in the proxy"
if a filter replaces the response body from the backend, the proxy still closes the one from the backend and doesn't close the one from the filter. This way, if the body set by the filter needs to be closing, the filter has no signal when to do it. Also it limits composability in cases when multiple filters would replace the response body. Change the proxy so, that it always closes the actual body

[2016-08-09 10:12] LappleApple commented on #14
Labelled as "enhancement." If "Help Wanted" can also apply, thumbs-up this comment.

[2016-08-09 10:12] LappleApple commented on #29
If "Help Wanted" can also apply, thumbs-up this comment.

[2016-08-09 10:14] LappleApple commented on #30
Is this done yet?

[2016-08-09 10:15] LappleApple commented on #31
Added yet?

[2016-08-09 10:16] LappleApple commented on #32
Added yet? If there are a lot of these docs-related issues filed, I'd just add them directly as a to-do list on #28 and close all these issues.

[2016-08-09 10:16] LappleApple commented on #33
Same comment as on #32

[2016-08-09 10:17] LappleApple commented on #40
If "Help Wanted" can also apply, thumbs-up this comment.

[2016-08-09 10:18] LappleApple commented on #49
Is #189 close to being merged? Then this can be closed.

[2016-08-09 10:18] LappleApple commented on #56
If "Help Wanted" can also apply, thumbs-up this comment.

[2016-08-09 10:18] LappleApple commented on #58
Can we add any additional details/steps here? Then we can farm this out as "Help Wanted," with the label attached.

[2016-08-09 10:19] LappleApple commented on #64
Labelled as "enhancement." If "Help Wanted" can also apply, thumbs-up this comment.

[2016-08-09 10:20] LappleApple commented on #69
Labelled as "enhancement." If "Help Wanted" can also apply, thumbs-up this comment.

[2016-08-09 10:20] LappleApple commented on #80
Labelled as "enhancement." If "Help Wanted" can also apply, thumbs-up this comment.

[2016-08-09 10:21] LappleApple commented on #81
@danpersa @aryszka What's the status of this issue? "In progress," or other?

[2016-08-09 10:22] LappleApple commented on #82
@danpersa @aryszka What's the status of this issue? Still actively in progress?

[2016-08-09 10:23] LappleApple commented on #83
Still active? Any way for others to contribute via additional refactoring or code review?

[2016-08-09 10:24] LappleApple commented on #84
Still active? A needed fix, or a suggested enhancement?

[2016-08-09 10:34] LappleApple commented on #85
Wondering if this is still active, and/or we can label it as a bug.

[2016-08-09 10:35] LappleApple commented on #86
Is this refactoring still a to-do? Might we get some help with it?

[2016-08-09 10:36] LappleApple commented on #89
How could we label this? And is it something others could help with?

[2016-08-09 10:37] LappleApple commented on #96
Is this actually an issue, or a note to self? If the latter, we can close?

[2016-08-09 10:53] LappleApple commented on #98
Any way to open this up to other contributors?

[2016-08-09 10:56] LappleApple commented on #110
Can we label this one as enhancement, @aryszka?

[2016-08-09 10:56] LappleApple commented on #132
Can you provide some quick details about what this is going to do? A sentence = fine.

[2016-08-09 10:57] LappleApple commented on #134
@mo-gr @grassator @aryszka Should I add a "Help Wanted" label to this, or were one of you guys going to do this at some point?

[2016-08-09 10:59] LappleApple commented on #149
@aryszka @Raffo Should we apply a "Help Wanted" label restating the precise help we'd want?

[2016-08-09 11:00] LappleApple commented on #151
Labelled "bug." If I can add a "Help Wanted" label too, give a thumbs-up.

[2016-08-09 11:02] LappleApple commented on #153
@danpersa Can you clarify? Otherwise, we can close this issue.

[2016-08-09 11:07] LappleApple commented on #157
Hey @akurkin, wondering if you have any new feedback on this issue since your original comment and the ensuing discussion. Let us know. :)

[2016-08-09 11:09] LappleApple commented on #157
@aryszka @mo-gr @lmineiro @szuecs @Raffo Now that some time has passed, and some ideas have been shared, what's our final verdict re: Docker image? Seems like something that could enhance UX (and therefore increase potential users), but correct me if I'm wrong.

[2016-08-09 11:11] LappleApple commented on #178
@lmineiro How's it going with this evaluation? Should we add a label "feedback wanted"?

[2016-08-09 11:12] LappleApple commented on #182
@aryszka We could ask for community input here. I proposed on a different issue a "feedback wanted" label.

[2016-08-09 21:14] lmineiro commented on #30
No. It's a potential enhancement with very low priority.

[2016-08-09 21:15] #31 closed

[2016-08-09 21:17] lmineiro commented on #32
This seems like a good issue for someone that wants to get started contributing to skipper. Should be relatively simple and easy with low risk

[2016-08-09 21:19] #40 closed

[2016-08-09 21:21] lmineiro commented on #56
This is kind of a duplicate of https://github.com/zalando/skipper/issues/182

[2016-08-09 21:21] #56 closed

[2016-08-09 21:25] #96 closed

[2016-08-09 21:28] lmineiro commented on #98
Some of the eskip command line tool are destructive, namely, delete, reset and upsert

The idea is to protect those calls with a user confirmation or accept a --force flag for scripts that may use the tool.

It's low priority although it can break backwards compatibility for scripts already using it.

[2016-08-09 21:32] lmineiro commented on #110
Worth waiting for Go 1.7 and the new Context to consider anything that might break the existing API

[2016-08-09 21:34] lmineiro commented on #132
Both binaries should be versioned and we should keep a proper changelog to inform users of the changes.

I suggest something as simple as [SemVer](http://semver.org) for both but this forces us to establish a well defined release process

[2016-08-09 21:44] lmineiro commented on #157
I think we should push images regularly to the public Docker registry. Regardless of the chosen distribution, the image should contain the resulting binaries in the $PATH of such image for easy execution such as:

`docker run skipper`
which should default to run skipper with a basic set good working defaults)

`docker run skipper <any set of skipper parameters>`
that would run skipper with the pro

[2016-08-10 07:41] #153 closed

[2016-08-10 07:45] #81 closed

[2016-08-10 10:19] aryszka opened #194 "support negative numbers in eskip"
:)

[2016-08-10 11:07] aryszka commented on #30
Just tested. It works.

[2016-08-10 11:20] aryszka commented on #32
how about creating a more generic "improve logging" issue? One thing that could be about is to make the modules accept a generic logging object, by providing an interface. This makes it flexible for projects that use skipper as a lib, plus it also helps testing in some cases. See https://github.com/zalando/skipper/pull/189/files#diff-7a3cafdda88442b1b3b129de879f5441R1 in #189

the small, trivial l

[2016-08-10 11:25] aryszka commented on #33
another idea for bundling issues together. This one could go to a "refactor predicates" issue.

The idea there would be to make the predicates look similar to the filters, where the builtin ones are set just the same way as the custom predicates. Making a cleanup in the naming could be part of the effort.

[2016-08-10 11:25] aryszka commented on #33
And it must be done backwards in a compatible way, of course.

[2016-08-10 11:27] aryszka commented on #49
yes, merging it will automatically close this

[2016-08-10 11:29] aryszka commented on #58
sorted implicitly with other efforts.

[2016-08-10 11:29] #58 closed

[2016-08-10 11:31] aryszka commented on #64
actually this was done, to some extent, and the usage of the pool was tested, as well. Closing it for now. The benchmarks are saved as part of the repo (skptesting), so when someone experiences issues with different use cases, they can use them to make measures.

[2016-08-10 11:31] #64 closed

[2016-08-10 11:32] aryszka commented on #80
some of the related issues could be bundled into a single "innkeeper client" issue.

[2016-08-10 11:46] aryszka commented on #82
this was actually implemented in #127

[2016-08-10 11:46] #82 closed

[2016-08-10 11:58] aryszka commented on #83
i would close this now, and have a discussion to the innkeeper crew to align on the plans. @danpersa , what do you think?

[2016-08-10 11:58] #84 closed

[2016-08-10 11:59] aryszka commented on #86
some of these changes need to be handled together. let's close this now.

[2016-08-10 11:59] #86 closed

[2016-08-10 12:09] aryszka commented on #98
i vote for the unix way to be default :)

[2016-08-11 07:19] #30 closed

[2016-08-12 11:24] #184 closed

[2016-08-12 11:53] #157 closed

[2016-08-15 15:14] #49 closed

[2016-08-23 20:33] aryszka opened #198 "check if '/' and '' paths are handled/tested properly when ignoreTrailingSlash is on"
https://github.com/zalando/skipper/blob/master/routing/matcher.go#L208

[2016-08-23 22:35] aryszka opened #199 "Improve route prioritization"
Currently priority routes are supported only in the form of hard coded extensions, and this makes their maintenance rigid. To benefit from the dynamic configuration in case of the priority routes, find a way to express priorities in the route configuration.

[2016-08-30 13:25] grassator opened #202 "Allow to cleanup resources for filters"
Currently filters instantiated using a `createFilter` method can leak memory or other resources if they are requisitioned on creation and the corresponding route is consequently removed from a skipper instance.

The proposal is to add an additional interface `filter.ManagedFilter` that would have a single `Close()` method that is called whenever a route is removed from a skipper instance.

[2016-08-30 13:32] #191 closed

[2016-09-01 11:30] mikkeloscar opened #203 "Share tls.Config between proxy and upgradeProxy"
It would make sense to share the `tls.Config` used by the proxy with the updateProxy instead of using two separate, but identical tls.Configs.

Our specific use case is that we are using a slightly modified version of skipper with the changes discussed in #179 and for this we need the `tls.Config` to be shared.

[2016-09-02 13:17] #203 closed

[2016-09-02 13:18] aryszka opened #205 "debug proxy, wrong uri"
The debug proxy reports the wrong uri for the outgoing request. Related: #151

[2016-09-28 10:14] aryszka commented on #87
Implemented in #161

[2016-09-28 10:14] #87 closed

[2016-10-07 09:30] mo-gr opened #208 "setPath filter"
It is a very common use case to just set the path instead of modding it. This happens for example on every route to a layout service.

So instead of writing `modPath(".*", "/new/path")` I would prefer to be able to write `setPath("/new/path")` instead to avoid unnecessary boilerplate of repeating `".*",` over and over again.

[2016-10-07 12:02] lmineiro commented on #208
My initial instinct is to vote against this feature. It'd be the first time we change completely from the read-only nature of predicates which, until now, rely completely on the expectation that the request used for matching was, indeed, the request sent from the client.

This predicate is a clear hybrid of Predicate + Filter and challenges this current design separation.

[2016-10-07 12:04] lmineiro commented on #208
I wrote something and even voted against it because the fact that you mentioned "predicate" in the issue title never left my mind. You mean filter, right?

[2016-10-07 13:14] mo-gr commented on #208
yes, I meant filter... sorry... will change

[2016-10-17 12:46] stoewer commented on #149
Hi All! I ran some `grep` commands on the `golint` output and identified the following kinds of warnings:

1. Public function/method/type should have comment or be unexported
2. Malformed comment on method/function/type
3. Receiver name should not be an underscore
4. Inconsistent reciever names
5. Should omit 2nd value from range
6. Exported func New returns unexported type
7. Error vars should be

[2016-10-17 12:56] lmineiro commented on #149
That would be greatly appreciated @stoewer. Eager for the PR

[2016-10-24 00:04] pc-alves commented on #61
Let's go into more details here. Is the idea to add this as a filter, predicate, all of the above? Is it meant to be a part of the built-in predicates and filters, or should it exist as separate methods?

[2016-10-24 08:10] lmineiro commented on #61
I think this is neither predicates or filters. If memory doesn't fail, this would be about much of the stuff found at https://golang.org/src/net/http/httputil/reverseproxy.go
For example, some headers shouldn't be forwarded (See `hopHeaders` around line 111) while others should be added like the `X-Forwarded-For` around line 211

[2016-11-18 10:41] pc-alves commented on #61
Ok, so far here is what I identified on this topic:

- Support for X-Forwarded-For header (https://en.wikipedia.org/wiki/X-Forwarded-For)
- Support for Forwarded header (https://tools.ietf.org/html/rfc7239)
- Prevent Hop-By-Hop headers from being forwarded (https://tools.ietf.org/html/rfc2616#section-13.5.1)

[2016-11-22 10:41] mo-gr opened #222 "Status endpoint with list of filters and predicates"
Skipper can be extended with custom filters and predicates at compile time. This is a great feature.

But it would be really helpful to have a status endpoint (maybe on the debug listener?) that enumerates all filters and predicates, which are known to that specific instance of skipper.

[2016-11-22 13:17] csenol opened #225 "Log a warning when routes are racing"
Whenever two or more routes races and their precedences are non-deterministic, issue a warning in log messages

[2016-11-22 13:33] lmineiro commented on #222
This could be enriched with #132. I'd expect the version and some kind of host identification to be present in that output

[2016-11-25 18:47] evangelion1204 commented on #182
@aryszka
I completely read through the definition and regarding #215. I simply have one question regarding constants in general. For me they sound more something like a precompiler, something that is being replaced when parsing the routes.
On the other hand those constants could also be injected into the `FilterContext` and then be used in a dynamic replacement like the params of #215.

Which coul

[2016-11-29 17:08] hjacobs opened #227 "kube-skipper: data client for Kubernetes Ingress resources"
Create a new "data source" for Skipper to configure routes automatically from declared `Ingress` resources:
* Poll on Kubernetes `Ingress` resource http://kubernetes.io/docs/user-guide/ingress/
* Configure routes accroding to defined host and path matching

Idea is to use skipper as a HTTP router in combination with [kube-ingress-aws-controller](https://github.com/zalando-incubator/kube-ingress-aw

[2016-12-01 15:14] hjacobs commented on #227
@aryszka started working on this: https://github.com/zalando/skipper/tree/kube-client

[2016-12-08 12:07] aryszka opened #230 "cookie filter(s)"
it would be good to have filters that simplify setting cookies. Currently the only way is to set a header, wich is quite limiting and not too friendly to the user.

[2016-12-08 12:41] evangelion1204 commented on #230
In general I think the first thing that should be moved is indeed the `filterutils`. They could come in handy for all following filter development like I did here https://github.com/zalando-incubator/skoap/pull/12 I was in general missing the utils and just copied the code 😄

[2016-12-12 20:05] hjacobs opened #235 "Configure Zappr"
We should enable Zappr, right?

[2016-12-12 20:33] aryszka commented on #235
previously i was against it, because of the strange self-approval thing that we have on some projects. What are our options for approval of PRs?

Others, opinions on this issue?

[2016-12-13 08:28] Raffo commented on #235
@aryszka I'm generally in favor, but can you give us more details on what you mean by "strange self-approval"?

[2016-12-13 17:10] aryszka commented on #235
what i was referring to, i noticed in some repos, that the creator of the PR can approve their own PR, and when e.g. 2 approvals are required, it counts as one. I checked the zappr docs now, and it seems to be possible to configure it in a more logical way.

all-in-all, enough votes, let's install zappr :)

[2016-12-15 15:25] aryszka opened #237 "travis build fails sometimes due to test calling out start an etcd process"

[2016-12-16 12:58] aryszka opened #239 "swagger -> (authenticated) routes"
collect ideas here for an API gateway, whose routing rules can be controlled by a common swagger spec.

- Source: it should be possible to load a combined swagger spec from http:// or file:// URLs

[2016-12-16 15:12] sarnowski commented on #239
I created some intro slides:
https://docs.google.com/presentation/d/1Jgh1bPoH8sCEusDSuj4kl539ldwU6ONQEDUhjntg5Ag

[2016-12-16 19:21] aryszka opened #240 "update the maintainers"

[2016-12-16 19:25] hjacobs commented on #240
IMHO the `MAINTAINERS` file should not just list all contributors, but instead point to the core maintainers who feel responsible reviewing all PRs --- `MAINTAINERS` should just be 2-4 persons here I think.

[2016-12-16 22:27] hjacobs opened #241 "Kubernetes: Skipper throws Internal Server Error for service without endpoints"
I created a Kubernetes service and Ingress and the service has no endpoints (wrong label selector):

[code]

I think it's because the service has no endpoints:
[code]

I would expect Skipper to return HTTP error 503 in that case:

[2016-12-16 22:49] aryszka commented on #241
right. backend address validation is missing, ergo it's exactly how you suspect. +1 for 503

[2016-12-16 23:02] aryszka commented on #240
i like the responsibility angle. Thanks for the advice. I prefer more than less for this. Closing this for now, and will discuss it with the core maintainers.

[2016-12-16 23:02] #240 closed

[2016-12-20 16:11] hjacobs opened #242 "Kubernetes: Skipper should keep the original "Host" header"
Here the current headers of an application deployed behind Ingress with Skipper:

[code]

(I kept all original headers for demonstration)

As you can see, the `Host` header is pointing to my internal Kubernetes service ClusterIP :disappointed:

Skipper should keep the original `Host` header value (which would be `myapp.example.com` in this case). All the other `X-Forwarded-*` headers are already s

[2016-12-20 16:35] aryszka commented on #242
see https://godoc.org/github.com/zalando/skipper/proxy#Flags

in the executable it is the -proxy-preserve-host flag.

[2016-12-20 17:08] hjacobs commented on #242
@aryszka so it's only a runtime flag to be changed on https://github.com/zalando-incubator/kubernetes-on-aws ?

[2017-01-05 16:40] grassator opened #243 "FlowId support in logs"
Currently skipper doesn't put FlowId in the access logs or in the application log, so this makes both correlating an access log entry with some downstream request pretty difficult and it makes impossible to correlate access log entry with other logging (e.g. some other filter's error report).

Would be nice if both things worked whenever a request has an `X-Flow-Id` header already or route has `fl

[2017-01-05 16:42] grassator commented on #208
Already implemented and available.

[2017-01-05 16:42] #208 closed

[2017-01-06 12:40] jukey opened #244 "Link tech blog articles and conference videos related to Skipper in the readme"
### Idea

1. In order to give people a bit more background why Skipper exists and what alternatives where considered it would be great to link this blog article in the README.md:

   - [Building our own routing solution](https://tech.zalando.com/blog/building-our-own-open-source-http-routing-solution/)

2. Are there also some conference talks related to skipper available we could show?

### Motiva

[2017-01-13 15:59] szuecs opened #246 "Kubernetes: warn if Ingress backend port does not match any actual service port"
As deployer I want to get a warning if ingress can not reach the member, because of a wrong configuration.

[2017-01-13 16:54] hjacobs commented on #246
Situation: somebody defines `ClusterIP` service with port 80, but declares port 8080 as backend service port in Ingress. This leads to gateway timeout --- it would be nice to see a warning message in the Skipper logs about the port mismatch.

[2017-01-13 16:54] hjacobs commented on #242
This was fixed by simply using the mentioned command line option.

[2017-01-13 16:54] #242 closed

[2017-01-13 16:55] hjacobs commented on #241
Related: #246

[2017-01-16 23:09] #241 closed

[2017-01-18 10:09] mo-gr opened #248 "Watch for changes in `routes-file`"
If skipper is started with a `-routes-file` argument, it would be cool, if skipper would watch for changes to that file and update the routing tables accordingly.

[2017-01-18 11:23] aryszka opened #249 "preserve incoming content-length: 0"
when the backend communication happens over http2, and the incoming request contains the content-length: 0 header, the outgoing request looses this information and sends a content-length: -1 (unknown) header.

[2017-01-18 12:59] lmineiro commented on #249
I'm inclined to thing skipper making this call would be wrong. As a proxy there is an incoming request and there is another, "almost" mirrored backend request. I'd prefer to leave the underlying stdlib to do it's job.

If this means the underlying stdlib is doing a wrong job, we could add a workaround flag. This is what we could do for those building the project with a different stdlib version tha

[2017-01-18 14:06] aryszka opened #250 "consider trimming the hop-by-hop http headers"
See: https://tools.ietf.org/html/rfc2616#section-13.5.1

[2017-01-18 15:25] lmineiro commented on #250
This is mentioned and I'd expect it to be covered by #61
We can probably detail the original ticket title, at a minimum

[2017-01-18 20:39] lmineiro opened #251 "consider using ULID for flowid"
Recently learned about https://github.com/oklog/ulid which, without entropy, seems very performant and could offer lexicographically sortable flow Ids.

I also like the alphabet better.

Existing filter can be refactored to support a a new parameter defining the generator.

head to head benchmarking should be enough to add to the docs.

I suggest the fastest to become the default

[2017-01-18 20:43] lmineiro commented on #251
Results on Mac OS X, 2 Ghz Core i7
current flowid
[code]
oklog/ulid
[code]

[2017-01-19 07:18] lmineiro commented on #251
First implementation, after refactoring a new interface for FlowID generation reveals that ULID generator would return the string representation with the following benchmark results:

[code]

[2017-01-19 11:56] aryszka commented on #251
which result of the current flowid compares to this?

[2017-01-19 11:56] aryszka commented on #251
(ot: i like the code base of ulid :) )

[2017-01-19 11:58] aryszka commented on #250
thx

closing because a dupe of #61

[2017-01-19 11:58] #250 closed

[2017-01-19 12:13] aryszka commented on #249
"I'd prefer to leave the underlying stdlib to do it's job.": i agree that we should stick to this. However, the net/http docs say:

[code]

the stdlib provides the content length from the incoming header in the ContentLength field. We map the value from the incoming content-length header to the outgoing header. But the stdlib expects this info in the ContentLength field. All would be good, but the

[2017-01-19 13:48] lmineiro commented on #251
To answer your question, I've refactored the old benchmarks to include the length of the ULID.
ULID returns a 23 char long flowId.

[code]

[2017-01-19 13:52] lmineiro commented on #251
It's worth mentioning that the ULID generator from my current approach uses a sync.Pool with entropy readers, as suggested by https://github.com/oklog/ulid#usage

[2017-01-19 15:34] hjacobs opened #252 "Kubernetes: HTTP -> HTTPS redirector"
Skipper should support HTTP -> HTTPS redirects out of the box to be used from our [Kubernetes Ingress AWS Controller](https://github.com/zalando-incubator/kube-ingress-aws-controller).

/cc @aryszka @lmineiro

[2017-01-19 15:34] hjacobs commented on #252
AFAIK we only have to move a few lines of code from a Zalando-internal repo to this OSS repo :smile:

[2017-01-19 15:57] aryszka commented on #252
pssst :D

what i did in other, small scale deployments, was to deploy another skipper instance to do the https redirect. It was another process in the same docker container. What we can consider here is that in Kubernetes this gets nicer, because we can just add another skipper container to the pod with fixed config doing only the redirects. What do you think?

[2017-01-19 16:09] hjacobs commented on #252
@aryszka yes, this might do the job :smile:

[2017-01-19 16:12] aryszka commented on #252
@hjacobs ok, i'll test it in https://github.com/zalando-incubator/kubernetes-on-aws

[2017-01-19 20:01] lmineiro commented on #251
For the sake of confirmation, I made some additional tests.

1. Reusing the same entropy provider directly as a generator internal member (**not thread safe**)
[code]
2. sync.Pool Get() always returning the same entropy provider (**not thread safe**)
[code]
3. It's exactly the same as 1) above, but uses a mutex (**thread safe**)
[code]

[2017-01-19 22:57] hjacobs opened #254 "Kubernetes: support authentication via serviceaccount (do not require kubectl proxy)"
The Kubernetes data client should work out of the box with Kubernetes when deployed into a cluster without the need of a `kubectl` sidecar. It needs to read the Kubernetes service account credentials (token and `ca.crt`).

[2017-01-19 22:58] hjacobs commented on #254
Basically we need/want to get rid of the `kubectl` sidecar here: https://github.com/zalando-incubator/kubernetes-on-aws/blob/dd208ff0dc8a7d2b069b927813857b5379ddbc7f/cluster/userdata-master.yaml#L1062

[2017-01-20 10:32] evangelion1204 commented on #243
Maybe it could be checked if either `X-Flow-Id` is part of the request or the response - currently response header is being set by ` flowId()`.

[2017-01-20 11:54] aryszka commented on #251
the difference between 3 and 4 got me by surprise. +1 for 4

[2017-01-20 14:38] lmineiro commented on #251
I've been following https://github.com/golang/go/issues/14939

[2017-01-20 20:33] lmineiro commented on #251
Implemented in #253

[2017-01-20 20:33] #251 closed

[2017-01-21 11:43] lmineiro commented on #248
I did some initial research with https://github.com/fsnotify/fsnotify, which seems to be the de facto standard for this.

So far, under Mac OS X this seems to be a luck game. The project mentions issues with Spotlight. I tried to apply the mentioned workarounds but they don't seem to really solve the problem.

The events I got:
[code]

And then it stopped working. The fsnotify seems to be the more

[2017-01-21 11:53] lmineiro commented on #248
https://github.com/andreaskoch/go-fswatch could be a reasonable alternative

[2017-01-21 12:18] lmineiro commented on #248
Tests using https://github.com/rjeczalik/notify are more promising and seem to work fine under Mac OS X:

[code]

[2017-01-27 13:13] hjacobs opened #260 "Kubernetes: do not switch back the health check to false when failing to load Ingress resources"
We should never toggle back the health check to `false` in case of transient Kubernetes errors, as this would remove the node from the load balancer. The current behavior will disable all apps if the API server is temporary unavailable (e.g. because of etcd problems).

Only this `if` needs to be removed: https://github.com/zalando/skipper/blob/master/dataclients/kubernetes/kube.go#L347

[2017-01-27 15:08] #260 closed

[2017-02-02 08:28] Joneser commented on #235
What should the zappr rules for this repo be?

I'm assuming 2 approvals and one of them isn't the PR Opener? If so I can add a PR with the zappr file but I'm not sure if I will have permissions to enable it on this repo.

[2017-02-02 13:19] aryszka opened #263 "improve error logging"
there are some error log calls that don't pass any additional information or code reference with the error. E.g: `log.Error(err)`. Prepend some explanation or reference to these cases.

[2017-02-02 14:44] #235 closed

[2017-02-03 14:32] aryszka opened #268 "cancel the request flow on filter panics"
when recovering from a filter panic, the error is currently only logged, but the request flow continues. This can be dangerous. Suggested fix: shunt the request flow with 500.

[2017-02-03 14:32] sarslanhan commented on #222
This could be closed as #267 was merged.

[2017-02-03 15:03] lmineiro commented on #268
Thinking if we could add some troubleshooting/details to the 500, like filter/route-id which failed

[2017-02-03 15:06] lmineiro commented on #222
Isn't #267 just reporting the filter and predicates for a single route? I thought this issue was about getting a list of the compiled (available) filters and predicates. @mo-gr ?

[2017-02-03 15:18] sarslanhan commented on #222
@lmineiro @mo-gr I had the idea that debug listener is returning info about a single request. This is why I thought it could be closed. But then if that is the case the idea is different and maybe status endpoint or something else would make more sense.

[2017-02-03 15:18] aryszka commented on #268
i'll have a look what info we can add there. Filter names as a minimum.

[2017-02-06 07:58] hjacobs opened #269 "Skipper produces 500 "Internal Server Error" HTTP status code on EOF"
We observe sporadic issues with Skipper connecting to Kubernetes `ClusterIP` service. Relevant Skipper log lines:

500:
[code]

500:
[code]

Expected behavior: Skipper should never produce "Internal Server Error", but instead handle the problem and report an appropriate status code (maybe 503?).

[2017-02-06 10:12] aryszka commented on #269
the msg=EOF is weird. At first sight not sure what's the source of it, spotted in other deployments, too. Deploying this could help: https://github.com/zalando/skipper/pull/266/files , can I get +1 there if the PR is ok?

[2017-02-06 10:45] #263 closed

[2017-02-06 10:50] aryszka commented on #269
https://github.com/zalando/skipper/releases/tag/v0.9.5

[2017-02-07 13:56] aryszka commented on #269
code to reproduce:

https://gist.github.com/aryszka/6da6e379750994ae348646a88ecd84db

(TLS is not needed for reproducing it, but here's a makefile that generates certs for TLS tests and runs the above code:
https://gist.github.com/aryszka/0d1a657ae6f7ac660a17cab79424173c)

[2017-02-07 13:58] LappleApple commented on #97
Hey @aryszka @pc-alves @lmineiro This issue started in Jan 2016. Anything we can do here--add a Help Wanted label, add something to the README, etc.? Would like to close.

[2017-02-07 14:19] LappleApple commented on #179
Hey @mikkeloscar @aryszka @lmineiro @szuecs Do we still need this issue?

[2017-02-07 14:34] LappleApple commented on #175
Hey @aryszka, is this still in the plans? Let's add a "Help Wanted" label, or close?

[2017-02-07 14:40] LappleApple commented on #202
Hey @grassator @aryszka @Raffo @szuecs

[2017-02-07 14:45] LappleApple commented on #199
@aryszka @szuecs @mo-gr @Raffo @lmineiro Do you want to add a "Help Wanted" label here?

[2017-02-07 14:56] LappleApple commented on #198
@aryszka, add a Help Wanted label? Close?

[2017-02-07 15:05] LappleApple commented on #194
Hi @aryszka, you still planning to do this? Suitable for "Help Wanted" ticket?

[2017-02-07 15:08] mikkeloscar commented on #179
No, this is not relevant anymore.

[2017-02-07 15:08] #179 closed

[2017-02-07 15:09] aryszka commented on #269
considering the behavior of the code linked above, the issue can be that the connection close on the server doesn't happen immediately, even if it is reported to be closed. In this case the 'write: broken pipe' error makes sense, and the only weird thing is when it reports EOF.

So reporting '503 Service Unavailable' seems legit. Or maybe '502 Bad Gateway'?

[2017-02-07 15:09] LappleApple commented on #188
Hi @aryszka, you still planning to do this? Suitable for "Help Wanted" ticket?

[2017-02-07 15:15] szuecs commented on #269
I would suggest 502 or 504 https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#5xx_Server_Error

503 would mean that skipper itself is unavailable.

[2017-02-07 16:26] pc-alves commented on #97
PR #180 implemented pretty-print with a default option of two spaces for indentation.
@aryszka suggested the `-indent "    "` command line option, which was not implemented. I left the issue open for this reason. But I'm fine with closing it, and having the `indent` option as a separate issue.

[2017-02-07 16:41] LappleApple commented on #97
Thanks, @pc-alves.

[2017-02-07 17:18] LappleApple opened #270 "implementing the -indent option"
From @aryszka:

"in our practice, two spaces became a de-facto standard. It could be the default for the tool, too. For overriding, I would prefer a single option, where one can specify just anything as the atomic indentation:

-indent "    "

the value of this parameter could be validated with "\s*", because we accept all \s when parsing eskip."

See more [here](https://github.com/zalando/skipper

[2017-02-07 17:19] #97 closed

[2017-02-07 23:44] aryszka commented on #269
For the reported EOF, the related issue in Go net/http is this: https://github.com/golang/go/issues/13667 . It was reintroduced by this: https://github.com/golang/go/issues/16465

Interesting can be also: https://golang.org/src/net/http/response.go#L150

[2017-02-08 01:24] aryszka commented on #188
Hi @LappleApple , yes, help is welcome. Important to know that this is really rather for consideration first before any implementation. It's kind of a design question, and it would be important to discuss this based on the usage experience collected so far. We actually have an ongoing investigation in relation to #269 that may be relevant. I try to give a description to the issue.

[2017-02-08 01:39] aryszka commented on #194
Hi @LappleApple , this is kind of an embarassing issue :laughing: ... we are planning to create a better parser and a somewhat extended syntax for eskip. See #182

Since it seems like it's taking a while, this one can be an easy one for someone who takes it. I add the helpwanted label.

[2017-02-08 01:40] aryszka commented on #198
closing, thx

[2017-02-08 01:40] #198 closed

[2017-02-08 01:42] aryszka commented on #199
hmm.. we had a pull request implementing this, but we decided not to merge it, because we can avoid a situation of "priority race" and keep the design simpler. Closing.

[2017-02-08 01:42] #199 closed

[2017-02-08 01:43] aryszka commented on #202
this is relevant. At least one service being implemented may need it in the near future. Adding the Help Wanted label.

[2017-02-08 01:46] aryszka commented on #175
We have some raw thoughts about refactoring the logging a bit in general. Closing this one for now.

[2017-02-08 01:46] #175 closed

[2017-02-08 10:08] LappleApple commented on #194
Thanks, @aryszka.

[2017-02-08 11:15] szuecs commented on #269
This is indeed interesting, because it shows that it doesn't expect to get a close() without any write() before.

[2017-02-09 15:38] aryszka commented on #269
the below two links can be interesting, too. The changeset is "only" one year old.

https://github.com/golang/go/issues/4677
https://github.com/golang/go/commit/5dd372bd1e70949a432d9b7b8b021d13abf584d1

[2017-02-13 09:59] sarslanhan commented on #29
@lmineiro @aryszka What would be the expected functionality for this? I have an early prototype that can load the eskip files in a github repo and initialize the routes with those. I have a question regarding how to select the eskip files to apply. These are the options I can think of:

1. Load all files with `.eskip` (or something else) extension
2. Have an entry file in the project root (like .s

[2017-02-13 10:26] lmineiro commented on #29
Hi @sarslanhan, thanks for offering help.

When we first thought about this I believe we considered a very basic DataClient which would be initialized with a single GitHub object to load routes.

You idea of loading entire sets of eskip files sounds great. I also see how the DataClient could standardize on some well-known manifest file to keep code initialization cleaner. Both sound great to me.

[2017-02-13 11:17] aryszka opened #271 "improve the tee() filter"
Let's use this entry to collect additional requirements to the tee() filter and consider them together to improve it with keeping backwards compatibility.

[2017-02-13 11:18] aryszka commented on #271
Improvement: allow the user to decide whether the branched requests should follow redirects or not.

[2017-02-13 12:41] aryszka commented on #29
agree with @lmineiro that these are great ideas.

I think the DataClient could have some initialization options. One set of these options could control which eskip files to load. It could be sg like this:

1. default: load all eskip files
2. if the repo has a manifest with gob or regexp wildcards, use it to match the eskip files in the repo to be loaded
3. if the dataclient options specify wildcar

[2017-02-13 17:40] hjacobs commented on #29
I have some doubts about the "production readiness" of any GitHub data client: do we really want to encourage people to have a direct production dependency to GitHub/GHE? That sounds wrong to me.

[2017-02-14 17:23] aryszka commented on #29
@hjacobs good point. @lmineiro , how about approaching this as a general git client?

[2017-02-14 21:25] krism74 opened #272 "Help Requested"
Help Requested:

Newbee with skipper

trying to user skipper for first time and having hard time coming up with1

- multi-route eskip file (with no example on how this is done, i thought this would work)
    hello: Path("/hello") -> "https://www.google.com"
    hello1: Path("/") -> "https://www.yahoo.com"

-  tried to pass in multiple eskip files to main using the -routes-file ex: -routes-file exa

[2017-02-14 21:31] lmineiro commented on #272
I believe you're only missing the `;` after each route line, for ex.:
[code]

I tested this locally:
[code]

And my example.eskip file:
[code]
Can you try this?

[2017-02-14 21:51] krism74 commented on #272
Thank you !! The above suggestion works
hello: Path("/hello") -> "https://www.google.com";
hello1: Path("/") -> "https://www.yahoo.com";

Awesome
couple more questions
1. Any suggestion on how to be able to dynamically load the changes to the example.eskip file when I add a new route?
2. Is there a way to mix routing with a simple GET vs a Proxy GET, for example the case of "hello1" above displays

[2017-02-14 21:58] aryszka commented on #272
1. dynamic changes from the routes file:
follow this issue: https://github.com/zalando/skipper/pull/257

if this is really critical, maybe a simple polling implementation can do the job temporarily, but currently it is not supported. For dynamic loading, the primary solution is to use etcd, which is also a better choice in a distributed environment.

[2017-02-14 22:07] krism74 commented on #272
@aryszka
Thanks for the pointer to the issue on reload, will explore the options provided there. Any suggestions on the stylesheet issues? Yahoo.com is just an example, something i am working will have an authenticated site which ofcourse will have css etc and would want to see all the assets properly displayed.

Any suggestions on how to go about it?

thanks in advance
kris

[2017-02-14 22:09] aryszka commented on #272
2. mixing GET vs Proxy GET

not completely sure about the exact question but the example in the explanation is pretty much possible. Once you need to make sure to match not only a particular path with Path("/hello"), but a subtree, e.g. Path("/hello/**") or PathSubtree("/hello") as a shortcut. This is called a 'predicate'. Then you probably want to trim the matching path with a 'filter': modPath("

[2017-02-14 22:19] krism74 commented on #272
@aryszka
That is awesome it works really !!

Is there a good developer documentation I can refer to see some of the options available for predicates etc apart from godoc and any examples?. This is a very good framework as I can see it and would like to explore more

thanks in advance
kris

[2017-02-14 22:32] aryszka commented on #272
now tested, and if this is about the styling and scripting content of the pages, then it doesn't work as expected, for various reasons, that all boiles down to the difference between a reverse proxy and a transparent forward proxy (that simply just can be called a "proxy"). Skipper is the former one. Here's some examples from the above test:

1. when we request localhost:9090/hello with the above

[2017-02-14 22:44] aryszka commented on #272
@krism74

"Is there a good developer documentation"

Sry. I'd agree that we have a slight debt there. While we could say that we are covered by the godoc and all information can be found in it, at the current amount of features and their combination possiblities, a better user guide or manual would be also helpful. Until the docs improved, I can only recommend the godoc. And of course, always happ

[2017-02-15 01:50] krism74 commented on #272
Actually it looks more like what I can use for my work as I need a reverse proxy. I will explore the options available and see if it makes a fit.

thanks for all the help, will definitely post here if I need more help

thanks
kris

[2017-02-15 10:14] sarslanhan commented on #29
@aryszka so in that case we need a local copy for the repo right? if yes this also boils down to the issue related to watching for the file changes and polling the git repository.

[2017-02-15 11:03] aryszka commented on #29
@sarslanhan true, sounds like that. It's possible that a more generic http client and the file watching would cover the use cases without any specific technology. @lmineiro , what do you think?

[2017-02-15 11:27] sarslanhan commented on #29
independent of how this issue evolves, i like the idea of having a manifest. maybe it could be extended in another ticket and we can decide on a format.

[2017-02-16 16:03] kode4food commented on #248
@mo-gr I'm assuming the value proposition here is that you don't incur the explicit restart cost during development.  Is that correct?  Would there be any value to this feature existing once deployed into production?

[2017-02-17 12:45] #272 closed

[2017-02-17 14:26] mo-gr opened #274 "Backend type: loopback"
Currently, skipper supports two types of backends: shunts and hosts. I suggest adding a third type of backend named `<loopback>` (name open for discussion).

What this backend type would do, is re-execute the whole routing and filterchain a second time for the given request. This of course only makes sense if the filters leading up to this endpoint have modified the request. Otherwise, the endpoin

[2017-02-17 17:05] aryszka commented on #274
i think the context should be reused. For the statebag: good question. We would need to collect some data about the current usage.

[2017-02-17 17:07] aryszka commented on #274
it is imporant to emphasize the need for protection against infinite looping. If reusing the context, then one possible way would be to have a counter. The initial value would be a global config of the proxy instance, and if reaches zero, the proxy would return with an error.

[2017-02-17 17:13] sarslanhan commented on #248
@lmineiro @mo-gr I have a version that works with https://github.com/fsnotify/fsnotify on MacOS. I also added support for loading & watching a whole directory (and its sub-directories) based on file extensions. There was already a discussion under #29 about a manifest file that could make extension based approach better.

I will try to send a PR in the next days.

[2017-02-19 11:45] sarslanhan commented on #248
@kode4food for Zalando's use case I believe that is correct. I am not even sure if we use `-routes-file` option in production. I guess no.

But it would unblock features like #29 which again might not have a Zalando specific use case at the moment.  (not Github client but a general git client version)

However, in my opinion, as it is an open source tool, supporting different ways to load/update r

[2017-02-19 11:59] kode4food commented on #248
@sarslanhan for a development workflow, it's easy enough to monitor the files externally and bounce the service, no?  the cost shouldn't be too high because it's Go, not Java.  I guess my concern is over adding a bunch of overwhelmingly cold code paths to a key piece of infrastructure.

[2017-02-19 12:09] sarslanhan commented on #248
@kode4food I actually think it is a lot nicer if we can add these data clients as separate packages and let the user decide which data clients to attach. I think it should be possible with a modified main file since the skipper [option](https://github.com/zalando/skipper/blob/master/skipper.go#L126) is already there.

[2017-02-20 10:17] mo-gr commented on #274
Regarding infinite looping: An alternative would be a set containing the route-ids already used in processing this request. As soon, as a route is chosen the second time, return with an error. (circle-detection)

[2017-02-20 10:31] aryszka commented on #274
with looping, routes can change during the lifetime of the same request. so to me, the counter feels safer. wondering now, whether the routing changes can cause any other issues with looping..

[2017-02-20 12:17] mo-gr commented on #274
Ok, so a new configuration along the lines of `maxInternalRedirects` is the way we go? Sounds reasonable.

[2017-02-21 03:17] krism74 commented on #61
Greetings ,

I actually wanted to create a separate thread but since this is a related topic thought I might as well ask here.

Is there a way to pass headers to a service GET/POST request for example : REMOTE-USER or X-FORWARDED-USER something similar to
request.Header.Add("REMOTE-USER","user") or request.Header.Add("X-FORWARDED-USER","user")

thanks in advance
kris

[2017-02-21 08:22] lmineiro commented on #61
I believe those will be forwarded if they're already present.
Are you asking if skipper should be adding those headers?

[2017-02-21 10:11] aryszka commented on #61
@krism74 if it is about the incoming headers, then as @lmineiro said, they are passed through. If it is about adding additional headers, you can setRequestHeader or appendRequestHeader filters. See https://godoc.org/github.com/zalando/skipper/filters/builtin#NewSetRequestHeader

[2017-02-21 19:09] krism74 commented on #61
Greetings
Here is my scenario, I am trying to use skipper as a reverse proxy(for services) and need to set header attributes on the request header before passing them off to backend services.

So I have the following
`serviceA: PathSubtree("/serviceA")  -> requestHeader("X-Forwarded-User", "xxx.yyy") -> setRequestHeader("X-Forwarded-Groups", "Services") -> "http://xyz.abc.com:9000";`

I tried the

[2017-02-21 19:36] aryszka commented on #61
setRequestHeader() and appendRequestHeader() are mostly equivalent to http.Request.Header.Set() and http.Request.Header.Append()

i just tested the following route, and it works:

[code]

(it only differs in changing the path for httpbin)

If we run then skipper having the above in the file `example.eskip`:

[code]

and then we curl:

[code]

then the response from httpbin.org will show that the f

[2017-02-22 10:45] marttinen opened #278 "targeting a port only destination ":1234" wont work, but passes `eskip check`"
I wanted to simply route incomming requests based on some filters to different ports - using the typical go format for addresses `":1234"`.

The eskip file will validate via `eskip check simple.eskip` but skipper will report an error at startup and returns 404 when calling the endpoint. It will work when the target address is formed like `"http://:1234"`

Maybe the validation of eskip could be imp

[2017-02-27 15:52] aryszka opened #282 "leak in backendBandwidth() and backendChunks() filters"
the change to the handling of the outgoing request body in:

https://github.com/zalando/skipper/pull/277

...causes a leak in the following filters in the diag package:

- backendBandwidth()
- backendChunks()

the bug because the request body is expected to be closed by the RoundTripper. These filters spawn a goroutine and set an io.PipeReader as the body. This goroutine never terminates unless th

[2017-02-27 18:01] aryszka opened #283 "when shunting the request flow, the outgoing request body is closed"
While in most cases not closing the outgoing request body is fine, when there is a filter that sets its own body, it may expect it to be closed, as the RoundTripper in simple requests closes it.

Related issue: #282

Possible fixes:

A: when calling FilterContext.Serve(), the body would be closed if it has changed during executing the preceding filter chain

B: decide that the filters should handl

[2017-02-27 21:06] hjacobs opened #284 "Kubernetes: support Ingress wildcards/regexp"
Hopefully the Kubernetes spec gets extended to define wildcard/regexp behavior: https://github.com/kubernetes/kubernetes/issues/41881

[2017-02-27 21:07] hjacobs commented on #284
@aryszka maybe you can describe how Skipper treats wildcards/regexp by default.

[2017-02-28 12:46] lmineiro commented on #282
I believe B is the least bad approach.
That being said, I also think filters need to act responsibly. The example given could be considered one of those cases. There are many other ways filters can break things and only so much the engine itself can do to prevent them from misbehaving.

[2017-02-28 15:28] aryszka commented on #282
good point. so the plan now is to apply B, but also make the existing filters behave. Also point it out in the docs.

[2017-03-01 03:30] krism74 commented on #61
@aryszka
I have noticed the headers getting dropped to a http based UI.

app1: PathSubtree("/app1") && Method("GET") -> setRequestHeader("REMOTE-USER", "xxx.yyyy")  -> setRequestHeader("X-Forwarded-Groups", "Reader")  -> "http://xxx.abc.com/";

Any suggestion on how to debug this? or something wrong with the filters. I have tried with and without && Method("GET")

-thanks in advance
kris

[2017-03-01 15:15] aryszka commented on #61
@krism74 i am not sure what this means. Method("GET") does not have an influence on the headers, but I don't get the rest of the question. Can you please give some more details about what's observed and what's expected?

[2017-03-01 15:35] krism74 commented on #61
@aryszka

I try to use skipper as a reverseproxy with single sign on(happening elsewhere) and passing on some values in the Header for participating application to use them. REMOTE-USER and X-FORWARDED-GROUPS being couple of Header attributes that I am passing. What happens is those attributes disappear when the request is redirected to the UI [ a graylog server] (found by running the firebug / in

[2017-03-01 15:48] aryszka commented on #61
firebug can see what's on the browser side. In the above route, the header is set for the request that is sent to http://xxx.abc.com/

redirects cause a client to make a new request, if these headers need to be set for this new request, then they have to be set in the route handling them

[2017-03-03 12:35] aryszka opened #286 "update Godeps or use latest version of the deps"

[2017-03-03 13:48] predragstefanovic opened #287 "tee() filter - context closed"
Hi, we would like to use tee() filter, but at the moment we are encountering an error on mirroring requests.
Here is the route example we use on ```https://main_host``` gateway:
[code]
After requesting: ```GET /mirror``` we get 401 as expected but there is no traffic on ```https://host_to_receive_mirrored_traffic```. Related skipper logs:
[code]

[2017-03-06 08:34] Raffo commented on #286
One alternative is obviously to move away from Godeps and use https://github.com/golang/dep as soon as it reaches stability and official blessing from the Go team.

[2017-03-06 10:39] ideahitme commented on #254
@aryszka I will implement this task if no objections :) basically there are two ways to go, one use https://github.com/kubernetes/client-go or manually implement client using service account assigned to skipper pod. Client-go is a better option IMO for compatibility purposes, and we would just need to vendor it and replace definitions and http calls to list services/ingress with client-go API call

[2017-03-06 12:54] ideahitme commented on #254
will not use client-go, as it seems like an overkill for having this simple functionality.

PR: https://github.com/zalando/skipper/pull/290

[2017-03-07 01:54] ideahitme commented on #237
https://travis-ci.org/zalando/skipper/builds/208397133 - failing
retry build -
https://travis-ci.org/zalando/skipper/builds/208437789 - success

[2017-03-07 11:45] aryszka commented on #237
thanks! the solution i have on mind is to mock away etcd

[2017-03-09 12:27] #287 closed

[2017-03-09 16:34] aryszka opened #296 "accept integers in programmatically created filter/predicate arguments"
eskip parses numbers as float64. Some filters and predicates relying this accept only float64 args in number positions. This is very inconvenient when creating filters programmatically. Where possible fix these filters to accepts integers, too.

[2017-03-09 17:11] aryszka opened #298 "Kubernetes: handle sigterm to support graceful shutdown in daemonsets"
The scenario would look like this:

1. handle SIGTERM
2. when received, disable the healthcheck but continue serving
3. get killed by the kubelet

@hjacobs please add the required details

[2017-03-09 18:09] hjacobs commented on #298
That sounds about right.

[2017-03-20 11:33] aryszka opened #301 "custom header name for the flowid"
Provide the possibility to set a custom header name for the flowid, e.g. to support multiple, independent flowids in a cascaded scenario

[2017-03-30 22:03] ese opened #304 "Kubernetes dataclient race condition"
I am testing skipper with k8s and I am having weird behaviour with some requests that are ending arbitrarily in different endpoints.
Finally I think it can be a race condition while skipper is pulling routes from Ingress resources and a general route is loaded before the specific one that should be use. This happens all the time so I think skipper is reloading the rules constantly even if there is

[2017-03-30 22:19] hjacobs commented on #304
@ese thanks for checking out Skipper+Kubernetes --- I haven't experienced such problems yet (but I'm also no Skipper expert). We use it in production, but I think we only use path-based Ingress routing in one or two places (all other Ingress resources use only host-based routes). Can you describe your setup and how your Ingress looks like?

[2017-03-30 22:20] hjacobs commented on #304
@ese you can also enable `DEBUG` logging to see what's going, like https://github.com/zalando-incubator/kubernetes-on-aws/blob/dev/cluster/manifests/skipper/daemonset.yaml#L38

[2017-03-30 22:48] ese commented on #304
This is the use-case:

A service with a default route to send all requests. An ingress resource something like this:
[code]
translated in eskip to `kube_default_service__test_local___: Host(/^test[.]local$/) && PathRegexp(/\//) -> "http://100.68.83.203:80";`

And another ingress with specific paths to send requests to another service (In our case 380 rules)
[code]
translated to eskip to a bunch of

[2017-03-30 22:58] ese commented on #304
Here is a log about the issue. One of the backend responds with 200 to the path an another 301. It is supposed to reach always the same backend but the requests are reaching both. When there is a change in the behaouviour is always when skipper reload the rules:

[code]

I dont paste debug logs becouse I think it doesn't offer extra relevant information and is very difficult to follow it

I saw th

[2017-03-31 07:36] hjacobs commented on #304
@ese thanks for your report, I guess @aryszka or @lmineiro might take a look.

[2017-03-31 07:44] lmineiro commented on #304
Thanks for reporting this.

Do those 400 rules use the Path() predicate or PathRegexp() ? It makes a difference. Exact path matches have the highest priority during matching.

If they're using PathRegexp(), this may be due to how Skipper handles routes with the same "weight
" (usually, the same amount/type of predicates).

In this case, the chosen route is non deterministic. At update time the mem

[2017-03-31 07:50] lmineiro commented on #304
I just realised (thanks @hjacobs ) that the 400 rules are coming directly from the Ingress.

After looking at the data client implementation it seems to be the case that they're created with PathRegexp() https://github.com/zalando/skipper/blob/master/dataclients/kubernetes/kube.go#L349

We'll check this and report back with some possible solution(s)

[2017-03-31 17:23] hjacobs commented on #304
@aryszka apparently is on this topic according to @lmineiro

[2017-04-03 12:53] aryszka commented on #304
@ese do I understand correctly that the requests go to the default-service when you expect them to go to the specific service? In that case, what I recommend as a quick fix, is to remove the 'path: /' entry from the default-service rule. Based on the spec, it is possible, will check it in a bit.

Even better could be to use the the default ingress backend, if that works for you: https://kubernetes

[2017-04-05 14:41] ese commented on #304
@aryszka Thanks for your proposal.

The thing is with default backend in the ingress resource you can't define a domain so you end with a wildcard rule and we want that specific default service only to for a specific domain. I think that kind of definition is not feasible with current ingress resource :disappointed:

But trying a rule like this to use as default backend is working well so we can m

[2017-04-05 15:22] aryszka commented on #304
@ese thanks

i think this can solve part of the problems, but i would keep the issue open for now, because there can be still conflicts, e.g. with paths like /foo and /.*. We'll test a potential solution using a combination of PathRegexp() and PathSubtree() internally.

[2017-04-06 07:32] szuecs commented on #298
closed in favour of #307

[2017-04-06 10:17] aryszka commented on #298
done in #307

[2017-04-06 10:17] #298 closed

[2017-04-06 12:37] lmineiro commented on #301
I'd prefer to adopt opentracing instead, leading to a deprecation of the flowid filter.
What do you think?

[2017-04-06 14:39] aryszka commented on #301
i am also in favor of opentracing. One doesn't exclude the other tough.

[2017-04-13 09:57] LappleApple opened #308 "Mention K8s ingress on the main README"
Can someone add a few lines? I'll edit. Thanks!

[2017-04-13 10:30] szuecs commented on #308
#309 please review @LappleApple

[2017-04-29 18:54] haldun commented on #301
How about the deprecated generatorId in flowid filter? Should it be removed?

[2017-05-08 15:36] melTob commented on #308
@LappleApple are you fine with closing this issue, as the PR from @szuecs was merged?

[2017-05-08 15:46] melTob commented on #227
@hjacobs @aryszka can we close this? I assume it`s already done.

[2017-05-08 16:07] hjacobs commented on #227
Yes, you can close this :smile:

[2017-05-08 16:07] #227 closed

[2017-05-08 16:27] #308 closed

[2017-05-10 09:28] szuecs opened #320 "List current rules"
It would be nice to have an API endpoint to list the current rules from the management port for example:

    % curl localhost:9911/routes
    ...skipper routes here...

Best would be if we could also specify the Content-Type: application/json for example.

[2017-05-11 07:40] hjacobs opened #324 "Kubernetes Ingress: Weighted Traffic Switching"
Use the new traffic functionality (introduced with #319) to support weighted traffic switching for Kubernetes Ingress. This enables green/blue or canary deployments.

Idea: use different backends (services) in the Ingress and use relative weights to specify how much traffic each backend service should receive. The relative weights are annotated as a simple JSON object (backend service name -> rela

[2017-05-11 15:54] milosradovanovic opened #326 "Add flag for logs in json format"
It would be nice to have config param to enable logs in json format.
That way logs shall look like:

{"duration":68,"host":"::1","level":"info","method":"GET","msg":"","proto":"HTTP/1.1","referer":"","requested-host":"localhost:8088","response-size":0,"status":304,"time":"2017-05-05T17:20:55+02:00","timestamp":"05/May/2017:17:20:55 +0200","uri":"/v2/customers/","user-agent":"Mozilla/5.0 (Macintosh

[2017-05-11 18:22] #83 closed

[2017-05-18 12:09] addityasingh opened #328 "Skipper should allow URLs to be treated as case-insensitive using MatchingOption"
The current default for `skipper` is to allow URLs to be case-sensitive. This creates a requirement for all the route definition to have all combinations of upper and lowercase for a given route.

Skipper should allow `IgnoreCaseSensitive` as a `MatchingOptions` so that we don't need to define multiple routes.

E.g. The wishlist route works for www.zalando.de/wishlist but not for www.zalando.de/WI

[2017-05-18 13:00] aryszka commented on #328
i don't think this should be fixed. Depending on the particular requirements, it can be more reasonable to create a custom redirect filter extension that converts the path into lowercases.

[code]

Other opinions?

[2017-05-18 13:05] hjacobs commented on #328
I agree that a redirect to some canonical URL (being lowercase) is the best solution.

[2017-05-18 13:25] lmineiro commented on #328
Another vote here for the redirect approach. This guarantees that route matching keeps its performance, which is fundamental, and also makes it transparent (bots?) what the canonical URL should be with a permanent redirect.

[2017-05-19 15:20] #324 closed

[2017-05-20 09:58] Jan-M commented on #324
"Would need to be extended if we would need to support traffic switching on all levels with the same backends (i.e. differents paths routing to the same service) --- I consider it unlikely that we need this"

I would actually agree here, e.g. current zmon proxying and tuning kairosdb could hugely benefit from support weights on paths.

What I find confusing is that you opted for two entries for th

[2017-05-20 10:57] mikkeloscar commented on #324
If we supported this, how would your ingress specification look like? I'm curious of the use case were different paths route to the same backends.

FYI: It is technically possible to achieve this with the current implementation, but you would have to create two 'identical' services (routing to the same pods) and give them different names, then the backends would be the same but traffic weight coul

[2017-05-26 16:03] #328 closed

[2017-05-30 12:31] addityasingh commented on #328
Makes sense. @aryszka I will check if its already there else create a PR for the lowercase filter

[2017-05-31 13:55] DeTeam commented on #274
@aryszka closing this one?

[2017-05-31 16:35] aryszka commented on #274
yes, thx for pointing out :+1:

[2017-05-31 16:35] #274 closed

[2017-05-31 16:36] aryszka commented on #274
done in: https://github.com/zalando/skipper/pull/331

[2017-06-07 12:13] rgritti opened #339 "Definition of the Eskip language"
It would be nice to have a definition of the regular language used in eskip to allow parser and plugins

[2017-06-07 12:54] #339 closed

[2017-06-07 12:55] aryszka commented on #339
@rgritti see: https://github.com/zalando/skipper/blob/master/eskip/parser.y

for planned improvements, see also: https://github.com/zalando/skipper/issues/182

[2017-06-09 09:18] DeTeam commented on #230
@aryszka guess we have it now: `requestCookie`, `responseCookie`, `jsCookie`.

We can close this one?

[2017-06-09 11:24] aryszka commented on #230
@DeTeam agree

[2017-06-09 11:24] #230 closed

[2017-06-13 13:24] hjacobs opened #341 "Configure Docker image build via CDP (delivery.yaml)"
We should configure automated Docker image build & push via CDP (`delivery.yaml`).

[2017-06-19 09:52] #341 closed

[2017-06-20 08:54] melTob opened #346 "Add security.md"
to be done for compliance reasons

[2017-06-20 09:50] #346 closed

[2017-06-20 11:21] aryszka opened #348 "gix github badges"
- use the official license url
- generate coverate for the sub packages and publish it with codecov.io

[2017-06-20 12:08] #348 closed

[2017-06-20 12:24] stevoPerisic opened #351 "zsh: command not found: eskip"
Trying to run the skipper via the directions given in the readme file, however trying ```eskip check example.eskip``` only returns "command not found: eskip". Please help.

[2017-06-20 16:12] stevoPerisic commented on #351
Figured it out, one must run the ```./skipper`` and ```./eskip``` commands instead of just skipper, eskip. Closing this.

[2017-06-20 16:12] #351 closed

[2017-06-20 16:22] aryszka commented on #351
@stevoPerisic that's right. If you use the GOPATH and add $GOPATH/bin to $PATH, and use go install ./... in skipper, then the two commands should be accessible from the path.

[2017-06-21 09:57] chandu188 opened #352 "Provide an option to allow custom metrics inside filters."
The current metrics doesn't provide an option to measure custom metrics inside a filter. We have set of filters which process images (resize, converTojpg) and we would like to measure how long does each step take resize or convertTojpg.

[2017-06-21 11:17] szuecs commented on #352
Do I understand you correctly that you want to know the execution time of a filter?

[2017-06-21 11:44] chandu188 commented on #352
Sorry if the above description is not clear. Let me try to explain with some examples.

Consider the following as an example of Response method in filter

func (_ *articlePath) Response(_ filters.FilterContext) {
   step1: convert to jpeg
   step2: resize image

}
currently, the default metrics provide the overall execution time of a filter. It's not possible to measure the execution time of the a

[2017-06-21 13:48] lmineiro commented on #352
This was actually discussed before. There's value on exposing "some" metrics registry to filters
We didn't come to a conclusion how to properly namespace that to avoid collisions in the metrics key space.

The suggestion, at the time was:
- Keep the metrics registry protected
- Expose methods to lazily get a metric (timer, counter, etc) under a namespace which should include the filter name
- Seri

[2017-06-23 08:12] aryszka opened #353 "eskip patch -append doesn't work"
when using eskip to patch routes with inline filters:

[code]

the filters are not appended.

[2017-06-23 08:29] aryszka opened #355 "license missing from the readme"
https://github.com/zalando/zalando-howto-open-source#what-about-a-readme-note

[2017-06-23 10:47] jreyeshdez commented on #326
There is no need to output "time":"2017-05-05T17:20:55+02:00" and "timestamp":"05/May/2017:17:20:55 +0200" ; I think it is enough to just have the latter ("timestamp":"23/Jun/2017:10:23:06 +0100")

The above can be achieved by using custom Timestamp Format and by disabling automatic timestamps in output in JSONFormatter.

[2017-06-26 12:23] #355 closed

[2017-06-27 16:58] aryszka opened #358 "consider providing metrics for backend latency grouped by the incoming request host"
early use cases assumed that the backends are defined by an address including a hostname. This is not the case in Kubernetes,  where skipper routes to services identified by their cluster ip. This makes it tedious to get service specific backend latency metrics. On the other hand, many services have their own external hostname, and skipper identifies these unambigously by the hostname. Would it ma

[2017-06-30 13:23] jreyeshdez commented on #353
Was this issue fixed on #354 ? If not, what are steps to reproduce it?

[2017-06-30 14:52] aryszka commented on #353
thx, true, it was fixed

[2017-06-30 14:52] #353 closed

[2017-06-30 15:00] aryszka opened #360 "improve Kubernetes ingress path matching"
the ingress API defines only path regular expressions. This can lead to overlapping matching rules, like /.* and /foo, and with multiple, independently configured services this can lead to unexpected routing conflicts. Investigate the possibility to use a combination of the PathSubtree() and PathRegexp() to mitigate this issue.

[2017-06-30 15:00] aryszka commented on #360
see https://github.com/zalando/skipper/issues/304 for previous discussions.

[2017-06-30 15:01] aryszka commented on #304
closing this issue for https://github.com/zalando/skipper/issues/360

[2017-06-30 15:01] #304 closed

[2017-06-30 15:04] aryszka commented on #326
@milosradovanovic @jreyeshdez can we considered this completed by https://github.com/zalando/skipper/pull/357 ? Please feel free to reopen it or create a new issue if something is missing.

[2017-06-30 15:04] #326 closed

[2017-06-30 15:05] aryszka commented on #286
done in https://github.com/zalando/skipper/pull/340 and https://github.com/zalando/skipper/pull/359

[2017-06-30 15:05] #286 closed

[2017-06-30 15:38] jreyeshdez commented on #326
@aryszka I am happy with it. If there is any issue related to it, please let me know.

[2017-07-03 15:26] aryszka opened #363 "backend latency metrics don't fall back after spikes"
after backend latency spikes, the metrics go back to normal only after a very long time.

[2017-07-03 15:28] aryszka commented on #363
skipper backend latency metrics:

![skipper](https://user-images.githubusercontent.com/733217/27799296-ef2b24d6-6014-11e7-952f-d382465a8f87.png)

load balancer metrics in front of skipper, for the same time period:

![elb](https://user-images.githubusercontent.com/733217/27799302-f2ca0148-6014-11e7-8d46-4b51ec5e778d.png)

[2017-07-03 16:12] jreyeshdez commented on #320
Skipper would need to have a new http Handler for this request but, what would it be its behavior if no route is defined in routes-file for /routes? Should it be bypassed somehow?

[2017-07-03 16:15] aryszka commented on #320
my understanding is that in this case it would just return an empty response, meaning there are no routes. This would be on a separate port and not on the main serving port, so no need to define this endpoint in the configuration for the routing.

[2017-07-09 22:39] aryszka opened #365 "add Kubernetes to the root documentation"

[2017-07-10 21:20] aryszka opened #366 "migrate skoap into skipper"
Migrating Skoap [https://github.com/zalando-incubator](https://github.com/zalando-incubator) would make a lot of sense because many default scenarios of skipper could benefit from it, while after migration, skipper could be used as a drop-in replacement of Skoap, without loosing any feautres.

Issues to take care of:
- verify that the authentication api that Skoap is calling is following the oauth

[2017-07-10 21:39] aryszka commented on #366
further improvements after phase 3:
- add proper timeouts for the service calls

[2017-07-10 22:46] aryszka commented on #366
WIP PR here: https://github.com/zalando/skipper/pull/367

[2017-07-12 15:56] #243 closed

[2017-07-18 12:43] aryszka opened #375 "path lookup issue when using pathsubtree() predicates"
With the following routing:

[code]

it is impossible to hit the route foo2. Most possibly because of how the PathSubtree predicates are constructed together with the effect of backtracking.

[2017-07-18 21:19] fjvierap opened #376 "Route api calls through skipper??"
Hi,

Checking this issue https://github.com/zalando/tailor/issues/132#issuecomment-289533687...

Could you please let me know which are the advantages of routing api request through skipper in compared with some api gateways service?

Thanks in advance.

[2017-07-19 09:15] szuecs commented on #376
@fjvierap It would be nice to get a better understanding what your request is about, so please can you answer some questions:

- Which API gateways service are you referring to?
- What kind of features do you need from an api gateway?
- What goal do you have?

My personal opinions:
- Skipper is proven to be fast and is indeed core infrastructure of Zalando.
- Skipper does not need to reload (use e

[2017-07-20 16:50] s-klose opened #377 "wrong netmasks for private subnets"
ipv4 loopback should be 127.0.0.1/8 and ipv6 loopback is ::1 which is equivalent to ::1/128

[2017-07-20 18:55] fjvierap commented on #376
@Shinzu Thanks for your quick answer.

- Which API gateways service are you referring to? Zuul or api connect
- What kind of features do you need from an api gateway? Initially load balancing to endpoints, circuit breaker, monitoring.
What goal do you have?
The main goal is to break a break a monolithic application following strangler pattern. We need to route only request most of the request to t

[2017-07-20 19:00] Shinzu commented on #376
@fjvierap i think that answer is for @szuecs

[2017-07-20 20:29] szuecs commented on #376
@fjvierap I don't know Zuul nor api connect, but everything you want to do sounds for me exactly what we did to split our monolith..

[2017-07-20 20:30] #377 closed

[2017-07-21 06:34] fjvierap commented on #376
@szuecs

Great... In principle it this skipper suits quite well in our approach.
Thank you so much.

[2017-07-21 07:47] #376 closed

[2017-07-21 07:48] szuecs commented on #252
@aryszka this was done and runs in production for us for a long time. Is there something missing or can we close this issue?

[2017-07-21 08:50] milosradovanovic commented on #326
Looks good. Thanks

[2017-07-21 20:17] hjacobs commented on #252
@szuecs I think we can close this :smile:

[2017-07-21 20:17] #252 closed

[2017-07-25 13:08] aryszka commented on #365
fixed in: https://github.com/zalando/skipper/pull/369

[2017-07-25 13:08] #365 closed

[2017-07-25 16:27] ChristianLohmann opened #382 "Support Rate Limiting for K8s Ingress"
We set up an nginx reverse proxy to establish rate limiting on a k8s application:

[code]

It would be nice to have rate limiting support directly for the ingress YAML resource. For example as annotation...

[2017-07-26 07:39] Raffo commented on #382
Given that this is Kubernetes related, [istio](https://istio.io/) provides this feature: https://github.com/istio/istio.github.io/blob/master/_docs/tasks/rate-limiting.md

[2017-07-26 08:30] szuecs commented on #382
@ChristianLohmann can you please specify the attributes that you would like to choose from an ingress.
We need a better specification to add this feature.

[2017-07-26 18:04] hjacobs commented on #382
@szuecs I asked @ChristianLohmann to add this feature request to not forget about it, we don't have a annotation proposal at the moment. I guess this feature is something "for later".

[2017-07-27 08:44] szuecs commented on #382
@hjacobs as OpenSource project maintainer I strongly believe we should define issues well and not as fast as possible to forget something. We should show that we believe in OpenSource and do the right thing to make this great. If there will be no good spec provided I will close the issue. We can get help from the community if we have nice and clear specs. Rate Limiting is a not so complicated feat

[2017-07-31 11:29] #375 closed

[2017-08-02 16:39] aryszka opened #386 "provide possibility to set exact, non-regexp host predicates"
it's a typical use case to match every route by the request host header, but the host values don't show a high variance, and so it is not very effective to execute a regular expression for every route to be matched. It could improve the lookup performance in many scenarios if there was an exact Host matching predicate, e.g:

[code]

On the other hand, it is also a typical use case to match differe

[2017-08-03 09:00] lmineiro commented on #386
The difference I anticipate with the proposal versus having the "OR" as part of the predicates matching is that we'd have to support expression grouping for more complex "predicate trains", like:

`HostExact("example.com") && Path("/foo") OR Path("/bar")`
vs
`HostExact("example.com") && (Path("/foo") OR Path("/bar"))`

This would become mandatory if the "OR" is introduced.

The variadic host match

[2017-08-03 14:00] Raffo commented on #269
Can we close this issue?

[2017-08-04 08:00] mo-gr opened #390 "Feature request: external k8s ingress overrides"
Our k8s currently supports blue/green (and canary) deployments utilizing skipper ingress routes. It would be cool to have an option to override the traffic weights from the outside on a per request basis via request headers. I'll give a concrete example of what I want to achieve based on canary deployments, but I see no reason, this couldn't also work for blue/green deployments.

## Usecase
Let's

[2017-08-04 10:38] mo-gr commented on #386
Maybe we should consider adding a custom predicate for our main use case? This would heavily reduce the amount of repetitive boilerplate and potential for stupid typos.
I'm thinking something like:

[code]

Internally, those could be implemented more efficient than a regular expression and it would cover all our use cases.

But apart from that, having a `HostExact` is probably a good idea. Having

[2017-08-04 10:54] aryszka commented on #386
the Zalando() predicates are definitely a z-skipper matter, but it's also useful insight for others and a good use case for the custom predicates, so we can give documentation hints.

[2017-08-04 15:31] grassator commented on #386
I think we should normalize the names of standard predicates as I think `Host` is the only one that takes Regexp. To maintain backwards compatibility I suggest adopting the following scheme:

- `*Exact`
- `*Regexp`

So we would have:

- `HostExact` **new**
- `HostRegexp` alias for `Host`
- `Host` deprecated
- `PathExact` alias for `Path`
- `PathRegexp` as it was
- `Path` deprecated
- *... the same

[2017-08-04 17:03] hjacobs commented on #390
@mo-gr that's what linkerd provides with "dynamic request routing" (change route through multiple microservices via HTTP header): https://linkerd.io/features/routing/

[2017-08-06 13:06] lmineiro commented on #386
This last proposal should also allow us to close #33

[2017-08-07 06:39] cgmv opened #394 "Omit Path Paramters in Access Logs"
Problem Description
---
The current configuration of Skipper when used for Ingress in Kubernetes logs all path parameters. Doing so has some side effects not always desirable, for example tokens end up being logged. Depending on the setup a larger group of users might be eligible for access to those files.

**Example Log File Entry**
[code]

[2017-08-07 07:10] lmineiro commented on #394
https://github.com/zalando/skipper/pull/392

[2017-08-07 08:49] szuecs commented on #390
Linkerd provides dtab (~ eskip) overwrite via http header, which could be done in skipper with overriding eskip routes per header, but this should not be leaked to callers in the return path https://buoyant.io/2017/01/06/a-service-mesh-for-kubernetes-part-vi-staging-microservices-without-the-tears/

[2017-08-07 09:49] aryszka commented on #386
@grassator i started working on this ticket, and your proposal exactly how I started. nice to see this :)

However, due to the tests and all it was becoming a surporisingly big CR, so i'll handle this naming issue separately.

[2017-08-07 09:56] aryszka commented on #390
@mo-gr do you think there is a big difference between setting in the client:

[code]

and

[code]

?

asking because the latter could be implemented with the given Header predicate, and it also could be generalized for other stuff, e.g. taking different custom conditions form ingress annotations.

[2017-08-07 10:01] szuecs opened #395 "Kubernetes ingress healthcheck only on bootstrap and teardown"
Background: We use skipper as ingress implementation, so it's a central component for us.

For Kubernetes ingress the healthcheckRoute will be switched to unhealthy if the Kubernetes apiserver is not reachable. This means all production services are going down, if the control plane is not reachable.

For production this we consider as a bug.

It should only be unhealthy in the case of startup as l

[2017-08-07 14:08] szuecs commented on #395
#396

[2017-08-07 15:12] aryszka commented on #395
fixed in #396

[2017-08-07 15:12] #395 closed

[2017-08-07 16:51] aryszka opened #398 "shunting on the response path"
calling FilterContext.Serve() on the request path (Filter.Request()) is the right way of shunting. We didn't clearly documented what is the right behavior when calling it on the response path. It looks like it works by accident: https://github.com/zalando-incubator/skrop/pull/49/files#diff-ed8b784b0b753c86e1ca54b42f5c05cfR64

Shall we 'adopt' this use case? Then, currently we only need to clearly

[2017-08-07 16:52] szuecs opened #399 "Get number of routes on monitor port"
There is already the monitor endpoint with GET /routes, which returns all routes.
It would be nice to have a HEAD /routes or GET /routes/count, which only returns the number of routes.

[2017-08-07 17:50] aryszka opened #400 "more humble branding"
Proposing here to be a bit less agressive with the branding headers: Server and X-Powered-By.

For one, I think we could remove the X-Powered-By header, because this is not what really Skipper does in my understanding. (https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-52) Other opinions?

For the Server header, I see the following cases:

	- original response doesn't have a server

[2017-08-07 19:33] hjacobs commented on #400
Yes, please get rid of the header "spam" :smile:  --- the current branding is not really helping anybody (just makes it look bad because of the double header).

[2017-08-07 19:35] hjacobs commented on #395
Thanks @szuecs!

[2017-08-07 21:23] aryszka commented on #400
Dude... more respect and reverence, please!!!! This is our first feature and the one and only without a single bug ever!

[2017-08-08 13:03] aryszka opened #402 "buffering payload"
it can be a useful feature to force buffered requests and responses in certain scenarios. E.g. when a backend server or a client cannot handle chunked transfer encoding.

If the most outer transfer encoding is chunked, then the filter could buffer up the message body, remove the chunked encoding, set the content length, and forward the message.

If the most outer transfer encoding is other than ch

[2017-08-09 09:01] linki opened #406 "Kubernetes: Rules get removed in case of transient API server fault"
We had an issue with Skipper as Kubernetes Ingress Proxy which resulted in Rules being removed due to a temporary outage of the Kubernetes control plane (specifically the API server). Skipper kept running but every request was answered with a `404`.

We identified the cause of the issue and explain it here:
* Skipper loads all Ingresses in `loadAndConvert()` (https://github.com/zalando/skipper/blo

[2017-08-09 09:03] linki commented on #406
By now, we identified this as a commonly made programmign mistake when writing these kind of Kubernetes controller loops. We made the conceptionally equivalent mistakes in the other projects, too, independent from each other, across team boundaries:

* [Mate](https://github.com/linki/mate/pull/94/files#diff-6ed1d16feaebc396408d7ee45c85283cL334) where a n+1 API request per ELB in order to detect th

[2017-08-09 09:51] #400 closed

[2017-08-09 09:51] #399 closed

[2017-08-09 10:10] aryszka opened #407 "testing: replace external etcd proc with mock"
running the etcd child process during the tests fails randomly, causing the CI build fail, which is very confusing. Replace the etcd process with a mock HTTP API for the tests.

[2017-08-09 12:51] mikkeloscar opened #408 "kubeclient: Return 502 instead of 404 if route is not configured."
If you make a request with a hostname that is not configured in skipper you currently get a 404 i.e. a client error.
In reality it is more likely to be a server error that the route wasn't configured and thus the correct response should be 502 - Bad gateway.

[2017-08-09 18:14] aryszka commented on #408
i don't completely agree.. we must consider other use cases and not only our own ones.

i get that part that in order to reach skipper ingress, the lb must have been already found by the dns before. But this is also not necessarily true, because it is also possible that the lb or the dns is misconfigured and it's not a server issue at all.

While I am pretty much against it and believe that 404 is

[2017-08-09 18:45] mikkeloscar commented on #408
I would say that from a client PoV it does not matter if it's the dns or the server that is misconfigured. Something is wrong and it's not the client's fault, and skipper is the only component (when used as ingress) which can respond with something.

Yup, I agree this would be the way to do it!

Indeed

[2017-08-09 19:07] aryszka commented on #408
this is a good argument. I was thinking in terms of chain of proxies/LB/andwhatnot, but you think from the point of view of the end client. OK, we can do it.

[2017-08-10 13:03] hjacobs commented on #406
Is this issue resolved with #409 ?

[2017-08-10 14:41] linki commented on #406
We needed a follow up: https://github.com/zalando/skipper/pull/410 Currently testing it.

[2017-08-11 09:00] szuecs commented on #406
@linki so tests were successful or not?

[2017-08-11 09:44] mo-gr commented on #390
I would not mind. I'm not strongly opinionated about the actual form of the headers. I would also be fine with something like: `X-Ingress-Stage-MyApp: canary`

With your multiple-header suggestion, I would be a little bit afraid, that some clients in-between don't handle them correctly and drop/conflate multiple occurrences of the same header

[2017-08-11 09:48] szuecs commented on #406
Discussed offline

[2017-08-11 09:48] #406 closed

[2017-08-11 10:38] Raffo commented on #406
Can you please write here as well if this fixes the issue?

[2017-08-11 12:10] szuecs commented on #406
@Raffo sure it's fixed and tested also in production. That's why I closed the issue, sorry that this was not clear.

[2017-08-11 13:39] szuecs opened #411 "Skipper as sidecar and features for ingress"
In order to provide features like a service mesh istio or linkerd does we discussed in public google documents what features we want to support in the future.

Docs:
- [Skipper's role in Kubernetes](https://docs.google.com/document/d/1OLMO4hawaP8WfCQxLOMYh7coYfpgqfeVi9IxWApo1gg/edit#heading=h.oth6augb0h6y)
- [kubernetes sidecar proxy](https://docs.google.com/document/d/1tXVy0aWRFw8eV95OY85oIOeRO3Z

[2017-08-11 13:43] szuecs opened #412 "OAuth/JWT token injection for the proxied app"
As **application developer**, I want to focus on **my applications business logic** and do not like to do the Token handling myself. I would like to specify which application I deploy and the sidecar proxy #411 should get the identity of my application from a service discovery. The proxy should inject tokens if necessary and  do not inject if I call an unknown service, such that we do not leak tok

[2017-08-11 13:56] szuecs opened #413 "OAuth/JWT validation for the proxied app"
As **application developer**, I want to focus on my applications business logic and do not like to do the authorization handling myself. **I** would like to **specify** my application name and my **OpenAPI spec** and the proxy should do the authentication and authorization handling as defined in the OpenAPI spec I provided. This feature is part of skipper as sidecar in Kubernetes #411.

In order t

[2017-08-11 15:12] szuecs opened #414 "Rate limiting support in ingress/deployment"
As **developer**, I want to specify rate limiting in my Ingress spec and do not implement it in my application code. I want to define how much requests per minute my application can handle and what the max peak of connections should be. This is part of #411 as Skipper in Kubernetes.

For example I have a /login path and I want to make sure that this can not be easily enumerated by a distributed at

[2017-08-11 15:14] szuecs commented on #382
Close in favour of #414

[2017-08-11 15:14] #382 closed

[2017-08-14 20:10] szuecs opened #418 "OpenAPI (swagger) integration"
As **application developer**, I want to point to my OpenAPI endpoint and get many features for free, that I already defined in my OpenAPI spec.

Features that could be implemented with skipper as a sidecar and a defined a known skipper known OpenAPI spec endpoint:
- [ ] automated OAuth2/JWT authnz
- [ ] whitelist available routes
- [ ] request validation (regexps for http json body parameters, que

[2017-08-14 21:07] szuecs opened #419 "Circuit breaker for sidecars"
As **application developer**, I don't want to implement circuit breakers myself, but I want to be able to choose different parameters.

The normal use case for circuit breaker is in egress position, but we could also configure it in ingress and use "X-Circuit-Open: true" from [1] to signal callers. This could be used to signal egress skippers in a service mesh #420 and other applications.

## conf

[2017-08-14 21:09] szuecs opened #420 "service mesh"
Placeholder to reference, work in progress

[2017-08-14 21:12] szuecs opened #421 "Opentracing-API"
Placeholder to reference, work in progress

[2017-08-14 21:13] szuecs opened #422 "Retries with exponential backoff"
Placeholder to reference, work in progress

[2017-08-15 14:39] aryszka commented on #414
could be implemented in a generic way and used from ingress, too

[2017-08-17 12:03] szuecs commented on #406
Yes it fixes the issue of loosing routes

[2017-08-18 09:44] DeTeam opened #423 "flowId in application logs"
At the moment flow id is only available in the access logs, would be handy to have it in some application logs (whenever available) as well.

[2017-08-18 12:49] szuecs commented on #423
@DeTeam I think we should pass it as a header X-FlowID or so. What do you think @DeTeam @aryszka @lmineiro ?

[2017-08-20 18:30] szuecs opened #424 "Rate limit filter"
Skipper should have a rate limit implemented as filter.
One use case is in #414, but it could be used in other configurations without Kubernetes.

It could be used as DDoS prevention ([slowloris](https://en.wikipedia.org/wiki/Slowloris_(software)) is one http based attack used in [DDoS](https://en.wikipedia.org/wiki/Denial_of_Service) attacks) and login enumeration (user enumeration or password gu

[2017-08-21 08:52] DeTeam commented on #423
@szuecs it's already taken/passed further and even used in access logs, since we have two types of logs: access and application I felt sometimes missing it in the latter.

[2017-08-21 12:22] szuecs commented on #423
@DeTeam then I don't see, why this issue belongs to skipper. I would not log this in skipper, only if access logs are enabled then it should be in the access-logs. Maybe you can explain why you want to have flowids in skipper application logs?

[2017-08-22 07:58] szuecs commented on #423
I can only imagine two cases where it makes sense for me to log in a proxy:
1. access logs
2. audit logs

Everything else should be logged in backends or exposed as metrics.

Skipper is at first a library to build http routers, so it should not log. Instead it should return errors to be used from the application. Maybe here is something missing to get data from the filter to the application. I gue

[2017-08-22 10:40] aryszka commented on #423
i think that logging in production environments should be only error logging, when an error happens, we typically log the message in the application log and return a 50x which is also logged in the access log.

When the error is not a normal operation but a bug in skipper or in a filter, it can be very useful to see which requests trigger the error and which route is executed. This is especially t

[2017-08-27 07:53] mikkeloscar commented on #390
@mo-gr as I understand you would like to route traffic based on a pod label (e.g. `stage: canary`). However, this is not quite possible as skipper operates on Ingress resources which only has Kubernetes *Services* defined as backends. I.e. it looks like this:

[code]

Given this, it would probably make more sense to specify a header:

[code]

With an ingress resource defined like this:

[code]

Wh

[2017-08-28 14:19] szuecs opened #426 "copy header filter"
Header Filter should also have a CopyHeader(src, dest), such that the value of X-Foo can be copied to X-Bar.
UseCase: change, for example open tracing, headers for migrations

[2017-08-29 08:03] schlomo commented on #284
I also need to create a wildcard subdomain like `*.foo.bar.com`.
FYI @mikkeloscar @tlossen

[2017-08-29 14:36] aryszka commented on #423
+1 for this: "I guess we could build something like a channel that an application subscribes to and pass data events from filters to this channel."

[2017-09-01 13:02] #408 closed

[2017-09-04 15:02] aermakov-zalando opened #428 "Use exponentially decaying sample for metrics"
In 739f413, the metrics were changed to use a `UniformSample` with a hard-coded 1024 reservoir size. This makes latency metrics for services with non-uniform load very skewed. For example, if our service is under a very high load (100 rps) due to a misconfiguration in another service, and then the load drops to normal (1-2 rps) after the misconfiguration is fixed, it can take hours, days or even w

[2017-09-04 15:08] szuecs commented on #428
@lmineiro Can you please check this? Thanks!

[2017-09-04 15:09] aermakov-zalando commented on #428
#363 is most likely the same issue, by the way.

[2017-09-05 18:20] szuecs commented on #421
There was some work in https://docs.google.com/document/d/1FbdxmjviqhN_wBdo4fgTnvBcbspjxHy59nSL6yJs5BI/

[2017-09-07 16:02] aryszka opened #432 "breaking release planning"
This issue should collect the topics that we should address with the next major release that can contain breaking changes. API refactor items or changes to eskip, that would be much better and cleaner implemented with breaking backwards compatibility, should be listed here. I suggest to open an epic branch as an integration point and merge the individual pull requests there.

### Eskip

- support

[2017-09-25 07:31] szuecs commented on #424
Burst factor and global rate limit settings were not done.

I consider this as unnecessary, because global rate limit can only be done, if skipper-ingress is aware of the number of instances (~ service mesh required).
For burst factor, I am not sure if someone really wants this feature or if this is just a feature copy of nginx.

If someone really needs these features please create follow up issue

[2017-09-25 07:31] #424 closed

[2017-09-25 13:45] mikkeloscar opened #436 "Proper 404 catchall for ingress routes."
#425 introduced a 404 catchall route for ingresses without a default catchall path.

The catch all rule were per ingress object, causing a problem where the same hostname is configured in multiple different ingress objects.

Example of the problem:

[code]

The ingress definition for `test-1` would generate a catchall 404 route since only `/path1` is specified. The catch all would shadow the route

[2017-09-26 21:20] szuecs opened #438 "rate limit should set header Retry-After"
Based on https://tools.ietf.org/html/rfc6585#section-4 you should set HTTP header "Retry-After".

[2017-09-30 17:46] #436 closed

[2017-10-02 17:29] grahamar opened #443 "Provide access to backend metrics from filters"
Filters should have access to more information about the call to the backend, at response time. At least the following metrics should be available.

- `send` - Time spent in Skipper before sending the request to the backend
- `wait` - Time spent waiting for a response from the backend
- `receive` - Time spent receiving the response from the backend (including any posible parsing)

For example, I'd

[2017-10-05 08:02] szuecs commented on #443
What is the problem with the current metrics filters?
Can't you just use this?
I would also question, why it should be in the core infrastructure in the hot path, but only one use case "send metrics to Galileo" is the requirement for that.

[2017-10-05 09:34] grahamar commented on #443
Galileo is just one example of a third party API analytic service. We want to be able to extract analytics on all calls going through the proxy, IP addresses, metrics, size of calls, etc.

Forgive me if this information is already available to filters, but I couldn't find it. What current metric filters are you referring to?

[2017-10-05 10:15] szuecs commented on #443
I refer to this: https://godoc.org/github.com/zalando/skipper/metrics

We have a lot of metrics, for example "servehost" or if you want to measure runtime of filters is also available.

[2017-10-06 08:01] grahamar commented on #443
Ok, yeah that's not what I was getting at. I get that Skipper is tracking lots of metrics already, and if I want I can track custom metrics in a filter.

What is not possible in Skipper is the capability to track and report on full API request and responses including headers, parameters.

For example reporting on all unique client IPs or OAuth client_ids in a given time frame. Or call latency or e

[2017-10-06 09:17] szuecs commented on #443
@grahamar I think you should write down the features/use cases you want to build before. In your initial PR and issue you did not add the features you want to have, so we also can not discuss how to achieve this. It is disappointing to me as a colleague, that you now just close this and say we go for something else, just because I ask and propose solutions. I think this shows only that I am intere

[2017-10-06 09:18] #443 closed

[2017-10-11 07:40] szuecs commented on #421
It was published at https://github.com/skipper-plugins/opentracing, but it's rough and needs some cleanu and documentation how to build it. Go plugins was not to simple to compile, because it needs to be in the same GOPATH.

[2017-10-12 17:57] last-ent opened #449 "Allow non-TTY applications to execute eskip commands"
**It would be great** if we can execute eskip commands in ssh sessions and as Vim commands.

**This would enable us** to include eskip checks as part of a CD/CI pipeline.

**Rationale:**
At the moment if we try to run `eskip check routes.eskip` within Jenkins/CDP, this would give us the error " too many inputs". This is caused by [processStdin](https://github.com/zalando/skipper/blob/8fb107612ac65

[2017-10-13 09:58] szuecs commented on #428
Maybe it's better to have a parameter that can change the default from  UniformSample to expDecay and also a parameter to set the  reservoir size for UniformSample.

[2017-10-13 10:12] lmineiro commented on #428
sgtm

[2017-10-13 11:39] #449 closed

[2017-10-13 11:40] last-ent commented on #449
fixed

[2017-10-15 15:33] aryszka opened #454 "metrics test occasionally fail"
TestProxyMetrics() occasionally fails, because some recently added keys were not added to the test cases. E.g: "allfilters.combined.request"

https://github.com/zalando/skipper/blob/master/metrics/metrics_test.go#L162

[2017-10-16 10:59] aermakov-zalando commented on #428
Benchmark: create N histograms with either a Uniform or ExpDecay sample, then update them all once per benchmark iteration. Results:

    goos: darwin
    goarch: amd64
    pkg: github.bus.zalan.do/teapot/metrics-bench
    BenchmarkUniform100-4             500000          9120 ns/op           0 B/op          0 allocs/op
    BenchmarkUniform1000-4             50000         91968 ns/op           0 B

[2017-10-16 11:01] lmineiro commented on #428
Can you do this with N updates, where N is as close as possible to the reservoir capacity?

[2017-10-16 11:10] #363 closed

[2017-10-16 11:10] #428 closed

[2017-10-16 11:13] #414 closed

[2017-10-16 11:15] aermakov-zalando commented on #428
@lmineiro Updated 2048 times with random data (same for both benchmarks, though).

    $ go test -bench=. -benchtime 10s -benchmem
    goos: darwin
    goarch: amd64
    pkg: github.bus.zalan.do/teapot/metrics-bench
    BenchmarkUniform100-4           1000      18655357 ns/op           0 B/op          0 allocs/op
    BenchmarkExpDecay100-4           300      44768498 ns/op           0 B/op

[2017-10-16 11:22] lmineiro commented on #428
These benchmarks seem to confirm what we experienced before. The memory overhead and performance of the exponential decay are worse. It was for that reason that we went with the uniform.
The implemented option seems reasonable and allows users to select. I'd definitely include these number this time in the docs so that users will know what they're getting into.

[2017-10-16 11:26] aermakov-zalando commented on #428
I'd say the overhead is negligible for both implementations, though, and having better metrics is worth a few more _nano_ seconds per request. I recommend switching the default implementation after we're satisfied with the testing results.

[2017-10-16 11:35] aryszka opened #457 "metrics filtering with the request path"
calling "/metrics/all.backend" returns only the metrics called "all.backend" but "/metrics/all.backen" returns both "all.backend" and "all.backend.5xx"

[2017-10-16 11:35] aryszka opened #458 "the cmd flag -metrics-listener doesn't work"
the cmd flag -metrics-listener doesn't work only -support-listener

[2017-10-16 12:26] lmineiro commented on #428
I disagree that is it negligible. If you have a closer look, a single proxied request keeps and updates a lot of histograms. Not only that, the memory footprint can become overwhelming, like we realized before https://github.com/zalando/skipper/pull/446

I'd be really interested in adding a new reservoir which would combine the efficiency of the Uniform reservoir while applying a sliding window. I

[2017-10-16 12:43] lmineiro commented on #457
I see that [the feature](https://github.com/zalando/skipper/blob/2f06af6c3231d29671c6718a71fea380a537a69a/metrics/handler.go#L22) is not appreciated :)

[2017-10-16 13:55] aryszka commented on #457
ok, clear now! :)

i even missed the docs when shooting with the issue: https://godoc.org/github.com/zalando/skipper/metrics

thx

[2017-10-16 13:55] #457 closed

[2017-10-16 14:01] aryszka commented on #428
I think you refer to https://github.com/zalando/skipper/blob/master/circuit/binarysampler.go

this sliding window sampler would cost too much for arbitrary values and/or too large window sizes, i believe. It's used in the circuit breaker, where we only track binary values (success vs failure), with relatively small window sizes, and so it's enough to store only bits.

[2017-10-18 09:40] szuecs commented on #320
Since we have :mgmtport/routes which lists routes in eskip format, I consider this as done.
In case you need json format please add a new issue referencing this one.

[2017-10-18 09:40] #320 closed

[2017-10-18 09:49] szuecs opened #459 "clusterRatelimit() - Ratelimit should adapt settings"
A limitation of localRatelimit() function is that it is a hard setting for each skipper instance, if the Kubernetes cluster grows the skipper instances, it will add more capacity to the ratelimit settings, which the application might not want.

There should be a possibility to set cluster local ratelimits, clusterRatelimit(), which skipper will automatically divide with the number of skipper insta

[2017-10-20 15:22] szuecs opened #463 "Define arbitrary skipper filters via Ingress"
Based on an internal Friday demo, I got feedback to enable setting of arbitrary skipper filters https://godoc.org/github.com/zalando/skipper/filters via Ingress. This is a superset of ratelimitting and makes totally sense.

As an example we could specify it like this:

    apiVersion: extensions/v1beta1
    kind: Ingress
    metadata:
      annotations:
        zalando.org/skipper-filter: localRat

[2017-10-20 15:26] szuecs opened #464 "implement ParsePredicates similar to eskip.ParseFilters"
We might want to set Predicates via ingress annotation and right now Predicates are not parsed in a Function of the eskip package, it should be added.

    func ParseFilters(f string) ([]*Filter, error) // already exists
    func ParsePredicates(p string) ([]*Predicate, error) // TODO

[2017-10-20 15:47] szuecs opened #465 "Define arbitrary skipper predicates via Ingress"
Similar to https://github.com/zalando/skipper/issues/463 people might want to use Predicates https://godoc.org/github.com/zalando/skipper/predicates from ingress.

Requirements: https://github.com/zalando/skipper/issues/464

As an example we could specify it like this:

    apiVersion: extensions/v1beta1
    kind: Ingress
    metadata:
      annotations:
        zalando.org/skipper-predicate: Path

[2017-10-22 16:21] #464 closed

[2017-10-23 08:13] #463 closed

[2017-10-23 09:21] szuecs opened #470 "Rate limit for service backends"
Right now the ratelimit can be used to rate limit individual clients based on Request data (for example X-Forwarded-For header).
People might want to define an upper bound value for their service application and rate limit all requests if this is exceeding. The algorithm would be leaky bucket and choose per backend or per Host header.

[2017-10-24 09:54] #465 closed

[2017-10-24 13:58] evangelion1204 opened #473 "Parsing backend failing"
If using a definition with 4 spaces ident then parsing the backend will fail and result that the host is unknown.
`error during backend roundtrip: phoenix_myfilter_mappings: http: no Host in request URL`

[code]

[2017-10-24 14:13] evangelion1204 commented on #473
NVM, found my issue. I had a type in the URL.

[2017-10-24 14:13] #473 closed

[2017-10-26 23:53] zhen-w opened #474 "Cannot reload new routing rules from ETCD if we delete the route root"
Reproduce steps:
1. Launch skipper with ETCD prefix /skipper/test
2. Setup the test routing rule by: `curl -XPUT http://localhost:2379/v2/keys/skipper/test/routes/tobedelete -d value='Path("/google") -> "https://www.google.com"'`
3. You would see 'route settings received' in your console
4. Delete the route root by: `curl -XDELETE http://localhost:2379/v2/keys/skipper/test/routes?recursive=true`
5

[2017-10-27 10:02] lmineiro commented on #474
Seems like a good catch. Care to send that as a PR?

[2017-10-30 02:11] zhen-w commented on #474
Sure. Thanks

[2017-10-30 15:23] mvalkon commented on #421
This is very interesting. This is one of the features that I think would be very useful for many teams. I would be interested in trying out Jaeger with Skipper.

[2017-10-30 15:32] szuecs commented on #421
@mvalkon Would you like to implement Jaeger in https://github.com/skipper-plugins/opentracing/tree/master/tracers or should we do this?

[2017-10-31 09:26] mvalkon commented on #421
@szuecs I can take a look at implementing the plugin, but current priority for me is the upcoming BF so may be that the PR comes after that.

[2017-11-01 14:33] #470 closed

[2017-11-04 15:54] szuecs commented on #419
This can be done by the ingress filter/predicate setting and the circuitbreaker filter
- https://godoc.org/github.com/zalando/skipper/dataclients/kubernetes
- https://godoc.org/github.com/zalando/skipper/filters/circuit

TODO:
- document in kubernetes dataclient

[2017-11-05 21:50] aryszka opened #482 "ordering of ingress items with the same host can cause dropped filters and predicates"
when there are multiple ingresses with the same host, only one of them, the first one in the order of being returned from the API, will have its custom filters and predicates applied if any

[2017-11-05 21:53] aryszka commented on #482
a raw test in this branch demonstrates the failure: [ordering-bug](https://github.com/zalando/skipper/blob/ordering-bug/dataclients/kubernetes/orderingbug_test.go)

[2017-11-07 21:39] szuecs commented on #482
Thanks @aryszka!
I changed your PR as you suggested. I think it makes totally sense to simplify it.

[2017-11-09 19:06] aryszka opened #485 "fix make deps and precommit"
when running `make precommit`, it fails and only works if running `make deps precommit`. Latter takes long, because of the full deps install, including the test etcd binary:

- figure why precommit needs deps running again and fix it to make precommit run faster

[2017-11-09 19:07] aryszka opened #486 "document the help tasks in the contribution guidelines"
some parts of the contribution guidelines are covered by helper tasks in the Makefile but the contrib docs don't mention them. Document these tasks and give hints when to use them.

[2017-11-09 22:27] #482 closed

[2017-11-10 07:42] zhen-w opened #487 "ETCD data client doesn't support basic authentication"
https://coreos.com/etcd/docs/latest/v2/auth_api.html#v2-auth

[2017-11-10 15:16] grassator commented on #423
Having debugged some problems in skipper filters, I definitely think it will be useful to have flow id per request and I would like to take a stab at the implementation

However I see 2 options of when / how we do this.

# Option 1. Pre-generate

The idea is to generate a value for a flow id, right at the edge and stick it in the logger probably in https://github.com/zalando/skipper/blob/master/pr

[2017-11-10 18:07] szuecs commented on #474
thanks @zhen-w

[2017-11-10 18:07] #474 closed

[2017-11-12 08:32] szuecs opened #489 "Metrics per ingress defined route"
Today we have already many, many metrics, but to make it more easy for Kubernetes users, it might makes sense to have metrics by ingress rule definition.

In Kubernetes Ingress you define routes to serve and it makes sense skipper would have a metrics collector that serve metrics for that. Some people may want to get metrics for a specific path while others only use host header dispatch and / as p

[2017-11-13 09:18] zhen-w commented on #487
Are you gonna put it on your roadmap? If yes, do you mind me to submit a preliminary PR for it? Or you guys prefer implementing it by yourselves.

[2017-11-13 10:04] mikkeloscar commented on #487
@zhen-w PR's are very welcome! I'm not sure this is a feature we need ourselves in the near future, but if it would be useful for you I see no reason not to support it :)

[2017-11-13 10:19] szuecs commented on #487
@zhen-w I just assigned it to you, such that everyone can see who will do the development. Thanks so much for your work on that. :)

[2017-11-13 11:53] #426 closed

[2017-11-13 12:13] aryszka commented on #489
1. metrics per verbs:

by default, it is a good idea to collect the metrics separately because one can still combine them in a monitoring system. (One thing to consider here though, is that with a large amount of ingresses, the polling of the metrics can cause high load, so there should be probably an option to use more limited metrics. Fine to implement in a subsequent step.)

2. '/foo' and '/:'

[2017-11-13 12:14] aryszka commented on #489
1. metrics per verbs:

by default, it is a good idea to collect the metrics separately because one can still combine them in a monitoring system. (One thing to consider here though, is that with a large amount of ingresses, the polling of the metrics can cause high load, so there should be probably an option to use more limited metrics. Fine to implement in a subsequent step.)

2. '/foo' and '/:'

[2017-11-14 19:37] last-ent opened #490 "Allow user to add custom metrics"
While using skipper as a proxy, I would like to monitor some custom states that might change because of filters. I would like have them as part of the skipper's /metrics endpoint so that we can rely on a single endpoint to provide us with these new states as well.

For example consider that we have 3 filters calling on three external http endpoints as part of the filter logic and each of these fil

[2017-11-14 20:50] lmineiro commented on #490
This has been [discussed before](https://github.com/zalando/skipper/issues/352#issuecomment-310083869).

Do you think what was contributed with https://github.com/zalando/skipper/pull/384 is enough for your needs?

[2017-11-15 02:05] zhen-w commented on #487
Ok, I will work on it.

[2017-11-15 09:42] last-ent commented on #490
@lmineiro the discussion in the ticket deals with adding counter & measuring duration for a given key. Unfortunately this does not fit our requirements as we need a way to update values for different keys/metrics.

[2017-11-15 13:40] aryszka commented on #490
the metrics.Default object allows custom keys for duration measures and counters. The same interface is exposed on the filter context, where the keys will be prefixed with the filter name. How I understand, what's missing:

1. allow other types of custom metrics, not only durations and counters

(2. not strictly belongs here, but it would be nice if the state of the breakers would be possible to m

[2017-11-15 13:43] last-ent commented on #490
Yes, 1. is exactly what I am looking for and 2. is just a special case of 1. IMO.

Is this already available in Skipper? Otherwise I wouldn't mind working on this.

[2017-11-15 13:51] aryszka commented on #490
i think what's missing for 1. is to add a DecCounter(key string) next to the IncCounter(key string) method. Or something like ToggleState(key string) that internally can rely on the counter with +1/-1. We use this metrics library: https://godoc.org/github.com/rcrowley/go-metrics , feel free to pick its best matching capacity. I am actually not so sure what is the standard and nice way to monitor s

[2017-11-15 14:06] last-ent commented on #490
@aryszka I agree that DecCounter(key string) should be added but I don't think it covers the complete picture.

If we consider the Circuit Breaker & its states (I will stick to this example for now):
I have 3 three states to consider - Open, Close & Half Open.
I can refer to them in metrics as int values or string values.

Open =>           -1  (or)   "O"
Half Open =>    0  (or)  "H"
Closed =>

[2017-11-17 16:30] mfelsche opened #491 "incorrect application logs on rateBreakers"
The skipper application logs do not correctly represent the actual state of the rate circuit breaker.
i.e. the log from line https://github.com/zalando/skipper/blob/master/circuit/ratebreaker.go#L80 is also issued when the underlying gobreaker circuitbreaker transitions to "half-open" state.

In our skipper instance the last observed log was:

[code]

although, upon issueing requests, we received

[2017-11-17 16:31] mfelsche commented on #491
FYI:
We only applied rateBreakers on our routes, there were no configs provided via command line.

Our breaker that exhibits this behaviour was configured as follows:

```-> rateBreaker(30, 300, "1m", 20, "30m")```

[2017-11-18 15:16] szuecs commented on #491
@mfelsche Thanks for reporting this issue, we will have a look

[2017-11-18 15:18] szuecs commented on #490
@aryszka sounds good to me.

[2017-11-19 13:22] #491 closed

[2017-11-25 22:03] szuecs commented on #489
@aryszka in a non ingress installation and for debugging purposes only, it makes also sense to create metrics that "explode" for example per called path, but it should be clear, that it is not "secure" to use.

[2017-11-26 21:53] szuecs commented on #419
documented at https://zalando.github.io/skipper/dataclients/kubernetes/#advanced-examples

[2017-11-26 21:53] #419 closed

[2017-11-26 21:56] szuecs commented on #254
this was done long time ago

[2017-11-26 21:56] #254 closed

[2017-11-26 22:11] szuecs commented on #390
@mo-gr in ingress you can now use all filters and predicates, which you can use to enable an ingress with only a special cookie. If you have 2 ingress defined, one with cookie predicate and one without, you would be able to have a cookie to change the path within a hierarchy call you described.

Ingress with cookie to route to myapp-alpha version:

    apiVersion: extensions/v1beta1
    kind: Ingr

[2017-11-26 22:16] szuecs commented on #421
I close this issue, because we already have opentracingAPI, not Jaeger, but this is tracked at #411 epic issue and https://github.com/skipper-plugins/opentracing/issues/1.

[2017-11-26 22:16] #421 closed

[2017-11-26 22:27] szuecs opened #499 "Loadbalancer support"
Why:

- This would enables `ingress -> endpoints` circumventing service (`ingress -> svc -> endpoints`).
- This is also required to enable service mesh
- optimize backend dispatch
- find faster miss behaving backends

[2017-11-26 22:31] szuecs opened #500 "godoc tracing should link plugin projects"
https://godoc.org/github.com/zalando/skipper/tracing should link github.com/skipper-plugins

[2017-11-27 10:09] last-ent commented on #490
Alright, I will start working on this.

[2017-11-29 12:34] slok opened #504 "Prometheus metrics"
Hi there!

At this moment Skipper has a bunch of good metrics, but they are in a custom format. The problem is that this format is not portable to other kind of monitoring stacks.

Could be nice to have this same metrics in Prometheus format, knowing that Prometheus is one of the "de facto" standards out there nowadays.

Is this feature something you see valuable to have it in Skipper?

Thank you!

[2017-11-29 13:36] szuecs commented on #504
@slok for sure, we do not use Prometheus ourselves, but this could attract people using skipper.

Do you want to contribute it?

[2017-11-30 10:01] slok commented on #504
Yes, I would like to try :)

[2017-11-30 11:42] #500 closed

[2017-12-01 00:02] jbergstroem commented on #504
Interesting -- kind of assumed the statistics were prometheus-friendly (the docs didn't really mention any kind of standard). I'd love to see this as well.

[2017-12-06 20:36] #504 closed

[2017-12-06 21:19] szuecs commented on #504
@slok thanks for your efforts :)

[2017-12-15 16:17] szuecs opened #511 "document <shunt>"
Document what is <shunt> and when to use it

[2017-12-15 16:20] szuecs opened #512 "ingress requires to have a backend"
For simple redirects via ingress we should allow to have no backend and <shunt> working in the filter annotation.

This is what I want to specify, but I get no route defined:

    kind: Ingress
     metadata:
       name: redirect
       annotations:
        zalando.org/skipper-filter: redirectTo(301, "https://kubernetes.docs.zalando.net/") -> <shunt>
        zalando.org/aws-load-balancer-ssl-cert

[2017-12-21 10:47] szuecs commented on #499
Development started in branch **kube-endpoints**

Current implementation has a bug getting 404s if I loadtest from my local machine to a test cluster in about 0.1-0.2% of the requests.

feature state:

- ingress -> endpoints if endpoints are available, so we have the optimized dispatch, but do not disrupt service without endpoints
- find miss behaving endpoints is not started yet

[2017-12-27 09:36] vetinari opened #523 "Filters should have a Cleanup()"
The `Cleanup()` should be called on route changes after the new routes have bet set up to cleanup their private data - like closing file descriptors or shutting down other states only valid in the filter instance.

[2017-12-27 14:07] szuecs commented on #523
This is to cleanup Lua script based filters, or do you see other values?

[2017-12-27 19:02] szuecs commented on #523
I also prefer the Cleaner interface. Thanks for the insights @lmineiro.

[2017-12-27 23:29] aryszka commented on #523
i also prefer the separate cleanup interface. There's a convention to call similar things Close() and Closer, do you think that's a good name here?

It should be documented that this method would be called after the new routes with the new filter instances are already in use, and the filter instances being cleaned up are already unattached from the proxy, and any blocking in the new generation of

[2017-12-30 21:20] szuecs commented on #499
I started to implement the loadbalancer feature "find miss behaving endpoints"

This can be achieved in 2 ways:
1. active: health checking
1. passive: understand failing requests, for example timeouts should result in marking unhealthy/dead endpoints

### active
Active health checking requires 2 more information as before:
- health check endpoint
- response treated as "OK"

We could achieve both i

[2018-01-02 09:00] lmineiro commented on #499
Sounds good to standardize on a default health check endpoint like the one proposed albeit on a different default port like 7979. It would make sense to extend the DataClient API to allow route authors to customize the health check endpoint.
s/dead/zombie to adopt common terminology. The described behavior seems like a circuit breaker to me. Don't we already have something in place that could be l

[2018-01-02 09:09] szuecs opened #525 "loadbalancer algorithm - 2 rand"
https://brooker.co.za/blog/2012/01/17/two-random.html
Pick 2 randomly and choose the least used

[2018-01-02 11:04] szuecs commented on #499
@lmineiro I appreciate all the input, but where do you have that common terminology zombie vs. dead, because zombie?

I read the mentioned section, thanks for linking it.

I changed the dead state to connection refused case, where there is not TCP connection possible anymore. This case for example happens if a node in kubernetes dies for example with kernel panic, such that kubelet can not deregis

[2018-01-02 14:49] lmineiro commented on #499
I think we should decide on which topology Skipper should focus.

"if a node in kubernetes dies for example" fits in the client side load balancing, where skipper would need to have knowledge about all the worker nodes. Does any if this conflict with Kubernetes' service endpoints?

Right on the topic, a good write up from last December (https://blog.envoyproxy.io/introduction-to-modern-network-loa

[2018-01-02 14:57] szuecs commented on #499
@lmineiro loadbalancer support will change from using service to endpoints, such that we can do understand healthiness of an endpoint. We do roundrobin with Predicates and compile 1 route per endpoint with the predicate.

I read the whole envoy and following them, but I have to disagree with a lot in the article (mostly the last part). I also read a lot about facebook and google loadbalancing and

[2018-01-03 09:13] vetinari opened #528 "[lua] ctx.serve() should have a body= parameter"
So we can send out also a body with the (most likely) error messages...
[code]

[2018-01-03 09:51] #528 closed

[2018-01-04 11:39] szuecs opened #531 "hardcoded healthz check Source predicate"
The hardcoded healthz check Source predicate is not possible to be overwritten by the user.
Possible workaround for users, use an inline route parameter to proxy the health check call:

    -inline-routes 'Path("/health") -> setPath("/kube-system/healthz") -> <loopback>'

[2018-01-04 13:16] lmineiro commented on #531
The hardcoded values include ~all private networks.
I'd be curious to know why the health check endpoint would support public networks. That being said, I agree that it could be user-defined since the Source predicate already supports it anyway...

[2018-01-04 13:51] mikkeloscar commented on #531
I'm wondering if we really need to define any source networks in skipper. It seems out of scope to define it in the application rather than restrict this on the security group/firewall level?

[2018-01-04 14:06] szuecs opened #532 "reduce log on LoadUpdate in case nothing changed"
Right now we log on all LoadUpdate() calls in the dataclient, but we should only log on a change.

This is done in routing/datasource.go in different parts, for example receiveRouteMatcher().
Maybe we can even omit the update in case there is no change.

[2018-01-04 14:45] szuecs commented on #531
@lmineiro I think we should just drop the Source predicate, because you can easily fake it

    % curl -kv -H"X-Forwarded-For: 192.168.0.4" -H"Host: localhost" https://some-ingress-endpoint/kube-system/healthz
    < HTTP/1.1 200 OK
    < Date: Thu, 04 Jan 2018 14:44:12 GMT
    < Content-Type: text/plain; charset=utf-8
    < Content-Length: 0
    < Connection: keep-alive
    < Server: Skipper

[2018-01-04 14:56] lmineiro commented on #531
Can you try that behind the ELB/ALB?

[2018-01-04 15:22] szuecs commented on #531
@lmineiro It will work, because we use X-Forwarded-For header as remote ip if it's in the header and the host header is chosen by the user, so no difference anyways

[2018-01-04 15:41] lmineiro commented on #531
I'd still like to see how the ELB/ALB handles an existing `X-Forwarded-For` header. If it just appends itself the multivalue header or as the last comma-separated list of proxies.

The [source predicate takes the left most host as the client IP](https://github.com/zalando/skipper/blob/master/net/net.go#L29).

[2018-01-04 16:00] szuecs commented on #531
Amazon documentation is undefined for ALB and is different from ELB:

    curl -kv -H"X-Forwarded-For: 192.168.0.4" -H"Host: localhost" https://some-endpoint/kube-system/healthz

15:58:31.794845 IP 172.31.2.194.3768 > 172.31.20.165.9999: Flags [P.], seq 1502:1748, ack 159, win 10209, options [nop,nop,TS val 2407620323 ecr 572090078], length 246
E..*-L@...............'..F.     w6.>..'........
..^."

[2018-01-04 16:09] lmineiro commented on #531
Seems to have followed the same behavior as [Go's reverse proxy](https://github.com/golang/go/blob/e676dbbdaf20e00609ba4cddfd55619a1e530b21/src/net/http/httputil/reverseproxy.go#L187).

Thanks for confirming.

[2018-01-04 16:28] szuecs commented on #531
Fun fact: AWS is somehow wrong and not wrong and everyone else does it exactly the way skipper is doing it right now.

https://en.wikipedia.org/wiki/X-Forwarded-For
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-For

https://tools.ietf.org/html/rfc7239#section-7: has only one example showing that wikipedia is somehow right, but the order can not be considered as a definition

[2018-01-05 08:59] tkrop opened #534 "Allow to suppress http access log entries for distinct endpoints and/or sources"
The (http) access log entries in skipper contain any request. It is not possible to filter logging to hide certain requests, e.g. cluster internal request, or filter requests to certain endpoints, e.g. health endpoints. This can be helpful to reduce log volume to important information.

[2018-01-05 09:02] tkrop opened #535 "Allow to add distinct headers into http access log output as extension."
In certain situations it may be interesting to have certain header information available in the http access log entries, e.g. call/trace identifiers, that help to match requests across system boundaries.

[2018-01-05 12:48] lmineiro commented on #534
We could also consider optional sampling. In hight traffic situations a small percentage of the requests should be statistically enough for many use cases.

[2018-01-05 12:51] lmineiro commented on #535
I think the filter to dump all the headers is good enough for general, one-off, debugging troubleshooting while the call/trace identifiers seems to me that is better solved with distributed tracing.

Skipper already supports via opentracing. See https://github.com/skipper-plugins/opentracing. PRs with more tracers that adopt the standard are welcome, like Jaeger and/or OpenZipkin.

[2018-01-16 09:29] szuecs opened #539 "add tutorial in external-dns"
https://github.com/kubernetes-incubator/external-dns/tree/master/docs/tutorials is missing skipper

[2018-01-17 19:59] szuecs commented on #531
Was merged

[2018-01-17 19:59] #531 closed

[2018-01-19 08:39] szuecs opened #542 "opencensus support"
Maybe it's more related to https://github.com/skipper-plugins/ , what do you think about opencensus support @lmineiro ?
It's in the early stages but could be really interesting.
https://opencensus.io/
https://github.com/census-instrumentation/opencensus-go/

Additionally the w3c information about trace context.
https://github.com/w3c/trace-context/issues
https://www.iana.org/assignments/message-he

[2018-01-19 08:58] lmineiro commented on #542
This is definitely something we should be looking into. We're also evaluating it as an additional abstraction layer on top of opentracing because it standardizes the wire for trace propagation.

We have some people investigating that and evaluating the effort to integrate with vendors that are still not supported. We may end up contributing that to the project.

[2018-01-22 15:23] aryszka opened #544 "legacy style predicates from kubernetes ingress annotations don't work"
The "legacy" style predicates are added to a route definition as fields on the eskip.Route type. The newer style of predicates are appended to the Predicates slice field. The predicates defined as Kuberentes ingress annotations are all appended to the Predicates slice field. When the routing processes these predicates, it cannot find their specification, and cannot initialize these routes, logging

[2018-01-25 20:01] mikejk8s opened #546 "Session affinity/load balancing algs"
Hey, I'm checking out Skipper and really impressed so far but ran into an issue, or a question. I see a lot of ways to manipulate a cookie for a/b testing, etc. But I don't see a way to take the cookie that a user receives (generated per user per connection) and do session affinity based on it.

In Nginx and HAproxy ingresses I need to set the ingress annotation;     ingress.kubernetes.io/affinity

[2018-01-25 20:22] hjacobs commented on #546
Load balancing is worked on in https://github.com/zalando/skipper/pull/536 (without affinity I think)

[2018-01-26 15:11] szuecs commented on #546
@mikejk8s skipper has basically 2 primitives which are exposed through annotations to kubernetes ingress:
1. filters: change http data
2. predicates: change matching

What you want is basically create 2 ingress objects, one sets a cookie in a filter and the second uses the cookie predicate to match this cookie.

https://godoc.org/github.com/zalando/skipper/predicates/traffic

In case of kubernetes

[2018-02-07 10:39] szuecs commented on #178
@lmineiro I hope you agree that this was already done, if not please reopen and write what's missing, thanks

[2018-02-07 10:39] #178 closed

[2018-02-07 10:43] szuecs opened #549 "Kubernetes service ExternalName should be possible to target from ingress"
As a user, I want to specify an external proxy target within the ingress object.

In Kubernetes this could be done with [service type ExternalName](https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services---service-types), but the skipper kubernetes dataclient does not support this, yet.

[2018-02-12 09:00] evangelion1204 opened #551 "Customize access logs"
Hi,

we are already very happy that the Flow-Id is part of the access logs. Currently I am investigating if we could also add additional data to the access logs, like the client id.

Two option come to my mind here

### Option 1
Add to context some sort of log context maybe quite similar to the request in the last comment of #423
This would allow filters or predicates to push data to the logger -

[2018-02-21 14:31] alex-roger-1942 opened #554 "Query: Skipper Docker image and localhost (Possible issue?)"
Good day,

I hope this is the right place to ask, and I'm excited to start exploring skipper. However I seem to be getting a strange issue when attempting to route to localhost while learning about this great platform.

1. I created a simple eskip file

footer:
		Path("/fragments/footer")
		-> "http://localhost:3003";
header:
		Path("/fragments/header")
		-> "http://localhost:3002";
signin:
		Path

[2018-02-21 14:54] szuecs commented on #554
Hi!

There is nothing wrong in your eskip, file as far as I can see. I tested your file with plain skipper without docker and it works.

The problem will be docker, because skipper can not reach your localhost from inside the docker container. That's also why baidu and yandex works.

[2018-02-23 13:32] szuecs opened #556 "loadbalancer optimization"
#536 will do a double lookup of routes. As optimization we should change the lbgroup/members.

lbmembers should not be a route, so also not part of the routing tree, but should be a slice of members within a loadbalanced route.

        hello_lb_group: Path("/foo") && LBGroup("hello")
                -> lbDecide("hello", 3)
                -> <loopback>;
        hello_1: Path("/foo") && LBMember("

[2018-02-23 13:42] szuecs opened #557 "loadbalancer algorithms"
- #536 implements a loadbalancer feature with only roundrobin algorithm.
- After #556 we should have a solid code base to easily implement different algorithms per route.

We want to have some other algorithms being possible and able to choose per route (for example from ingress). Algorithm ideas we could support:

- [ ] random
- [ ] LRU (adds memory usage)
- [ ] closest (by ip on the local node)

[2018-02-26 22:12] #499 closed

[2018-02-27 13:28] DeTeam opened #559 "CORS filter"
Just experienced a use-case when it would be nice to have a convenience `cors` filter which would take care of setting the right response headers.

[2018-02-27 13:34] szuecs commented on #559
@DeTeam Could you describe how this should be ideally looks like from the user perspective?
Please also specify which headers we should write into the response.

I think it makes a lot of sense, but please provide more information, such that we can build it fast. Thanks!

[2018-02-27 13:42] DeTeam commented on #559
In my particular use-case: `Access-Control-Allow-Origin: *` + any methods + any headers
But I guess it's only good for testing.

It could also in theory take care of setting up a separate "pre-flight route" which would response to OPTION and quickly return cors headers.

<sup>1</sup> https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS - nice reference

Thinking about it again, it might be enoug

[2018-02-27 14:22] DeTeam commented on #559
Another thing which this filter could do: take some request headers (access-control-allow-*) and just return them (for methods and headers) %)

[2018-02-27 15:09] ruiaraujo commented on #559
@DeTeam It should take options for allowed origins since the header only allows sending a single origin.

[2018-03-01 21:41] andreasottosson opened #560 "Path rewrite for Ingress"
Trying to use the modPath filter to strip away a part of the path thats being sent to the backend but nothing seems to happen. Similar to Traefik's PathPrefixStrip.. Am i missing something or does this not work?

Example (Strip away /api/):

annotations:
  zalando.org/skipper-filter: modPath("^/api/", "/")

[2018-03-01 22:56] szuecs commented on #560
Hi!

In general it should work like this in a skipper route:

     Path("/api/foo") -> modPath("^/api", "") -> "http://localhost:10000"

or

     Path("/api/foo") -> modPath("^/api/", "/") -> "http://localhost:10000"

You can check the routes within your container with, which often helps to understand what is wrong:

    wget -O/dev/stdout localhost:9911/routes | grep -C 2 modPath
    kube_default

[2018-03-02 11:41] andreasottosson commented on #560
Hi! Thanks @szuecs for you quick answer! I do see something similiar: (i have modified this response a bit for security reasons...)

kube_dev__freight_flip__testdev_freight_domain_com____freight_flip_service_0: Host(/^testdev-freight[.]domain[.]com$/) && LBMember("kube_dev__freight_flip__testdev_freight_domain_com____freight_flip_service", 0) && Path("/flip/:wildcard")
  -> modPath("^/flip", "")

[2018-03-02 13:22] szuecs commented on #560
@andreasottosson,

The `Path("/flip/:wildcard")` predicate will match on /flip/bar, but not /flip/bar/foo. Are you sure that you have no longer path than shown in your URL that you call?
If you have a longer path you can use `Path("/flip/*")` to match all subtree patterns.

### Additional questions if this was not your problem
Which skipper version and flags are you using?

From your ingress objec

[2018-03-02 13:41] aryszka commented on #560
@andreasottosson , I believe the root of the problem here is caused by this bug:

https://github.com/zalando/skipper/issues/544

What this means that the Path("/api/:wildcard") predicate is not applied at the moment. The fix is on its way.

Until that, the best workaround should be to use the ingress style path specification instead of the Path predicate annotation, while leaving only the modPath

[2018-03-02 14:03] andreasottosson commented on #560
You guys are awesome with your quick responses! Much appreciated! ;) It's my 10th day of using Kubernetes so this is all new to me.. I managed to solve this now by using version v0.9.152. Indeed Path("/api/:wildcard") predicate is not applied. I just changed the version of skipper and it now works as expected. Thanks again @szuecs & @aryszka !

[2018-03-02 14:03] #560 closed

[2018-03-02 14:19] NorthFury opened #562 "eskip parsing of string literals is different than expected"
The only cases where the escape char is removed is when it precedes an escape char or a delimiter (`"`, `/` or `).
[Here](https://github.com/zalando/skipper/blob/master/eskip/lexer.go#L130) is the code location I'm referring to.

Examples:
`"\."` gets parsed as `\.`

[2018-03-02 14:26] szuecs commented on #544
So as far as I understand #560 , this is only an issue for loadbalanced routes.

[2018-03-02 15:17] szuecs commented on #562
@NorthFury can you show what you tested as input and what was the result of your test and what you might want to see.
Probably you are right, but I can not understand you.

[2018-03-02 16:29] NorthFury commented on #562
Here is an example of a route that is currently valid:
`one: HostRegexp("^/one\.two$") -> <shunt>;`
Here is what would be a correct definition (still valid in the current implementation):
`one: HostRegexp("^/one\\.two$") -> <shunt>;`

What would be expected in a string literal is that the only characters following `\` would be `\` and `"`.  The Regexp literal has the same parsing model.

Fixing th

[2018-03-04 14:22] aryszka commented on #420
how about using the standard http proxy setting configured in the environment? Then the clients just need to use the proxy.

[2018-03-04 17:44] szuecs commented on #420
I changed the description to reflect your point. Separated cluster internal and external communication and 2 options for external communication.

[2018-03-04 21:55] szuecs commented on #422
retry on TCP/TLS connect failures are done

[2018-03-04 21:55] #422 closed

[2018-03-05 15:20] szuecs opened #563 "loadbalancer does not filter ports in endpoints"
For example this service creates for one replica 2 endpoints and we would sent to both endpoints traffic, but maybe in the ingress we selected only service with port name "http" :

    spec:
      clusterIP: 10.3.0.69
      ports:
      - name: http
        port: 80
        protocol: TCP
        targetPort: 9090
      - name: metrics
        port: 9911
        protocol: TCP
        targetPort: 991

[2018-03-05 17:03] #563 closed

[2018-03-05 22:39] szuecs commented on #554
@alex-roger-1942 I will close this issue, because I think you can just use port-forwarding in docker and this would fix the problem you see.

[2018-03-05 22:39] #554 closed

[2018-03-06 12:46] linki opened #566 "500s because of division by 0"
Using skipper v0.9.165 we get a division by zero which leads to 500s for all affected ingresses.

I see this routes in my skipper:

[code]

[code]
This leads to a division by zero here:
* https://github.com/zalando/skipper/blob/v0.9.165/loadbalancer/filter.go#L77
* https://github.com/zalando/skipper/blob/v0.9.165/loadbalancer/filter.go#L33

Looks like the new `Targets` with port filter return an e

[2018-03-06 13:00] linki commented on #566
We also have to take into account the mapping from `port` to `targetPort` in the `Service`.

[code]

[2018-03-06 13:20] aryszka commented on #566
@linki @szuecs the CreateFilter() should reject group size args that are < 1, here:
https://github.com/zalando/skipper/blob/36d4ee867d2df37bc6d562b0ef505272dc5fea6a/loadbalancer/filter.go#L49

[2018-03-06 14:15] szuecs commented on #566
@linki thanks fr the report, I think we should return `errEndpointNotFound` if the ep.Targets() https://github.com/zalando/skipper/blob/v0.9.165/dataclients/kubernetes/kube.go#L441 return an empty list. It would then use the Kubernetes service ip as backend definition.

[2018-03-08 15:01] szuecs commented on #566
division by 0 was fixed, but not the underlying find service/endpoint port problem

[2018-03-09 16:51] szuecs commented on #566
#567 was merged

[2018-03-09 16:51] #566 closed

[2018-03-12 08:39] szuecs commented on #269
We changed a lot in the error handling, I suspect that this is not valid any more.
We also set more explicit status code on different failures.

[2018-03-12 08:39] #269 closed

[2018-03-12 11:30] aryszka commented on #423
I prefer Option 1. For the incoming header problem, I would default to reusing, and there could be an option to force new flow-ids.

The interface in the context could be provided in a similar way to the custom metrics: https://godoc.org/github.com/zalando/skipper/filters#Metrics

[2018-03-14 06:37] alex-roger-1942 opened #577 "pass hash based history to skipper?"
Hi,

Sorry if this is not the right place to ask but I'm curious. Is it possible without writing additional plugins to pass hash based paths to skipper? I'm currently migrating an app to microservice architecture and would like to put skipper in front as I migrate.

So resolving something like
testplatform.domain.com/auth#/signin
testplatform.domain.com/auth#/signup

and eskip routes such as -

lo

[2018-03-14 07:43] mikkeloscar commented on #577
This is not possible with skipper (or any proxy) because the hash ([Fragment identifier](https://en.wikipedia.org/wiki/Fragment_identifier)) is a client side thing, so your browser will not send it in the request.

[2018-03-14 09:43] alex-roger-1942 commented on #577
Interesting, so when you guys push state to the url bar at zalando do you guys use html5 push state, how do you rewrite so that things work correctly with skipper and tailor?

[2018-03-14 09:59] alex-roger-1942 commented on #577
I suppose there is nothing stopping my caller from specifying this for my current need.
so I can go /signup#/signup for now.

[2018-03-14 10:07] szuecs commented on #577
@alex-roger-1942 I can't answer your html5 use question, but if you need to set/modify/delete a fragment it should be fairly easy to implement. If you do not mind creating a PR, you can have a look at the implementation of the *Query() filters in https://github.com/zalando/skipper/blob/master/filters/builtin/query.go.

[2018-03-14 10:10] alex-roger-1942 commented on #577
Thanks!

[2018-03-14 10:10] #577 closed

[2018-03-15 20:30] aryszka commented on #562
my understanding is:

`"\\"` in eskip is parsed to `"\\"` go internal, which is fine
`"\."` in eskip is parsed to `"\\."` go internal, which is wrong

i agree that this is a bug

[2018-03-16 21:13] aryszka opened #583 "refactor: kubernetes tests"
the tests and the harness in the kubernetes package reflect an early, rather premature state of the kubernetes integration, and they cause some pain when testing and reviewing changes. We need to clean up and refactor the tests. Ideally without changing the prod code.

- Improve the test kubernetes API mock to support independent tests cases
- create a better set of Kubernetes Spec initialization

[2018-03-16 21:16] aryszka opened #584 "refactor: kubernetes data clients"
once, #583 is done, the kubernetes data client should be refactored to make changes and improvements easier and safer. Ideally without changing the tests.

separate the phases:

1. request the kubernetes specs
2. validate and preprocess
3. generate skipper route representation for the ingresses

[2018-03-17 07:38] mikkeloscar opened #585 "Fix unstable tests: httpsredirect_test.go"
The tests in `dataclients/kubernetes/httpsredirect_test.go` are currently failing quite often, making PRs with unrelated changes fail.

I believe the failure is caused by a race in setting up the router and running tests against it before it has got the initial routes from the dataclient.

Some ideas for fixing this:
1. Drop the whole integration test and just test that we create the expected redi

[2018-03-17 13:05] aryszka commented on #585
@mikkeloscar can you confirm that this changeset was already applied when you ran this test? https://github.com/zalando/skipper/commit/2773183b47f7fcca0d25039b3b8bf09fff4bd829#diff-9ce10fec44f49e925acea5a07258d3b7 . Because it's not failing for me anymore.

1. dropping the integration: the reason i am not a big fan of it is that we had recently a couple of bugs that would have been immediately spo

[2018-03-17 13:55] szuecs commented on #585
Thanks for sharing ideas how to fix the tests.
There was once a very good talk from Mitchel Hashimoto how to test in Go.

For timing dependent tests he presented a solution which we could try to use:

- do not use fake time!
- add multiplier to increase timeouts as CLI parameter and default it to 1

[code]

[2018-03-17 14:26] mikkeloscar commented on #585
Yes, unfortunately I still see it fail when I run tests on master now. I also saw it on both travis and CDP when working on #581 where I also rebased on master after we merged your changes.

I have tried on both my old laptop and my desktop :) and it happens roughly every 1/10 runs.

I think this is still a form of sleep, which we should try to avoid IMO.

I would go with some sort of synchronizat

[2018-03-17 17:16] aryszka commented on #585
ok, thanks for confirming, i look into it. There's a race condition. Thanks for finding it.

I also don't like Mitchel's approach in this (rare) case. Apart of the nicer coding solution, it's the same as we did before and leads to the before mentioned problems.

I see two alternative solutions for this syncing:

1. use buffered channels on the objects, like the routing.Routing, that act as synchro

[2018-03-17 19:12] aryszka commented on #585
it's not a concurrency race but a randomness race :smile_cat:

see #586

So, we can fix this test now just to fix the build, but there is this design question of what to do with the competing default backends.

[2018-03-17 19:15] aryszka commented on #585
The suggestion to improve concurrent testing are still good and we should address them as improvements.

[2018-03-18 12:36] #585 closed

[2018-03-18 12:43] szuecs commented on #559
@ruiaraujo I assigned you according to your twitter message, you might want to do additional work, so I let this issue open.

[2018-03-18 12:49] szuecs commented on #546
@mikejk8s since https://github.com/zalando/skipper/releases/tag/v0.9.161 we bypass Kubernetes service  and make the backend call to the endpoint (please use the latest and no v0.9.161), so I would consider this as fixed.
Missing might be documentation to show this use case.

[2018-03-18 20:13] aryszka opened #589 "improve testing of concurrent functionality"
currently we often rely on the loggingtest package for synchronizing steps during testing wich is mixing synchronization concerns into logging, and also not very intuitive. Consider using separate synchronization hooks instead of logging.

See the discussion in this closed issue: #585

[2018-03-18 20:16] aryszka commented on #589
@mikkeloscar @szuecs i played with extracting the syncing test from the logging test. I got so far: https://godoc.org/github.com/aryszka/syncbus and https://github.com/aryszka/syncbus/ . what do you think? shall we use it?

[2018-03-26 13:53] vetinari commented on #559
@ruiaraujo @szuecs  is this done with #595?

[2018-03-26 14:02] vetinari commented on #523
Just for completeness: the Cleaner (or Closer) interface should also be applied to predicates, see https://github.com/skipper-plugins/predicates/blob/master/geoip/geoip.go - for closing the fh, this one could use it, too.

[2018-03-26 14:12] ruiaraujo commented on #559
I believe so but I will check when I try to use it. I will close it now myself and once I have it in production, if something is missing I will reopen.

[2018-03-26 14:12] #559 closed

[2018-03-27 13:31] szuecs commented on #525
#557

[2018-03-27 13:31] #525 closed

[2018-04-02 15:36] stevoPerisic opened #606 "HttpOnly cookies are not being set"
Calling APIs that return HttpOnly cookies back in the Set-Cookie header are not persisting on the browser.

[2018-04-02 18:57] aryszka commented on #606
Hi @stevoPerisic , thanks for posting this issue!

Could you please provide some more details? What does the Set-Cookie header contain that is sent by the API, and is there a difference between this header and what skipper returns?

By default, Skipper copies all the cookies verbatim, just like any other header, without knowing that they are cookies. This is also means that if the cookie has a dom

[2018-04-02 19:05] stevoPerisic commented on #606
Hi @aryszka here are some details.
I have an eskip file with a route set to a domain that hosts APIs. There is an API that needs to be called to create a session with the server. The AJAX call is made from the front end after the page loads. It goes out and comes back ok. However the "set-cookie" header contains HttpOnly cookies that do not get set (are not visible in the dev tools). A subsequent

[2018-04-02 19:28] aryszka commented on #606
Thanks for the details.

Just to be sure, is the Domain property of the cookie the one of the proxy, or is it the domain of the backend API?

Could you check if your setup is different regarding the cookie from my test described below? I simulated the backend API with a skipper running this route:

[code]

...and ran a proxy skipper with this route, on port 80 for the test:

[code]

and accessed i

[2018-04-02 19:29] MALPI commented on #487
@zhen-w Any news? Otherwise I'll take it.

[2018-04-02 19:36] stevoPerisic commented on #606
The set-cookie value is like this:
```Set-Cookie:[cookiename=abc; path=/; HttpOnly; Secure]```

[2018-04-02 19:39] stevoPerisic commented on #606
And the API is on a different domain.

[2018-04-02 19:59] aryszka commented on #606
I updated the above experiment:

- removed the domain from the cookie
- added the secure property

so that backend route looks like this:

[code]

This should match the cookie that you described. Started the proxy on HTTPS 443 with self-signed certificate, and everything worked as expected: the browser accepted the cookie and sent it with the sub-sequent requests.

I'd need some more input, but no

[2018-04-03 12:50] stevoPerisic commented on #606
Ok, I have tried the test as you suggested and set up a route like so:
[code]
It did **not** set the cookie. See below:
![screen shot 2018-04-03 at 8 47 08 am](https://user-images.githubusercontent.com/1771243/38250092-df106d66-371b-11e8-8fe0-09de81301f94.png)
![screen shot 2018-04-03 at 8 47 19 am](https://user-images.githubusercontent.com/1771243/38250097-e38ab9fa-371b-11e8-89b3-98650339a771.png

[2018-04-03 13:35] stevoPerisic commented on #606
Ok, I think I know what I'm doing wrong... not running a https on my localhost. I'll try that and it should fix it. I appreciate the help and sorry for wasting your time.

[2018-04-03 14:50] stevoPerisic commented on #606
@aryszka how can I start a https skipper proxy?

[2018-04-03 18:49] aryszka commented on #606
@stevoPerisic no worries, happy that it works now.

starting skipper with https: if you set the -tls-key and -tls-cert command line options, then skipper will automatically start in https. If it's only local testing, then it's fine to run it with self signed certificates. Try generating self signed certificates without passwords:

[code]

then start skipper:

[code]

[2018-04-03 18:51] stevoPerisic commented on #606
Awesome. Thanks!

[2018-04-03 18:51] #606 closed

[2018-04-04 11:19] tkrop opened #608 "loadbalancer does not balance load evenly"
We have a strong evidence, that the Skipper's loadbalancer does not distribute load evenly between endpoints. Our setup contains two different paths of a single service provided by two service instances. Path (a) is processing a very low number of long running requests, while path (b) is serving a huge number of short requests. When we look into the logs, we can see that requests are not evenly di

[2018-04-04 12:28] szuecs commented on #608
I checked it with @tkrop in this specific situation and the caller targets only one skipper instance. In front of skipper we run ALBs with targetGroup skipper, so the caller has an open connection to skipper, I expect that it uses something like h2 which would transparently stream to one endpoint in case you only open one connection this will be most probably the reason for this issue.
We can't do

[2018-04-06 10:53] tkrop commented on #608
@szuecs Not sure that this is the way to go. When I look at the behavior of the ALB it seems to not fall in such a trap. The ALB seems to forward request randomly to one of the available endpoints on skipper. May be Skipper should act similar.

[2018-04-06 21:29] #487 closed

[2018-04-08 16:27] szuecs commented on #608
@tkrop This I don't understand, because we looked both into it with tcpdump and watched the requests coming into one instance only. Let's discuss it in person again and check the nodes.

[2018-04-09 16:02] lmineiro opened #610 "Verify unbound connection/request limit and its impact"
**Hypothesis**
Each edge request gets its own goroutine and memory usage for variables that are request scoped.

With the current timeout, it should be possible for a misbehaving client (or set of them) to exploit Skipper's unbound connection pool to the backends if they take longer to finish serving the requests than the edge throughput.

**Example**
Having a constant throughput of 1000 rps where

[2018-04-11 08:00] szuecs opened #612 "failing build eskipfile TestWatchUpdateRecover"
The build of #593 is failing on travis (maybe flaky test, because yesterday it worked without code change in this).

[code]

[2018-04-11 08:31] szuecs commented on #610
What do you mean by connection? TCP or already HTTP request?

Thanks for the question, it's a good one and as I know you, you are one of them that can test this best.

More background ideas:

There are good arguments to not use a queue for handling TCP connections from dropbox, they use now a stack instead, such that the never drop all connections if they are in an overrun situation. I guess we wo

[2018-04-11 13:17] daviddyball opened #613 "Multiple Skipper Deployments"
Hi All,

Is there a way to use a `labelSelector` or similar to have `Ingress` objects handled by certain deployments of Skipper? When I was using Traefik I was able to use a `labelSelector` to target only `Ingress` objects with certain metadata, which allowed me to have 3 different deployments of Traefik on the same cluster.

Is this possible with Skipper? I can't see anything in the documentation

[2018-04-11 14:49] szuecs commented on #613
Hi @daviddyball,

I might not understand 100% your question, so I will ask some questions first and sum up with a solution from what I understood.

Why you have 3 different deployments of the same ingress controller?
Do you run some kind of loadbalancer in front of skipper ingress?

A solution can also be to let 3 different skipper deployments have all routes and pick the skipper you want to call

[2018-04-11 16:09] daviddyball commented on #613
Forgive me if my thinking is incorrect, but I want the following:

1. AWS Internal ELB -> `skipper-internal` -> All `Service`s labelled with `ingress-type=internal`
2. AWS External ELB -> `skipper-api` -> All `Service`s labelled with `ingress-type=api`
3 AWS External ELB -> `skipper-admin` -> All `Service`s labelled with `ingress-type=admin`

Am I thinking about this the right way? If I was deploy

[2018-04-11 16:40] szuecs commented on #613
Thanks for elaborating on this.

I think right now we have no similar solution with splitting these as you wrote.

You can use another way as I think should be feasible, let me know if it's not.
In the end you want to decide per ingress who is allowed to do access based on IP space.
The following links show you how to do this. You can use one ALB with SNI certs in front of skipper and use the pred

[2018-04-12 09:25] szuecs opened #614 "kubernetes uneven loadbalanced members"
I assume a proper fix would be to implement https://github.com/zalando/skipper/issues/556.
I do not fully understand the problem, yet but we see in 3 ingress uneven balanced distribution of backend calls.

We tried to:

- [X] restart skipper instances which did not help to spread again
- [X] checked with tcpdump and saw that backend calls with X-lb-member was passed to backends

As a workaround yo

[2018-04-12 09:30] aryszka commented on #614
related #608

[2018-04-14 20:06] szuecs commented on #532
#618 fixed the unnecessary updates

[2018-04-14 20:06] #532 closed

[2018-04-16 11:07] vetinari opened #621 "Allow multiple certificates / keys"
When using skipper as entry point it would be nice to have multiple certificates. Go supports SNI on TLS enabled Servers. POC:

[code]

Generate cert/keys with
[code]

edit /etc/hosts to set host1.local and host2.local as alias for 127.0.0.1  and run with `go run server.go host1.crt.pem,cert.pem host1.key.pem,key.pem` and use `curl -v https://host1.local:8081/ --cacert host1.crt.pem --http2` and `

[2018-04-16 12:34] #614 closed

[2018-04-16 12:48] pavel-letskii opened #623 "Multiple methods in skipper-routes"
I'm using skipper as a part of kubernetes ingress controller.
I've added custom HTTP headers with annotations:

[code]

I can't find any information how to add same headers for other methods at the same time. I would like to add POST and OPTIONS.

[2018-04-16 13:04] szuecs opened #624 "oauth filter - implicit flow"
#367 implements plain Bearer tokens for svc-to-svc communication.
As a second step it makes sense to help frontend application an build the whole implicit flow

[2018-04-16 13:14] #621 closed

[2018-04-16 13:16] szuecs commented on #623
I think you want to use https://godoc.org/github.com/zalando/skipper/filters/cors, which provides a much cleaner solution from the user point of view.

[2018-04-16 22:17] stevoPerisic opened #625 "Requests failing on VPN"
Skipper requests are failing with "status code 502: proxy error with code -1" when used on VPN. How can I make it use the system Proxy settings?

[2018-04-17 05:49] pavel-letskii commented on #623
@szuecs thanks!
@ruiaraujo Can I multiple static routes? Like:
[code]

[2018-04-17 09:49] szuecs commented on #625
@stevoPerisic I might not follow the problem.
Do you want to use skipper as forward proxy to proxy all http calls through skipper?
This use case is not possible right now, because skipper is a reverse proxy.

[2018-04-17 10:34] stevoPerisic commented on #625
@szuecs, while I am on a VPN connection the https calls that are routed through skipper are failing.

[2018-04-17 14:58] stevoPerisic commented on #625
1. Start a VPN like GhostVPN on your local machine
2. Start Skipper with a route to an https URL
3. Try to navigate this route and see "status code 502: proxy error with code -1"

That's all I have :)

[2018-04-18 08:15] szuecs commented on #625
Your setup is not clear from your description.
Is your VPN terminating into your cluster?
Where do you terminate TLS?
Which URL are you calling?
Which skipper version are you using?
Can you show us some skipper logs around this error?

[2018-04-18 09:12] aryszka commented on #623
Hi @pavel-letskii ,

yes you can add multiple routes in the annotation, but with minor differences, something like this:

[code]

The difference is basically adding route ids (getFoo and postFoo), and separating the routes with semicolons. Pls let us know how it works out.

[2018-04-19 07:57] szuecs opened #628 "group cache"
Skipper fleet should be able to serve a groupcache, that would enable one of the missing API gateway features.

TBD

[2018-04-19 08:03] szuecs opened #629 "ratelimit by token scope/claim"
Ratelimit supports right now the lookup of X-Forwarded-For header (or client IP) or Authorization header.
Authorization header is a simple way to limit by Bearer Token.
The problem with the Authorization header is that you can circumvent this by getting a fresh token.

A solution would be to lookup a scope from the token and an identifier of the source application.
These have to be set within a fi

[2018-04-19 18:18] szuecs commented on #623
@aryszka we could also have a Method defined with varargs, which would simplify the definition here and probably in others, too.

[2018-04-20 16:17] aryszka commented on #628
i was working on this project: https://github.com/aryszka/forget with skipper group cache in mind. The missing point was the swarm communication to maintain a hashring of the skipper instances. The nice thing about Forget is that it supports streaming even while a cache entry is being filled.

[2018-04-23 08:52] daviddyball commented on #613
Apologies for the late response @szuecs , just returning from holiday today.

I think the ability to roll out multiple ingress controllers and use service-label selectors is one of the strongest features of Traefik. Doing it via IP-space filtering, while possible, feels like extra overhead to me and isn't really feasible for the project I'm currently working on, so I'd love to see selector support

[2018-04-23 12:38] szuecs opened #630 "support openidc with JWT claim support"
## get config

The OIDC config is located at `<issuer>/.well-known/openid-configuration`.

For example
- authorization_endpoint: oauth2.Config.Endpoint.AuthURL
- token_endpoint: oauth2.Config.Endpoint.TokenURL

One **problem** is that `/.well-known/openid-configuration` , is not mandatory returning the introspection_endpoint by https://tools.ietf.org/html/draft-ietf-oauth-discovery-06 (marked as O

[2018-04-23 13:18] szuecs commented on #613
@daviddyball I think your request makes a lot of sense, so I would consider implementing it. I think we just need a CLI option `--kubernetes-ingress-class` and use this in the `ingress.class` annotation used as a selector if we "own" this ingress or not. Default could be get all, if this flag is not provided.
Does this makes sense to you?

[2018-04-23 14:38] daviddyball commented on #613
Yep, that's exactly how Traefik handles it 👍

[2018-04-24 13:57] hjacobs opened #631 "Extract and log "sub" claim from JWT token from Authorization header"
To be discussed: In order to have authorization information in the Skipper access log, we could consider extracting the `sub` claim from the JWT access token passed in `Authorization` header (OAuth Bearer token).

[2018-04-24 14:03] szuecs commented on #631
I guess #630 is a precondition as far as I understand or is tokeninfo #367 good enough?

[2018-04-25 15:40] hjacobs commented on #631
@szuecs I would actually not call any Token Info endpoint, I would simply parse the JWT JSON and extract the claim --- i.e. Skipper would not have the responsibility of authorization, but it could log the `sub` claim and the status code easily tells whether it was successful or not.

[2018-04-25 15:58] lmineiro commented on #631
@hjacobs you mean, just base64 decoding it and pull the `sub` claim, without checking its integrity?

[2018-04-25 16:07] hjacobs commented on #631
@lmineiro yes, it's only for logging purposes and having the correlation in Kubernetes ingress logs. The app MUST have the authorization logic anyway (and already has).

[2018-04-26 21:38] szuecs commented on #625
Seems like no issue

[2018-04-26 21:38] #625 closed

[2018-04-27 08:37] szuecs opened #633 "Flag for timeouts to oauth filters"
Allow to define timeouts to oauth filters.

- [ ] `-oauth2-tokeninfo-timeout` as a command-line
- [ ] change the authClient to use the specified request timeout

[2018-04-27 13:47] szuecs commented on #613
I will close this issue because everything should be possible already and it's now documented at:
https://zalando.github.io/skipper/kubernetes/ingress-controller/#multiple-skipper-deployments

[2018-04-27 13:47] #613 closed

[2018-04-30 15:55] szuecs commented on #630
started to build this in branch feature/oauth2-introspection

[2018-05-01 19:33] MALPI commented on #134
Can this one be closed?

[2018-05-02 07:57] szuecs commented on #134
yes

[2018-05-02 07:57] #134 closed

[2018-05-02 10:06] #631 closed

[2018-05-07 22:24] ebuychance opened #640 "configuration documentation of the Oauth2 auth filters"
So I am fairly new to GO and Skipper. I have been using the latest Skipper docker image from within a docker-compose file and that works fine for me. But now I want to implement an Oauth2 authorization layer via the auth filters as described here: https://godoc.org/github.com/zalando/skipper/filters/auth

First question: Is the latest docker image up to date with the recent auth changes in the rep

[2018-05-08 07:25] hjacobs commented on #640
@ebuychance to answer your first question: the latest Docker image is v0.10.2-1-g4d9b358 (automatically build from master via our CI/CD pipeline). You can also find this yourself via https://registry.opensource.zalan.do/teams/pathfinder/artifacts/skipper/tags (or use the Swagger UI on https://registry.opensource.zalan.do/ui).

[2018-05-08 07:41] szuecs commented on #640
@ebuychance to fully answer your first question: if we release in Github releases (https://github.com/zalando/skipper/releases), then we trigger the next docker build to https://registry.opensource.zalan.do/. Nothing is wrong with @hjacobs answer, but to show the process behind.

second question: We use only cli parameters for global configurations everything else is configured per route https://o

[2018-05-08 15:12] ebuychance commented on #640
Glad to hear the CI/CD builds a new docker image for each 'release.'

@hjacobs, @szuecs => **Thanks for the quick answers!**

1. _Do you use a specific provider?_
     A: [AWS Cognito](https://docs.aws.amazon.com/cognito/latest/developerguide/what-is-amazon-cognito.html) - **Can Skipper authenticate with Cognito?** (_Right now the authorization filters are limited to tokeninfo svc-to-svc communica

[2018-05-08 15:48] szuecs commented on #640
tokeninfo validation with skipper in a svc-to-svc should just work, but I am not sure if AWS Cognito has a tokeninfo endpoint. I tried to find the tokeninfo endpoint description in AWS but I did not find it.

You would start skipper with `-oauth2-tokeninfo-url=https://sometokeninfo/url` and then you can use all the filters with prefix `oauthTokeninfo` documented at https://godoc.org/github.com/zal

[2018-05-08 16:44] ebuychance commented on #640
So I thought I would play with Skipper some and see what I can figure out and hit this first thing:
**flag provided but not defined: -oauth2-tokeninfo-url**

• Do I still need to build my own docker image and import the auth lib?
• What other Oauth2 settings do I need to set? (credentials perhaps)

**Thanks in advance.** I have read all the documentation I have found so far and still not clear wha

[2018-05-08 17:53] szuecs commented on #640
I am just building this, that's why I ask and can give you hints.
As I said current state is tokeninfo should work as defined filters you can see in  https://godoc.org/github.com/zalando/skipper/filters/auth.

We have also a slack channel #skipper at https://gophers.slack.com/, invite  you can get from https://invite.slack.golangbridge.org/. Let me know if I can help you to test this setup.

The n

[2018-05-08 21:10] ebuychance commented on #640
Honestly I am not sure the difference between tokenInfo and introspection.
I thought introspection was only for checking if a token is 'active' and I have not seen any Cognito responses that return 'active'.

I did manually change the /home#access_token=... to /home?access_token=...

And then I got the auth failure {"method":"GET","path":"/home","status":401,"authStatus":{"rejected":true,"reason":