[2018-05-09 14:15] #640 closed

[2018-05-09 15:45] szuecs commented on #640
@ebuychance tokeninfo seems to be an older agreement from some oauth2 providers. There is no rfc or so. Token introspection has an rfc. The RFC https://tools.ietf.org/html/rfc7662#section-2.1 says you you have either ?access_token=<a-token> or the Authorization header with Bearer <a-token>
The invalid Bearer token says that it did not found a token in the Authorization header.

At https://github.c

[2018-05-09 19:49] ebuychance opened #642 "redirect filter after failed oauthfilter"
How do I redirect after a failed oauthfilter?

I incorrectly thought I could do something like this:
home: Path("/home") ->  auditLog() -> oauthTokeninfoAnyScope("openid", "email") -> redirectTo(401, "http://tailor:8080/login") -> "http://tailor:8080/home";

[2018-05-10 14:51] ebuychance opened #643 "Docker build"
I was wondering if someone could describe how the docker go / skipper builds are made, specifically how you get them so small! < 26mb.

Thanks

[2018-05-10 15:37] mikkeloscar commented on #643
The makefile used is this one: https://github.com/zalando/skipper/blob/master/packaging/Makefile#L18-L19

We use [alpine](https://hub.docker.com/_/alpine/) as the base image which is about 5-6MB.
Note that we build a static go binary since alpine has musl instead of glibc, so we don't link against the libc on the build machine. https://github.com/zalando/skipper/blob/master/packaging/Makefile#L10

[2018-05-10 15:50] ebuychance commented on #643
Perfect thanks!

[2018-05-10 15:50] #643 closed

[2018-05-10 16:03] wickstargazer opened #644 "KOPS -- Readiness probe failed: HTTP probe failed with statuscode: 404"
Hi,

The skipper is throwing this Readiness probe failed: HTTP probe failed with statuscode: 404
and making the cluster unhealthy.

Please guide me on how to fix this, thank you

[2018-05-11 16:49] ebuychance commented on #642
@aryszka Ok thanks. Is that feature part of the introspection branch I wonder?

[2018-05-12 06:44] szuecs commented on #642
Not right now, I think I will implement in the next weeks the authCode exchange which I guess you also like to have.
Is my assumption correct?

[2018-05-12 06:54] szuecs commented on #546
@stormmore no we didn’t yet documented it as session affinity, but in the non kubernetes more static backend deployments you can use 2 routes, one  with predicate cookie and one filter cookie to achieve this.
Are you running in kubernetes or not?

[2018-05-12 16:16] #642 closed

[2018-05-12 16:17] ebuychance commented on #642
yes thanks

[2018-05-12 20:43] szuecs commented on #644
How do you start skipper? Flags and setup would be great.

Did you use documentation? If so which?

[2018-05-13 05:14] wickstargazer commented on #644
Hi,
I used the documentation. This is in a private VPC. I just used the exact YML that you guys provided us with, not changing anything except its in a private VPC.

Regards

[2018-05-13 09:02] HerrmannHinz commented on #644
RBAC error?

[2018-05-14 06:52] szuecs commented on #640
@ebuychance tokeninfo seems to be an older agreement from some oauth2 providers. There is no rfc or so. Token introspection has an rfc. The RFC https://tools.ietf.org/html/rfc7662#section-2.1 says you you have either ?access_token=<a-token> or the Authorization header with Bearer <a-token>
The invalid Bearer token says that it did not found a token in the Authorization header.

At https://github.c

[2018-05-15 10:11] mikkeloscar opened #647 "ingress: Skipper sometimes take long to become ready."
I have noticed that skipper sometimes takes minutes to get ready on a new node.

Here's an example showing that it took skipper 2 min. to become ready from the first health-check to the first successful one:

[code]

I imagine the problem is skipper racing with kube-proxy calling the kubernetes service IP before the iptable rules has been setup. And because of a long timeout in the client that cal

[2018-05-15 12:47] #647 closed

[2018-05-15 13:52] szuecs commented on #644
Probably this issue was the same as reported at https://github.com/zalando/skipper/issues/647.
This is fixed in release v0.10.7

[2018-05-16 09:31] wickstargazer commented on #644
Hi its still happening even after fixing the version. These are the logs, i have been reading extensively and am not sure if its the VPC range that is not covered in the fixed values that is in the code?
What i mean is this

` level=info msg=\"route settings, update, route: kube__healthz: Path(\\\"/kube-system/healthz\\\") \u0026\u0026 Source(\\\"10.0.0.0/8\\\", \\\"192.168.0.0/16\\\", \\\"172.16.

[2018-05-16 10:14] szuecs commented on #644
@wickstargazer this is health check issue, because we currently only whitelist all "internal" networks from IPv4 rfc as far as I remember. You might need a flag that adds your IP address space to this list.

The list is defined at https://github.com/zalando/skipper/blob/master/dataclients/kubernetes/kube.go#L55
Below you see the Options where we could pass an additional list of CIDR to put into th

[2018-05-17 09:10] daviddyball commented on #549
Hey @szuecs, did you ever find a way around this? We're running Skipper and I want to do exactly this, but I'm getting `error during backend roundtrip: kube xxxxxxxxxxxxxxxx service: dial tcp :443: getsockopt: connection refused`

[2018-05-17 10:20] daviddyball commented on #549
Ahhh right, this bypasses my need to use `ExternalName` completely 😛

Currently I have this (with your additions):

[code]

When I apply it I get this in the skipper logs:
[code]
[APP]time="2018-05-17T10:15:28Z" level=error msg="error during backend roundtrip: kube_default__logs__logs_example_com____logs: dial tcp :443: getsockopt: connection refused"
[APP]time="2018-05-17T10:15:28Z" level=error m

[2018-05-17 10:26] daviddyball commented on #549
There's no option to ignore certificate validation errors?

[2018-05-17 10:27] szuecs commented on #549
`-insecure` :)

[2018-05-17 10:29] daviddyball commented on #549
ahhh right... all of our certificate validation happens on the ELB's in AWS, so I'm not too worried about
SSL validation for proxy traffic. I'll try with that and see how I get on.

Thank you for your help. I really appreciate it 👍

[2018-05-17 12:36] daviddyball commented on #549
Hi @szuecs I've applied `-insecure` and it doesn't appear to be an SSL issue. I think the issue might be that there is no destination being set on the route that gets created.

The logs are showing `status code 503: dial tcp :443: getsockopt: connection refused`... but shouldn't it be `dial tcp <address>:443:`?

[2018-05-17 13:17] szuecs commented on #549
Can you exec into the skipper pod and list all routes:

    wget -O/dev/stdout localhost:9911/routes

[2018-05-17 13:25] daviddyball commented on #549
Sure here's the output

[code]

There were a few others relating to services on-cluster, but I cut them out.

[2018-05-17 14:42] szuecs commented on #549
@daviddyball Can you post an updated version of your current ingress object?

[2018-05-17 15:14] szuecs commented on #549
@daviddyball can you please change the port in the routes annotation to 444, to see what skipper shows in the routing table (`wget -O/dev/stdout localhost:9911/routes` )?
It looks really strange and please also check that you did not replace some names in a wrong way. The k8s object to the route looks strange to me.

[2018-05-17 15:58] daviddyball commented on #549
Using this config

[code]

I get this route

[code]

[2018-05-17 17:07] daviddyball commented on #549
Oh my god @szuecs .... I've just realised I'm running `v0.9.*`, so figured I'd upgrade to `v0.10.7` and it's all suddenly started working 🙄 It looks like the routes only respected the very first filter declaration when scanning `Ingress` objects and then ignored any set on other resources.

I'm so sorry for wasting your time, but I really appreciate your assistance throughout the day

[2018-05-17 19:50] hrzbrg commented on #489
I would really like to see this in order to have cleaner metric labels with information from the ingress like path & service.

[2018-05-17 19:57] szuecs commented on #549
@daviddyball good to know that the current version works as expected. Thanks for responding. :)

[2018-05-17 19:59] hjacobs commented on #489
@hrzbrg would you be willing to contribute such feature via PR?

[2018-05-21 12:01] baez90 opened #650 "Kubernetes getting started"
I decided to split my original Helm chart for the kube-ingress-aws-controller into two charts:

- Standalone Skipper deployment
- kube-ingress-aws-controller on top of the Skipper deployment

The working draft of the chart can be found [here](https://github.com/baez90/skipper-helm).

I was just wondering if I should create a PR to add this chart as a K8s quickstart possibility for Skipper and if s

[2018-05-21 16:06] szuecs commented on #650
Sounds good to me.
It would be awesome to have it.

[2018-05-22 10:34] baez90 commented on #650
I created a PR ( #651 )

please let me know if you want any further clarification or explanations.

I don't think that it makes sense to write a whole Helm tutorial in there or replicate the whole documentation I'm already maintaining in my repository.

Eventually the project might move to the central kubernetes/charts repository when I'm comfortable that there won't be any breaking changes necess

[2018-05-25 20:25] mikkeloscar opened #652 "Kubernetes: 5xxs when updating deployments."
I discussed this problem with @szuecs and I wanted to document an example of this issue which proves our hypothesis.

Consider this `500` from ingress skipper:
[code]

The request is made at `14:59:46` and times out after 10s at `14:59:56`. (Not visible here, but it tried to route to pod ip `10.2.108.118`)

Looking at the route configuration logs of skipper we see the following:
[code]

At `14:55:

[2018-05-25 21:29] mikkeloscar commented on #652
Another hack which doesn't require custom implementation in the application is to use pod lifecycle hooks:

[code]

https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/#define-poststart-and-prestop-handlers

This works because Kubernetes removes the pod from the endpoints list when the pod is being terminated. This is even though the pod is still ready during th

[2018-05-25 22:28] szuecs commented on #652
Thanks for your detailed writing.
One question I have is: the endpoints list in kubernetes is cleaned up before the pod is terminated?
In normal loadbalancers a pool is maintained and the members are health checked every duration, for example 3s, which might be not enough even for graceful shutdown if applications don’t care about the environment. We can try to watch endpoints and update also base

[2018-05-26 06:08] mikkeloscar commented on #652
Yes, when running the pods with the `sleep 20` `preStop` it's very easy to see that the IP gets removed from the endpoints list right when the pod termination is started and not after 30s (which is the default readiness probe config (probe period of 10s and `failureThreshold`of 3)). I'm still not sure who removes it from the endpoints list, couldn't find the code for this yet).

Yeah, it's a bit u

[2018-05-26 10:47] szuecs opened #653 "document kubernetes apps deployment strategy for terminating"
As described in #652, there is a problem that exists in kubernetes, while terminating endpoints.
Mitigation strategies can be different and we should document strategies for application developers.

An application that is target of an ingress can circumvent 500s with these strategies:

1. use pod lifecycle hooks https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-even

[2018-05-27 14:28] mikkeloscar opened #654 "Don't respond with status 500 for timeout errors"
See #652 for full context.

When skipper fails to route to a backend e.g. because the pod no longer exists as shown in #652 then it will result in the following error:

[code]

The error `context canceled` means that skipper failed to establish a connection with the backend and timed out after 10s. Responding with a 500 in this case seems wrong to me since it's not really an internal server error

[2018-05-27 15:09] hjacobs commented on #654
I would definitely consider this a bug, we had something similar in the past: #269

Skipper should never return any "internal server error" for proxy failures.

[2018-05-27 20:36] szuecs commented on #654
@mlarsen my assumption was that nerr.Timeout() would catch that condition.
Did you see who is canceling what context to choose the right error code?
I am not sure if you are right here and it should be clear what condition should result in which error code.
For sure there is a bug in some other code part, because it should result in connection refused and not in a timeout. I bet it’s yet another r

[2018-05-30 11:14] jchanam commented on #360
Hi @aryszka,

We've been struggling with this for a long time and, after checking the code and how the score is calculated, we want to propose a solution about defaults routes.

We think that a weight-setter would be a good solution for those very specific cases that maybe you'd want to be the very last or very first route to use.

I dont't know if this should be created as a filter, predicate or

[2018-05-30 13:17] aryszka commented on #360
Hi @jchanam ,

I like this proposal with the weights.

I think it definitely should be a Predicate, so that we don't need to extend the config syntax when we define routes in eskip format.

It could be called "Weight" or maybe "Priority".
(@lmineiro , @szuecs any naming suggestions?).

An example in eskip then would look like:

[code]
or with "Priority":

[code]

Thanks for the proposal! :smile:

[2018-05-31 12:39] vetinari opened #660 "skipper route CRD"
We're currently running skoap with a single route like this
[code]
with `auth("/services")` -> `oauthTokeninfoAllKV("realm","/services")` for newer skipper versions.

We would now need an ingress definition with incoming host names defined and one disconnected kubernetes service, that is not deleted in later and has a special meaning for this route. We have no pods involved in this route. The curr

[2018-05-31 13:06] szuecs commented on #660
We might want to think about having a customer skipper route CRD for the use case of custom skipper routes.

[2018-06-01 16:38] beenokle opened #662 "Nondeterministic route matching ?"
I have an ingress. Lets say this simplified:
[code]

I have three nodes in cluster.
When I run `curl -H "host: myhost.com" localhost:9999/path/foo/bar/long/path/1` locally on each node I got different results, for instance two times expected result from `upstream1`, and on another node I got unexpected result from `upstream2`
But If I do the same request directly to clusterIP of the service , I go

[2018-06-01 16:49] hjacobs commented on #662
This looks like a bug, but can you first check whether skipper correctly updated all routes on both nodes?  I could suspect that one skipper instance (on of the nodes) has outdated routes.

[2018-06-01 16:50] szuecs commented on #662
Hi!

We had a similar case yesterday. The current workaround is to use 2 ingress and to specify also a Predicate annotation on the path ingress.

[code]

[code]

[2018-06-01 16:51] szuecs commented on #662
@hjacobs this was also found internally, yesterday. We had a discussion and I think we agreed on this is a bug for the use in kubernetes at least. We will defintively fix it.

[2018-06-01 19:13] beenokle commented on #662
Yes, `localhost:9911/routes` shows all the nodes are aware of these routes.
I think the problem appears, when you have:

`path: "/some/path/longer"`

and

`path: "/some/path"`

Then skipper can't pick one deterministically

[2018-06-03 08:13] ese commented on #662
This is related with #360 and #304

[2018-06-03 09:27] szuecs commented on #662
@ese @aryszka what do you think about sort by path length to enforce weights?

@aryszka does it makes sense for the current routing tree to have a longest path match or is this not possible or is there another reason why we should not do this?

[2018-06-04 14:38] jchanam opened #664 "Error loading an opentracing plugin"
### ;TL;DR
The plugins are only read if skipper is launched from the plugins folder.

### Issue explanation
Hi!

I'm trying to load the jaeger plugin to use opentracing.

I've created an image both with skipper apps (skipper/eskip) and the plugins (.so files) on `/plugins` folder.

Having done this, when I run skipper it gives me some errors while trying to read the plugin file (`tracing_jaeger.so

[2018-06-04 15:10] szuecs commented on #664
@jchanam I am not sure, but what I know is that Go plugins are not super easy to use. For example you have to build them in the same structure you also load later, because it seems to have some path dependencies.
What if you just create a docker container with your plugin put into /plugins? Does it work?

@vetinari Do you have any pointer as you might know most of this.

[2018-06-04 15:22] jchanam commented on #664
Hi @szuecs,

that's exactly what I've done. I'm doing `go get` for both `github.com/zalando/skipper` and `github.com/skipper-plugins/opentracing`.

Then, I go in each folder and run the following:
Skipper: `GOOS=linux GOARCH=amd64 CGO_ENABLED=1 go build -o built/skipper github.com/zalando/skipper/cmd/skipper`
Eskip: `GOOS=linux GOARCH=amd64 CGO_ENABLED=1 go build -o built/eskip github.com/zalando/

[2018-06-04 15:59] szuecs commented on #664
I am not 100% sure, but when I looked into it I build https://github.com/skipper-plugins/skipper-tracing-build to document how to build it. Did you used this example to build your plugin?

[2018-06-04 16:13] jchanam commented on #664
Hi, I've changed completely how I build the image and it seems it's working now.

It seems that I have to be very careful about updating repositories, because they don't have the exact same versions.

Thank you so much for your support!

[2018-06-04 16:13] #664 closed

[2018-06-04 17:29] szuecs commented on #664
@jchanam if you have any suggestions to make the docs better....

[2018-06-04 17:51] szuecs commented on #654
@mikkeloscar I don't see the log message from https://github.com/zalando/skipper/blob/master/proxy/proxy.go#L690 in your issue. Why you are sure it comes from there?

[2018-06-05 11:56] szuecs commented on #654
If https://github.com/zalando/skipper/blob/7102c46b0d1c3557968d5ac1608f2702c331dc9b/proxy/proxy.go#L400-L409, the actual TCP/TLS establishement of the proxy call, returns an error we do not get a 500, because we return a proxy error, which is checked https://github.com/zalando/skipper/blob/7102c46b0d1c3557968d5ac1608f2702c331dc9b/proxy/proxy.go#L848-L849 returning proxyError, which returns in http

[2018-06-05 18:36] szuecs commented on #237
We stopped testing etcd on Travis so this can be closed, not?

[2018-06-06 12:13] #654 closed

[2018-06-06 13:51] szuecs commented on #652
https://github.com/zalando/skipper/releases/tag/v0.10.16 was released that should convert these errors from 500 to 504 as far as I understand, lets check and https://github.com/zalando/skipper/pull/666 will document termination strategies.

[2018-06-06 15:35] szuecs commented on #652
It's now documented at https://opensource.zalando.com/skipper/kubernetes/ingress-backends/

[2018-06-06 20:18] szuecs commented on #662
I talked with @aryszka and we thought about a solution that would add an annotation to choose the matching algorithm.

1. Skipper subtree
2. Skipper (Go) regexp
3. Kubernetes regexp (default)

In my honest opinion I think for users it makes in general more sense to choose 1. as default, but it would mean that we are not compatible to other ingress controllers which would be a risk. We do not want

[2018-06-06 21:54] mikkeloscar commented on #662
@szuecs can you clarify what you mean by this? Do other ingress controllers treat the path value as regex? Because from the [docs](https://kubernetes.io/docs/concepts/services-networking/ingress/) (\o/) I would assume it should just match on the string, which is also what we effectively do currently: https://github.com/zalando/skipper/blob/452f8ae028fc480ad9192688f7ade2b3d5f90c3a/dataclients/kuber

[2018-06-06 22:13] ese commented on #662
According with the spec of the ingress object Path is an extended POSIX regex as defined by IEEE Std 1003.1 https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#httpingresspath-v1beta1-extensions

[2018-06-06 22:32] aryszka commented on #662
@ese that's my understanding as well.

@mikkeloscar let me try to answer your question at least in part :)

(careful with kubedoc links, the page may jump after loaded due to web design) here's an alternative link to the same specification: https://kubernetes.io/docs/reference/federation/extensions/v1beta1/definitions/#_v1beta1_httpingresspath

there's one lucky and one challenging thing about thi

[2018-06-08 12:41] #662 closed

[2018-06-09 13:28] szuecs commented on #80
I close this, because we decided to deprecate inkeeper.

[2018-06-09 13:28] #80 closed

[2018-06-09 13:28] szuecs commented on #85
I close this, because we decided to deprecate inkeeper.

[2018-06-09 13:28] #85 closed

[2018-06-09 13:34] szuecs commented on #222
@mo-gr We have now support for plugins that are loaded at start time. Should these also be listed?

[2018-06-09 13:35] szuecs commented on #237
etcd is not tested in travis, so close

[2018-06-09 13:35] #237 closed

[2018-06-09 13:37] szuecs commented on #418
related #239

[2018-06-09 13:40] szuecs commented on #246
Since we have the loadbalancer implementation we log that we did not found endpoints and fallback to service. This is not exactly your suggested warning @hjacobs, but I think it is good enough.
Please reopen if you do not agree.

[2018-06-09 13:40] #246 closed

[2018-06-09 13:48] szuecs commented on #284
@hjacobs I changed the title to match @schlomo's comment, because with https://github.com/zalando/skipper/pull/667 we support path-modes, which can be either Kubernetes API spec like, a Go regexp or PathSubtree match like in skipper. I prefer PathSubtree match, which does not lead to ambiguous routing trees and fits better the Kubernetes user documentation. We also switch our setup to PathSubtree

[2018-06-09 13:50] szuecs commented on #271
@aryszka I close this because I do not understand what other options are required. We have now tee() and teenf() to have both supported, or do I miss something?
If so please reopen.

[2018-06-09 13:50] #271 closed

[2018-06-09 14:09] ruiaraujo commented on #222
If possible I would say yes.

[2018-06-10 09:04] szuecs commented on #278
Maybe we should use url.Parse to validate the backend if it is not <loopback>, <..>

	u, err := url.Parse(":1234")
	fmt.Printf("u: %s, err: %v\n", u, err)
        u: <nil>, err: parse :1234: missing protocol scheme

Any other opinions?

[2018-06-10 11:01] krzysztofwos opened #671 "Allow using 308 (Permanent Redirect) instead of 301 (Moved Permanently) for HTTP to HTTPS redirects"
A redirect using 301 can have undesirable consequences. For example, some user agents change request method from `POST` to `GET`. This can lead to rather confusing responses from API endpoints. A redirect using 308 would behave correctly in those cases.

[2018-06-10 13:02] szuecs commented on #671
How would you like to set this?
Options:
- flag to set it global
- annotation to pick it in your ingress definition

[2018-06-10 14:36] aryszka commented on #278
maybe.

This is a bug. The reason why eskip accepts without the hostname because it is a valid address, and the backend in the eskip route is meant to be an "address". The reason however why it later is checked and fails, is that the outgoing request, in http/1.1, needs a host, and it is taken from here. The two possible solutions:

1. validate the address as suggested above with url.Parse
2. when

[2018-06-10 20:52] szuecs commented on #278
I would recommend to use 2.c. or return error.

One thing to mention without validation: I think :1234 is only valid for listening sockets and not connecting sockets, which is used in the backend calls.

[2018-06-10 21:19] aryszka commented on #278
thanks, 2.c it will be.

[2018-06-11 15:43] Traumeel opened #674 "retry() request filter"
I have a custom _Filter_ which injects additional headers into requests. Occasionally requests fail with 5xx. I would like to have an ability to retry failed requests and return the final successful response to a client.

I want to be able to retry the backend call on specific http status codes. For example I want to retry on status code 502. Example filter setting: `retry(3, 502)` would retry 3 t

[2018-06-11 15:54] aryszka commented on #674
@Traumeel thanks for the input, good idea!

As for the implementation, I believe the filter should 'mark' the request flow to be retried, and the execution itself should rely on the existing loadbalancer fallback mechanism, except that in this case, it could retry the request to the same backend, and not only on dial errors. The filter could also instrument the retry mechanism for the "usual" reli

[2018-06-11 15:56] aryszka commented on #674
this approach would also mean that the filter only instruments the retry, regarless where it is in the filter chain. E.g. the tee() filter calls won't be retried.

[2018-06-11 16:05] aryszka commented on #674
what i meant was to support all these cases:

1. if not load balanced, but marked as retriable: retry to the same backend
2. if load balanced, and marked as retriable: retry to the next load balanced backend
3. if load balanced, but not marked as retriable: retry to the next load balanced backend, but only when it is a dial error

and I believe this should be implemented by extending the current l

[2018-06-12 02:35] krzysztofwos commented on #671
I think a flag to set it global should be sufficient. Based on what I have read about the differences, it seems like 308 is always a better choice unless you really have to support 301 for legacy reasons.

[2018-06-12 13:05] szuecs commented on #671
@aryszka @lmineiro what do you think should we migrate this to plain 308 or should we add an option?

[2018-06-12 19:49] lmineiro commented on #671
I don't think this is a serious problem. I honestly don't understand how allowing user agents to change method can lead to confusing API responses or how Skipper fits in the middle of that.

This being said, And just focusing on the feature itself, I'd say that allowing users to customize which status code to send to clients for the HTTPS redirector give users the flexibility.

On shared environme

[2018-06-12 20:01] lmineiro commented on #671
I just went through https://tools.ietf.org/html/rfc7538

I actually don't think HTTP to HTTPS redirector should interfere, at all, with the ability to change the method. This is not its purpose.

If an HTTP request is sent to Skipper when the redirector is enabled no API backend will ever receive that request, regardless of the method of the request. The redirect instructs the user-agent to send t

[2018-06-13 10:39] aryszka commented on #671
i would implement this as a global setting.

[2018-06-13 14:27] predragstefanovic opened #677 "Skipper connection, timeouts parameters not wired"
Since #538 some parameters for connection handling were not wired through:
[code]

[2018-06-13 16:16] aryszka commented on #677
fixed by: https://github.com/zalando/skipper/pull/678

[2018-06-13 16:16] #677 closed

[2018-06-13 18:21] szuecs commented on #546
@aberfeldy my comment is miss leading. Right now it’s not possible, but we can use the opt-in annotation to build this.

[2018-06-13 19:42] aberfeldy commented on #546
I see, thanks for the clarification!

[2018-06-15 15:40] szuecs commented on #652
This can not be solved by skipper as ingress controller and we have documented in https://opensource.zalando.com/skipper/kubernetes/ingress-backends/ how to circumvent this in deployments.
As agreed with @mikkeloscar I close this issue.

[2018-06-15 15:40] #652 closed

[2018-06-18 13:12] aryszka opened #682 "metrics documentation"
provide documentation for:

- the available metrics
- which metrics are configurable
- how to filter metrics on the metrics endpoint

[2018-06-20 12:05] aryszka opened #683 "https for Kubernetes backends"
Consider supporting https in routes generated for Kubernetes.

Questions:

- how should the ingress spec indicate this?
- Skipper is not a TLS proxy, can this be misleading if someone expects end-to-end encryption?

[2018-06-20 14:48] mykolasmith commented on #671
@lmineiro I can attempt to elaborate on the problem. If I issue a POST request to Skipper using HTTP, it attempts to redirect using a 301 to HTTPS. The 301 status code, however, automatically redirects all requests to GET methods, so your POST body and original method are lost. Here is the curl output which demonstrates this:

[code]

The HTTP spec defines the following behavior:

| | Permanent |

[2018-06-20 15:42] lmineiro commented on #671
Thank you @mykolasmith. I have a better understanding of the consequences now.

I am still a bit divided on this one.

Thinking beyond the specs and which one would be a better default, I'm left thinking about the efficiency of the clients that would keep using HTTP instead of actually changing the endpoint to HTTPS. This can have the side effect of allowing a more lazy behavior of clients because

[2018-06-20 17:17] hjacobs commented on #683
I don't understand, what do you want to achieve? What does "https" for Kubernetes backends mean?

[2018-06-20 17:31] aryszka commented on #683
@hjacobs I tried to rephrase the content of the issue. What I meant was that a service in the cluster listens accepts requests via https instead of http.

[2018-06-21 02:09] jalateras opened #685 "kuberenetes: unwrap: context canceled"
I am running skipper within Kubernetes. Everything seems to be working fine and then i et a stream or errors causign a restart o each node

[code]

the pods seems to restart every 15 minutes.

[code]

[2018-06-21 02:20] jalateras commented on #685
Here is what the pod looks like

[code]

[2018-06-21 09:33] mikkeloscar commented on #685
@jalateras the restarts is because skipper gets OOMkilled, so maybe 200MiB is not enough for your load? How many requests per second do you get?

I can not completely rule it out from this information, but I think the 504s are unrelated, we have also seen them and this `context canceled` error happens when skipper makes a request to the backend but doesn't get a response, usually because the netwo

[2018-06-21 11:04] jalateras commented on #685
@mikkeloscar the restarts was due to the resource constraints. I have removed them for now and i am not getting the restarts anymore. I am still seeing these errors

[code]

[2018-06-21 12:07] aryszka commented on #685
we saw these kind of errors when the original incoming request was canceled, e.g. the client timeouted. This can be for multiple reasons. Do you know if Skipper was able to connect to the service behind it?

[2018-06-21 16:55] daviddyball opened #686 "Scope Kubernetes Dataclient to a Single Namespace"
Hi Guys,

I can see in https://github.com/zalando/skipper/blob/master/dataclients/kubernetes/kube.go#L1100 that Skipper currently uses the cluster-scoped URI for listing ingresses. Is it possible to have a flag that allows switching between the two types of ingress list endpoints?

Cluster scoped: `/apis/extensions/v1beta1/ingresses`
Namespaced: `/apis/extensions/v1beta1/namespaces/{namespace}/ing

[2018-06-21 16:59] szuecs commented on #683
So you mean to use sni to identify the target or how do you think it should work?
Can you elaborate more on how a user would use this feature?

[2018-06-21 18:36] szuecs commented on #685
@aryszka as mikkel wrote we saw it in the kubernetes setup when the call from skipper should get a timeout, but the underlying Go stdlib cancels the context and don’t set net.Error to timeout nor to non temporary error. I saw that the pod ip did not exist anymore so the call would go to the node having the assigned pod ip range. Cloud provider networks will silently drop packets with targets, that

[2018-06-21 20:01] szuecs commented on #686
What is the use case for that?
We have the ownership model via annotation, so what is the advantage of having it per namespace separated?
I am in general fine with that, but the use case should be clear and documented.

[2018-06-21 20:34] mikkeloscar opened #687 "500s replaced with 504s since v0.10.16"
Putting this here to not forget about it..

I have a suspicion that we may be "hiding" some errors since introducing: https://github.com/zalando/skipper/pull/665

The reason I think this is that we saw 500s with the following errors:

[code]

When running v0.10.13 in our clusters and since we switched to v0.10.26: https://github.com/zalando-incubator/kubernetes-on-aws/pull/1165 we no longer see th

[2018-06-22 05:34] szuecs commented on #685
@jalateras can you check if you apply one of these workarounds documented at https://opensource.zalando.com/skipper/kubernetes/ingress-backends/#teardown-strategies that these 504 context cancelled are gone?

[2018-06-22 09:01] daviddyball commented on #686
Hi @szuecs ,

We have multiple environments separated by namespace (and taints/tolerations for hardware segregation). If, for example, we have `development`, `staging` and `production` namespaces we would have the following ingresses configured: `web`, `api` and `internal` and each of these has an AWS load-balancer. For ease of configuration, we'd like to re-use the same `ingress.class` values for

[2018-06-22 13:03] szuecs commented on #686
Sounds like a good use case.
Can you add this to the docs/kubernetes/ingress-deployment.md, please? (I hope I remember the filename correctly)

[2018-06-22 13:50] daviddyball commented on #686
Docs updated in the PR 👍

[2018-06-22 13:50] daviddyball commented on #686
Added a commit for basic unit-test as well 😄

[2018-06-22 15:33] aryszka commented on #683
I don't know how we could identify these targets.

The use case I can imagine is that a user wants to run a service only over HTTPS even inside the cluster, but also wants to make it accessible for the world outside the cluster, so wants to create an ingress for it.

[2018-06-23 08:59] szuecs commented on #683
This use case is covered by service type loadbalancer, use plain tcp.
If you want to support it with ingress we would need to do the route decision based on SNI. We have to understand how to get the data from the transport to make this decision and we need to have a lower layer predicate which isn’t based on http.Request . It would be nice to have it and can enable a lot of use cases that you are

[2018-06-23 11:33] mikkeloscar commented on #683
@szuecs @aryszka I don't think you are talking about the same thing :)

As I understand @aryszka (correct me if I'm wrong) you want to support the case where you have an application configured like this:

[code]

And the skipper endpoints should be configured to be `https://10.2.1.1` or something like that?

The biggest challenge for supporting this IMO, is how do you handle certificates? you woul

[2018-06-23 23:57] ese opened #689 "Weight() predicate - former: https redirect with kubernetes dataclient is radomly bypassed"
It seems related with #662

Requests to http endpoints are supposed to be responded with a 301 to https but are radomly bypassed directly to the service. This seems only happened in services with several replicas and the loadbalancer feature is creating the routes.

I guess it can be related with how routes are gen and stored in memory and how the predicates are weight.

As much skipper replicas a

[2018-06-24 08:58] szuecs commented on #689
It looks like we created a race condition in the predicate between the lb group lookup and the redirect.
@aryszka can you check that?
For me it looks like 3 predicates vs. 3 predicates.

[2018-06-24 16:06] szuecs commented on #683
@mikkeloscar true but it is a very similar problem. In the end you have to do SNI anyways. (How else you can choose the right certificate to the client for different hostnames?)
In the backend calls it’s easy as you wrote you have to have a dynamic ca that provisions a cert per pod ip (vault can do this) and you have to add the vault ca cert to skipper’s configured CAs, this could be easily done b

[2018-06-25 13:37] aryszka commented on #689
checking

[2018-06-25 13:54] aryszka commented on #689
true, this is a priority race between the redirect route and the loadbalanced routes. My first idea to fix it would be to check explTicitly on the other routes that the X-Forwarded-Proto header is set to https and not http. But I can't say that I really like this approach. What do you think? Or do you have a different suggestion?

Another way can be to put a skipper in a separate container next to

[2018-06-25 14:04] aryszka commented on #683
@mikkeloscar correct, that's what i meant. I myself am not sure at the moment if we want this, just wanted to raise the topic for consideration/discussion.

[2018-06-25 14:13] aryszka commented on #689
as @szuecs pointed out, for the real fix, we could also generate a Prioirty or Weight predicate for the redirect route, once a Weigh(Priority) predicate feature makes it to the master, that is something similar to what suggested here: https://github.com/zalando/skipper/issues/360#issuecomment-393123286

[2018-06-25 14:54] aryszka commented on #686
done in https://github.com/zalando/skipper/pull/688

[2018-06-25 14:54] #686 closed

[2018-06-26 13:30] daviddyball opened #691 "K8s Service with Multiple Endpoints Not Routing"
Hi All,

We're currently running `v0.10.28` and seeing an issue with deployments that have a `replicas` value `>1`. When we configure `replicas=3` Skipper successfully creates 3 routes and an `_lb_group` to route traffic.

Our Kubernetes Ingress Definition:

[code]

Output from `/routes`:

[code]

But when we apply this config we can no longer get to the endpoint at all (we get 404 responses from

[2018-06-26 14:11] vetinari commented on #691
`Host(/^api[.]example[,]com$/)` ... typo on the hostname (a `,` instead of a `.`)?

[2018-06-26 14:12] daviddyball commented on #691
Typo while writing the ticket (I changed domains and service names for privacy reasons)

[2018-06-26 17:55] mikkeloscar commented on #691
I'm thinking the `modPath("^/myservice-v2", "/")` messes this up? Since it removes the path before the Member predicate matching. If I understand it correctly @aryszka ?

[2018-06-27 08:14] daviddyball commented on #691
Hi @mikkeloscar,

The predicates and filters work as they are when the replica count is set to 1. When we bump it to 3 and it goes from being a single route to 3 `LBMember` entries it just stops working and we get `404`'s.

It really has me stumped.

[2018-06-27 20:43] szuecs commented on #691
@mikkeloscar yes I think we should only modify the http request by users in the member route and not the decision route.

[2018-06-28 05:39] szuecs commented on #671
Then let’s change it to 308 instead of 301. Anyone against this decision?

[2018-06-28 08:21] daviddyball commented on #691
Apologies, I understand it better now. Is this a Kubernetes dataclient specific issue, or something that happens within eskip itself?

[2018-06-28 08:55] aryszka commented on #691
This is a bug in the kubernetes data client of Skipper. See https://github.com/zalando/skipper/pull/694 :) Thanks for reporting it!

[2018-06-28 10:06] aryszka commented on #691
(Reopening this as not sure if the bug was fixed in the original environment.)

The release v0.10.34 should fix this issue. The problem was, as Mikkel pointed out, that the filter from the annotation was added to the lbgroup routes, and modified the path, so the lbmember routes couldn't match these requests. Please let us know if the fix worked :)

[2018-06-29 08:41] #671 closed

[2018-07-02 08:55] grassator opened #696 "Brotli Support in `compress()` filter"
Brotli is [widely supported by the browsers](https://caniuse.com/#feat=brotli) and [seems to offer better compression than gzip with faster speed](https://blogs.akamai.com/2016/02/understanding-brotlis-potential.html).

There seem to be [official binding](https://github.com/google/brotli/tree/master/go) but no native go implementation from what I could find.

[2018-07-02 13:44] szuecs commented on #696
We could also implement an opensource filter plugin to implement brotli

[2018-07-03 12:12] grassator commented on #696
@szuecs Would you make it as a separate filter then?

[2018-07-03 12:36] aryszka commented on #696
wondering if the init phase of the brotli support requires any native calls. If it doesn't, then there's not much difference. In case we decide to build it as a plugin, then yes, it has to be a separate filter. Also, if it's a plugin, then we should extract the stream encoding logic of the current compress filter into its own support package (e.g. "streamencoding").

[2018-07-03 13:42] grassator commented on #696
@aryszka how would you imagine adding support without native calls?

[2018-07-03 13:49] szuecs commented on #696
@yes I would put it into https://github.com/skipper-plugins/filters

[2018-07-03 13:51] szuecs commented on #691
@daviddyball could you test the newest release to reply if it fixes your issue please?
Thanks!

[2018-07-03 15:36] grassator commented on #696
@szuecs I'm not sure that a separate filter is a good idea. The problem is that the client sends a list of preferred encodings as a header: `Accept-Encoding: brotli,gzip,deflate`. If we implement `brotli()` as a separate filter, the order `compress()` and `brotli()` in the route will influence the resulting behavior which is brittle.

Alternative would be to have a default `compress()` filter impl

[2018-07-03 21:32] jalateras commented on #685
@szuecs This seems to have been resolved with docker image `registry.opensource.zalan.do/pathfinder/skipper@sha256:49708aaa3d7b9a615f4c4786bb8ad3d0a4e22a9098042001d18baedcdbfa2298`

[2018-07-04 01:46] jalateras opened #700 "unknown field 'DisableTimestamp' in struct literal of type logrus.JSONFormatter"
Has anyone else come across this issue when building skipper

[code]

using

[code]

[2018-07-04 07:40] szuecs commented on #700
Do you have another version of logrus in your $GOPATH or did not run `glide install`?

We specified in glide.yaml:

    - package: github.com/sirupsen/logrus
      version: ~1.0.0

[2018-07-04 09:04] herojan commented on #418
@szuecs Is this issue still planned? We have considered making a gateway in front of our own apps that would handle auth, rate-limiting based on the token's uid, metrics, etc but it's very similar to what's planned here so if skipper could do it it would be great.

[2018-07-04 09:17] szuecs commented on #418
@herojan yes, but time is limited so I can't give you any ETA for the complete implimentation specified in this issue.
Can you as user answer the questions, that I specified in the issue? It would be great to understand more the user side.
OAuth2 tokeninfo is already impleemnted and documented, if you need tokenintrospection (rfc7662) or OIDC UI flows, then I have a current PR, which I slowly work

[2018-07-04 12:09] jalateras commented on #685
@szuecs still seeing thiswith v0.10.38. It like an endless loop for several minutes

[code]

[2018-07-04 12:23] szuecs commented on #685
Thanks for reporting. I doubt that this PR is only fixing the http2 backend + `Connection: KeepAlive` fix.
Issue #685 (this one) is most probably caused by the race condition of the same number of Predicates we discussed in slack.

[2018-07-04 13:38] aryszka commented on #700
the latest logrus has this field in the jsonformatter, too. A `go get -u github.com/sirupsen/logrus` can fix it, too.

[2018-07-05 13:55] herojan commented on #418
@szuecs Didn't realise which github this was :)

We're currently looking at k8s service to service calls, where obtaining auth tokens for sending requests is already solved for us via secrets. So our particular use case is to bring jwt validation and rate-limiting based on a whitelist of uids, to outside of each app and not have to solve it for each new app.

[2018-07-05 15:48] szuecs commented on #418
@herojan jwt validation can be already done via oauthTokenInfo filters see the docs for the filters: https://opensource.zalando.com/skipper/filters/#oauthtokeninfoanyscope
how to use filters from ingress you can see at https://opensource.zalando.com/skipper/kubernetes/ingress-usage/#filters-and-predicates
For ratelimits (per skipper instance until we have done #593 please tell us if this is a feat

[2018-07-06 12:43] fpozzobon opened #701 "Ingress redirectTo doesn't keep the url suffix"
Hi,

when adding the annotation : redirectTo(301, "https://myUrl")
for the host : redirected.url.do

I was expecting that https://redirected.url.do/aSufix?prop=value
would redirect to https://myUrl/**aSufix?prop=value**
but instead redirect to https://myUrl/**?prop=value**

Is there a way to keep the full url sufix when redirecting ?

Thanks by advance,

Fabien

[2018-07-06 12:50] fpozzobon commented on #701
Got the answer from @szuecs :

modPath("^/", "/")
      -> redirectTo(301, "https://myUrl")

Note : in my case I wanted a redirect like :
 - redirectTo(301, "https://myUrl/foo")
so it should be like
 - modPath("^/", "/foo")
      -> redirectTo(301, "https://myUrl")

[2018-07-06 15:43] szuecs opened #702 "redirect with lua scripts causing a memory leak"
The following causes a memory leak:

    lua("function request(ctx,param); ctx.serve({status_code=301, header={location='https://example.org/a/path/' .. ctx.request.url}}); end")

[2018-07-06 15:44] szuecs commented on #702
@vetinari it would be nice if you have some spare time, that you can check this out. :)

[2018-07-09 09:50] szuecs opened #703 "remove workaround in Go1.11"
https://github.com/golang/go/issues/23699 is fixed and will be released for Go1.11
With that we can revert https://github.com/zalando/skipper/pull/699

[2018-07-09 10:56] mikkeloscar commented on #687
Unfortunately I didn't get time to validate this theory yet.

[2018-07-09 12:41] aryszka opened #704 "Consider: filter to put a specific header to the opentracing span as a tag"
Would it make sense to create a filter that takes a request header and puts it into the current span? E.g:

[code]

would take the value of the X-Flow-ID header if any and set it as the http.flow_id tag in the ingress span.

[2018-07-10 11:49] szuecs opened #705 "logging filter to strip or not strip the query from access logs"
We should implement a filter that makes it possible to enable/disable logging of the query, that would contain tokens in RFC7662 based tokenintrospection filters.
We could pass the enable/disable parameter in the request.Context from a filter to the logging handler.

[2018-07-10 14:07] szuecs commented on #685
@jalateras the problem does not appear if you disable the kubernete dataclient and just use the etcd dataclient, right?

[2018-07-10 18:31] lmineiro commented on #704
This sounds like a useful addition. We should also have the matching `setTracingLog()`. The example given is a good use case for logs instead of tags due to the high cardinality.

The name of the filter doesn't really suggest that it extracts the header. Would something like `tracingTagFromHeader()`/`setTracingTagFromHeader()` make it easier to grasp?

[2018-07-10 19:02] jalateras commented on #685
@szuecs correct. I have not seen it for 2 days

[2018-07-11 10:55] aryszka commented on #704
+1 for both tracing logs and the naming.

the reason for using tag in the example was that some vendors implement querying only for the tag, and thought it can be useful to find a trace starting from having a flow id only. Not sure how realistic this is.

[2018-07-11 12:39] ruiaraujo opened #706 "Plugin usage harms Skipper as library use case"
We are using Skipper as a library for building an internal proxy.
Recently we added vendoring to ensure build stability, unfortunately this resulted in issues with the lightstep plugin which we are using.

```level=fatal msg="module lightstep's InitTracer function has wrong signature"```

I do not think plugins should be used by user of Skipper library capabilities so it makes the downstream proje

[2018-07-11 12:41] aryszka commented on #706
for the tracing plugins, see: https://github.com/skipper-plugins/opentracing

[2018-07-11 14:16] aryszka commented on #705
In order to avoid the need for extending the filters.FilterContext interface, one possible way to implement this is: set a value in the filters.FilterContext.StateBag to indicate query stripping for the current route. The proxy then can safely set the value in the request.Context, and the access log wrapper can use it in addition to this existing global condition: https://github.com/zalando/skippe

[2018-07-14 22:48] addityasingh commented on #633
@szuecs Can you assign it to me? I don't have permission to do so

[2018-07-15 06:52] mikkeloscar commented on #633
@addityasingh assigned to you!

[2018-07-16 12:18] szuecs commented on #687
Are we sure, that the problem is not https://opensource.zalando.com/skipper/kubernetes/ingress-backends/  ?

[2018-07-17 12:01] szuecs commented on #687
I think I found the "problem". It seems reproducible being created by the client.

the client:
[code]

skipper proxy:
[code]

skipper backend:
[code]
packet capture for skipper proxy and the backend:
[code]

It's exactly this branch causing the errors https://github.com/zalando/skipper/blob/master/proxy/proxy.go#L410-L415, which will result in the proxy error with code 504, dialing failed false, u

[2018-07-17 12:17] jalateras commented on #687
@szuecs correct. I have not seen it since changing to only use etcd client

[2018-07-19 09:15] jukey opened #709 "Typo fix: Innkeeper instead of Inkeeper"
There are [some sources (mostly docs)](https://github.com/zalando/skipper/search?q=inkeeper&unscoped_q=inkeeper) in this repository that are using the term *inkeeper* instead of *in**n**keeper* and should be changed. Also [this picture](https://opensource.zalando.com/skipper/img/architecture.svg) is having this typo.
Not sure about the impact of changing functions, so I leave this issue without fi

[2018-07-19 09:48] mikkeloscar commented on #687
FYI: I'm reopening this one until we have confirmed that #708 fixes all the "false" 504s.

[2018-07-23 09:35] szuecs commented on #689
@aryszka in this case we could just have a negative match for example: `url.Scheme != "https"`, not sure if this is set, but we could test it and do not match the redirect route.

[2018-07-23 11:36] jchanam opened #713 "Routes endpoint not giving every route loaded"
We're using Skipper on our k8s cluster. It's loading automatically all ingresses and converting them to it's own routes.

We sometimes need to get all the routes loaded. We do that executing a curl inside the pod:
[code]

The problem we're facing is that even though this call returns a list of routes, it's not complete. If we check the number of lines, it's a changing number near to 4300 lines.

I

[2018-07-23 11:45] jchanam commented on #713
I'm reading the routing code, and I've seen that a header called `X-Count` is added with the total number of routes loaded.

In our case this value is `6842`. It's way higher that the routes given in the body.

[2018-07-23 13:18] szuecs commented on #713
@jchanam do you use kubernetes dataclient or some other dataclient?

[2018-07-23 14:15] szuecs opened #714 "ingress backends can not have different ports from one service"
[code]

My first assumption is that https://github.com/zalando/skipper/blob/master/dataclients/kubernetes/kube.go#L644 is limiting it and we should add the port, but I have to check it.
We also have the comment https://github.com/zalando/skipper/blob/master/dataclients/kubernetes/kube.go#L894 , which might did this on purpose. I remember that we had the problem if a servuce has 2 ports but in ingr

[2018-07-23 14:39] aryszka commented on #713
@jchanam @szuecs the /routes support endpoint enforces paging, and by default page limit 1024. The paging can be done with query parameters, e.g.:

[code]

...will return the routes from offset 128, and 512 of them. Could you please try if it works for you as expected?

[2018-07-23 14:57] jchanam commented on #713
Hi!

@szuecs Yes, I'm using the K8S datasource.
@aryszka Thanks! After reading the code i get to that information. I've done a PR in order to add that info to the docs. I confirm it's working.

[2018-07-23 14:57] #713 closed

[2018-07-23 15:06] aryszka commented on #713
thanks a lot @jchanam !

[2018-07-23 16:41] #714 closed

[2018-07-24 16:07] szuecs opened #719 "Kubernetes ingress custom-routes not setting Path() based predicates based on the ingress definition"
When I updated the docs https://github.com/zalando/skipper/pull/718 , I found out that we do not care about the path setting from the ingress spec definition, in our custome-routes settings.
We should add to all custom-routes based on the ingress spec not only the Host() predicate but also the Path() PathSubtree or PathRegexp predicate as defined in the skipper cli as parameter.

[2018-07-25 07:47] szuecs opened #721 "support custom Prometheus buckets"
The default bucket setup is not very fine granular and result in p99 values of 10s kept for example.
We should support to choose a different bucket setup then the default, configurable by CLI flag.

Default in prometheus client go library:

	DefBuckets = []float64{.005, .01, .025, .05, .1, .25, .5, 1, 2.5, 5, 10}

Can be changed by `HistogramOpts.Buckets` option in all `NewHistogramVec` calls

[2018-07-25 10:07] szuecs opened #723 "setQuery(string)"
It should be possible to set just a key in the query.
 setQuery("foo") will result in "?foo", which is often used in old WSDL implementations.

[2018-07-25 11:02] #723 closed

[2018-07-25 14:41] #721 closed

[2018-07-26 13:31] aryszka commented on #719
See: #720

[2018-07-27 10:20] #633 closed

[2018-07-27 20:35] patrickdk77 opened #728 "Bypass kubernetes-https-redirect"
I have a singe host that handles an old application on http, and it ignores the redirect and errors out.

Is there a way I can add a route path to bypass the redirect and go to the container.

Looking at the source it seems like I should be able to, but I'm not really able to understand how to go about it in a kerbernetes ingress config.

[2018-07-28 07:10] szuecs commented on #728
Can you try to add a Path() predicate to your route?
More specific paths win against less specific paths additionally same or similar paths will check the more predicates you have in the routes.
https://opensource.zalando.com/skipper/predicates/#path
https://opensource.zalando.com/skipper/kubernetes/ingress-usage/#skipper-ingress-annotations

[2018-07-29 15:33] addityasingh commented on #704
Also this would easily enable organizations using skipper to enforce their standard conventions for Tracing spans

[2018-07-29 15:36] addityasingh commented on #701
@fpozzobon Seems you found the answer to your issue. @szuecs Is this issue still valid for documentation purpose?

[2018-07-30 07:31] szuecs commented on #701
@addityasingh https://opensource.zalando.com/skipper/filters/#redirectto does not show it so I would say, yes

[2018-07-30 08:47] fpozzobon commented on #701
Hi @addityasingh, I kept the issue open as a reminder to update the documentation.
But from my point of view the issue is solved ;)

[2018-07-30 13:02] addityasingh commented on #701
@szuecs I will try to add somethings soon so that we can close it

[2018-07-30 14:54] patrickdk77 commented on #728
I attempted this, and it's working as expected, or seems to be:

  annotations:
    zalando.org/skipper-predicate: PathSubtree("/") && HeaderRegexp("User-Agent",
      "^Testing")

From my tests, matching the user-agent gets a response on http, and anyother useragent gets redirects to https as I wished for. Thanks.

I only found one thing missing in the documentation, if I wanted to add a second p

[2018-07-30 15:51] szuecs commented on #728
Did you find https://opensource.zalando.com/skipper/kubernetes/ingress-usage/#filters-and-predicates ?

[2018-07-31 10:00] #709 closed

[2018-08-01 10:15] #719 closed

[2018-08-01 10:15] szuecs commented on #719
https://github.com/zalando/skipper/pull/718 was merged

[2018-08-02 10:49] szuecs opened #734 "Replace skipper route with routeID from trace"
As discussed with Hanno, this behavior can lead to secrets being leaked to trace ui.

[2018-08-04 18:20] szuecs opened #735 "Metric protocol version"
We should have a counter to count requests by http protocol version to understand better the usage upstream/downstream versions.

[2018-08-07 07:04] addityasingh opened #737 "Use go1.11 for vendoring and go modules, once stable"
I have been trying about go modules which is expected to be part of soon to be released go1.11 version. Does it makes sense to try using `go mod` using the mod files or still wait for this version to be mature?

[2018-08-07 09:17] szuecs commented on #737
I think a switch as soon as possible after go1.11 release is fine.

[2018-08-14 16:23] szuecs opened #739 "oauthTokeninfo* memory leak"
If you heavily use oauthTokeninfoAllScope("uid"), we see unexpected memory growth, that will not stop.
A test with about 150 ingress and this filter configuration you can see the problem:

![image](https://user-images.githubusercontent.com/50872/44104387-0812c83a-9fef-11e8-8a18-5ec6f0870927.png)

Without this particular filter everything is fine.

[2018-08-16 08:47] giangpham96 opened #741 "Add an interceptor to every incoming request"
I want to implement a gateway, in which for every request coming, it calls another service to verify the expiration time of a token. If the token is still valid, then the request will be processed.

Is there any way that I can implement such an interceptor/middleware like that in skipper?

[2018-08-16 09:50] #739 closed

[2018-08-16 13:18] giangpham96 commented on #741
@szuecs oh, sorry for bothering. That docs you provided probably help

[2018-08-16 14:15] szuecs commented on #741
If it does not please reopen the issue and we can discuss how to help you. The feature I have in mind could be done very simple, so it will not take a lot of time to do.

[2018-08-16 16:11] giangpham96 commented on #741
Hi @szuecs
Seems like another problem arises
After having the OAuth token introspection in place, I still need to call another service before process the request. Is there any way that I can call a service in skipper? Honestly, I'm just a beginner, so I really don't know if it is possible

[2018-08-16 17:29] giangpham96 commented on #741
For example, I get the `sub` field from `tokenintrospection`. And after that, I have another request (A) call that consumes the `sub` field as a query parameter. Request (A) returns a field that is needed in the header of all requests behind the gateway.

[2018-08-16 17:58] szuecs commented on #741
Let me rephrase it, to make sure I understand you correctly:

You want to set the value of the  `sub` field into a chosen header field to the backend call.

If this is the case  and the rule is only to copy the value into a chosen fixed header, we can easily build a filter that you do not need to have a 3rd service.
For example: `copyFromTokenintrospectionStateToHeader("sub", "X-Foo-Bar")` would c

[2018-08-16 18:10] giangpham96 commented on #741
Ah, you're half right.
What I want is that after I get the sub field, I want to make a request, let call it `getRequiredHeader`, and this `getRequiredHeader` wants the sub field to be its query parameter (ie. ?q=sub). The `getRequiredHeader` response contains a field called `requiredHeader`.
After that, I want to add `requiredHeader` to X-Foo-Bar header of all endpoints behind the gateway.

Reques

[2018-08-16 18:12] giangpham96 commented on #741
But `copyFromTokenintrospectionStateToHeader("sub", "X-Foo-Bar") ` can also be used in another use case :D

[2018-08-17 09:26] szuecs commented on #735
this was done by #736

[2018-08-17 09:26] #735 closed

[2018-08-17 09:30] szuecs commented on #741
It sounds a bit like an OpenIDConnect flow, with a copy from some data to put into a header to send it to the backend.
Do you want to have an OpenID Connect UI flow like authcode flow?
I have an open PR, which I worked on before and just pushed the current state https://github.com/zalando/skipper/pull/743.

[2018-08-17 09:32] szuecs commented on #630
Tokenintrospection for svc-to-svc was done, but the OpenIDConnect part was skipped. The new PR is https://github.com/zalando/skipper/pull/743 for the OpenIDConnect feature that support authcode flow for easy to use UI integrations.

[2018-08-17 09:55] szuecs opened #744 "authnzWebhook filter"
Based on https://github.com/zalando/skipper/issues/741#issuecomment-413602859.

`authnzWebhook(<url>)`  filter should:
- send the request headers and query to `<url>`, which can implement an authorization service and will reply with 200 to allow access to the backend or 401, 403 to disallow access and all other responses will disallow access log an error and return a static string to the client.

[2018-08-17 09:57] aryszka commented on #744
how about just hook()? To make it more generic.

[2018-08-17 10:11] aryszka commented on #744
the authnzWehook() filter could be a specialization of a more generic filter: hook(<url>). hook(<url>[, sendBody]) could initially work like this:

On the request path:

1. pause the request processing
2. send a copy of the request to the configured URL (hook request)
3. hook request returns...
3a. 2xx: continue the request processing
3b. non-2xx: shunt with the status of the hook request

On the

[2018-08-17 10:34] szuecs commented on #744
sendBody is abool which is optional in your spec?

[2018-08-17 12:01] giangpham96 commented on #741
Ah, never mind, I manage to write my own custom filter. It was a good learning experience!!!

[2018-08-17 12:02] #741 closed

[2018-08-17 12:08] aryszka commented on #744
correct, it's an optional bool, defaulting to false. It should use a similar logic to the audit filter, so that the body for the case of forwarding the request is preserved.

[2018-08-17 12:09] szuecs commented on #741
@giangpham96 feel free to open also a PR if you think it makes sense to share this.

[2018-08-17 13:49] giangpham96 commented on #741
@szuecs I would if I can find a way to generalize the solution.
For now, what I did is very unambiguous, which means it can be applied for our use case 😄

[2018-08-17 14:10] szuecs commented on #741
@giangpham96 You can probably generalize it if you split it into multiple filters.
Just an example:

1. https://github.com/zalando/skipper/issues/744
2. copyQueryToHeader(string, string)

[2018-08-19 10:20] szuecs opened #745 "Add tls1.3 support"
https://github.com/golang/go/issues/9671 will add tls1.3 to Go.
Code review: https://go-review.googlesource.com/c/go/+/147638/
TLS1.3 is now a standard https://tools.ietf.org/html/rfc8446.

`srv.TLSConfig.MaxVersion = tls.VersionTLS12`

We need to:
- [x] build skipper with the new Go version  1.13
- [ ] Test
- [ ] Add metrics for tls version usage
- [ ] add configuration support, maybe similar to

[2018-08-22 16:05] szuecs commented on #366
I think we have everything we need for oauth in the mentioned cases and with https://github.com/zalando/skipper/issues/744 everyone can build there "group" filter.

[2018-08-22 16:05] #366 closed

[2018-08-22 21:54] addityasingh opened #748 "Create a headerToQuery() filter"
Create a filter to convert headers to query params. The signature should look something like below:

[code]

[2018-08-22 21:55] addityasingh commented on #748
@aryszka I have started on this as we discussed. Can you check if this signature meets the requirements? Also, I don't have permissions. So can you assign this to me as well

[2018-08-23 15:09] patrickdk77 opened #749 "Route based on missing headers"
I can use predicate to route via headers, but it only works if a header exists. There doesn't seem to be any method to set a route, if a header is missing.

[2018-08-23 15:40] szuecs commented on #749
@patrickdk77 so a negative header predicate?
Makes sense to me.

[2018-08-23 16:04] aryszka commented on #749
I am not sure if this is a good predicate among the main built-in ones. Negative predicate logic may lead to various ambiguities. We decided not to have them very early on, but unfortunately I can't recall now the exact reasoning (wish to have had a decision log).

What works for in most cases, is something like this:

[code]

Which is basically the other way around, and will send the requests wit

[2018-08-24 15:44] vecmezoni opened #750 "Kubernetes ingress: allow to reduce request logging"
Currently, ingress skipper produces log entry for each request and for some of the services we want to be able to switch off extensive request logging.

[2018-08-24 16:33] szuecs opened #751 "developer docs: how to create a filter"
https://github.com/zalando/skipper/pull/747 can be a good midsize filter

[2018-08-24 16:35] szuecs commented on #750
@vecmezoni can you explain how this should work in more detail, such that it's clear how this should work?

[2018-08-24 18:42] vecmezoni commented on #750
Let's imagine that we will have `accessLog` filter and I would be able to disable access logs like this:
[code]
or provide custom log format:
[code]

[2018-08-24 20:27] szuecs commented on #750
@vecmezoni from user point it looks good.

@hjacobs I think it's so easy, because right now we log at the outer layer and filters are far inside.

Per route logging would be the feature you want to implement, I think. Maybe we should implement opt-in logging filter for access logs and use the general logging to write only >= warning in our deployment.

[2018-08-27 10:09] szuecs commented on #749
A workaround was provided, by @aryszka and he is right it would have a negative impact on other routes easily.

[2018-08-27 10:09] #749 closed

[2018-08-28 10:33] #748 closed

[2018-09-01 08:45] mikkeloscar opened #763 "Switch to Go 1.11 modules (and streamline build)"
Currently the skipper Makefiles consists of a mix of `go get` and `glide install --strip-vendor`. It's a bit confusing this way and hard to understand what version of packages skipper really is being build against. We also have some hacks in place to be able to build plugins: https://github.com/zalando/skipper/blob/5d7ae30e7f71a566b2562906f86959a6044ed319/Makefile#L89-L94

Since we have Go modules

[2018-09-01 11:15] szuecs commented on #763
The current try to link the build does not work at runtime. My idea was also to use go modules or use plain go get -d (IIRC works, but is is not nice) or rewrite the plugins into the library and use the register approach at build time to choose which implementation to use (similar to db package in go, but it will require one binary per opentracing plugin)

[2018-09-01 21:52] #751 closed

[2018-09-01 21:53] szuecs commented on #744
#747 was merged

[2018-09-01 21:53] #744 closed

[2018-09-01 21:57] szuecs commented on #413
oauthToken* filters can be used to do the authnz, swagger part is covered by #418.

[2018-09-01 21:57] #413 closed

[2018-09-02 16:53] szuecs commented on #438
https://github.com/zalando/skipper/pull/596 was started but not finished.

[2018-09-02 19:28] #737 closed

[2018-09-02 19:28] #763 closed

[2018-09-03 08:33] szuecs opened #765 "add all opentracing providers to the container build"
https://github.com/zalando/skipper/releases/tag/v0.10.70 added lightstep opentracing container, but we should also add jaegr and instana that we already implemented in https://github.com/skipper-plugins/opentracing

[2018-09-03 08:57] mikkeloscar commented on #765
To follow up on your comment here: https://github.com/zalando/skipper/issues/763#issuecomment-417852290 it probably is worth considering moving the tracer plugins into this repository if we are going to build the images from here anyway.

The plugins doesn't really give any benefit because:

1. Must be build against the same libc as skipper binary
2. Must be build against the exactly same version

[2018-09-03 09:15] szuecs commented on #765
@mikkeloscar I think @aryszka had the idea of having them imported as library. I thought about having it similat to "db" (name correct?) package in Go, that use an unamed import to init() the actual implementation of the db driver.

[2018-09-03 11:55] conorclifford commented on #438
@szuecs do you know if there is any planned timeline for finishing #596 ?

[2018-09-03 12:29] arjunrn commented on #765
@mikkeloscar It actually get's worse than that. If the plugin or the main package uses vendored dependencies then there is a mismatch of types for the common dependency as described by this issue [here](https://github.com/golang/go/issues/20481). In this the `opentracing-go` dependency. So yes, I would recommend that we move the plugins to this repository make it part of the same top-level module.

[2018-09-03 13:55] szuecs commented on #438
@conorclifford PR is done by @myhro, so I don't know. Maybe he can enlighten us if someon else should take it.
I did not plan this to be done. When do you need it?

[2018-09-03 20:07] myhro commented on #438
@szuecs Unfortunately I wasn't able to finish the PR. I see no problem if somebody else takes it, as I can't promise that I'll be able to continue its development soon.

[2018-09-04 08:52] szuecs opened #767 "document auth filters"
The auth filters need a bit more documentation to make them understandable.
We have to point out that you need some tokeninfo implementation and tokenintrospection implemenetation and create pictures to explain how the setup looks like.

[2018-09-04 09:36] conorclifford commented on #438
@szuecs I believe it is being looked at as being useful nearly immediately, and will allow off-lifting similar work across several applications.

[2018-09-04 13:55] tkrop commented on #438
Our [API Guidelines](https://opensource.zalando.com/restful-api-guidelines/#153) are open how to implement this. However, we should make sure, that it does not provide a the same answer future request time (see https://aws.amazon.com/blogs/architecture/exponential-backoff-and-jitter/ for reasoning) for multiple rejected requests.

A constant jitter interval depending on the allowed rate should be

[2018-09-04 16:10] irishshagua commented on #728
Hey noticed similar issues with default redirect route today.
Below is an example of some sample routes where the redirect (which we'd want to always take precedence for http traffic) is not being applied when more complex routes are matched exactly. Is there a way to ensure that all http traffic results in a redirect to https?

[code]

[2018-09-04 16:30] ruiaraujo opened #768 "Random 500s on Ingress"
We are seeing some 500s on the ingress level that do not appear on the application logs.

This is the log from the ingress.

[code]

[2018-09-05 10:56] aryszka commented on #765
I agree that it is simpler to use the tracers as a lib in many cases. OTH, not sure of referencing here something that is only an opensource client library that is not useful on its own because it is only a client of an otherwise proprietary service. What do you think about this?

[2018-09-05 11:00] #750 closed

[2018-09-05 20:18] dehora commented on #438
@tkrop I don't understand, 1) why jitter is a feature of middleware like skipper and not a recommendation on origin client implementations, 2) why this is relevant guidance on the API interface level. Can you elaborate?

[2018-09-06 10:09] tkrop commented on #438
@dehora I think, `Retry-After` is and should not be a client issue - clients should use the value just as it is. In my opinion, using `Retry-After` shifts the responsibility for coordinating subsequent request to the server side (Skipper).

In contrast to exponential binary backoffs that are calculated by clients, the `Retry-After`-header overrides this smart coordination. Clients now do not have

[2018-09-06 10:17] myhro commented on #438
@tkrop Do you have an example of a widely-known public API that implements what you are suggesting? In every place I saw them being used, they are just that: a hard limit that your client should be aware of and that's it. It doesn't shift this responsibility to the server.

Exponential backoffs and jitter are used to deal with failures (e.g. when the target service is overloaded), not to deal with

[2018-09-06 14:33] nicroto opened #773 "How to route traffic from "example.com/inner-path" on a multi-host ingress?"
I have the following ingress:

[code]

This is part of a helm chart and trying to install it, gives the following error:

[code]

I know about the Path method but it seems to be only for the entire ingress and couldn't be applied on an ingress.host level?

Your help is much appreciated.

[2018-09-06 14:49] nicroto commented on #773
Solved it. Had nothing to do with skipper. Sorry about this.

[code]

[2018-09-06 14:49] #773 closed

[2018-09-07 08:15] szuecs commented on #768
We analyzed the problem

[2018-09-08 17:59] #768 closed

[2018-09-09 11:10] szuecs commented on #765
We published all tracing providers in docker containers.
Discussions can be done in comments or mailing list or slack.

[2018-09-09 11:10] #765 closed

[2018-09-09 11:13] szuecs commented on #728
Related to #684

[2018-09-10 09:36] aryszka opened #781 "go get is broken"
when getting the skipper packages via `go get github.com/zalando/skipper/...` in a clean environment, the build fails:

[code]

[2018-09-10 10:29] aryszka commented on #781
related: https://github.com/golang/go/wiki/Modules#why-does-installing-a-tool-via-go-get-fail-with-error-cannot-find-main-module

[2018-09-10 11:54] tkrop commented on #438
@myhro I ask the other way around. How many services do you know that implement `Retry-After` not doing jitter? At least [Tomasz Nurkiewicz](https://www.nurkiewicz.com/2015/02/retry-after-http-header-in-practice.html) explained from a practical experience what happens with out.

[2018-09-10 20:05] mikkeloscar commented on #781
The first error is because of a broken change in the prometheus library https://github.com/prometheus/client_golang/commit/7858729281ec582767b20e0d696b6041d995d5e0

[2018-09-14 11:40] szuecs opened #791 "Create routes for ingress east/west communication (cluster internal svc-to-svc)"
I just had a discussion with my colleagues how to enable cluster internal "east/west" communication to be proxied and loadbalanced through skipper, too. This is an enhancement for cluster internal communication through Kubernetes service, because of more functionality for east/west calls (used as internal API GW) and reliability, for example transparent connection retry.

External-DNS or [CoreDNS]

[2018-09-14 11:58] aermakov-zalando commented on #791
We could also map hostnames like `foo.bar.skipper.cluster.local` somehow to the Skipper endpoint (with CoreDNS?) and then we wouldn't have to create hundreds of useless services and keep them in sync.

[2018-09-17 10:46] MarcusNoble commented on #671
I know this is an old / closed issue now but I just wanted to leave a comment for anyone in the future that gets here for the same reason I did (and possibly re-open the discussion about having it configurable).

Internet Explorer 11 on Windows 7 and 8.1 doe not support a 308 redirect. IE11 on Windows 10 does support it but on the older OS it just hangs and shows a white page.

Interestingly, Clou

[2018-09-17 13:16] MarcusNoble commented on #671
I have no strong opinions about it either way. I can open a new issue to discuss it if you feel it's worth it (others may have more of a need for it than I do)?

[2018-09-17 13:36] szuecs commented on #671
Yes please create the issue, we do not have to fix it now, but we should not loose the need, if someone want to have a simple PR to the project it can be a good one.

[2018-09-17 13:48] MarcusNoble opened #794 "Configurable status code for HTTP -> HTTPS redirect"
Following on from the discussion here: https://github.com/zalando/skipper/issues/671#issuecomment-421964980

The outcome of the above issue was a [change](https://github.com/zalando/skipper/pull/695) from using `301` as the redirect code to using the more appropriate `308` status code. While this is the more correct code to use for this purpose it is unsupported by Internet Explorer 11 on Windows

[2018-09-18 10:07] ptrf opened #795 "skipper times out before clients on slow connections can finish their requests"
We have found a bug in skipper, which affects connections where a client attempts to send large request payload on a slow connection. Specifically, skipper errors out due to an i/o timeout:

[code]

Our setup contains a kubernetes deployed service that exposes a POST endpoint. This endpoint can accept payloads of several hundreds of MBs.

When a client attempts to POST a large payload on a slow co

[2018-09-18 19:20] roffe opened #796 "Skipper HTTP->HTTPS 308 redirect causes Android app crashes"
There is something in some Android devices that causes apps to crash when they hit a endpoint where the HTTP redirect is done with a 308

After basicly reverting https://github.com/zalando/skipper/commit/71b6452a65d87c67d8c8f89b708e4f4f50f362dd the app on multiple devices no longer crashes.

[2018-09-18 19:47] ruiaraujo commented on #796
@roffe which application?

[2018-09-18 20:34] szuecs commented on #796
Someone told me a version of internet explorer can’t deal with 308, too.
But the one also told that a cdn provider (Cloudflare?) also use 308. Maybe we should have an option to set 301 instead.

@roffe do you want to change it with a flag to skipper or in an ingress annotation?

[2018-09-18 20:36] szuecs commented on #796
I think it’s a duplicate of https://github.com/zalando/skipper/issues/794

[2018-09-18 20:36] #796 closed

[2018-09-18 20:40] szuecs commented on #794
#796 says that also android has problems with 308 redirects.
We should provide a fix for this. My question is if this should be configured global, which means skipper flag or per ingress as annotation.

[2018-09-18 21:31] roffe commented on #794
flag for default value, annotation for ingress specific override. Also a annotation to enable or disable https redirect per ingress via annotation would be awesome <3

[2018-09-18 21:33] szuecs commented on #706
We now have opentracing pulled inside skipper. Therefore I close this

[2018-09-18 21:33] #706 closed

[2018-09-18 21:37] szuecs commented on #703
This can be tested and reverted back

[2018-09-18 21:58] roffe commented on #795
if we raised the number we could transfer the upload until the timeout happened, ie set it to 15 min and transfer would take 30 min, it gets cut at the timeout. I verified it with curls rate limited at different time ranges

never tried 0 cause no timeouts doesn't sound to healthy, also raising the timeout really high would affect other ingress rules on the same controller.

might be worth adding

[2018-09-19 06:16] szuecs commented on #795
Option per ingress is not scalable (connection pool per ingress).
We would need to change a bit more, that we will do anyways in the future, but maybe not to fix the issue.
We used the Go default timeouts and if you want you can set the read timeout to 0, because there are a lot of other timeouts catching tcp/ip timeouts for example.
I build the client/server timeouts because of https://www.google

[2018-09-19 09:22] szuecs opened #797 "filters that call external endpoints should add opentracing spans"
Yesterady, I saw a trace that took 60ms in skipper and I bet it was the `compress()` filter.
I think it makes sense to show the filter runtime individually, which is also good for webhook, oauth* filters, calling external services.

[2018-09-19 10:00] tkrop commented on #795
Can you ensure, that Skipper/go is closing the TCP connections on the other timeouts? Otherwise you might end up with the to-many-open-file-descriptors-problem.

[2018-09-19 10:23] szuecs opened #798 "auditLog() filter captures the body in logs"
https://github.com/zalando/skipper/blob/master/filters/log/log.go#L157-L162 shows the relevant code.
Default is set to 1024 https://github.com/zalando/skipper/blob/master/cmd/skipper/main.go#L43
This can be overidden via  `--max-audit-body=<int>`

I learned that this was done on purpose, but maybe we should change the default.
Therefore I will remove the **bug** label.

[2018-09-19 13:56] aryszka commented on #798
i think this is the intended behavior of the auditLog filter, and the defaults and/or the documentation doesn't meet the expectations. Currently, by default 1024 bytes of the body is logged.

[2018-09-19 14:01] szuecs commented on #798
We also do not have it in our new documentation

[2018-09-19 15:35] aryszka opened #800 "the HTTPS redirect route may cause non-deterministic route matching in Kubernetes"
the HTTPS redirect feature was implemented before the custom predicates from the ingress annotations. In the redirect route we apply an assumption about the number of predicates:

[code]
...that is not valid anymore. For explanation why the number of predicates matters, see the ["Route matching"](https://opensource.zalando.com/skipper/reference/architecture/#route-processing) section.

One solutio

[2018-09-19 21:33] szuecs commented on #795
I am not sure if we talk about the same problem.
I mean you can set read timeout to 0, because the DoS protection that you need to protect from malicious  unhealthy clients can be protected by client side ratelimit.
For timeouts you can use the tcp (transport) timeouts, that don’t care about the http payload to be transferred in time.

Do I miss something?

[2018-09-20 10:12] ptrf commented on #795
@szuecs If I'm not mistaken while reading the article above – "The Complete guide to Go net/http timeouts" – you control the maximum amount of time that Skipper will wait for a client to finish
 sending its request with `http.Server.ReadTimeout`, controlled in skipper by the parameter `-read-timeout-server`?

If this is correctly understood, then the behaviour we're seeing is intentional.

[2018-09-20 10:43] szuecs commented on #795
@ptrf yes exactly. In code you find this at https://github.com/zalando/skipper/blob/master/skipper.go#L588-L596

[2018-09-20 11:27] ptrf commented on #795
@szuecs And thanks for looking at our inquiry :-)

[2018-09-20 12:45] aryszka opened #801 "Potential conflict Kubernetes Ingress default backend handling"
Seems like there's a conflict how we handle the default backends in ingress. Apparently, it is possible to generate routes for the default backends that are identical except for the backend endpoint, and so it is not defined which route will match, and in case of multiple ingress nodes, it is possible to route inconsistently. This should be investigated.

- [ ] Provide example
- [ ] Provide test t

[2018-09-20 13:38] vetinari commented on #797
depends on #756

[2018-09-20 13:42] vetinari commented on #797
[code]
should do, without #756 it's hard to test :)

[2018-09-20 14:12] mikkeloscar opened #802 "Skipper not logging 5xxs"
I will follow up with more information later. Putting this as a note so I don't forget!

I believe we might have introduced a breaking change in https://github.com/zalando/skipper/pull/752 because we no longer see 5xx error logs in our skipper-ingress logs like we used to.

This shows the log volume for a specific hostname:

![image](https://user-images.githubusercontent.com/128566/45813851-081ce4

[2018-09-21 19:55] stormmore commented on #689
I believe I just ran into this issue but in my case, I have narrowed it down to if you have a trailing / when you put the FQDN in or not, e.g. domain.com vs domain.com/. In the former case, it is bypassing the redirect, the latter is successful.

I am currently running v0.10.92

[2018-09-22 18:58] szuecs commented on #794
#799 fixed it, so I close the issue

[2018-09-22 18:58] #794 closed

[2018-09-23 16:52] szuecs commented on #802
@vecmezoni we have to revert your change. #803
I think only the happy path works with the current filter idea. I am not sure if we can easily fix it, so I created #803 to revert the whole filter log system.

[2018-09-23 17:55] stormmore opened #804 "Use Header Values as values in Filters"
As I look at implementing `oauthTokenintrospection*` filters, one of my use cases requires that I check the value of a key in the tokeninfo/introspection with the value of a request header so it would be nice to be able to reference the header value in the params for the filters.

[2018-09-23 18:07] szuecs commented on #804
We had a chat, so I propose that we implement 4 additional filters

oauthTokeninfoCompareHeaderAny(<url>, <tokenkey1>, <header1>, <tokenkey2>, <header2>, ..)
oauthTokeninfoCompareHeaderAll(<url>, <tokenkey1>, <header1>, <tokenkey2>, <header2>, ..)
oauthTokenintrospectionCompareHeaderAny(<url>, <tokenkey1>, <header1>, <tokenkey2>, <header2>, ..)
oauthTokenintrospectionCompareHeaderAll(<url>, <token

[2018-09-23 18:16] stormmore opened #805 "OAuth2 Token Exchange Filter Request"
# Use Case

I am currently looking at a scenario that requires users to authenticate with 3rd party IDP and I need to trust their tokens while passing the services behind Skipper a token from an internal IDP for authz. Similar workflow to:

[code]

# Background

Looking at both the [RFC Draft](https://tools.ietf.org/html/draft-ietf-oauth-token-exchange-15) and [Keycloak's implementation](https://w

[2018-09-23 22:35] cg-rsands commented on #689
Hsas there been any update on a fix for this?  The suggested one above does not cover it 100% of the time

[2018-09-24 05:35] vecmezoni commented on #802
If you switch off access log globally you won’t see errors in logs. Why filter should have different behavior?

[2018-09-24 15:12] szuecs commented on #802
@vecmezoni we don't switched off the logging and if we would how can you explain the less logs during the error period?

[2018-09-24 15:27] vecmezoni commented on #802
I haven't got the problem in the issue from the first read.
I've got that "accessLogDisabled() won't produce log messages for errors".
Actually, it was "because of bug in 'accessLog' filter we've lost error messages".
Sorry for the confusion.

[2018-09-24 20:15] stormmore commented on #805
OK, I have been "playing" with Keycloak's token-exchange. Given the parameters passed below, the access and refresh tokens that are returned are JWT tokens:
[code]
A redacted response example would be:
[code]
Example decoded JWT for `access_token`:
[code]
and finally a decoded `refresh_token` JWT:
[code]
So knowing this now, it looks like the 2nd call to the tokenInfo / tokenIntrospection endpoint

[2018-09-25 08:00] szuecs commented on #802
@vecmezoni can you look into this issue?
I expect that if we have a GW timeout (for example backend `nc -l 8080`) or something like that will trigger this bug.

[2018-09-25 12:36] #802 closed

[2018-09-25 12:54] aryszka opened #807 "X-Forwarded-Proto not sent to backend services"
Investigation required: the X-Forwarded-Proto header seems not to be forwarded to the backend services.

[2018-09-25 13:36] aryszka opened #808 "tee() filter between two kubernetes clusters with skipper load balancing between the endpoints"
in load balanced routes, the X-Load-Balancer-Member is dropped at the end of the route. This causes a problem in case of the tee() filter, when the tee requests go to another similar Kubernetes cluster.

[2018-09-25 13:52] aryszka commented on #808
suggested solution: consider moving the generated dropRequestHeader("X-Load-Balancer-Member") filter in front of the custom annotation filters

[2018-09-25 13:57] lgogolin commented on #808
@aryszka workaround for this issue that works is to add dropRequestHeader() before tee()

After that routes will looks like this:

[code]

[2018-09-25 14:28] lmineiro commented on #807
Is the hypothesis that skipper receives such header which, for some reason, is not delivered to the route backend?

[2018-09-26 09:15] szuecs commented on #807
@aryszka I don't see that this is true:

[code]

[2018-09-26 11:49] diegoroccia commented on #807
@szuecs you're right, it was a problem on the LB configuration.

[2018-09-26 12:01] szuecs commented on #807
So I close this one

[2018-09-26 12:01] #807 closed

[2018-09-27 11:44] vpistis opened #809 "service__lb_group, status code 500: http: invalid Read on closed Body"
Hi,

we experienced some trouble with our web app (we use skipper and kube-aws-ingress-controller).

Skipper log this kind of message `....service__lb_group, status code 500: http: invalid Read on closed Body...` generally while pods are being created (and new requests are routed to this web app).

For each deployment we have specified `minReadySeconds: 45` and we expect requests to be routed to n

[2018-09-27 13:44] szuecs commented on #809
Yes, skipper will read every 3s ingress and endpoints to update the routing table.

I think you have to fix it on your application and PodSpec level. Use readinessProbe to only be ready if your application is ready to serve traffic. This will ensure that your Pod is only put int the endpoints list, if it's ready to serve the traffic.

[2018-09-27 14:08] vpistis commented on #809
wow!
I had not thought about it,

thanx a lot! :)

[2018-09-27 14:18] szuecs commented on #809
@vpistis please reopen if it does not solve your problem. Thanks!

[2018-09-27 14:18] #809 closed

[2018-10-01 08:32] aryszka commented on #808
yes, it should be the first.

[2018-10-01 09:51] aryszka commented on #805
then, i would try to go first with a single call to 'IDP2' and see if it works in general. The second call can be added later if another IDP implementation requires it.

[2018-10-01 18:17] szuecs commented on #689
- 4 steps sound great to me.
- `Weight()` should return an `int`, not float, because do not use a complicated type if a simple is enough. Float is not easy to compare with `==` for example (you need always to define an epsilon and use `<=` and `>=').
- Weight() should be also counted as predicate, because you could workaround some problems if you just have multiple Weight() defined in your route,

[2018-10-01 18:53] aryszka commented on #689
"return an int" :+1:
"Weight() should be also counted as predicate" :+1:
"Match() int" not sure at the moment, because i believe we can do this more effectively during the route generation phase outside of the request processing instead of the route matching phase.

[2018-10-01 20:28] ese commented on #689
:+1: to count as predicate and return int

[2018-10-03 10:10] herojan opened #810 "Openid tokenintrospection request uses the wrong form key"
Expected:
The filter `oauthTokenintrospectionAllKV("http://configurl", "key", "value")` should call the `introspection_endpoint` with form parameters `token=$token` as per https://tools.ietf.org/html/rfc7662#section-2.1

Actual:
The filter sends the form parameters `access_token=$token`

See: https://github.com/zalando/skipper/blob/3a77112171a7c4e8efb5cc25f1000931f40fed8d/filters/auth/authclient.g

[2018-10-03 11:11] herojan commented on #804
@szuecs We actually have a very similar use case where we need to check a path param (`Path("/:pathParam/etc")`) against the introspection result. I think this isn't possible right now but would we need to make more filters like the above or could the above filters maybe be made more generic?

[2018-10-03 12:17] szuecs commented on #810
Yes please, weird I thought I checked it against one of our IAM backends.
Can you create a PR to change https://github.com/zalando/skipper/blob/master/filters/auth/auth.go#L48 variable and check where it it used?
It should be only used in the oauthTokenintrospection* filters and if so it's fine to fix it according to the RFC.

[2018-10-03 12:49] herojan commented on #810
Grand, I opened a pr for it https://github.com/zalando/skipper/pull/811

[2018-10-03 17:52] szuecs commented on #689
Thanks! Then I think we just do the proposal from @aryszka as stated in https://github.com/zalando/skipper/issues/689#issuecomment-426021387

[2018-10-03 18:56] #810 closed

[2018-10-04 14:02] #808 closed

[2018-10-04 16:07] #798 closed

[2018-10-05 11:18] aryszka commented on #804
@herojan i find named references as filter args a nice idea, but it can have far reaching implications, and considering it all would be better done as a generic redesign of the eskip syntax.

The proposal of `oauthTokenintrospectionComparePathParamAny` and its counterpart, is obviously not very pretty, but its scope is limited to this particular filter. So it's fine with me. (For naming I would us

[2018-10-05 13:56] herojan commented on #804
But now I also just realised the second won't work unless `oauthTokenintrospectionAllKV` knows how to deal with the scopes being a list.

So it may need to be a mix of **1** and **2** where I make a new filter where it will understand how to match lists and kvs, as well as the "pathParam:" syntax...

[2018-10-06 16:18] szuecs commented on #805
@stormmore can you specify how the filter should be configured?

[2018-10-06 18:51] szuecs opened #814 "refactor filter error handling"
Instead of using filters.ErrInvalidFilterParameters we could add a function that returns an error to parameterize the error to log it centrally.

## Background

source: https://github.com/zalando/skipper/pull/668/files#r205731495

With the experience gained since the current approach was introduced, my ideal approach would be something like this:

*    return a typed error that contains details sp

[2018-10-06 20:41] MALPI commented on #14
I would be interested working on that. Would be nice if you could give a bit more context?

[2018-10-09 12:57] #244 closed

[2018-10-10 08:50] boogolli opened #817 "Route by X-Forwarded-Host"
I was wondering that is it possible to route by the X-Forwarded-Host header instead of Host?

[2018-10-10 10:46] szuecs commented on #817
Not right now, but you can easily write a predicate for it.
If you can write a bit of Go, it's only an interface with one function to implement.
We are happy to help.

https://github.com/zalando/skipper/blob/master/predicates/source/source.go#L106 is the methid to implement, similar.

[2018-10-10 20:32] #32 closed

[2018-10-11 10:13] szuecs commented on #817
I think I am wrong and the pointed `Source()` predicate is exactly what you search.
How `Source()` and `SourceFromLast()` work  is documented at https://opensource.zalando.com/skipper/reference/predicates/#source.

Please reopen, if something is not working as intended it you have another idea how the routing should work.

[2018-10-11 10:13] #817 closed

[2018-10-11 16:14] stormmore commented on #791
being nitpicky and the keystroke conscientious person that I am, I would prefer something like `*.skp.cluster.local`, kinda like the `svc` for service.

nice to have, would be the ability to configure LB policy for the services.

[2018-10-11 19:33] kailam77 opened #819 "Ingress Path Matching - Default Backends and Catch-All Regex's Trump All Other Path Matches"
I'm trying to apply a 'blacklist' of paths that should 404.  My intent is to define path rules that send matching requests to a 404 service, and have all other requests route to the app.  I've tried a few approaches to accomplish this, documented in detail below.  What I'm finding is that if there is a default backend defined, all the path rules are ignored and everything gets routed to the defaul

[2018-10-11 22:33] szuecs commented on #819
Thanks for your well written bugreport!

Can you dump and post the routes for the not as expected working cases, please?

In the other hand you could also use the custom-routes annotation with a Path(“heartbeat“) predicate and use status(404) -> <shunt> to blacklist the matching routes. https://opensource.zalando.com/skipper/kubernetes/ingress-usage/#custom-routes

[2018-10-12 07:58] szuecs commented on #660
Request for comments:

[code]

My Questions:
- [ ] How should the behavior of the `status` field be?
  - first applied?
  - should all instances add themselves, but how to delete them again?
  - does it makes sense to have a status or do we need some other data?
- [ ] Anything you miss in this CRD to support your use cases?

[2018-10-12 15:28] kailam77 commented on #819
I don't have access to the logs in my system, I'll try to get dumps when possible.

Yeah, our solution for now is to use the custom routes.  It just ties us to Skipper annotations (seemingly) unnecessarily.

[2018-10-18 18:35] stormmore commented on #805
In actual fact, since this is hitting the token endpoint, there are many use cases to be able to query that endpoint beyond my current use case. https://www.keycloak.org/docs/latest/securing_apps/#_token-exchange covers them pretty well. So it probably would be better to make it a more general "token" filter that takes a bunch of params that help it form the request to get a new token.

The part I

[2018-10-19 12:14] wndhydrnt opened #820 "Provide additional information for a route from Kubernetes"
I'm using Skipper do to a Canary deployment of an application on Kubernetes.
After the deployment of the Canary, I want to know how it is doing by checking the results of HTTP requests that the Canary has served.
Prometheus scrapes the metrics from Skipper and I want to use Grafana to create two graphs. One graph should show the HTTP requests of the Current deployment of the application and one fo

[2018-10-20 15:44] mikkeloscar commented on #820
We could possibly extend routes to include labels which could be passed to the metrics sink instead of just the route id: https://github.com/zalando/skipper/blob/77d84393cf1060ed6ead4d8125167daf419a9a0f/proxy/proxy.go#L1088-L1094

This way we could create routes with labels in the ingress datasource and provide extra context. It should be fairly easy to implement, but we must ofc. consider the tra

[2018-10-20 19:56] szuecs commented on #820
Sounds reasonable to me to add labels as map[string]string to the interface maybe metrics.MeasureServeWithLabels() ?
@aryszka what do you think?

[2018-10-20 20:35] aryszka commented on #820
Unfortunately, i also cannot see a workaround at the moment without a code change.

I agree with @szuecs: the generated route id should stay opaque.

I like @mikkeloscar's suggestion, including using a feature toggle. It's simple, and doesn't change the interface except for the additional feature toggle.. I haven't verified it yet in the code but I believe it is simple to implement it, too.

[2018-10-22 14:35] MarcusNoble opened #822 "OAuth ingress proxy"
Is it possible to use Skipper as an OAuth proxy with things like GitHub / Google? (Similar to https://github.com/helm/charts/tree/master/stable/oauth2-proxy)

The [docs](https://opensource.zalando.com/skipper/kubernetes/ingress-usage/#bearer-token-oauthjwt) talk about OAuth / JWT but aren't really clear on how they're used. Is there any real-world example on how to achieve this kind of thing?

[2018-10-22 18:37] szuecs commented on #822
Hi!
I guess you want openID connect which is not supported until https://github.com/zalando/skipper/pull/743 is merged. We only support tokeninfo (no rfc but a known protocol) and tokenintrospection as defined in the rfc as documented for svc-to-svc authentication and authorization.
I am not sure what we miss in the documentation to make it more clear. I would happy to get some suggestions for enh

[2018-10-23 07:13] MarcusNoble commented on #822
Thanks for the reply. I feel it's my lack of understanding around oauth / openID that's causing my confusion.

As to my specific use case, I'm trying to make the [Kubernetes Dashboard](https://github.com/kubernetes/dashboard) available via some authentication mechanism we already use (such as GitHub or LDAP) rather than the token-based access it implements itself. Though I do think this would be a

[2018-10-23 07:46] mikkeloscar commented on #822
@MarcusNoble #743 should solve exactly this problem.

[2018-10-23 08:09] MarcusNoble commented on #822
That's great to hear. Thanks. Subscribed to that PR :)

[2018-10-23 08:17] szuecs commented on #822
If you need ldap or whatever custom  integration you can also use https://opensource.zalando.com/skipper/reference/filters/#webhook.

On the other hand #743 should implement the most clean solution for UI tools and public IAM providers like github, google, ...

[2018-10-24 08:54] MarcusNoble commented on #822
I have just come across this issue related to authentication on ALBs: https://github.com/zalando-incubator/kube-ingress-aws-controller/issues/166

If implemented could this also be used with Skipper? I wasn't aware that ALBs could have built in authentication, it looks like a very handy feature.

Alternatively, is it possible to create an authenticated ALB manually and specify to skipper / kube-in

[2018-10-24 11:34] mikkeloscar commented on #822
Not really, we don't have the support for that for now.

I think it's simpler to implement this in skipper as we already have an open PR. Having it in the ingress-controller to configure the ALB might also be good, but is probably more work if you just want a working solution for now :)

[2018-10-24 14:05] ddufourboivin-zalando opened #824 "Fix documentation for deprecated -enable-prometheus-metrics flag"
# Situation

In `docs/operation/operation.md` we can read:

[code]

In `cmd/skipper/main.go`:

[code]

This switch is deprecated, but still is documented for usage.

# Task

Go through the project to make sure that `enable-prometheus-metrics` is either documented as deprecated or not at all, in favour of `-metrics-flavour prometheus`.

[2018-10-24 18:58] szuecs commented on #820
@wndhydrnt I think it’s fine to add also your suggestion if you explicitly guard this by an option flag to make it opt-in, because it will create quite a bunch of more metrics and I am not sure if I would always enable it.
Adding the labels to the current metrics is  fine to add without option.
Do you want to work on that feature?

[2018-10-24 19:04] szuecs commented on #819
Dump the routes:

Kubectl exec into skipper, then:
`wget -O/dev/stdout http://localhost:9911/routes`

Thanks for your great writing in this issue!

[2018-10-24 19:37] aryszka opened #825 "automatically publish documentation"
It would be nice if the documentation was automatically published. I believe we need to do something as follows:

1. create a make task:

[code]

What is the name of RIGHT_ENV_VAR for mkdocs?

2. add mkdocs as a dependency for the travis job?

3. call publish-docs from in the ci-trigger task under the condition:

[code]

[2018-10-24 21:11] szuecs commented on #805
ClientID and clientsecret is also required for openID connect in https://github.com/zalando/skipper/pull/743.
I am not sure what we do there, now. I think I added this as part of the filter, because some people might want to integrate different token providers and if you pass it as file via flag, then you bind the configuration more hard. On the other hand it leaks the secret to people that have a

[2018-10-26 11:56] marandalucas opened #827 "setQuery Filter Doesn't work - zalando.org/skipper-filter: setQuery("lang", "pt")"
When we configure the filter with setQuery in our ingress, it doesn't work (It doesn't put in the request to the backend  /?lang=pt).
But if we configure the filter with setQuery and redirect, it work perfect.

**Ingress Example**

[code]

**Skipper Log when we create the ingress**
`[APP]time="2018-10-26T11:33:27Z" level=info msg="route settings, update, route: kube_front__bront_sp_web_pt__front_d

[2018-10-27 09:14] thecodejunkie opened #828 "Examples of how to use Skipper in a Docker container"
Are there any examples of how to use the Docker version of Skipper and Eskip to use a .eskip file? I.e how would I use a local .eskip file with those commands? I would like to use the container version, for a bit of local testing, without having to setup and use Go.

1. How would I use `docker run registry.opensource.zalan.do/pathfinder/skipper:latest eskip check` to check a local file?
2. How wou

[2018-10-27 14:33] szuecs commented on #828
If you like create a documentation pull request for the next people that can have the same issue or not know docker.
What do you think?

[2018-10-27 14:40] thecodejunkie commented on #828
@szuecs Yep! I'll knock one up over the weekend

[2018-10-29 03:36] szuecs commented on #827
What do you get as request in your backend?

Can you show us the routing table for this ingress  https://opensource.zalando.com/skipper/operation/operation/#routing-table-information ?

[2018-10-29 03:47] szuecs commented on #819
The problem is that the route for the heartbeat backend is not created. I bet the problem is, that the service has no valid endpoints. 404 is the default and if it does not proxy to default-404-service to get a 404, than another route can match the request and respond OK.

Please show `kubectl get ep -o wide default-404-service` and `kubectl get svc -o yaml default-404-service`.

[2018-10-29 07:43] marandalucas commented on #827
**# Ingress config**
[code]

**# Skipper**
[code]
**# Skipper Logs**
`10.3.0.19 - - [29/Oct/2018:07:23:02 +0000] "GET / HTTP/1.1" 200 3611 "-" "curl/7.54.0" 1 bolsas.dev.universia.net - -`

**# Backend Logs**
[code]

**But if i add in the request /?lang=pt, the site translate to portuguese.**
[code]

[2018-10-29 08:17] #827 closed

[2018-10-29 08:19] marandalucas commented on #827
For us is better to use
zalando.org/skipper-filter: responseCookie("lang", "pt")

And it's easier than setQuery to translate static website.

[2018-10-30 03:42] #828 closed

[2018-10-30 03:54] szuecs commented on #827
From the logs I also don’t see a problem of skipper, because all the proxy requests  are done with added query.

[2018-10-31 15:42] MarcusNoble commented on #822
Just incase people get here for a similar reason I did:

I managed to create an authenticated kubernetes dashboard by following the tutorial at the bottom of this post: https://blog.heptio.com/on-securing-the-kubernetes-dashboard-16b09b1b7aca

I used Skipper instead of Contour without any issues. Worked with GitHub for me but don't see why it wouldn't work for any other OAuth2 compatible provider.

[2018-10-31 18:55] aryszka commented on #822
thanks for sharing this!

[2018-10-31 21:53] szuecs commented on #683
Another thing to be done is that we need to be able to read/update multiple certs,keys from files for example kubernetes secrets.
This would enable the use case to terminate https in skipper and rencrypt to backend with https if the backend service has a cert matching their ip.

[2018-11-01 00:55] greenboxal opened #831 "Max loopbacks reached with multiple ingresses pointing to the same hostname"
We were migrating a service to a different ingress (but the same hostname/path) and, temporarily had both the old and the new ingresses running on the cluster. We kept both so we wouldn't have any downtime. When testing, we detected that some requests were being dropped.

# Steps to reproduce
1. Create a deployment with a service
2. Create an ingress with the hostname `X`, pointing to that service

[2018-11-02 21:37] #767 closed

[2018-11-02 21:43] #701 closed

[2018-11-02 21:44] #511 closed

[2018-11-05 10:11] aermakov-zalando opened #835 "Skipper starts serving before the routes are initialized"
When Skipper is running in Kubernetes, if it restarts for any reason (e.g. OOM kill) before the ELB health check can notice that a node is down, it'll start responding 404s to all client requests. This is dangerous because applications can and will react to 404s, e.g. by expiring tokens or doing other irreversible changes.
There is some code that's supposed to check if the data client was initiali

[2018-11-06 13:05] dlmiddlecote opened #838 "Kubernetes HTTPS redirect doesn't work in GCP"
The route produced when enabling Kubernetes HTTP redirect is:
[code]

This route requires the `X-Forwarded-Port` header to be specified, and unfortunately the GCP Loadbalancer does not add this header, only `X-Forwarded-Proto`.

I think that there should be a way to overcome this, but currently there isn't, appart from turning off the redirect and specifying our own redirect path.

[2018-11-06 13:17] aryszka opened #839 "wait for all the route sources before signalling the first load done event"
the problem serving 404s on startup was reported here: #835
it was addressed in this PR: #837

The referenced PR doesn't consider waiting for the first batch of route configuration from all the possible sources (DataClients). The functionality could be extended so that it signals only after all the datasources returned the first batch of routes.

[2018-11-06 13:46] #835 closed

[2018-11-06 17:07] aryszka commented on #838
thanks for posting this issue. Looking into finding a quick fix. Since the always matching PathRegexp is already a workaround, we may be able to build on that somehow without a too big crime.

[2018-11-06 19:10] szuecs commented on #838
@dlmiddlecote Could you test the following image, please and report if it work for your case?
`registry.opensource.zalan.do/pathfinder/skipper-test:pr-840-1`

[2018-11-07 11:10] dlmiddlecote commented on #838
@szuecs Hi, I've tested the change and it does work well. Thanks! I wonder whether the solution of using more predicates to cause this route to be evaluated first is troubled? i.e. if I add a custom route, that happens to have 4 predicates (maybe matching on Method and Header) then that route will trump the redirect route. Do we want the redirect route to _always_ be triggered first? If so, the su

[2018-11-07 11:48] szuecs commented on #838
@dlmiddlecote we consider this change as workaround and the real solution is the Weight() predicate, but we are not there, yet.
https://github.com/zalando/skipper/issues/689#issuecomment-425889841 is the issue we need to fix it.
Please watch this one if you are interested in getting notifications, but we will also state this in release notes.

[2018-11-07 12:11] #838 closed

[2018-11-07 13:33] szuecs commented on #660
@aermakov-zalando do you have ideas for the status field, because you talked about "the usual pattern is that the controller writes the latest value from metadata.generation into status.observedGeneration when it does stuff". One problem is that we have N skippers and only one object status field, but maybe you have an idea.

[2018-11-07 13:48] aermakov-zalando commented on #660
No idea. I'd either create a separate controller that would get the results from all Skipper instances and update the status, or use leader election in Skippers and collect the data in one of the instances. Both of these would be annoying to implement, though.

[2018-11-07 15:10] aermakov-zalando commented on #660
A couple of suggestions:
 * Use a list of routes instead of just one. This will simplify managing more complicated overrides.
 * Add the hostname explicitly and make it required. Right now it's very easy to accidentally screw up everything running in the cluster.

[2018-11-09 22:15] szuecs commented on #459
Was done

[2018-11-09 22:15] #459 closed

[2018-11-09 22:41] szuecs commented on #489
If we have api monitoring feature and https://github.com/zalando/skipper/pull/842 , I think we can close this.
Any other comments on that?

[2018-11-10 17:53] szuecs commented on #831
I think the problem is that the routing flaps between both `*_lb_group` routes -> max loopback

[2018-11-13 07:43] #825 closed

[2018-11-13 17:29] #791 closed

[2018-11-13 22:06] greenboxal commented on #831
@szuecs do you have any idea on how to fix it? we can work on that

[2018-11-13 22:37] szuecs opened #850 "east-west routes ambiguous for multi host ingress"
An ingress with more than one rules, that has different host definitions will create ambiguous routes internal routes:

[code]

[2018-11-13 22:47] szuecs commented on #831
@greenboxal I looked into it with my phone yesterday, but @aryszka told me that he will fix it.
I think the real fix is https://github.com/zalando/skipper/issues/689#issuecomment-426021387 or even a bigger enhancement as stated in https://github.com/zalando/skipper/issues/556.

[2018-11-14 09:54] aryszka commented on #489
agree. We can reopen it if different metrics are required.

[2018-11-14 09:54] #489 closed

[2018-11-14 10:01] szuecs commented on #850
There was a valid suggestion from @aermakov-zalando to just skip ingress that have multiple host headers with different service in the rules section.
Another idea I had was to change the naming scheme `<name>.<namspace>.skipper.cluster.local` and append on all these east-west routes the `.skipper.cluster.local` suffix, which would create routes for hosts `demo.example.org.skipper.cluster.local` an

[2018-11-14 10:08] aermakov-zalando commented on #850
Another option would be to create the local routes for Service objects, not Ingresses (since most of the Ingress stuff like hosts is irrelevant anyway). Since this is mostly for cluster-local services that shouldn't be exposed to the internet, and thus don't require LBs, it would make more sense to me.

[2018-11-14 10:10] szuecs opened #851 "Poll TLS cert and keys from directories"
This could enable to read secrets from Kubernetes secrets and terminate https in skipper at dynamic workloads, where certificates/keys are created in skipper would detect these new created ones.

[2018-11-15 11:49] mo-gr opened #852 "Conflicting Dependencies"
Currently, skipper can't be build as a library when the project uses Gopkg.toml/dep ensure.

Skipper depends on (via [go.mod](https://github.com/zalando/skipper/blob/master/go.mod#L35-L48)):
- github.com/uber/jaeger-lib v1.5.0
- github.com/prometheus/client_golang v0.9.0-pre1.0.20180907102542-7858729281ec

However, the jaeger-lib in v1.5.0 has a [Gopkg.toml](https://github.com/jaegertracing/jaeger

[2018-11-15 14:02] szuecs commented on #852
You have to build with Go >= 1.11 and have the ENV set `GO111MODULE=on`

[2018-11-15 14:43] mo-gr commented on #852
@szuecs That does the trick. Even though I don't fully understand why. Thank you 🙏

[2018-11-15 14:43] #852 closed

[2018-11-17 01:57] jruhland opened #853 "External DNS Collision causes 404"
Deployed via kubernetes with ingress controller, we use a ingress that maps two very similar DNS entries, which causes intermittent "Not Found" errors, removing either of the entries will result in fixing, or adding them as separate ingresses, but together, ~20% error rate with `Not Found`

Produced on both 0.10.0 and 0.10.121

Ingress Definition Used to Reproduce:
[code]

It appears to be related

[2018-11-17 19:50] aryszka commented on #831
creating now a test to reproduce this bug

[2018-11-17 21:25] aryszka commented on #831
not luck so far. @greenboxal , can you share the two ingress specs?

[2018-11-18 08:55] szuecs commented on #853
@jruhland would you mind testing to change the `host: value` to `host: ^value` in both of your cases?
I think it’s because we use regexp matching to host headers as the ingress spec tells and there are multiple use cases that compete.
I will check on Monday the code line you mentioned.

[2018-11-18 23:57] greenboxal commented on #853
Pushed a fix here: https://github.com/zalando/skipper/pull/854

[2018-11-19 00:52] greenboxal commented on #831
Sure, try the following:

Ingress 1:
[code]

[2018-11-21 13:16] mikkeloscar opened #856 "Expose proxy errors vs. backend errors as a metric."
It would be very helpful if we had a metric that would show the number of errors e.g. 5xxs from skipper itself, vs. 5xxs coming from an application. This way we could quickly see if the problem is infrastructure (skipper) or the application (backend).

[2018-11-22 09:19] szuecs opened #858 "add flowid to tracing span"
If there is an incoming X-Flow-Id header it should be put into the tracing span to have the data in Opentracing UIs visible.

[2018-11-22 10:37] szuecs commented on #853
I was wrong for the kubernetes dataclient we create Host header matches like this. that match the dot correctly:

    Host(/a[.]b[.]localhost/)

[2018-11-22 12:48] #853 closed

[2018-11-22 16:36] szuecs commented on #831
@greenboxal which skipper version are you running this test?

I tried to reproduce it

2x ingress
[code]

2x service
[code]

2x deployments
[code]

client test
[code]

[2018-11-23 08:06] szuecs opened #861 "Docs fix build without go modules"
https://opensource.zalando.com/skipper/reference/plugins/ shows wrong building for example

[2018-11-23 08:10] szuecs commented on #700
I think we can close this, because it’s most likely dependency missing or not updated.

[2018-11-23 08:10] #700 closed

[2018-11-26 10:31] szuecs opened #863 "Understand 500 with v0.10.122"
In high traffic routes running in Kubernetes with the following flags, there were an increase of 500s that might be converted from 499 to 500 after updating version to v.0.10.122.

[code]

Log that converted (?) from 499 to 500 after https://github.com/zalando/skipper/pull/857 (v0.10.110 ->  v0.10.122):

`*_lb_group with backend , status code 500: dialing failed false: unexpected EOF`

[2018-11-26 13:58] roffe commented on #863
Setup looks like:

[code]

[code]

[2018-11-26 15:21] szuecs commented on #863
@roffe you also want to use `-wait-first-route-load`, because a starting skipper could get traffic before it has loaded routes from the kubernetes apiserver.

[2018-11-26 16:02] roffe commented on #863
Thanks for the tip. Skipper does not really scale up or down right now in my setup, but I will roll it out in the next service window.

[2018-11-28 13:17] szuecs commented on #863
registry.opensource.zalan.do/pathfinder/skipper:v0.10.126 should be a fixed version, which will have properly set 499 for client closed connections.

[2018-11-28 13:17] #863 closed

[2018-11-29 09:40] futare1 opened #866 "consecutiveBreaker"

[2018-11-29 09:41] futare1 commented on #866
oops, finger trouble. sorry.

[2018-11-29 09:41] #866 closed

[2018-11-29 10:21] futare1 opened #867 "Response filter to redirect if backend response has status code >=500"
I want to have a chosen redirect if the backend response status code is >= 500.

A solution could be a specific responsefilter `redirectToGtStatus("https://example.org", 500)`, that would redirect to https://example.org with a temporary redirect `307`, only if the response status code is >= 500 from the backend.

## Original issue
Hi - I'm new to Skipper.  Can anyone please point me in the directi

[2018-11-29 13:41] szuecs commented on #867
Can you share the output of `curl -v https://app.domain.local/` please?
Is `domain.local` inside the cluster or a valid domain, that you hide from us?

[2018-11-29 14:59] futare1 commented on #867
Hi szuecs, `domain.local` is only an example.  'outage' is a simple web app with a static page for customers when we do maintenace.  `app` is the production web app.  Say during maintenance of production `app` , a >=500 is returned and I wish to know how to redirect to the `outage`

(in hindsight I should have referred to it as maintenance instead of outage).

[2018-11-30 21:01] stormmore opened #868 "<loopback> not behaving how expected"
# Use Case

Service has 2 paths that separately need to be written on the way through Skipper:
[code]

# Initial attempt
To accomplish it, my first attempt at writting a `zalando.org/skipper-routes` annotation for the ingress object looked like:
[code]
This failed in 2 ways; firstly and most significantly, for most skipper instances in the cluster it started returning 502s; secondly, when it didn'

[2018-12-04 10:11] thilp opened #871 "Skipper build fails from go get"
Building Skipper from `go get github.com/zalando/skipper/...` (as [documented](https://github.com/zalando/skipper#installation)) started failing sometime after last Friday. Here is the output from Docker when trying to build from the `golang` image:

[code]

[2018-12-04 13:59] szuecs commented on #871
You need to use Go modules: `GO111MODULE=on go get github.com/zalando/skipper/...`

[2018-12-04 14:03] szuecs commented on #871
You need to use Go modules: `GO111MODULE=on go get github.com/zalando/skipper/...`

[2018-12-04 18:00] thilp commented on #871
This looks like https://github.com/jaegertracing/jaeger-client-go/issues/352.

[2018-12-05 08:36] ASVBPREAUBV commented on #871
Worked for me

[2018-12-05 12:32] dlmiddlecote opened #873 "zalando.org/skipper-routes get applied to all ingress paths"
Hi,

I'm trying to add a simple redirect to a kubernetes ingress, and I'm having trouble with it.

Sample Ingress:
[code]

My expectation here is that the routes generated would be:
* `Host(/^foo[.]bar$/) && PathRegexp(/^\/something\//) -> 10.*.*.*`
* `Host(/^foo[.]bar$/) && PathRegexp(/^\/else\//) -> 10.*.*.*`
* `Host(/^foo[.]bar$/) && Path("/foo/") -> redirectTo(308, "/bar/") -> <shunt>`

Howeve

[2018-12-05 13:41] emyphan commented on #858
@szuecs The change for this ticket should be done after merging this PR: https://github.com/zalando/skipper/pull/860
doesn't it?

[2018-12-05 13:50] szuecs commented on #858
@emyphan I would say no, because this PR is about adding all filters to as Spans, which was measured and is unreasonable slow, and not about having the data in the current ingress and Proxy Spans.

[2018-12-05 15:36] szuecs commented on #873
We decided to make sure that custom routes have to be bound to the same Host+Path specified in the ingress to not enable too many production errors that impact other ingress.
The solution is to create another ingress for the redirect as a workaround and wait for the clean solution https://github.com/zalando/skipper/issues/660

[2018-12-05 15:36] #871 closed

[2018-12-05 15:45] szuecs commented on #867
From what I understand you would like to do:

[code]

You would get another route which is more specific (+1 Predicate PathRegexp()) then the route from the ingress spec. The more specific route would do the redirect as specified.

[2018-12-05 18:12] futare1 commented on #867
Hi szuecs - thanks for the example of the redirect.  Unfortunately, I'm trying to do the opposite.

Your example will redirect all to `https://outage.domain.local` as it's is the more specific route.  Instead, I wish to redirect only if the backend service returns >=500 status or is unavailable.  Not sure if I explain this properly.

[2018-12-10 19:22] szuecs commented on #867
@futare1 now I got it, but it's right now not possible to dynamically react on response.
You would need to create a filter in the response path that will inspect the status code and create another response and "shunt" the response.
I will change the description.

[2018-12-11 13:38] #703 closed

[2018-12-11 16:47] stormmore commented on #868
I believe we can close this as it seems like it my lack of understanding of eskip lines and I have already decided to simplify my rules but using multiple ingress objects.

[2018-12-11 16:47] #868 closed

[2018-12-11 16:54] grassator opened #879 "Enable loading JSON"
`eskip` command already can output routes as JSON, but it can not read it from that format which can hurt interoperability with other tools.

[2018-12-18 12:39] #630 closed

[2018-12-20 15:32] szuecs commented on #858
was merged in #882

[2018-12-20 15:32] #858 closed

[2018-12-20 15:35] szuecs commented on #797
IMHO we should only instrument with more span for all external calls we do from filters, unlike it was done in #860.

[2018-12-20 15:43] tkrop opened #888 "Add default application for non configured paths in API usage monitoring"
Currently, all non configured paths in the API usage monitoring filter are tracked with an unknown `application_id`. This makes it difficult to find out which filter configuration is source of the unknown events. To improve this, we can derive a default configuration for the configuration, if all API configurations of the API usage monitoring filter setup point to the same `application_id`.

The a

[2018-12-21 12:56] #873 closed

[2018-12-30 11:08] #824 closed

[2019-01-06 13:46] szuecs opened #898 "add tutorial for OpenIDConnect"
https://opensource.zalando.com/skipper/tutorials/auth/#openid-connect is lacking information

[2019-01-06 13:47] szuecs commented on #822
I think we can close this issue and document in #822 how the OpenID Connect filters work

[2019-01-06 13:47] #822 closed

[2019-01-07 09:07] MarcusNoble commented on #822
Did you mean #898 ?

[2019-01-07 11:15] szuecs commented on #822
yes @MarcusNoble , I edited my comment

[2019-01-09 12:21] aermakov-zalando opened #901 "Kubernetes: notify the users about errors"
Right the users can only find out about problems with an Ingress (e.g. unparseable `skipper-routes`) by looking at Skipper logs. This is cumbersome and we should do better: if there are any errors or warnings with an Ingress Skipper should emit a Kubernetes event on the Ingress object.

[2019-01-09 19:18] hjacobs commented on #901
Yes, this sounds like a valuable improvement for the user experience.

[2019-01-10 11:50] irishshagua opened #903 "Multiple Rate Limits for Same Backend are clashing"
For the scenario where you try to apply two different rate limits to two separate routes for a single backend. The rate limits appear to be clashing.

Two skipper routes are created:
Route A:
Path("/routeA") && Method("GET") -> clusterClientRatelimit(1800, "1m")
Route B:
Path("/routeB") && Method("GET") -> clusterClientRatelimit(450, "1m")

**Load Test when only one rate limit is present. (~30 req

[2019-01-10 13:10] szuecs commented on #903
@irishshagua do you hit the same backend with both routes?

[2019-01-10 13:50] irishshagua commented on #903
@szuecs Yes it's the same backend. For instance the routes defined as Skipper ingress resources in K8s are:

[code]

[code]

[2019-01-10 16:18] szuecs opened #904 "expose ratelimit information"
Add ratelimit information for swim based ratelimit to monitoring, such that you can get insights on the state of the ratelimiters to understand results, which might differ than expected. (#903 )

[2019-01-11 15:20] szuecs opened #905 "configurable IdleConnectionsPerHost"
proxy.Params.IdleConnectionsPerHost can not be changed by flag

[2019-01-11 16:15] szuecs opened #906 "grpc support"
Maybe one day we could add grpc support
https://blogs.dropbox.com/tech/2019/01/courier-dropbox-migration-to-grpc/

[2019-01-15 09:20] jmcs opened #908 "Support forwarding requests"
I have a MITM proxy that adds some credentials conditionally.

I need to have a catch all rule that modifies the request headers and then forwards the request to the requested location.

Currently the only way I found to implement this was set the backend for the catch all rule to a local nginx proxy that forwards the request.

This could be done fully in skipper if skipper had a `<forward>` backe

[2019-01-15 09:31] jmcs commented on #908
I added a clarification of my use case to the description.

I want to have something like:
[code]

So that if the user requests an arbitrary domain, it gets forwarded to that arbitrary domain.

[2019-01-15 09:59] jmcs commented on #908
This seems to be a common use case as can be seen by stackoverflow questions on how to do this nginx, for example:

- https://stackoverflow.com/questions/46060028/how-to-use-nginx-as-forward-proxy-for-any-requested-location
- https://stackoverflow.com/questions/49459903/nginx-as-a-forward-proxy

[2019-01-15 10:15] szuecs commented on #908
Forward proxy can't be done right now and would need to have a backend like you suggest.
Normally this also means, that we need to implement the CONNECT Method.
https://en.wikipedia.org/wiki/HTTP_tunnel#HTTP_CONNECT_method.

[2019-01-15 14:15] avb1989 opened #909 "Access logging based on response code"
We love the disableAccessLog() filter. It would be nicer if we could choose to disable/enable logs based on response code. That way we can do away with logging all the `2xx`s, and only log the errors in access logs.

May look something like `Path("/api/frequently-requested-resource") -> disableAccessLog(200, 201) -> "https://related-backend.com`.

I've already gone through the code a bit and can w

[2019-01-15 14:34] szuecs commented on #909
I am happy to review the PR.
Please do it in a backwards compatible way so  `disableAccessLog()` means disable and optional a list of status codes can be defined.

Please make sure you run `make fmt` and `make lint` before creating the PR ( `make deps` to install staticcheck that is required for `make lint`), thanks.

[2019-01-15 16:49] szuecs opened #910 "ratelimit in loadbalanced routes are counted 2 times"
While investigating https://github.com/zalando/skipper/issues/903 I inspected the source code again and I think we measure in loadbalanced routes every call twice:

https://github.com/zalando/skipper/blob/master/proxy/proxy.go#L889-L892 is the ratelimit check per route and later we have the loopback route, which is calling the `do()` (itself) https://github.com/zalando/skipper/blob/master/proxy/pr

[2019-01-15 17:00] UltraNemesis opened #911 "Add ability to pass in entire tls.Config for both proxy and client isde"
Rather than passing in just tls cert and key, it would be better to have entire tls.Config struct for both proxy and client sides to be passed in through skipper.Options structure so that user can have finer control over it.

Specifically, It be helpful if someone say wants to setup two way SSL.

[2019-01-15 17:47] szuecs commented on #903
The problem is that we override the shared values all the time if you have more than one ratelimit hit by the same client:

This is sharing the data with a `const prefix + clientdata`
https://github.com/zalando/skipper/blob/master/ratelimit/cluster.go#L97

This is getting swarm values with a `const prefix + clientdata`
https://github.com/zalando/skipper/blob/master/ratelimit/cluster.go#L101

We ne

[2019-01-15 18:13] szuecs opened #912 "Ratelimit based on loadbalancer members / ratelimit group"
Let's say you know your backend can handle 100 req/s per instance and you have some autoscaling in place, but you want to make sure you do not hit backends too much. You want to ratelimit, if you have more than 100 req/s for the backend.
A backend could be an `endpoint` in kubernetes for example.

We should think about how this looks like if we rebuild the loadbalancing route, but we should be abl

[2019-01-15 20:21] szuecs commented on #910
My assumption was wrong, because we do not configure the ratelimits in both parts (frontend and backend) of the route. We only have it at the backend part of the route.

[2019-01-15 20:21] #910 closed

[2019-01-15 20:31] szuecs commented on #911
Ah yes mTLS with client certificates, thanks for the clarification.
Makes of course sense!

[2019-01-16 08:02] tkrop commented on #903
From our perspective (speaking for API management) the rate limit for all endpoints of a backend should be configured by a single ingress resource as we exemplary showed it in `apimonitoring` filter. This would greatly increase usability for users and could prevent such conflicts in our perspective.

@irishshagua @szuecs what do you think?

[2019-01-16 08:32] irishshagua commented on #903
Hey @tkrop
I don't think it's possible for us to model the gateway functionality that we're trying to achieve with one single ingress resource. We currently create an ingress resource per route (path & method & user specific identification) to achieve things like service specific rate limits and user admin access and also oauth scope restrictions per route. This means we have multiple ingress reso

[2019-01-16 08:35] szuecs commented on #903
@tkrop I think the goal should be to develop a skipper route CRD and then have one stackset that create and maintains the main ingress and has the additional route CRDs applied.

[2019-01-16 13:24] szuecs opened #914 "use static code analysis to catch security issues"
Use gas in CI pipeline, for example:

get from https://github.com/securego/gosec/releases

[code]

All of these issues reported are fine, because either used in tests only, or the user chose to to run the `insecure` option.

[2019-01-16 13:38] aryszka commented on #912
i agree that this would make configuring the rate limits easier, because it makes the rate limit configuration independent of the particular routes.

A step more abstract approach that I am thinking about can be grouping by custom labels:

[code]

Where a group can represent a backend or just be a label, and any set of routes could belong this way to the same rate limit group, even ones with multi

[2019-01-16 14:36] irishshagua commented on #903
So is the goal to fix this for multiple ingress resources or is this being deferred as a feature for the stackset controller?

[2019-01-16 15:22] szuecs commented on #903
@irishshagua for the ratelimit of course both should work.

[2019-01-16 15:35] szuecs commented on #912
I like the idea of a rateLimitGroup via label

[2019-01-17 06:14] UltraNemesis commented on #911
I created a PR #917 for passing tls.Config for the Proxy Server part.

[2019-01-17 17:12] jkatzhrs commented on #906
Could this be expanded to generic protocol frontend/backend support? Essentially allow writing of shims that take in and emit requests?

[2019-01-18 09:59] aermakov-zalando opened #920 "Load balancing metrics"
When load balancing, metrics should be tracked over the "root" load balancing route, not over the individual ones. Right now, a Kubernetes setup with 100 pods for a given service will just explode the metrics because most of them will have 100 copies, one per each pod, and the users don't really care about those.

[2019-01-18 10:18] aermakov-zalando commented on #556
I'd suggest adding support for more dynamic forms of this. For Kubernetes, for example, the users would want to just specify the endpoint name & namespace in the rule and have it expand into an automatically refreshed list of backends inside Skipper. This was requested a few times already and is impossible to do in the current setup without going through the Service IP that has tons of issues. It

[2019-01-18 10:19] aermakov-zalando commented on #920
Somewhat related to #556.

[2019-01-18 12:55] szuecs commented on #906
@jkatzhrs  yes, but I don't have the time to do this that generic. I think it would involve a big refactoring.
If you like to work on that I would be happy to review and test it.
I don't think it is easy for a first time contributor, but if you like give it a try.

[2019-01-18 17:06] UltraNemesis commented on #911
Now that PR #919 is merged in for addressing the ProxyTLS settings, the other part of this is the backend (client) TLS settings which would be a bit more complicated because each backend can theoretically have different settings. For example, few backends could be two way SSL and others one way.

[2019-01-18 17:30] UltraNemesis opened #923 "Set target backend for a request from a filter based on request headers/body?"
Is it currently possible to select the target back end for a request based on a request header or some other condition based on the request body?

I did not find any existing filter of this sort, but I also didn't see any way in the filter context to set a target backend on the fly.

[2019-01-18 18:00] szuecs commented on #923
No it's not possible right now, but https://github.com/zalando/skipper/pull/918 implements a <forward> backend which does the proxy call to the chosen target from the caller.

For example:
skipper listening on port 9090 and use route: `r: * -> <forward>` would forward the call from the client to `https://www.zalando.de/`.

client:
`curl -v --proxy http://localhost:9090 http://www.zalando.de/`

Not

[2019-01-18 19:09] szuecs commented on #911
IMHO it makes more sense to have only one identity, so one client cert and not per backend.

[2019-01-19 21:50] szuecs opened #924 "TLS Flags to enable client/server certs (mtls)"
Adding tls.Config options to skipper flags in main.go that pass these to skipper.Options as ProxyTLS.
It should set certificates,keys,CAs, best as filepath params to be able to set and rotate tls keys/certs/ca in an automated way via for example Kubernetes secrets later.

[2019-01-21 10:02] UltraNemesis commented on #911
The client certs are issued by the owner of the backend services to authorize access to them. If all the backend services share the same owner as the skipper instance, single client cert makes sense, but for example, like in our case, we have different group companies (part of the group, but still independent) and third party partners that interact through API servers. Each entity has its own self

[2019-01-23 10:41] szuecs opened #929 "Forward Proxy"
## Background information:
- https://parsiya.net/blog/2016-07-28-thick-client-proxying---part-6-how-https-proxies-work/
- https://en.wikipedia.org/wiki/HTTP_tunnel#HTTP_CONNECT_method.
- relevant RFC to implement CONNECT https://tools.ietf.org/html/rfc7231#section-4.3.6

## forward proxy listening on HTTP
It should be able to handle both HTTP and HTTPS outgoing requests.

### HTTP
When a proxy req

[2019-01-23 15:05] Shareed2k opened #930 "Ingress Path Matching - Default Backends - convertDefaultBackend"
Hi i want to create default ingress and use nginx default backend image "k8s.gcr.io/defaultbackend" as 404 responser

and also use annotations filters, but as i see in /routes, there is no filter definitions at all
`
kube_devops__default_ing_skipper_______0: *
  -> "http://172.18.1.11:8080";
`

and skipper logs repeted again and again
[code]

my default ingress

[code]

[2019-01-23 19:34] szuecs commented on #851
Thanks @ch-dimitri , nice idea!

[2019-01-23 20:02] ch-dimitri opened #931 "Kubernetes: update Ingress status field"
When using a `LoadBalancer` Service to provision the frontend to Skipper, it should update the `status` field of Ingress objects assigned to that ingress-class.  ingress-nginx does [this](https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/status/status.go#L349-L372).

Skipper should do something similar for cases that don't use the [AWS Ingress Controller|https://github.com/z

[2019-01-23 21:14] szuecs commented on #931
Sounds like a good enhancement. Would you like to create a pull request for that?

[2019-01-23 21:17] szuecs commented on #930
Do you want to reply with 404 or do you need a custom 404?
The default in skipper is to respond with 404 if there’s no matching route.

[2019-01-23 21:18] ch-dimitri commented on #931
I'd love to, but have to go through a legal approval process first.

[2019-01-23 21:32] ch-dimitri commented on #931
Sure, @szuecs!  Do you want to assign this to me?

[2019-01-24 05:11] Shareed2k commented on #930
I want to use filters inside default route

[2019-01-24 08:33] szuecs commented on #930
@Shareed2k the simplest thing you can do is having an inline-route applied https://opensource.zalando.com/skipper/data-clients/route-string/.

For example:

[code]

You can add this to your skipper-ingress daemonset or deployment however you run it.

[2019-01-24 14:31] Shareed2k commented on #930
mmm looks like what i want, tanks

[2019-01-24 14:31] #930 closed

[2019-01-24 15:19] #909 closed

[2019-01-25 13:53] #903 closed

[2019-01-25 14:14] #912 closed

[2019-01-25 14:42] szuecs commented on #911
I think this can be closed and the follow up would be #924

[2019-01-25 14:42] #911 closed

[2019-01-25 14:45] szuecs commented on #911
@UltraNemesis thanks again released at https://github.com/zalando/skipper/releases/tag/v0.10.159

[2019-01-28 10:48] #908 closed

[2019-01-28 16:05] aryszka opened #933 "etcd options missing from the command line flags"
consider wiring those etcd options that are currently accessible only programmatically:

https://github.com/zalando/skipper/blob/master/etcd/etcd.go#L81

The currently supported options are only the etcd URLs and the prefix.

[2019-01-29 09:21] szuecs opened #935 "kubernetes 1.14,1.15,1.16 switch ingress apiVersion"
KEP: https://github.com/kubernetes/enhancements/pull/749/files

Kubernetes version and `apiVersion`:
1.14. deprecate  `extensions/v1beta1`
1.15. Update Ingress controllers in the kubernetes org to target `networking.k8s.io/v1beta1`, `extensions/v1beta1 -> networking.k8s.io/v1beta1`
1.16. Update API server to persist in `networking.k8s.io/v1`

[2019-01-29 14:05] szuecs commented on #914
Started in https://github.com/zalando/skipper/tree/build/check-gosec

[2019-01-29 17:39] mbertschler commented on #905
This should already be implemented in the latest tag:
https://github.com/zalando/skipper/blob/v0.10.160/cmd/skipper/main.go#L438

[2019-01-29 17:40] mbertschler commented on #933
I started working on this

[2019-01-30 09:30] #933 closed

[2019-01-30 09:35] aryszka commented on #248
Indeed. Thanks for pointing this out. Considering that this issue hasn't had any activity for quite a while, I'm closing it.

[2019-01-30 09:35] #248 closed

[2019-01-30 11:13] szuecs commented on #905
Agree it is also passed to https://github.com/zalando/skipper/blob/v0.10.160/skipper.go#L818

[2019-01-30 11:13] #905 closed

[2019-01-30 18:33] szuecs opened #939 "flaky tests"
This could show some error we have in the `cluster*Ratelimit` filters
[code]

[2019-01-30 20:46] ruiaraujo commented on #557
Weighted round robin would also be a good alternative, where the weight is dependent of the size of the nodes.

[2019-02-05 12:34] szuecs commented on #923
Thanks @Traumeel

[2019-02-05 12:34] #923 closed

[2019-02-05 20:22] #556 closed

[2019-02-06 13:58] szuecs opened #942 "cluster ratelimits are not enforcing stable enough the settings"
Setting:     zalando.org/skipper-filter: clusterClientRatelimit("routeB", 450, "1m")

Test case
[code]

Here the debug logs, which show nicely that the shared data flaps force and back in case of the huge status codes of 200:
[code]

[2019-02-06 14:05] irishshagua opened #943 "clientRatelimit is not recognised as a valid route filter"
Build 0.10.159 of Skipper is not recognising [clientRatelimit](https://opensource.zalando.com/skipper/reference/filters/#clientratelimit) as a valid filter name:

Example Skiper K8s resource:
[code]

Error logs from skipper:
[code]

[2019-02-06 14:59] szuecs commented on #943
As workaround please use the deprecated `localRatelimit`.

[2019-02-07 07:54] szuecs opened #945 "Integrate Go-fuzz for testing"
It would be good to have something used to fuzz skipper. https://github.com/dvyukov/go-fuzz could be something to think about

[2019-02-07 13:00] #943 closed

[2019-02-07 16:14] #924 closed

[2019-02-07 16:15] szuecs commented on #924
https://github.com/zalando/skipper/pull/937 did this

[2019-02-08 14:03] mikkeloscar opened #948 "ingress: Prevent creating ingress routes without 100% traffic"
When generating routes in the kube dataclient we first determine the traffic weights based on the ingress resource and then tries to generate the routes by looking up services etc.:

https://github.com/zalando/skipper/blob/3b8f03499eeb38f2b48648abddf39a9a443c321a/dataclients/kubernetes/kube.go#L890-L906

In the case where you have an ingress with e.g. 50/50 traffic defined for two service backends

[2019-02-08 14:23] szuecs commented on #948
@mikkeloscar can you please show examples for the 2 ingress you are talking about. It's quite hard to understand the case from the written form without example. Thanks

[2019-02-08 14:29] mikkeloscar commented on #948
Here's an example ingress:

[code]

If the `green` service for instance doesn't exist, then there would only be a route for the `blue` backend with `Traffic(0.5)` and no route for the `green` backend, and 50% of the traffic would only match the global fallback route.

Hope it makes it more clear.

[2019-02-08 14:30] szuecs commented on #948
Yes it makes it clear thanks!

[2019-02-11 15:12] maxim-tschumak opened #949 "API usage monitoring filter improvements"
## Acceptance criteria

* Use `{no-match}` placeholder for non-matching paths and clients
* Use curly brackets to identify path parameters and placeholders
* Configure `realms` globally (which realms have to be monitored)
* Configure `client` patterns on the filter config level
* Filter creation should fail if not all mandatory parameters are supplied

In order to not break the compatibility to pr

[2019-02-13 14:13] #949 closed

[2019-02-14 11:30] Shareed2k opened #952 "wrong log method"
https://github.com/zalando/skipper/blob/b810146fb00e7b247671aa5fd428dcd2c71b0082/proxy/proxy.go#L943

[2019-02-14 11:35] aryszka commented on #952
Hi @Shareed2k , thanks for posting this issue. What behavior would you expect or what would be a better log method?

The reason for that it's Debug, is that this functionality still works the same way how earlier filter implementation called shunting.

[2019-02-14 12:02] Shareed2k commented on #952
you should use Debugf

[2019-02-14 16:07] aryszka commented on #952
oh, I see now, thanks a lot! :smile:

[2019-02-14 16:46] #952 closed

[2019-02-19 08:09] szuecs opened #956 "Caching algorithms"
Pre: we need to have caching implemented as a filter

Background: https://danluu.com/2choices-eviction/ 2 random choice seems promising
Other algorithms could be random or https://github.com/ben-manes/caffeine/wiki/Efficiency

- [ ] 2 random choice and use lru of the 2
- [ ] random

[2019-02-19 12:52] aryszka commented on #956
we can consider this as well: https://godoc.org/github.com/aryszka/forget

I implemented it with Skipper in mind, but then the immediate use case got irrelevant.

[2019-02-20 08:14] szuecs opened #960 "check if we can handle websockets more efficiently"
Interesting resources to check:

- talk: https://speakerdeck.com/eranyanay/going-infinite-handling-1m-websockets-connections-in-go
- lib: https://github.com/gobwas/ws

check `proxy/upgrade.go` and `proxy/proxy.go` (`makeUpgrade..()`)

[2019-02-21 13:50] mikkeloscar opened #962 "Ingress: Handle overlapping ingress definitions in a deterministic way"
Imagine you have the following ingresses defined:

[code]

[code]

In this case skipper will create two routes like this:

[code]

Because both routes have the same Host predicate it will route to either randomly.

It would be good if we could make this deterministic such that for instance the oldest ingresses resource wins and the second resource doesn't get routes generated if it would overlap.

[2019-02-21 18:46] hjacobs commented on #962
I think the current behavior of routing "randomly" to both routes is fine. What is _not_ fine is the fact that this also happens when one of the routes has no endpoints (i.e. causing 5xx errors).

[2019-02-22 14:51] herojan opened #964 "K8s ingress: 502s from ALB when using multiple hosts"
Hi, I've had a look and I don't see similar issues so I'll just provide the information here.

Using the K8s ingress controller with three different hosts, there are bursts of 502 errors happening regularly each day, often several times per day.

These 502 errors are happening at the ALB level, they never reach skipper. We know this because skipper does not print any logs about it and because the

[2019-02-24 19:52] wndhydrnt opened #965 "Prometheus route metrics still available after deleting route"
While working with Skipper, I recognized that metrics of deleted routes are still exposed on the Prometheus endpoint "/metrics".

traefik faced a similar issue and documented their solution in the source code[1].
There is also a question regarding obsolete metrics in the prometheus-users group[2].

1: https://github.com/containous/traefik/blob/a09dfa3ce10f222ab6e10ac11386d330698ff6f8/metrics/prome

[2019-02-24 20:01] szuecs commented on #965
@wndhydrnt why do you expect this?
And what do you think is the benefit?

I see that we can save some memory, but we would have to have an additional goroutine to cleanup old data and normally I would only do a cleanup goroutine, if it makes sense, because for example memory growth is unreasonable. For example we cleanup in client based ratelimit old data from clients that are outdated, such that

[2019-02-24 21:25] wndhydrnt commented on #965
Hello @szuecs, thanks for the quick response!
You are right, I should have elaborated more on this.

This is why the behaviour seemed odd to me and why I created the issue:

* For me personally, it is unexpected that a route ID that does not exist at the "/routes" endpoint is still exported at the "/metrics" endpoint. I thought that what is exposed at the "/routes" endpoint is the "source of truth

[2019-02-24 21:40] szuecs commented on #965
Thanks, I think it's a legit request and I would be happy if we get a PR to have some cleanup goroutine that deletes old data.

If I understand correctly GaugeVectors are easy to reset, because metrics never rely on old data, but other metrics can not easily be reset. So I would expect that we need a cleanup goroutine, that handles the cleanup, which would mean we are eventual consistent, which IM

[2019-02-25 10:39] herojan commented on #728
@szuecs Hi, this is still an issue in that we can't ensure that requests always use https. Are there any workarounds we could use short term?

[2019-02-25 10:54] szuecs commented on #728
@herojan there is no technical solution to achieve this knowledge.
You could try to use `X-Forwarded-Proto: https` from ALB, but what if we change the infrastructure to NLB, which we will do in the future?
NLB does not work on HTTP and will not add headers there.

The second issue is that if you use cluster internal communication https://opensource.zalando.com/skipper/kubernetes/east-west-usage/ w

[2019-02-26 10:57] maxim-tschumak opened #968 "[apiusagemonitoring] Unprotected access to map causes panic"
Here: https://github.com/zalando/skipper/pull/950/files#diff-a3889b1942785e41a55bf77d4653e68cR103

[2019-02-26 11:05] szuecs opened #969 "enable go test -race in pipeline"
https://github.com/zalando/skipper/issues/968 could be caught by the pipeline running `go test -race`.

Maybe we have an issue caused by https://github.com/golang/go/issues/24245 to enable a working race detection.

[2019-02-26 16:58] szuecs commented on #942
With some hacks we could create better results, but I am now testing a redis based solution which uses redis.Ring similar to https://github.com/go-redis/redis_rate. A test shows much more stable results, so I will work on this to replace the current clusterRatelimit/clusterClientRatelimit implementations to have this redis based solution.

[2019-02-27 16:11] seancurran157 commented on #964
Also experiencing this issue but we only have one host in our ingress manifest. Talking with AWS they pulled logs from the ALB associated with the issue: "upstream prematurely closed connection while reading response header from upstream".

skipper version v0.10.150

[2019-02-28 10:48] #968 closed

[2019-02-28 16:10] szuecs commented on #964
@seancurran157 thanks for commenting.

From my understanding the message AWS wrote, means that ALB timedout in the backend call to skipper.
This can also happen if the proxy call from skipper to a backend times out and the ALB has lower timeouts for that call than skipper.

[2019-03-01 13:16] maxim-tschumak opened #976 "[Kubernetes dataclient] Default filter configurations via ConfigMap"
**As** Skipper Ingress operator
**I want** to have a possibility to define and use default filter configurations
**So that** I can easily preconfigure filters for specific services

With this feature in place, Skipper operators can define global filters centrally
(e.g. authorization/logging/etc.). It is also practical for complex filter configurations
which are safer to generate automatically.

##

[2019-03-01 14:59] seancurran157 commented on #964
We currently have skipper timeout lower than the ALB. Looks like skipper may not be responding with a 504 when the back end timeouts and the ALB responds with a 502.

[2019-03-05 14:05] tkrop opened #979 "Unnecessary allocations when create of east-west-routes"
We could see some memory issues when creating huge amounts of east-west-routes.

[2019-03-06 08:54] angelaigreja opened #982 "Support Websockets."
Currently Skipper support the Upgrade connection which is enough for a server usecase.

When a browser client tries to connect, it enforces the usage of the scheme `ws` and `wss` for TLS based connections.

Currently Skipper throws an error here: https://github.com/zalando/skipper/blob/master/proxy/upgrade.go#L193

The RFC for this protocol is https://tools.ietf.org/html/rfc6455

[2019-03-07 10:00] szuecs commented on #964
TODO:
- [ ] check if https://github.com/zalando/skipper/issues/964#issuecomment-468692722 can be reproduced
- [ ] fix to return 504

[2019-03-07 13:51] aermakov-zalando commented on #982
This is a bug caused by the recent loadbalancing rewrite. `upgrade.go` parses the `Backend` field to determine the scheme, but for Kubernetes service routes this field is usually empty and the real backend URLs are in the `LBEndpoints`. The corresponding code should either use the scheme from the load-balanced URL, or at least pay attention to the `BackendType` field as well.

[2019-03-08 22:25] angelaigreja commented on #982
You are right. Thanks for the hint since it made it easy to reproduce locally.

I have a fix and I will push it soon once I write some tests.

[2019-03-10 22:21] angelaigreja opened #987 "Add tests for HTTP Upgrade support"
This area of the code has no tests at all at the moment and it is visible in the PRs that touch it since they never change any tests.

This would help avoiding regressions like #982 from happening in the future.

[2019-03-11 14:44] #982 closed

[2019-03-11 17:08] #969 closed

[2019-03-13 06:56] #964 closed

[2019-03-13 13:37] #942 closed

[2019-03-14 10:58] szuecs commented on #979
I consider this as fixed, we can reopen if we see this in practice happening again.

[2019-03-14 10:58] #979 closed

[2019-03-15 11:24] szuecs opened #990 "Prometheus metrics for skipper_route_lookup_duration_seconds are wrong"
In Prometheus all bucket values are the same and only _count is similar to the Codahale, which shows the right values
[code]

Codahale:
[code]

[2019-03-15 11:48] szuecs opened #991 "Prometheus metrics for skipper_filter_all_combined_request_duration_seconds_ are wrong"
Probably same issue as #990 and also seen in response filter metrics, etc.

Prometheus shows wrong _buckets and only _count is similar to Codahale
[code]

Codahale
[code]

[2019-03-15 13:23] aryszka commented on #990
as we discussed with @szuecs , the histogram values can be actually right, and simply the lookup time falls almost always in the smallest bucket. The solution to observe the lookup time is to define additional smaller buckets using the `-histogram-metric-buckets` startup option. E.g:

[code]

[2019-03-15 13:53] szuecs commented on #991
see https://github.com/zalando/skipper/issues/990#issuecomment-473284005

[2019-03-15 13:53] #991 closed

[2019-03-15 13:53] #990 closed

[2019-03-16 12:45] szuecs commented on #418
I think we should not implement this in skipper but there can be controllers doing the work and create ingress, crd or plain skipper eskip routes. Internally we already have something like that.

[2019-03-16 12:45] #418 closed

[2019-03-17 14:59] sandeepsharmadevops opened #992 "how to disable HTTPS redirect"
Hi There!

I have recently started evaluating the Skipper as an ingress controller for K8S, at very initial level need info on how to disable the HTTPS redirect, i have tried the below but nothing worked for me so far.

**using latest version of skipper 0.10.180**

**below cmd line options are not passed, but HTTP --> HTTPS is happening, is this there OOB?, can we disable from skipper cmd line opt

[2019-03-17 15:28] szuecs commented on #992
Hi!
You can disable it with `-kubernetes-https-redirect=false`

[2019-03-17 15:54] sandeepsharmadevops commented on #992
thanks for update @szuecs able to disable the HTTPS redirect with suggestion above, it seems this is by default available even cmd line options is not defined...correct?

Annotations are not working, after disabling the HTTPS redirect, tried to enable via annotations, but not working, seems a bug, even not able to view annotations in YAML output, blank annotations.

Thx

[2019-03-17 16:16] szuecs commented on #992
@sandeepsharmadevops thanks for testing the annotation!
Yes the default is set to `=true`. It's basically how Go `flags` package work and we set the default to `true`, because we thought it makes sense for most people.

[2019-03-18 10:11] sandeepsharmadevops commented on #992
@szuecs yes, it make sense to enable it oob, in case someone want to disable it, can be done via controller, only downside of this, that it applies globally, until annotations working.

one more thing, i was evaluating ip whitelisting via annotations, it working fine as expected and throwing 404, can we customize the response status code/content.

[2019-03-19 04:50] sandeepsharmadevops commented on #992
Hi @szuecs could you please share info about the above.

Thanks in advance.

[2019-03-19 09:52] #987 closed

[2019-03-20 08:46] lgogolin opened #997 "rate limiting support for tee()/teenf()"
Would be nice to have rate limiting inside tee()/teenf() functions.

tee/teenf is not only used for performance test on staging env for example. But in My case We also need that so application in staging can generate internal data based on dynamic requests sent to it.

I can of course, rate limit on endpoint ingress but that generate unnecessary extra costs in AWS because I'm cloning full producti

[2019-03-21 08:52] Pindar opened #1000 "Question: Open Id Connect Cookie Domain"
Hi everyone. Thank you for working on and providing skipper!

I'm currently about to setup the pretty new Open Id Connect feature of skipper. The issue is that the hostname is used for setting the cookie-domain, see https://github.com/zalando/skipper/blob/master/filters/auth/oidc.go#L345 . Since my skipper sits behind another proxy this is no valid option in my case.
Is there some configuration op

[2019-03-21 09:57] arjunrn commented on #1000
How would you deduce the original host from the proxied request? If that can be done then I think adding a flag would be worth the effort. If you mean adding a flag with a single host as override that would be not a useful addition because that would restrict the OIDC filter to use used only on a single domain.

[2019-03-21 10:34] szuecs commented on #997
Yes sound good to me, but this require an internal change that would move the ratelimit filter to the first position in front of all other request filter handling.
@aryszka what do you think?
For me it's fine, because the use case of ddos/login protection is covered by that, too.
On the other hand, there is also the idea of limit per backend, for example to support backend overrun protection (for

[2019-03-21 10:41] aryszka commented on #997
I am not completely sure if I understand it correctly:
@lgogolin ,
- would you like to apply the same rate limiting to the cloned requests from the the tee() filters as to the main request flow, or
- would you like to apply rate limiting to the cloned requests from the tee() filters only, and not limiting or applying independent rate limiting to the main request flow?

@szuecs I guess your suggest

[2019-03-21 10:44] szuecs commented on #1000
@Pindar you could use the workaround and change the Host header, before the OpenID Connect filter: https://opensource.zalando.com/skipper/reference/filters/#setrequestheader

[2019-03-21 11:05] szuecs commented on #997
@aryszka thanks for your input. I think we should be more flexible, than we are right now with the placing of ratelimits. Basically based on the type of the ratelimiter I would expect to have different placements:
- before filter chain
- after filter chain
- just in front of the backend end call, after  loadbalancer algorithm was applied

[2019-03-21 11:44] aryszka commented on #997
if it was possible to execute the rate limiting via shunting at the position of the filter on the request path, then we wouldn't need to handle it separately from the filter chain, and it would solve all three of the above use cases.

[2019-03-21 12:56] aryszka commented on #997
correction: the 3rd case would not be actually so trivial this way

[2019-03-21 13:23] lgogolin commented on #997
@aryszka I was more thinking about implementing ratelimiting inside tee/teenf functions.
Because I don't want to play with My prod traffic. I only would like to limit cloned traffic
Something like:

`teenf("http://some-domain.com", 20, "1h")`

[2019-03-21 13:39] Pindar commented on #1000
Thank you for this quick help!

@szuecs I was already thinking about that workaround and tried it on `localhost`, but the generated cookie was still set to `localhost` instead of `example.com`. Not sure what I did wrong.

@arjunrn a flag via `X-Origin-Host` header or something would be helpful but this would be basically the same as the suggested `setRequestHeader` workaround. I'd love to get it w

[2019-03-21 15:46] szuecs opened #1002 "apply default filter set as prefix filters"
**Is your feature request related to a problem? Please describe.**

We want to be able to set a default filter to enable access logs only for errors, but want to be able that users can override based on their needs this global decision.

**Describe the solution you would like**

A solution would be to read default filters from some input, for example CLI flags and patch in our default filters to a

[2019-03-21 15:50] aryszka commented on #1002
At first read, this sounds good to me. Could be a preprocessor in the routing, similar to the postprocessors, but not on *routing.Routes but on *eskip.Routes.

[2019-03-23 17:00] szuecs commented on #997
Honestly I don’t like special handling inside the `tee` filter.  If we can specify a filter pipeline per backend and we would have a backend for tee, it would be possible to mutate the http request to pass to a  new modified api version.
I am not sure how this would look like, but it would be really nice.

[2019-03-23 18:23] #1002 closed

[2019-03-24 23:00] topicus commented on #1002
Is it possible to use a config file instead of CLI flags (not just for this but for all the options)? Once skipper is running I didn't find a simple way to capture the current configuration and a config file may mitigate this issue.

[2019-03-25 06:54] szuecs commented on #1002
@topicus why not file an issue for that?

[2019-03-25 15:24] avishaiNB opened #1004 "Question: Does a single Skipper instance can handle requests form multiple domains with different certificates for each domain?"
Q: Does a single Skipper instance can handle requests form multiple domain with different certificates for each domain?

**for example:**

https://www.site1.com --> skipper (use Certificate_Site1) --> NodeJS/Express1
https://www.site2.com --> skipper (use Certificate_Site2) --> NodeJS/Express2

Thank you in advance.

[2019-03-25 15:51] szuecs commented on #1004
No, right now it is not possible to set multiple certificates/keys. You would need to have a multi domain certificate or use some other tool. If this blocks you from using skipper we might be able to support this without much work.

[2019-03-25 15:52] roffe opened #1005 "Skipper panics if swarm port occupied at start"
**Describe the bug**
Skipper panics on requests if the swarm port is occupied on runtime

**To Reproduce**
Add context, for example:
1. enable swim clustering
2. occupie port on the host with f.x `nc -lp 9990`
3. start skipper with swarm (swim) ratelimiting

**Expected behavior**
magic

**Observed behavior**
ALB throws 502 when req comes in to Skipper.
In skipper logs:

[code]

[2019-03-25 16:17] avishaiNB commented on #1004
Hi @szuecs ,

First thank you for the quick reply.

That means that skipper knows how to map the client's https request to the matching domains certificate?

Regards,
Avishai.

[2019-03-25 16:48] szuecs commented on #1005
Thanks @roffe , as already wrote in chat, please use the redis based cluster ratelimit in production.

[2019-03-25 18:21] szuecs commented on #1004
Yes, and the protocol that makes it possible is called SNI.

[2019-03-25 18:45] topicus commented on #1002
Yes, I wanted to get your feedback first.

El lun., 25 de marzo de 2019 7:54 a. m., Sandor Szücs <
notifications@github.com> escribió:

[2019-03-26 09:46] szuecs commented on #1004
Please reopen if you have any question related to this

[2019-03-26 09:46] #1004 closed

[2019-03-26 09:47] avishaiNB commented on #1004
Perfect!.
10x, it worked.

Regards,
Avishai.

[2019-03-26 09:54] szuecs commented on #1000
@arjunrn what do you think about, looking up the `Hostname`, from the `Host` header, if available in https://github.com/zalando/skipper/blob/master/filters/auth/oidc.go#L350 ?
Like this the workaround with `setRequestHeader` would work.

[2019-03-26 11:52] szuecs opened #1009 "Docs for features support like SNI"
https://github.com/zalando/skipper/issues/1004 should be explained by our docs

[2019-03-26 13:06] avishaiNB opened #1010 "Questions: Running Skipper on windows machine, whats the HW setup?"
Hi,

Currently I'm running Skipper on **windows server** machine, does anyone knows whats the minimal hardware requirements (CPU, Memory , Disk) for a single node support ~50K req/sec?

Regards,
Avishai.

[2019-03-26 13:48] szuecs commented on #1010
Does it run on windows?
I expect that 50k rps is quite hard to achieve, because of the number of sockets. TCP/IP is limited to 16 bit ports range. The hardware requirements for a single machine you should measure. I guess you want to disable all logs to not have I/O and CPU is more important than Memory. 2Gi memory should be fine. Memory depends on the backends you will serve, because you will hav

[2019-03-26 15:03] avishaiNB commented on #1010
I set up skipper instance on windows machine watching this video: https://opensource.zalando.com/skipper/tutorials/video-howto-build

so i'm happy to announce that it works fine on windows lol :)
About Go plugins (non Linux platforms), isn't custom filters kind of a plugin ?

Regards,
Avishai.

[2019-03-26 15:58] szuecs commented on #1010
Thanks for reporting that it builds on windows!

[Filters](https://opensource.zalando.com/skipper/reference/filters/) are not [plugins](https://opensource.zalando.com/skipper/reference/plugins/). You could implement your own filters and include them via plugins at runtime, but this only works in Linux.

Did my answer before answers your question or do you have something to add?

[2019-03-26 16:29] avishaiNB commented on #1010
Yes thank you, i think that for now that should be enough.

Regards,
Avishai.

[2019-03-26 17:01] szuecs commented on #1010
Great and please share information how much you were able to serve if you test with your hardware spec. :)

[2019-03-26 17:01] #1010 closed

[2019-03-27 09:13] avishaiNB opened #1011 "Question: Is there a page which explains the metrics i'm getting from 9911 listener ?"

[2019-03-27 09:17] szuecs commented on #1011
https://opensource.zalando.com/skipper/operation/operation/#monitoring , if you have a further question please reopen.

[2019-03-27 09:17] #1011 closed

[2019-03-27 11:58] avishaiNB opened #1012 "Document default filters"
Question: Is it possible to have a filter which will always run and we don't need to set it up per route?

[2019-03-27 12:12] avishaiNB opened #1013 "Question: Can i define a Fallback route ?"
Hi,

Lets say i try to access a route that does not exists in route file, is it possible to define a "not found" route with custom behavior? (or using a custom filter).

Regards,
Avishai.

[2019-03-27 14:00] szuecs commented on #1013
A fallback route can always be a wildcard route (r0 in this case):

[code]

[2019-03-27 14:03] szuecs commented on #1012
https://github.com/zalando/skipper/releases/tag/v0.10.195 introduced add default filters to all routes.
You can append or prepend the filters in the chain:
[code]

[2019-03-28 15:07] orenkup opened #1014 "Question: HW setup for linux machine"
Hi,
What is the recommended spec for skipper on linux machine?
RAM, CPU, HDD?

[2019-03-28 16:07] szuecs commented on #1014
@orenkup it depends on how much traffic per instance you want to serve.
The workload is CPU bound and memory depends on which features you enable and use.
HDD is not used, besides loading the binary.
Additionally if you have slow backends with high traffic you need memory to have the goroutines serving the connections. In our Kubernetes setup we run with max 1 CPU core and 2 GB memory.

For hardwa

[2019-03-28 16:14] szuecs commented on #557
@ruiaraujo can you elaborate on how to pass the data you need from nodes to the load balancer?

[2019-03-28 17:02] tglocicero commented on #749
How does this work?
`routeForMissingHeader: Path("/foo") -> "https://backend1";
routeForHeaderPresent: Path("/foo") && HeaderRegexp("X-Foo", ".*") -> "https://backend2";`

Then wouldn't host.com/foo (without X-Foo header) match two routes? How would you know which backend it would be routed to?

[2019-03-28 18:48] szuecs commented on #749
The answer is documented at https://opensource.zalando.com/skipper/tutorials/basics/#route-matching

[2019-03-29 10:09] szuecs commented on #920
As far as I understand this is already done via #556.

[2019-03-29 10:09] #920 closed

[2019-03-29 10:25] Pindar commented on #1000
thank you @szuecs! I tried your approach and it works.

[2019-03-29 17:34] ruiaraujo commented on #557
Could be something like a weight on each target.

Use case
I deploy my application using Spot of multiple sizes. My apps reacts and takes advantage of the added CPUs.

I have Skipper as LB where the route has the meta information on each node relative size and the roundRobin would take advantage of this information to generate the right amount of load for each target.

I have no idea how this woul

[2019-03-29 22:42] szuecs commented on #557
I think a simpler algorithm that could have a similar effect is the best (least) of N choices, but we would need to have data per backend in lbcontext for the lb algorithm.

[2019-04-01 16:31] #1000 closed

[2019-04-02 16:12] NorthFury opened #1018 "PathSubtree takes priority over Path with wildcard"
**Describe the bug**
Even though a route has more predicates, the `PathSubtree` predicates trumps the `Path` predicate.

**To Reproduce**
[code]
Request for `"/collections/one"`
**Expected behavior**
it should return 200
**Observed behavior**
it returns 201

it seems to be related to #375

[2019-04-02 17:13] aryszka commented on #1018
thanks for reporting this bug

[2019-04-03 13:24] #976 closed

[2019-04-03 15:28] aryszka commented on #948
ok, my above comment would clearly make things worse for the blue/green traffic control. In this case better to send 100% to the existing service, "hoping" that it has enough capacity.

[2019-04-03 15:59] aryszka commented on #831
i believe this got fixed by: https://github.com/zalando/skipper/pull/938
(please reopen it if still observing similar issues)

[2019-04-03 15:59] #831 closed

[2019-04-03 17:50] szuecs commented on #898
Thanks @arjunrn for providing the tutorial docs for openidconnect filters!

[2019-04-03 17:50] #898 closed

[2019-04-03 17:59] szuecs commented on #992
@sandeepsharmadevops Sorry for not replying, missed this comment.

If the annotation is not working it is a bug. I have to test it and then fix it.
For the custom 404 you can use a custom inline route or an eskip routes file, that does a default match for everything:

[code]

You can pass `inlineContent(string)` an html string if you like.

[2019-04-03 21:26] spankie opened #1021 "Describe result of running eskip check"
There is no description on the readme about possible results when eskip check is run on the route file

[2019-04-04 07:29] #1021 closed

[2019-04-04 08:17] sandeepsharmadevops commented on #992
Thanks for update @szuecs even i was not looking for the prompt response. I will try your suggestions and let you know. Also let me know once bug in annotation gets fixed, i will test and let you know about the status.

Thanks Again!!!

[2019-04-04 15:12] szuecs commented on #132
We use GH releases: https://github.com/zalando/skipper/releases

Binary version output
[code]

[2019-04-04 15:12] #132 closed

[2019-04-04 15:13] szuecs commented on #69
@lmineiro I guess this was done already quite a long time ago. If you disagree please feel free to reopen and explain what needs to be done in more detail, thanks

[2019-04-04 15:13] #69 closed

[2019-04-04 15:21] szuecs commented on #29
I think we should specify what we want to achieve. For a Git integration it could be just a 10 lines bash loop that `git pull --rebase` to update a routes file and skipper watches from the routes file.
IMHO it's not a feature we should implement and for the http style: PHP had the problem with RFI (remote file inclusion), which I don't want to do either.
If someone finds the issue and think http d

[2019-04-04 15:21] #29 closed

[2019-04-04 15:24] szuecs commented on #188
@aryszka can we do this without having to re-implement the whole Go net/http?

[2019-04-05 11:27] szuecs commented on #557
@ruiaraujo I added your suggestion to the list

[2019-04-07 21:01] aryszka commented on #188
I don't know. Maybe hijacking the connection can be used to keep a handle on the connections. Since the generally low interest in the topic, I will close this issue now.

[2019-04-07 21:01] #188 closed

[2019-04-09 09:12] szuecs opened #1024 "eastwest routes combined with custom-routes not working as expected"
**Describe the bug**

There is no clear idea what should happen, but the main route should always be created in the eastwest routes. This is not the case anymore.

**To Reproduce**

[code]

This ingress will only create the redirect from the custom route in eastwest routes (`app.default.skipper.cluster.local`)

**Expected behavior**

Create all routes that make sense also for eastwest, which is of

[2019-04-09 19:43] justinrcs opened #1026 "Oauth Token Introspection Filter"
**Describe the bug**
After attempting to setup a Kubernetes ingress route using the oauthTokenintrospectionAllClaims filter, Skipper reports an invalid token when setting up the route and subsequent requests to the ingress results in a 404.

**To Reproduce**
Using Skipper, latest: v.0.10.203

1. Setup ingress route with the following:

[code]
https://okta.issuer.url is a base url provided by Okta

[2019-04-10 07:50] szuecs commented on #1026
Can you check if `https://okta.issuer.url/.well-known/openid-configuration` returns an introspection endpoint with json key `introspection_endpoint`?
A problem could be that the rfc draft defined it as "optional" and your provider does not return this field.

The error message says that the problem is within the route processing and it is most probably in [CreateFilter](https://github.com/zalando/

[2019-04-10 19:58] justinrcs commented on #1026
Thanks - I traced the issue here:

filters/auth/intospectiontoken.go

calls jsonGet with a blank access token:

[code]
in
filters/auth/authclient.go
this sets the header regardless of whether the accesstoken is set or not:

[code]

Since it's blank, the OAuth provider responds with "Invalid Token"

My temp fix was to just check to see if this header needs to be set

[code]

[2019-04-10 20:51] szuecs commented on #1026
Looks like it makes sense. :)
Do you want to create a pull request?

[2019-04-10 21:29] justinrcs commented on #1026
Done - thanks

[2019-04-10 22:29] justinrcs commented on #1026
Came across a limitation with using the TokenIntrospection endpoint:
When attempting to validate/decode an Access token, the AuthClient is making a post to the Introspection endpoint

filters/auth/authclient.go
[code]

The OAuth provider either needs ClientID and ClientSecret passed in as additional POST parameters or as a base64-encoded Basic Authorization header.

I'd propose the client id and s

[2019-04-11 02:23] antoniobeyah opened #1028 "kubernetes: ingress class appears to be ignored in routing"
**Describe the bug**
When specifying an ingress class skipper appears to be creating routes for ingress classes that don't match the specified ingress class

**To Reproduce**
1. Deploy skipper with `-kubernetes-ingress-class=skipper-ingress-public`
2. Deploy the following manifests:

[code]
3. Review the routes using the support listener `http://localhost:9911/routes`

**Expected behavior**
no rou

[2019-04-11 04:45] mariusv commented on #906
Using [ArgoCD](https://argoproj.github.io/argo-cd) without GRPC support is quite complicated as the only option I see so far for the CLI is to use port forwarding and then point the ArgoCD CLI to it which makes things complicated. ArgoCD requirements for ingress are either [GRPC or SSL-Passthrough](https://argoproj.github.io/argo-cd/operator-manual/ingress/).
Any plans to support this soon? Or do

[2019-04-11 07:14] szuecs commented on #1026
No problem with that. Maybe it makes more sense to have it in the filter configuration instead, similar to oidc* filters?
Filter would be possible to configure per route, env/flag would be global.

[2019-04-11 07:19] szuecs commented on #906
I don’t know your environment, but if you’re using Kubernetes, I would suggest to service type loadbalancer.
If GRPC can work through http upgrade similar to spdy or h2, it would be possible if you enable upgrade headers support which is marked experimental but I am right now confident that it is good enough.

[2019-04-11 08:53] szuecs commented on #1028
Thanks for reporting the issue with all the details!

As far as I can see in the code the log message correlates with the "Other Notes". Skipper will not create routes for this ingress during the `LoadAll` nor the `LoadUpdate` operation in the kubernetes dataclient.
As far as I understand the question is why you see the incorrect behavior in the route printing endpoint, which sounds like a bug to

[2019-04-11 14:29] antoniobeyah commented on #1028
No the ingress always had the annotation.  It was discovered when we were trying to track down an inconsistent 404 that we were seeing.

[2019-04-11 14:36] justinrcs commented on #1026
I can look at adding both options.  I agree providing it as part of the filter config gives more flexibility and allows Skipper to run in environments where multiple OAuth providers are supported. Including as part of the config, however, exposes the OAuth secret in plain text and if you have many routes you're going to be duplicating that info.

[2019-04-12 09:25] szuecs commented on #1026
We do not really use ENV vars for anything right now, so this would be a bit unexpected behavior, but I understand your point. Maybe we can read the secret from a file, and use a Kubernetes secret to pass the client-secret?
To understand better your point: Do you have to set client-id, client-secret to validate the inflight token?

If you want to work on this, I would suggest creating a new filter

[2019-04-12 09:32] szuecs commented on #1028
@antoniobeyah what is the priority in your opinion for fixing this bug?
Is this blocking you or more "nice to have"?

[2019-04-12 14:23] justinrcs commented on #1026
Ok I was going the route of passing the Kubernetes secrets in via env vars:

[code]

I can modify this to read the secrets from a volume mount if you prefer.

Yes, the introspection endpoint requires some kind of authorization to validate / decode the inflight token:
[https://tools.ietf.org/html/rfc7662#page-4](https://tools.ietf.org/html/rfc7662#page-4)

The spec mentions two methods, a Bearer to

[2019-04-15 11:51] szuecs commented on #1026
I would say just add 4 new variations to it.

[2019-04-15 13:01] antoniobeyah commented on #1028
Its probably more of a "nice to have" than a need- here is what I was trying to do:

We are intermittently seeing 404s to different endpoints behind skipper and we are unsure of why that is happening.  What I was going to attempt to do is to write something that loaded the skipper routes and compared them across all of our skipper instances to ensure they are consistent.

I am unsure how to create

[2019-04-15 13:16] szuecs commented on #1028
@antoniobeyah thanks for giving some context. Right now I am working on another reliability issue that we found, which has higher priority, but I also share your concerns.
A simple trick to find out who is responding 404 is to check `Server` header and if your backend sets it, it is reliable to use if skipper returns 404 or the backend.

[2019-04-16 09:13] szuecs opened #1032 "clarify service ratelimit"
Service `ratelimit()` is not a per backend ratelimit, which is not yet implemented.
We should clarify this in the docs.

[2019-04-16 09:17] szuecs opened #1033 "per backend ratelimit"
In some cases you want to protect backends by instances with a ratelimit.
For example to protect stateful applications, which you have a clear understanding of how much load it can serve per instance.

This was requested by 2 different Zalando users and seems to be a valid use case in general.

Unclear: how to deal with load balancing, should an already overloaded backend be counted in the load ba

[2019-04-16 10:16] olevchyk opened #1034 "closed Body error on repeated makeBackendRequest()"
**Describe the bug**
Noticed the following errors on test cluster where nodes can go down more frequently:
[code]
That probably comes from https://github.com/zalando/skipper/blob/master/proxy/proxy.go#L992

**To Reproduce**
1. forcefully shutdown a node where your pod is located, to get DialError that leads to 2nd makeBackendRequest call.

**Expected behavior**
We create a buffer copy of request.B

[2019-04-16 10:46] irishshagua opened #1035 "OAuth Scope Validation is returning an incorrect response code"
## Describe the bug
If you use any of the oauthTokeninfo* family of filters on a route and the token is successfully authenticated but does not pass the scope check, a 401 response code is returned. I think this should return a 403 to signify the difference between an authentication issue and an authorization issue.

### To Reproduce
An example
**K8s Resources**:
[code]

**Sample Requests**
[code]

[2019-04-16 11:00] olevchyk opened #1036 "random 502 errors on test environment."
**Describe the bug**
We have 2 replicas application deployment,  deployed using stackset controller,  continuously checked by zmon over https.  During working hours, when everything is up and running on test cluster, we notice random 502 errors reported by both: skipper metrics and logs  & zmon global http checks. There are no errors on application logs but there are some roundtrip errors in skipp

[2019-04-16 12:27] aryszka commented on #1026
This raises two questions:

1. shared configuration for all these filters, or route specific settings in the filters
2. filters accessing global settings

I don't have a strong opinion on 1. Using filter based configuration allows multiple configurations to exist for different routes, but makes the filter expressions more complex. The above described approach looks good to me.

About 2: in general

[2019-04-16 13:49] szuecs commented on #1034
@olevchyk Thanks for providing the issue.
Just to clarify:
- You run x number of replicas where `x > 1`?
- The call to podX was in progress when you killed/terminated the underlying node of podX?
- The result of the retry to podY was getting the error message instead of the content provided by podY?

[2019-04-16 14:01] szuecs commented on #1035
RFC says nothing about not having the current behavior, but I agree that it might be interesting to the user in understanding the difference.

If you want to work on this https://github.com/zalando/skipper/blob/master/filters/auth/tokeninfo.go#L226 is the pointer to the code. All `unauthorized()` calls will result in the 401 and we should pass the `http.Status*` to this function to make it happen.

[2019-04-16 14:14] szuecs commented on #1036
@olevchyk normally this is caused by backends not having a good enough readinessProbe and not a proper tear down strategy. https://opensource.zalando.com/skipper/kubernetes/ingress-backends/#teardown-strategies might help.
The reason is the Kubernetes race condition of skipper not knowing that your pod is terminating.
Basically you need to switch your health check to report unhealthy if you get a

[2019-04-16 14:14] #1036 closed

[2019-04-16 14:18] olevchyk commented on #1036
Thanks for your answer.
let me check  these settings and test everything one more time.

[2019-04-18 00:10] southwel opened #1039 "Add option to pull cli args/switches from configfile"
**Is your feature request related to a problem? Please describe.**
There are numerous command line args for skipper, if you have a complex deployment the command line arg gets very long.

**Describe the solution you would like**
Add an option(yes I get the irony) like `-configfile=/path/to/skipper.yaml`.  Doesn't have to be yaml, just an example.  In this file you can define all the switches and a

[2019-04-18 09:12] szuecs commented on #1039
@southwel thanks for the feature request.

[2019-04-23 09:47] arjunrn opened #1040 "Report Failures to generate routes to Ingress"
**Is your feature request related to a problem? Please describe.**
Currently when the service or ingress objects are misconfigured there is no way to report those issues back to the user other than reading the logs.

**Describe the solution you would like**
The ingress object itself does not support anything other than the loadbalancer names in it's status. So when backend routes cannot be correct

[2019-04-23 11:19] szuecs commented on #1040
Maybe we can use Kubernetes events, such that it would show up in `describe ingress`?

[2019-04-23 11:58] arjunrn commented on #1040
We could but IMO events are not the right choice because there would be a lot of events, every time the ingress is processed and this would simply create a lot of noise. So I suggested a new object which could be used to report the status. But if that's excessive then events should be sufficient.

[2019-04-24 10:10] otrosien opened #1041 "More fine-grained timeout handling"
**Is your feature request related to a problem? Please describe.**

Our backend is expected to fail with a timeout after 450ms, but in case of massive traffic it starts garbage collecting pauses etc, so ideally skipper in front of my application should react and send a 504 Gateway Timeout to the client. Unfortunately there is only a global backend timeout configurable in skipper, and we're sharing

[2019-04-24 11:20] szuecs commented on #1041
Thanks for the issue. I think we could start to work on it if we do configurable timeouts per backend (group).

[2019-04-29 09:11] szuecs opened #1043 "Update metrics user docs"
https://opensource.zalando.com/skipper/operation/operation/#monitoring Should be updated

[2019-05-01 20:45] justinrcs commented on #850
Some additional issue(s) discovered with the east-west routing setup:

1. Two or more ingress routes sharing the same host with different paths results in all east-west Skipper routes using the same ingress Host name

Kubernetes Ingress Definitions:
[code]
Skipper Routes, note they are assigned the same internal hostname

[code]

2. Two or more ingress routes that share the same host with differen

[2019-05-01 21:57] justinrcs commented on #1026
PR was merged to address these issues: [https://github.com/zalando/skipper/commit/2596ddd1de9c56e4daa9ada5cc9badefdb3755ae](https://github.com/zalando/skipper/commit/2596ddd1de9c56e4daa9ada5cc9badefdb3755ae)

The secureOauthTokenIntrospection* filters do use env variables for ClientId and Secret to allow transparent injection into Skipper without exposing them in plain text. However, if you don't

[2019-05-01 21:57] #1026 closed

[2019-05-02 07:23] szuecs commented on #850
@justinrcs thanks for the comment. The feature is currently by design one ingress route per ingress and host headers are derived from ingress name and namespace.
In general, I am not sure if I like the one hostname, multiple paths to different service split, because from ingress api is very error prone and easy to do errors that look like routing errors, but are user errors. So usability of ingres

[2019-05-02 09:27] szuecs commented on #939
Again
[code]

[2019-05-03 08:59] szuecs opened #1044 "oauthToken* filters can not check same key with different values"
**Describe the bug**
Same keys can not be used in `oauthToken*` filters

**To Reproduce**

1. add a route with the same key to different value in tokeninfoKV filters: `oauthTokeninfoAnyKV("foo", "A", "foo", "B") `
2. check with a token that have one of these values `A` or `B` in key `"foo"`

**Expected behavior**

It should allow

**Observed behavior**

It does not allow

[2019-05-06 19:34] justinrcs commented on #850
Since we're talking about service-to-service communication inside the Kubernetes cluster, I think it makes sense to connect the east-west routing to Services rather than Ingresses, as aermakov-zalando suggested.

This would make the routing less ambiguous: with the Ingress you can have the same host point to different services via path routing. However, attaching to services would guarantee unique

[2019-05-07 00:46] jruhland commented on #1034
Also experiencing this on fully healthy pod targets

[2019-05-07 07:34] maxim-tschumak opened #1045 "Provide stack trace if a filter panics"
**Is your feature request related to a problem? Please describe.**
In case a filter instance panics, we only know which filter failed (name), but we don't know where (file, line number, method, etc.)

**Describe the solution you would like**
A log output containing stack trace. Logging stack traces for all requests can be expensive. A good starting point would be to log the first panic stack trace

[2019-05-07 07:53] lmineiro commented on #1045
I'm very confident that better unit testing of said filter can reveal the existing fragilities

[2019-05-07 07:58] szuecs commented on #1045
sgtm to log the panic.

In case of the alternative:
We have the support listener endpoint, defaults to :9911 which has:
- HEAD /routes  returns number of routes
- GET /routes returns the routes in eskip format
- GET /metrics returns metrics
- GET /debug/pprof to access via `go tool pprof` or browser

@lmineiro I agree, but in this case https://codecov.io/gh/zalando/skipper/tree/master/filters show

[2019-05-07 09:08] szuecs commented on #1034
@jruhland thanks for the provided logs. It shows clearly the bug in skipper.

[2019-05-07 09:17] maxim-tschumak commented on #1045
@lmineiro I fully agree with you, we are already working on a PR where we want to check all the assumptions we made about the filter context and, of course, unit tests them.

@szuecs I also think that the proposed alternative is better. We've made good experience with providing such operational endpoint (`api-monitoring-controller` component). I think it doesn't contradict the PR I'm going to prop

[2019-05-07 10:14] olevchyk commented on #964
Also experiencing similar issue, @herojan @seancurran157 could you please confirm #998 has fixed the issue or you still see 502 appearing from time to time ?

[2019-05-07 11:35] Shareed2k opened #1048 "Add Custom Opentracing plugin"
Hi i'm using skipper as embeddable library, so it will be cool to add custom opentracing and all features plugins thought options to skipper...

[2019-05-07 12:35] szuecs commented on #964
- [ ] check node TCP keep-alive values > ALB/TG idle timeout
- [ ] check idle timeout in skipper > idle timeout in ALB/TG

[2019-05-07 13:32] szuecs commented on #1048
Hi @Shareed2k ,
I am not fully getting what is missing. Do you want to have a PluginOptions or maybe better TracingOptions in this case?

Feel also free to add a PR to add a tracer in https://github.com/zalando/skipper/tree/master/tracing/tracers.

[2019-05-07 13:39] Shareed2k commented on #1048
I"m sorry for understand, for now if Im using skipper as library, I can't
pass opentracing custom plugin troughs options to skipper.run() like custom
filter plugins.

On Tue, May 7, 2019, 16:32 Sandor Szücs <notifications@github.com> wrote:

[2019-05-07 13:39] Shareed2k commented on #1048
I"m sorry for understand, for now if Im using skipper as library, I can't pass opentracing custom plugin troughs options to skipper.run() like custom filter plugins.

[2019-05-07 13:43] Shareed2k commented on #1048
Also is I don't have actions to manipulate on some parts in proxy from my project as embadable library

[2019-05-07 14:00] szuecs commented on #1048
@Shareed2k for the proxy, you can only pass the ProxyOptions, yes. The question is what you need to have changed to make your requirements work. I am also thinking for a while now about having client connection pools by route possible (maybe per route configurable timeouts f.e.) and have some integrated mTLS settings passed to these via a route configuration.

For the opentracing plugins you are r

[2019-05-07 14:34] zeitlinger opened #1049 "potential nil dereference"
**Describe the bug**

[code]

**To Reproduce**

Currently not possible. If the fix for this issue does not solve the problem, we'll have to wait for #1045 to find the root cause.

[2019-05-08 08:49] thomasabraham opened #1051 "Send traffic to all pods when all of them are unready"
**Is your feature request related to a problem? Please describe.**
Due to some problem, all pods of a service got unready at the same time. This resulted in the service becoming completely offline.

**Describe the solution you would like**
When all pods are unready, all of them should get traffic. This is the behavior of ALB in AWS.

**Would you like to work on it?**
Yes, but no background in this

[2019-05-08 09:09] szuecs commented on #1051
@thomasabraham It's not easily possible to do this in Kubernetes, because Kubernetes manages the endpoint list and service ip, which is the source of truth for the dataclient. The dataclient would need to have awareness that you do not want to delete the old endpoints, which is the same as delete  your old deployment.

Personally I would like to close this as "won't fix", because I think it's not

[2019-05-08 15:15] szuecs commented on #1034
I looked into the code path and I don't see where this could happen. We do the retry before we close the body in all cases. I will follow up and write a test case that should show my expectation that it should be correct.

I did not need too much time to find similar logs.
I found a couple of similar requests that show the same error. For one skipper container and one (?) request I see this:

[cod

[2019-05-09 11:44] #914 closed

[2019-05-09 16:38] #1049 closed

[2019-05-09 18:25] jruhland commented on #1034
Can confirm, we are seeing retries, the log is funny, but not problematic.

On Wed, May 8, 2019 at 8:15 AM Sandor Szücs <notifications@github.com>
wrote:

[2019-05-10 12:15] #1045 closed

[2019-05-10 12:52] thomasabraham commented on #1051
I'm not yet familiar in K8 architecture. I created this issue based on a discussion I had with some colleagues. But after further discussion, we realized that more appropriate solutions would be one or all of the following.

- Kill pods which are in unready state for more than a configured amount of time.
- If more than 30% (or other configured value) of pods are unready, start new pods immediatel

[2019-05-11 06:38] szuecs commented on #1051
You can kill your containers automatically in Kubernetes if you specify a `liveness probe`.
Disclaimer:
I don’t recommend using liveness probe, I am sure you will have unexpected results in overload situations and get downtime that you won’t easily find out how to fix it.

[2019-05-11 06:38] #1051 closed

[2019-05-13 10:19] aermakov-zalando opened #1053 "Access log filters don't chain correctly"
**Describe the bug**

It looks like `disableAccessLog()` filter doesn't work correctly if it follows `enableAccessLog()` with some parameters, because I still see the logs.

**To Reproduce**

1. Have `enableAccessLog(4, 5)` filter injected as a default into all routes.
2. Add `disableAccessLog()` to a specific route.

**Expected behavior**

Skipper doesn't log any requests for this route.

**Obser

[2019-05-14 21:16] ruiaraujo opened #1055 "Add HDR Histograms"
**Is your feature request related to a problem? Please describe.**
Skipper currently has either EDS or Uniform reservoirs which suffer from various issues specially in the face of low traffic.

https://medium.com/hotels-com-technology/your-latency-metrics-could-be-misleading-you-how-hdrhistogram-can-help-9d545b598374

**Describe the solution you would like**
Skipper should include the option for u

[2019-05-15 10:04] szuecs commented on #1055
@ruiaraujo honestly skipper should not reinvent the wheel but use Prometheus, which I think already does this.
DropWizard style metrics work good for a single instance, but not for N > 1, because you have to aggregate the exposed metrics using `max()`.

[2019-05-15 10:08] ruiaraujo commented on #1055
Prometheus is a completely different model, DropWizard style metrics are in the codebase and we should have the best quality possible on these.

[2019-05-16 15:21] aryszka opened #1056 "Dynamic editing of HTTP headers"
Currently we can set or append headers, with the filter of the <set/append/drop><Request/Response>Header filters, but we cannot dynamically change them. Use cases:

- A route serves multiple hosts, and we want to trim the port part of the hostname if it contains:
foo.example.org:12345 should be changed to foo.example.org, where foo.example.org can be anything.
- We want to support compression, but

[2019-05-16 15:44] szuecs commented on #1056
The `editRequestHeader` was asked for by a colleague

[2019-05-16 15:58] szuecs commented on #1044
We use `type kv map[string]string` as storage for all KV filters.
We can either:
1. change it to `type kv map[string][]string`
2. create a new set of filters

I would vote for 1., @aryszka what do you think?

[2019-05-16 16:14] szuecs commented on #1053
I can't observe the same behavior with the inlineroutes:

This does not log, so disable is enforced:
[code]
This logs
[code]

[2019-05-16 16:21] szuecs commented on #1053
I also can't observe the same behavior in Kubernetes with custom routes nor with skipper-filter annotation.
I bet there was something wrongly defined in the route, such that it had no effect.

@aermakov-zalando feel free to reopen the issue and provide more information. Thanks

[2019-05-16 16:21] #1053 closed

[2019-05-17 09:22] szuecs commented on #964
For the records:  skipper `-idle-timeout-server=62s` with idle timeout in ALB/TG `60s` works and removes the 502 from ALB TGs to skipper, because of the race condition that skipper might close faster the idle connection than the ALB. Both loadbalancers have as default idle timeouts of 60s within their connection to each other. The 2nd layer LB should have a longer idle connection timeout to not di

[2019-05-17 13:34] szuecs commented on #1012
https://opensource.zalando.com/skipper/operation/operation/#default-filters

[2019-05-17 13:34] #1012 closed

[2019-05-17 13:35] szuecs commented on #486
@aryszka this should be done in https://opensource.zalando.com/skipper/tutorials/development/

[2019-05-20 08:01] szuecs opened #1059 "implement xDS v2 APIs"
If we implement xDS APIs, it would be possible to integrate with tools like istio. We could implement [xDS v2 APIs](https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol) ([dev docs](https://github.com/envoyproxy/data-plane-api/blob/master/API_OVERVIEW.md)), which were [introduced](https://blog.envoyproxy.io/the-universal-data-plane-api-d15cec7a) by Matt Klein in the envoy proxy from l