[2019-05-20 08:57] szuecs opened #1060 "lightstep plugin shipping configuration"
In some more heavy traffic clusters we need to send more often updates to satellites.
This should a plugin configuration setting.

[2019-05-21 16:33] szuecs opened #1063 "Service Mesh interface"
https://github.com/deislabs/smi-spec could be interesting

[2019-05-22 10:01] drummerwolli commented on #1044
for sprint planning estimation meetings: can you estimate if this will be fixed and released in registry.opensource.zalan.do/pathfinder/skipper in the next two weeks?

[2019-05-22 10:06] cjbooms commented on #1035
This issue can be closed. It was addressed by https://github.com/zalando/skipper/pull/1037

[2019-05-22 12:11] szuecs commented on #1035
Thanks @cjbooms

[2019-05-22 12:11] #1035 closed

[2019-05-22 12:56] sarslanhan opened #1065 "Reduce the payload shipped per request for OpenTracing instrumentation"
**Is your feature request related to a problem? Please describe.**
Currently, skipper creates spans that serializes to ~2.5 KB of payload in protobuf format based on my experiments (I took an example request and serialized it into protobuf to see the size). It looks like the main contributors to this are skipper.route tag, logs for marking filter start & done events, and the response stream events

[2019-05-22 15:03] #1060 closed

[2019-05-23 13:54] szuecs commented on #1044
It was already released in v0.10.222 and for Zalando we already rolled this out to production clusters.

[2019-05-23 13:54] #1044 closed

[2019-05-25 14:58] gjcarneiro opened #1068 "Proxy protocol support?"
**Is your feature request related to a problem? Please describe.**

I just been looking through the docs, and I couldn't find any mention of this proxy protocol support.

**Describe the solution you would like**

Support for the HAProxy [proxy protocol](https://www.haproxy.org/download/1.8/doc/proxy-protocol.txt)

**Additional context (optional)**

Nginx ingress controller has this option: https:/

[2019-05-25 17:18] szuecs commented on #1068
@gjcarneiro from what I understood the haproxy PROXY protocol needs a TCP listener that supports it.
Right now we are building on top of Go's ServeHTTP handler, which means we do not have the TCP Listen/Accept, nor parse HTTP ourselves. Go seems not to support the PROXY protocol, which we would either build into Go or we have to build the TCP Listen/Accept ourselves.

I am thinking a while about i

[2019-05-25 20:28] gjcarneiro commented on #1068
Sure, I understand!

Here's an excerpt of our HAProxy config, which we use in our K8S cluster.  As you can see, the ingress controllers (ingress-nginx atm) listen on ports 8000 for http and 7443 for https, on some of the K8S nodes.

[code]

[2019-05-28 11:24] aryszka commented on #562
another example where the parsing doesn't work as expected:

[code]

In the above route \r and \n sequences are used without unescaping.

[2019-05-28 14:49] Shinzu opened #1074 "Skipper does not find endpoints for named targetPort in service"
**Describe the bug**
When we use a named port in the targetPort field of a service, skipper does not find endpoints in the endpoints api endpoint and falls back to the service.

**To Reproduce**
targetPort with a named port:
[code]

targetPort with port directly:

[code]

corresponding subset of the endpoints api:

[code]

**Expected behavior**

skipper also finds endpoints for servies with named

[2019-05-28 14:58] szuecs commented on #1074
Thanks @Shinzu

[2019-05-28 15:18] #1065 closed

[2019-05-29 13:42] herojan opened #1076 "Paths with named wildcards must be unique across all hosts"
**Describe the bug**
(This was previously debugged with help from the Skipper team so I'll document the findings here)

Skipper builds a tree for its routes with path predicates at the top, and other predicates such as host matches afterwards. When two path predicates are the same but with different names for their wildcard segments, they are ambiguous and skipper will fail to apply one of the rou

[2019-05-31 15:46] addityasingh opened #1079 "Remove X-Zalando-team from open source skipper"
Remove X-Zalando-team from open source skipper
https://github.com/zalando/skipper/blob/3c504ec104ddc6f3171bc79e575b0c4a2cc3c0c7/.zappr.yaml#L9

[2019-05-31 15:55] addityasingh commented on #1079
Closing as this is not valid anymore

[2019-05-31 15:55] #1079 closed

[2019-05-31 20:34] xavivars commented on #1076
This will actually force us to have a different skipper deployment per expected host, due to the possible (probable) route collision. Is there any way to have a "pre-filter" based on hosts, or specify somehow that the host filter has preference?

[2019-06-01 08:15] szuecs commented on #1076
@xavivars right now I don’t see a workaround besides build your own skipper proxy (library first makes it possible), but I think we see the problem and will fix it soon.

Thanks for providing feedback on this issue

[2019-06-01 10:32] xavivars commented on #1076
I'm already using Skipper as a library (to be able to add filters/dataclients), so I'd be interested in knowing how that workaround could look like. Also, if there's anything I can can do to help fixing it, I'm willing to help

[2019-06-02 07:45] szuecs commented on #1076
I think there’s a more simple solution than I thought before. You would need to use `PathRegexp` instead of `Path` or `PathSubtree`. In Kubernetes Ingress you can use https://opensource.zalando.com/skipper/kubernetes/ingress-usage/#ingress-path-handling to choose it.

Why this should work you can read in https://opensource.zalando.com/skipper/reference/architecture/#route-matching

I hope this hel

[2019-06-05 08:35] szuecs opened #1082 "cron style predicate for time based route match"
**Is your feature request related to a problem? Please describe.**

In case of scheduled maintenance window, you want to be able to schedule daily, weekly, monthly a fixed maintenance window and show a "come back later" message.

**Describe alternatives you've considered (optional)**

You can workaround the problem with a cronjob that changes the routes-file or the routes in etcd, for example

[2019-06-05 13:12] aryszka opened #1083 "path predicates don't handle URL escaped paths"
**Describe the bug**
When a URL escaped path is used in a path predicate, the predicate doesn't match valid requests.

**To Reproduce**
Use the following route:

[code]

**Expected behavior**

It should return 200 for the requests with the path: /api/something%2A.

**Observed behavior**

The route doesn't match.

[2019-06-05 13:30] aryszka commented on #1083
It should also be tested with wildcard path specs, like `Path("/api/:id")`

[2019-06-06 11:17] josafat opened #1085 "Secure flag not set for cookies stored by oauthOidc -filters"
**Describe the bug**
oauthOidc* -filters store cookies on the client. These cookies are missing the Secure -flag regardless if HTTPS is used or not.

**To Reproduce**
Any route with oauthOidc* -filter, which passes OIDC auth.

**Expected behavior**
The cookies have Secure -flag set over HTTPS connections

**Observed behavior**
Secure -flag is not set on the oidc cookies

[2019-06-06 12:44] szuecs commented on #1085
@arjunrn do you remember if this was only used for testing?

[2019-06-07 09:52] HerrmannHinz commented on #549
hey i was running into the same issue. would love to see this fixed.

here is my use case:

- create service for external url/ip/service (this external service is may just an ip - hard to read or recognize, maybe also comes without https)
- attach an ingress to this so it can be served via a FQDN plus SSL cert.

basically i want to use an externalName'd service + skipper as proxy for external serv

[2019-06-07 09:57] daviddyball commented on #549
We just create `[Ingress] -> [Service] -> [Remote]` where `Service` is type `ExternalName`. It's working fine for us, so we didn't end up needing direct Ingress-to-ExternalName in the end

[2019-06-07 10:01] szuecs commented on #549
@daviddyball I am not sure if you pass the externalName service, if you do:
[code]
This is basically creating a second route from the ingress which has higher priority than the default route and the backend is a [network backend](https://opensource.zalando.com/skipper/reference/backends/#network-backend) to https://logs.internal:443

[2019-06-08 14:04] aryszka commented on #1082
See also: https://opensource.zalando.com/skipper/reference/predicates/#interval

[2019-06-08 14:06] aryszka commented on #1083
Actually, checked the specs, and it seems like that this works as it should and it's not a bug. See the rule for equivalence: https://tools.ietf.org/html/rfc2616#section-3.2.3

(Leaving it open for a couple of days in case of different interpretations should be discussed.)

[2019-06-08 21:52] szuecs commented on #1082
@aryszka from what I understand interval predicates can’t do something like everyday from 10-18 for example.

[2019-06-08 21:55] aryszka commented on #1082
no, they cannot. They're just a closely related feature.

[2019-06-09 14:19] aryszka commented on #1083
Correction: the spec says "Characters other than those in the "reserved" and "unsafe" sets (see
   RFC 2396 [42]) are equivalent to their ""%" HEX HEX" encoding."
while '/' (%2F) is listed as reserved: https://tools.ietf.org/html/rfc2396#section-2.2

We rely here on the stdlib request parsing, which uses the stdlib url package, which unescapes %2F to '/' (https://golang.org/src/net/url/url.go#L255

[2019-06-11 11:44] #1083 closed

[2019-06-11 12:54] arjunrn commented on #1085
@szuecs I might have overlooked this one. Fix for this should be easy. I will assign this issue to me for now.

[2019-06-12 06:32] josafat opened #1089 "Cookies set by oauthOidc -filters are occasionally too big"
**Describe the bug**
oauthOidc* -filters like oauthOidcAnyClaims set a cookie from the client. The cookie size reaches easily the maximum size that the browsers accept (4096 bytes on Chrome?) causing the cookie to be dropped. With a basic OIDC setup e.g. with Keycloak, the size of the cookie easily reaches 5100bytes.

**To Reproduce**
1. Any route with oauthOidcAnyClaims -filter, which passes OIDC

[2019-06-12 09:24] szuecs commented on #1089
@josafat thanks for the detailed explanation!

@arjunrn do you want to work on a fix?

[2019-06-12 15:14] drummerwolli opened #1090 "unverifiedAuditLog should have fall back keys"
We're trying to log audit requests. we try to use `unverifiedAuditLog()` (docs: [here](https://opensource.zalando.com/skipper/reference/filters/#unverifiedauditlog)) filter for this. included in this log line should be some information on the entity issuing this requests (so either username or application id or something similar). This information is in the token in either the `sub` key or in othe

[2019-06-12 17:24] szuecs commented on #1090
Varargs style seems to be the best fit for user interface, consistency and backwards compatibility. So my clear vote for `unverifiedAuditLog(“a”, “b”)`.

[2019-06-16 10:13] arjunrn commented on #1089
@szuecs yes I will assign the issue to myself

[2019-06-17 11:47] #1085 closed

[2019-06-18 10:23] tkrop opened #1094 "apiusagemonitoring is using modified path from response chain"
**Describe the bug**
When monitoring APIs using the API usage monitoring filter, the filter is using the modified path from the response chain instead of the original path from the begin of the request chain - assuming that the API usage monitoring filter is the first installed in the filter chain.

**To Reproduce**
Add context, for example:
1. create an `apiUsageMonitoring` filter followed by a `

[2019-06-18 12:12] lmineiro commented on #1094
I'd personally consider the current behavior as desirable. There's the flexibility to change the order of the filters allowing the users to decide which path to use instead.
I can think of use cases where the modified path is intended. That is also the path that the backend will effectively handle, which might be closer to the user that opts-in for the apiusagemonitoring, matching his expectation.

[2019-06-18 13:03] tkrop commented on #1094
Unfortunately, our current customers see this different, because the API monitoring is not consistent with their external API specification. As we want support out-of-the-box API usage monitoring this consistency is essential.

[2019-06-18 14:59] aryszka commented on #1094
If I see it right, then this PR allows the right level of flexibility of which path is monitored: #1095

if the path is modified before the usage monitoring filter, then the modified path is used. If the monitoring filter is after a path changing filter then the changed path is monitored.

[2019-06-19 15:00] #1094 closed

[2019-06-20 05:19] Shareed2k opened #1096 "Exclude Span if its coming to `/kube-system/healthz`"
Exclude Span if its coming to `/kube-system/healthz`, no need to create span if its coming to healthz endpoint, or ability to disable this.

[2019-06-20 10:19] szuecs commented on #1096
Thanks for creating the issue, but this would complicated the code, because heatlth checks are just normal routes.
I will close it as won't fix.

[2019-06-20 10:19] #1096 closed

[2019-06-20 15:01] szuecs commented on #1063
#660 might be more powerful, than SMI and it's quite new so we do not need to rush and we should observe and think about what is changing and what do we need to merge different operators create ingress, for example stackset-controller and what these need in order to provide a good solution for all our users.

[2019-06-20 16:07] #549 closed

[2019-06-21 10:44] #1090 closed

[2019-06-21 13:41] #1032 closed

[2019-06-24 12:56] szuecs opened #1102 "retry with Body payload do no work"
Logs:
[code]

[2019-06-24 13:00] szuecs commented on #1102
#1034

[2019-06-24 13:00] #1102 closed

[2019-06-24 13:00] szuecs commented on #1034
Logs:
[code]

[2019-06-24 15:45] szuecs opened #1103 "Transfer-Encoding: chunked blocks until first body was sent"
**Describe the bug**
If a response with `Transfer-Encoding: chunked` is sent without body, skipper response is blocked until first body is sent from the backend.

**To Reproduce**

Client:
- `curl -v localhost:9090`
- see the difference: `curl -v localhost:8080`
Run skipper: `./bin/skipper -inline-routes='foo: * -> "http://127.0.0.1:8080"'`
Run backend like this:
[code]

**Expected behavior**
Send

[2019-06-25 08:18] linki commented on #1103
This behaviour is expected by `kubectl` when doing watch requests and there are initially no events to send to the client. With skipper's current behaviour the watch is never setup from the client's perspective as it doesn't receive the HTTP headers.

[2019-06-25 13:25] #1103 closed

[2019-07-04 21:14] mariusgrigaitis opened #1109 "Different predicates on same path mess up routing"
**Describe the bug**
Defining same path but different predicates results in different routing

**To Reproduce**
[code]

[code]

After enabling post route:
[code]

[2019-07-05 07:30] szuecs commented on #1109
Yes, sorry `Path("/test/**")` is not what you expect. Basically there are two different "named" matches `:name` and `*anothername`. The special case `**` is a named match with the name `*`, not subtree glob as you expect and I guess is documented.

[2019-07-05 07:33] szuecs commented on #939
Another one:
[code]

[2019-07-05 07:40] mariusgrigaitis commented on #1109
How about

[code]

[code]

After enabling post route:
[code]

[2019-07-05 07:53] szuecs commented on #1109
Ah now I got you, this looks like a bug, true.
It should be always 404 for the 1st case.

[2019-07-07 12:36] sarslanhan commented on #1082
As discussed with both of you, I created a small library for doing this: https://github.com/sarslanhan/cronmask

@szuecs @aryszka let me know what you think about it. In the meantime, I can work on adding a predicate that makes use of this in Skipper.

[2019-07-08 11:57] szuecs commented on #939
[code]

[2019-07-09 15:11] szuecs commented on #1082
Thanks @sarslanhan for providing the merged PR and the library.

[2019-07-09 15:11] #1082 closed

[2019-07-09 19:10] szuecs commented on #939
[code]

[2019-07-10 08:25] szuecs commented on #939
[code]

[2019-07-10 12:41] szuecs commented on #546
Right now there is no sticky session in skipper. The best you can use is `consistentHash` load balancing

[2019-07-10 16:00] aryszka opened #1115 "add proxy errors to the opentracing logs"
**Is your feature request related to a problem? Please describe.**
It is hard to relate errors in the application log to opentracing spans.

**Describe the solution you would like**
When the proxy logs an error, it could also add it as a log entry to the current opentracing span.

**Would you like to work on it?**
Yes

[2019-07-13 12:07] szuecs commented on #1115
I am not sure if this volume of data makes sense. We already see problems with the amount of data we send to our lightstep satellites, I don't think it makes sense to add even more data in this case.
Maybe better to generate a uuid that corresponds to a request and pass this to all logs and all spans as tags.

[2019-07-13 13:12] aryszka commented on #1115
The UUID is a good idea independently. Maybe we can even attach the existing trace ID to the logs.

OTOH, I don't think it would significantly increase the size of data sent out, because this is only about the errors, which should affect only a small portion of the traces.

I think that the problems with a particular proprietary provider have only limited relevance, but are we aware of any evidenc

[2019-07-13 16:25] szuecs commented on #1115
Error logs are fine, sorry did not read the issue correctly.
Trace ID to logs seem to be good enough to me.

[2019-07-15 07:04] swanandt opened #1124 "Benchmarking TEST reports"
Hi
As per the documentation it mentions
_"The core business of skipper is routing based on HTTP. It performs and scales well, for example it handles more than 800000 routes in production with 60000 requests per second."_

Q: Do you have any test results for this 60K req/sec ?
Q:  Is this figure with single instance of skipper or across multiple instances in combine , i mean clustered mode ?
Q: I a

[2019-07-15 08:29] szuecs commented on #1124
These are production values, for one specific skipper installation, no test.

You can run a single instance test and compute the values. It scales linear for most of the things.
Of course, some filters like auth, clusterRatelimit, .. depend on external services, but these can be independently scaled.
You can modify and run benchmark shell scripts from https://github.com/zalando/skipper/tree/master

[2019-07-15 09:06] swanandt commented on #1124
Thanks for your quick reply. Really appreciate it !!!

1] I will try to evaluate based on the input and tools we used to validate our earlier API-GW solution.

2]  We don't intend to add a load-balancer infront of API-GW but would like to terminate EXT-TLS termination on it.  Our use-case is with how much max Req/Sec such API-GW can provide. Also we have observed that crypto-tls of go-lang has som

[2019-07-15 09:40] szuecs commented on #1124
Just to be aware: skipper does not write in to the ingress status, which you would need to have external-dns working.

Sounds mostly opensourceable, so the best would be to have some GH issues that define the what to be achieved and how. PR are always welcome, but sometimes we need to discuss how this can work.

This you could do if you write your own `dataclient` and use skipper as library or thi

[2019-07-17 16:00] Shareed2k opened #1128 "Add option inside plugin to understand to what route is request related"
**Is your feature request related to a problem? Please describe.**
yes, First of all i'm using skipper as embeddable lib in my project inside k8s cluster, i need a way inside plugin understand to what route request is related. In my situation i have plugin for route policy so i need a way to fetch specific rules from service to validate the request, so the easiest way i'm see here is get route id

[2019-07-18 07:49] szuecs commented on #1128
@Shareed2k As far as I understand you want to build the policy based on route.Id. IS there any specific reason you want to have it work like this?

There are other solutions that should work for you:
1. You can build a custom dataclient, that wraps the kubernetes dataclient, but also fetches your route policy and combines both to create the routes that are fetched from the routing package.
2. You

[2019-07-18 10:56] Shareed2k commented on #1128
hmmm ok 1 option i thinks will be good for me thanks...

[2019-07-18 10:56] #1128 closed

[2019-07-19 12:17] aryszka opened #1129 "Question: metrics for backend retries"
Would it make sense to create a metrics for retries to backends? (Currently we are logging them.)

[2019-07-19 12:33] aryszka commented on #1129
found it: https://github.com/zalando/skipper/blob/master/proxy/proxy.go#L1046

[2019-07-19 12:36] aryszka commented on #1129
...however, this doesn't distinguish whether we retry or not.

[2019-07-19 13:35] aryszka opened #1130 "Ratelimiting potentially spamming the error logs"
We may report errors in the logs from rate limiting, even if the condition is rooted in the incoming request and neither in the code or the configuraiton. We should only log those cases where the rate limiting has a problem in the code or the config.

[2019-07-24 19:01] max-neverov opened #1133 "Installation instructions are not working"
**Describe the bug**
Can't install skipper following instructions in README.

**To Reproduce**
➜  ~ GO111MODULE=on go get -t github.com/zalando/skipper/...

**Expected behavior**
skipper is installed

**Observed behavior**
go get: -t flag is a no-op when using modules
go: finding github.com/zalando/skipper/... latest
go get github.com/zalando/skipper/...: no matching versions for query "latest"

*

[2019-07-25 08:13] szuecs commented on #1133
Thanks for the report.
If you like to send a PR, if not we wait for Go 1.13, which should be soon there.

[2019-07-25 09:36] aryszka opened #1134 "Observability: detect when EOF is logged because of invalid Content-Length in the backend response"
We can detect when EOF is logged because of invalid Content-Length in the backend response. As discovered, this is one of the potential reasons for these errors.

Related: #269

[2019-07-25 18:31] diego-ojeda-binbash opened #1137 "Redirect to location by using values captured from the original path"
**Describe the bug**
Hi. This is probably not a bug but I have been looking through the documentation and Github issues and have not been able to find a solution to my issue.
I am using Skipper on our Kubernetes clusters and I would like to achieve the following redirection behavior:

Given the following example paths:

I would like to redirect those to this:

Keep in mind that {zone id} is a vari

[2019-07-25 22:47] justinrcs commented on #992
Using the annotation does work, double check that your annotation is using quotes around the value, otherwise Skipper will ignore it.

`zalando.org/skipper-ingress-redirect: "false"`

[2019-07-26 00:45] diego-ojeda-binbash commented on #1137
Never mind, I just found out that I could achieve what I needed as follows:
[code]
I also found in the code (path.go, line 35) that setPath filter provides a templating feature that can take placeholder that would be replaced by the wildcard values with the same name. I couldn't get it to work for me but I'm mentioning that in case it's useful for someone.

[2019-07-26 00:45] #1137 closed

[2019-07-26 06:54] szuecs commented on #1137
For the records: https://opensource.zalando.com/skipper/tutorials/common-use-cases/#change-base-path documents how to do the redirect with `modPath`.

[2019-07-26 06:54] szuecs commented on #1137
For the records: https://opensource.zalando.com/skipper/tutorials/common-use-cases/#change-base-path documents how to do the redirect with `modPath`.

[2019-07-26 07:18] szuecs commented on #660
We think about creating a RouteGroup CRD that can be traffic switched as a set of routes with https://github.com/zalando-incubator/stackset-controller

[2019-07-26 13:44] szuecs opened #1139 "Document egress specific feature"
- [x] `bearerinjector` filter needs to be documented in user docs
- [x] skipper as sidecar and egress features should be documented
- [x] link from filter reference bearerinjector, circuit breaker filters to the egress feature manual with backref

[2019-07-26 13:44] szuecs commented on #412
bearerinjector() filter was done in https://github.com/zalando/skipper/pull/1125 , but needs userdocs
follow up https://github.com/zalando/skipper/issues/1139

[2019-07-26 13:44] #412 closed

[2019-07-26 14:07] hjacobs opened #1140 "Support OAuth2 Authorization Code Grant Flow"
It would be great if Skipper could support OAuth2 Authorization Code Grant Flow with a new filter (name TBD). It would be ideal to support reading the OAuth2 client credentials from a given Kubernetes secret (if Skipper is running on Kubernetes).

Having this in Skipper Ingress would reduce the work load necessary for frontend applications to expose their UI behind OAuth 2 login. This would for ex

[2019-07-26 14:57] szuecs commented on #1140
@hjacobs yes I agree, but I would rather integrate with files, such that the filter config can pass a file and we have one volume that mounts all the relevant secrets. The good thing with files is that we already have a secrets package that can read and rotate secrets and we can integrate this with projected volumes https://kubernetes.io/docs/concepts/storage/volumes/#projected .
Needs to be teste

[2019-07-26 15:33] szuecs commented on #1063
We had some internal discussions and might go with something similar to https://github.com/deislabs/smi-spec/blob/master/traffic-specs.md, but more powerful and without TCP route, which does not makes sense (it's SNI not tcp...).
We basically want to switch a full RouteGroup and we don't want to define path with regexp which is not sane in the first place.

[2019-07-26 19:10] mikkeloscar commented on #1129
Related to this, I think it would make sense to add more labels to the metrics such that you can map backend errors e.g. to a hostname. Right now the backend error metric only has the `routeID` as a label. In case of Ingress it's very cumbersome to map a routeID to a hostname which is what you really want to see as a user.

Is probably a reasonable thing to be able to answer, at least in the Ingre

[2019-07-27 19:55] szuecs commented on #1129
@mikkeloscar do you have an idea how this could be more generic than too much coupled to kubernetes?
There is an open PR from mytaxi, which I really would like to have somehow in a mergeable state.
RouteID is a leaky abstraction and not usable, hostheader does not define backend, apiMonitoring filters do endpoints, ....

Maybe we should kickoff another issue to discuss the future of prometheus met

[2019-07-31 09:20] szuecs commented on #929
The first step will be the HTTP forward proxy to implement more egress features

[2019-07-31 11:46] aryszka opened #1145 "opentracing reports 500 when a route was not found"
**Describe the bug**
When the route lookup doesn't return a route, skipper returns 404 by default, or the default status code set from the startup options, but 500 is sent to opentracing instead.

**To Reproduce**
Add context, for example:
1. start skipper with no routing configured, but with opentracing enabled
2. make any http request to skipper
3. skipper should respond with 404
4. check the ma

[2019-07-31 11:52] szuecs commented on #1145
skipper without route
[code]

client:
[code]

[2019-07-31 15:31] #1139 closed

[2019-08-08 13:21] mtrovo opened #1151 "Support custom Metrics implementations"
**Is your feature request related to a problem? Please describe.**
I'm currently using skipper and I have a use case to export the metrics to NewRelic as custom events, I managed to make it work by polling the Codahale registry and sending these events to NewRelic but is just a quick hack that is not very reliable as the data is polled and also for some metric types the aggregation already took pl

[2019-08-08 13:25] lmineiro commented on #1151
[OpenTelemetry](https://opentelemetry.io/) is the merge of 2 other great projects - OpenTracing and OpenCensus. What are your thoughts on that @mtrovo?

I think the project is still young but its roots are solid. Having a standard way of collecting all things observability sounds interesting to me.

[2019-08-13 15:35] #1151 closed

[2019-08-20 14:41] szuecs opened #1156 "Kubernetes external IPs"
There is a new service with a plain list of IPs https://kubernetes.io/docs/concepts/services-networking/service/#external-ips, that is easily to implement in the kubernetes dataclient

[2019-08-21 09:49] linki opened #1157 "[Kubernetes] ExternalName Service is served for wrong Ingress"
**Describe the bug**
Normally, when an Ingress references a wrong or missing Service then `skipper-ingress` serves 404 as the fallback. However, if there is at least one Ingress in the cluster that points to an ExternalName Service then `skipper-ingress` serves that ExternalName instead of 404.

**To Reproduce**
1. create an Ingress `foo` with a rule for `foo.playground.zalan.do` that points to a

[2019-08-22 12:56] gdurandvadas opened #1158 "Unexpected error from Go stdlib net/http package during roundtrip: unexpected EOF"
**Describe the bug**
There are some cases where Skipper reports a 500 error after reporting this error:
[code]
As I was hoping from this bug report, the backend connection error should be reported as 499
https://github.com/zalando/skipper/issues/863

refs:
- https://github.com/zalando/skipper/issues/269
- https://github.com/zalando/skipper/issues/1134

**To Reproduce**
Skipper config (Used KOPS ex

[2019-08-23 14:52] aryszka opened #1159 "metrics for active connections and pending HTTP requests"
# Connection metrics

Currently we cannot measure the current connection count in Skipper. This would be useful for various reasons, one of the is to have clues for the right size of the used connection pool.

We should measure the following things:

- incoming TCP connections
- outgoing TCP connections
- pending HTTP requests

## Incoming/Outgoing TCP connections

Easy to detect when new connecti

[2019-08-25 14:22] szuecs commented on #1158
Thanks for the detailed report!

499 status code should as far as I understand (nginx like), only be used if the client closed the connection (client->skipper), which seems not to be the case or do I miss understand the issue?

[2019-08-26 13:50] mtrovo opened #1161 "Unexpected behaviour configuring ratelimit"
**Describe the bug**
I'm trying to configure a global ratelimit for my skipper installation and decided to add it on the `Options` object to skipper.

I want also to provide it with a Lookuper instance that looks for `Authorization` headers. The problem is that ratelimit share its `Settings` object but has a different behaviour (not sure if intended). When used as a global ratelimit Lookupers are

[2019-08-26 14:00] szuecs commented on #1161
As far as I understand you are using skipper as library.
Can you provide some code example?
Do you enable ratelimits via skipper.Options?

[2019-08-26 17:11] mtrovo commented on #1161
Yes, I'm using it as a library, sorry for the confusion.

I have a use case to provide a global rate limit to the whole skipper
instance and thought the right place would be to put it on the
skipper.Options object as following:
[code]

The problem I see is that I can configure the ratelimit.Settings with
Lookuper but it's not being used.

---------- Forwarded message ---------
From: Sandor Szücs <

[2019-08-26 17:12] mtrovo commented on #1161
Yes, I'm using it as a library, sorry for the confusion.

I have a use case to provide a global rate limit to the whole skipper
instance and thought the right place would be to put it on the
skipper.Options object as following:
[code]

The problem I see is that I can configure the ratelimit.Settings with
Lookuper but it's not being used.

[2019-08-27 09:26] wndhydrnt opened #1162 "Add tags to jaeger tracing spans"
**Is your feature request related to a problem? Please describe.**
I'd like to add tags to tracing spans created by jaeger to be able to later filter by these tags.

**Describe the solution you would like**
Either a new option for the `-opentracing` flag that is then [parsed](https://github.com/zalando/skipper/blob/master/tracing/tracers/jaeger/jaeger.go#L32-L89) by the jaeger implementation or re

[2019-08-27 09:29] wndhydrnt commented on #1162
I need a decision on whether to add/parse tags through the `-opentracing` flag or implement reading jaeger configuration from env vars.

`-opentracing` is the way Skipper does it while env vars provide more flexibility. I have no preference for any of the two solutions.

[2019-08-27 09:32] szuecs commented on #1162
@wndhydrnt sounds good. I would do it similar to the lightstep tracer, that we use. Parse the flag similar to https://github.com/zalando/skipper/blob/master/tracing/tracers/lightstep/lightstep.go#L66-L72 and set the values that you need to pass to Jaeger.

[2019-08-27 09:43] wndhydrnt commented on #1162
Thanks for the quick reply @szuecs. I'll look into the code you referenced and create a PR.

[2019-08-27 16:26] #1162 closed

[2019-08-29 09:34] zak905 opened #1167 "Content-Length not set by setRequestHeader"
**Describe the bug**

I am trying to test a Content-Length header "spoofing" scenario for my API where the Content-Length value would mismatch the actual body length.

**To Reproduce**

1. skipper can be run with a simple route defintion like
[code]
2. check the request received by "http://localhost:8180", the header is the actual one sent with the request, and not 1000

**Expected behavior**

set

[2019-08-29 15:35] szuecs commented on #1167
The Content-Length header is computed by the Go runtime and we would need to create a workaround in the proxy.

Content-Length header "spoofing" is not supported and probably won't be in the future.
We discussed it internally and we don't see much value and it could be unsafe in case for example compress filter is being used.

I am sorry for you, that the issue will be closed and changed to wontfi

[2019-08-29 15:35] #1167 closed

[2019-08-29 16:11] aryszka commented on #1159
*Update*: we have metrics for incoming connections: https://opensource.zalando.com/skipper/operation/operation/#connection-metrics

[2019-08-30 07:41] szuecs opened #1169 "Add X-RateLimit-* headers"
Follow up on https://github.com/zalando/skipper/issues/438

Other headers to consider besides X-Rate-Limit we already set:
* X-RateLimit-Remaining
* X-RateLimit-Reset

Good [overview](http://william.holroyd.name/2014/11/02/how-do-most-apis-handle-rate-limiting/) what the X-Ratelimit-* Headers are used for and which sites are using which names.

[2019-08-30 08:46] szuecs opened #1170 "TFO - TCP Fast Open"
Think about investigating TCP Fast Open, which could reduce latencies (to be tested with a hacked version before PR).

relevant Go issue with comments, that might help to figure out how to do it:
https://github.com/golang/go/issues/4842#issuecomment-456614496
https://github.com/golang/go/issues/4842#issuecomment-456706304

[2019-08-30 09:50] szuecs commented on #1158
I also had an internal case with 500 EOFs for a low traffic service and I tested to have a skipper proxy sidecar for that service, and all these errors are gone since >4 weeks.
I guess it's the backend server handler which somehow creates these problems.

[2019-08-30 10:56] alimakarfi opened #1172 "Make Redis Config Reusable"
Skipper can be configured to do rate-limiting using a Redis Ring. Currently the Redis client is well encapsulated in the rate-limit package and well hidden from the outside world. Unfortunately, this makes it impossible to reuse the already existing Redis Ring configuration in other places.

There are at least two solutions:
A quick win solution could just expose the ratelimit.newRing and make the

[2019-08-30 11:15] aryszka commented on #1172
From the two options above, I prefer the latter one, moving it into its own package.

On top of that, I would also consider a third approach, to see if it is possible to abstract away redis as implementation to something that reflects only the general purpose. In case of the rate limiters, the purpose is that the skipper instances in a cluster know about each other, and they can exchange their sta

[2019-08-30 14:31] tkrop commented on #1169
Hmm, difficult problem. I think the implementation should be consistent to the [Zalando API Guidelines rule about Rate Limiting](https://opensource.zalando.com/restful-api-guidelines/#153). We heavily try to stick to RFCs. The proposal currently does not have a registered RFC number. This makes it questionable to integrate its name changes. Thus I would stick to the `X-` names - or may be add a sw

[2019-08-30 14:46] szuecs commented on #1169
@tkrop I changed the issue, thanks for pointing out

[2019-09-03 18:27] szuecs commented on #660
We started to work on the skipper RouteGroup CRD. Some example yaml files you can see in https://github.com/zalando/skipper/tree/feature/routegroup-crd/dataclients/kubernetes/fixtures

Why:
- more DRY object than ingress (hosts and backends separated from path rules)
- enable skipper specific features
- we don't want to have an object with multiple hostnames that have different backends
- orchestr

[2019-09-04 08:36] aermakov-zalando commented on #660
Looks very nice! A couple of suggestions/questions:
 * Move `filters`/`predicates` into the path object. They also probably shouldn't be an array, unless I'm missing a use case?
 * Traffic switching: make it a first class field (either in `spec` or in `status`). It's a new resource anyway, no need to have it as a weird annotation.
 * How would custom destination work in this case (`<shunt>`, or a

[2019-09-04 08:40] aryszka commented on #660
for destination: let's use a backend type enumeration, shunt/loopback/network/service, where service is the default and resolves to the LB endpoints.

[2019-09-04 09:07] szuecs commented on #660
@aermakov-zalando The config key is used to have filters+predicates as a list of configs, which is an internal use case with fabric.

The problem we discussed with the traffic switching is that we have multiple controllers writing this object and if we have the annotation it's more safe (IIRC) to change from stackset controller the traffic settings. The problem with status is that it should reflec

[2019-09-04 09:11] aermakov-zalando commented on #660
@szuecs Could you describe the use case, or how this would be used in practice? I still don't understand why an extra key is necessary.

Having traffic weights in the `spec` is perfectly fine, having it in the annotation doesn't really get you any extra safety.

[2019-09-04 10:47] aryszka commented on #660
@szuecs yes, something like that.

the possible types could be: shunt, loopback, service (default), external

shunt would not require further fields, loopback neither. Service would be the default, but it would require the fields as you described above. The external would mean any free URL address (without path).

[2019-09-04 10:59] aryszka commented on #660
see the above suggestion for defining the variants of a single destination. As we discussed since then, we will probably have to support multiple destinations for the traffic switching.

[2019-09-04 11:04] mikkeloscar commented on #660
@aermakov-zalando

The only point against the spec would be if we want to support re-applying the `RouteGroup` without overwriting the traffic state. This would not be needed in a stackset case if we store the desired/actual traffic somewhere other than the RouteGroup.

[2019-09-04 11:10] aermakov-zalando commented on #660
@mikkeloscar `apply` shouldn't touch any keys that it didn't provision, so I don't think it'll be an issue.

[2019-09-04 11:13] hjacobs commented on #660
Can we have some design proposal document (Markdown file in this repo?) to have a nice overview on how it will look like? It's really hard for me to follow this comment thread as I was not involved from the start.

[2019-09-04 11:23] aryszka commented on #660
@hjacobs good idea, creating one. Just one last comment, to jot down what we just discussed IRL. The traffic weights, could also be part of the destination entries, s.g. like:

[code]

[2019-09-04 11:25] szuecs commented on #660
@aermakov-zalando Use case for example admins have a different scope check than a client service for the same route. Different clients, filtered by Predicates could get different filter settings.

[2019-09-04 11:27] aermakov-zalando commented on #660
@szuecs Couldn't they just create 2 path objects then? I'd rather reduce the noise in the most common use case (path object mapping to 1 route). If one object is supposed to generate multiple routes, then why is `path` not an array as well?

[2019-09-04 11:37] szuecs commented on #660
@aermakov-zalando true it can be compiled into the list of paths. I am fine with that. I will soon post a proposal and link it

[2019-09-04 15:37] szuecs commented on #660
Proposal: https://github.com/zalando/skipper/blob/feature/routegroup-crd/dataclients/kubernetes/crd.md

[2019-09-05 11:02] szuecs commented on #660
There are some open questions raised by @aryszka:
- what should we by default for the path: Path() or PathSubtree()?
   - for human users, PathSubtree() is probably better
   - for OpenAPI users, Path() is better
- How to specify http/https for Kubernetes service backends (all others have to pass the URLs themselves).

My answers would be:

- Path()/PathSubtree() can be default to the one we choos

[2019-09-05 11:20] ruudk commented on #1028
I have the same problem. I'm using a public and private one and both skipper pods return the same routes.

[2019-09-05 11:31] szuecs commented on #1028
@ruudk would you mind sharing skipper version and flags you run with?

[2019-09-05 12:25] aermakov-zalando commented on #660
@szuecs I'd make it controllable per-route (because why not), e.g. have `path: /` versus `exactPath: /`, or `path: /, exactPath: true`

[2019-09-05 16:43] ruudk commented on #1028
@szuecs
[code]

[2019-09-06 11:51] szuecs commented on #1028
@ruudk and you annotate all your ingress with `kubernetes.io/ingress.class: private` and `kubernetes.io/ingress.class: public` ?

All ingress without ingress.class will be in all different skipper routes.

[2019-09-06 12:00] ruudk commented on #1028
@szuecs Yes

[2019-09-06 12:13] jeremycolin opened #1182 "Be able to target "dynamic" backend containing variable extracted from PathSubtree"
**Is your feature request related to a problem? Please describe.**

We have 2 use cases:

1. We are deploying code branches to a cluster say `custer-test`. Those branches can be accessed with `https://domain/branches/:buildVersion` ie `https://domain/branches/pr-123`

We have a unique skipper route mapping those to a single unique host: `https://domain-branches`.

Every branch deployment then expo

[2019-09-06 14:38] szuecs commented on #1182
Thanks for describing the issue!

[2019-09-06 14:50] szuecs commented on #1028
@ruudk I just tested with `registry.opensource.zalan.do/pathfinder/skipper:v0.10.282` with `- "-kubernetes-ingress-class=private"` to skipper and added to one ingress `kubernetes.io/ingress.class: public` and to another one `kubernetes.io/ingress.class: private`.
I can not reproduce your issue.

I get no route from `public` annotated ingress in the route table print `curl localhost:9911/routes` an

[2019-09-11 06:27] MarcusNoble commented on #660
I've only breifly looked through the proposal so far but I have a few thoughts:

* Will the CRD controller create an Ingress resource in kubernetes? If not, will there be any way to use RouteGroup in conjunction with [external-dns](https://github.com/kubernetes-incubator/external-dns)?
* I'm wondering if a `defaultBackends` property is the way to go or if it might be better as a `default` bool pro

[2019-09-11 06:42] mikkeloscar commented on #660
Good point. This should be addressed in the proposal.

[2019-09-11 11:59] szuecs commented on #660
@MarcusNoble: thanks for your input!

- Yes external-dns is on my list to change to support RouteGroups. Also missing is kube-ingress-aws-controller for example to have feature parity with the current AWS ingress setup
- First, we had default as a property, but decided to put it into its own list of backendRef with the weights. This comment https://github.com/zalando/skipper/pull/1180#discussion_r

[2019-09-11 13:15] #1158 closed

[2019-09-11 16:04] szuecs commented on #660
FYI: I added https://github.com/zalando/skipper/blob/feature/routegroup-crd/dataclients/kubernetes/crd.md#external-components-that-need-to-be-changed to show what external components need to be changed and added https://github.com/zalando/skipper/blob/feature/routegroup-crd/dataclients/kubernetes/crd.md#why-not-adapt-other-solutions to show why we do not adapt SMI or other CRDs.

[2019-09-12 06:58] divyeshjethwa opened #1187 "Errors while installing skipper when using 'go get github.com/zalando/skipper/..."
**Describe the bug**
After creating a Go workspace. When I'm trying to get the skipper packages I'm getting these errors

src/github.com/zalando/skipper/ratelimit/redis.go:165:26: cannot use redis.Z literal (type redis.Z) as type *redis.Z in argument to c.ring.cmdable.ZAdd
src/github.com/zalando/skipper/ratelimit/redis.go:210:59: cannot use redis.ZRangeBy literal (type redis.ZRangeBy) as type *red

[2019-09-14 17:19] rbarilani commented on #1187
Hi @szuecs, I tried with `docker` and a Dockerfile like:

[code]

And I can confirm that the same error is displayed and the image fail to build.

[2019-09-15 19:53] szuecs commented on #1187
Yes, true skipper use go modules.

Interesting that go 1.13 does not work as default. As far as I know go 1.13 has go modules enabled by default.

[2019-09-16 08:47] szuecs commented on #1187
@rbarilani I can confirm that the docker build does not work:

[code]

[code]

[2019-09-16 10:18] szuecs commented on #1187
The docs reflect how to build the project and also the docker container so I would close the issue

[2019-09-16 10:18] #1187 closed

[2019-09-26 13:04] aryszka opened #1195 "log the original reason when the tokeninfo filters fail to make requests to the auth service"
**Describe the bug**
When rejecting a request with the tokeninfo filters, the reason is set to auth-service-access and the original error objected is dismissed. This way we don't know if the problem was a TCP connection problem, an invalid request or a malformed response document, therefore the investigation of such problems is ineffective.

**To Reproduce**
1. create a route with an auditLog and

[2019-09-30 12:49] aryszka opened #1198 "Conflict between Path("/**") and PathSubtree("/")"
**Describe the bug**
When using a route that has a named wildcard path predicate like `Path("/*path")` together with a route that has a subtree predicate like `PathSubtree("/")`, the former route will never match.

**To Reproduce**

1. Create a routes.eskip file with the following content:

[code]

2. Start skipper the following way:

[code]

3. Make an HTTP request with the following command:

[c

[2019-09-30 12:50] aryszka commented on #1198
As a workaround until this gets fixed, in most cases it should be possible to use PathSubtree("/") instead of Path("/**").

[2019-10-03 13:43] jmirc opened #1206 "Question - How to identify 504 errors"
We are running skipper in production and we are getting 504 error. Here are the logs

[code]

We are not able to see these issues on our service (response time is fine). It is like connections are created between skipper and the service but the service doesn't response in the expected time.

Do you have any tips?

Thanks

[2019-10-04 09:28] szuecs commented on #1206
@jmirc yes the service does not respond within expected time.

`net/http: timeout awaiting response headers` means that the http headers from the backend response timed out. Increasing `-response-header-timeout-backend` can help, if you expect that the backend will often have higher response times than the default. You might want to check all the timeout settings if you increase this, because it c

[2019-10-04 10:18] #1206 closed

[2019-10-04 11:29] otrosien opened #1207 "Slowly ramp up traffic to new backend-ips"
**Is your feature request related to a problem? Please describe.**

A service that scales up because of load might have a significant amount of RPS per backend-ip. If a new pod reports ready it will directly get its full share of RPS. This can overload services that don't pre-warm fully. It also requires each service to properly implement its pre-warming properly. Having a slow ramp-up of traffic

[2019-10-04 12:24] mikkeloscar commented on #1207
This feature was also expressed by other users (Team in @Zalando).

[2019-10-04 12:31] szuecs commented on #1207
@mikkeloscar in general sounds good, but I can also imagine that it might be dangerous if you take too long time and you have a rolling update with not so many endpoints ongoing.

[2019-10-07 12:27] unl1k3ly opened #1208 "Vulnerability - [tech-security@zalando.de ] report"
I can't report a security vulnerability using `tech-security@zalando.de`  as per policy. Email is bouncing back. How can I email this about ?

[2019-10-07 14:14] xavivars opened #1209 "Add ability to expand access log"
Structured JSON logs are great to analyise Skipper usage. But it would be even better if there was a way to extend what the structured access log actually logs.

**Describe the solution you would like**
I'd like some sort of _hook_ to provide an override to what an accessLog entry contains.

**Describe alternatives you've considered (optional)**
Adding a filter that does the type of accessLog that

[2019-10-07 14:43] aryszka opened #1210 "PathRegexp() problem with trailing slashes in the path"
**Describe the bug**
When using PathRegexp with ignore trailing slash option, it doesn't match the path when the regexp enforces the trailing slash.

**To Reproduce**

1. start skipper with: `skipper -ignore-trailing-slash -inline-routes 'PathRegexp("^/foo/bar/baz-[0-9-]+/$") -> status(200) -> <shunt>'`
2. make request like: `curl localhost:9090/foo/bar/baz-42-0/`

**Expected behavior**

The statu

[2019-10-07 15:30] szuecs commented on #1208
Sorry to see, that this e-mail is bouncing. Thanks for letting us know!
Let me figure out which e-mail we can use.

[2019-10-07 15:34] szuecs commented on #1208
Please share your findings via this form: https://corporate.zalando.com/en/services-and-contact#security-form

[2019-10-07 16:19] szuecs commented on #1208
We fixed also the https://github.com/zalando/skipper/blob/master/SECURITY.md

[2019-10-07 23:19] unl1k3ly commented on #1208
Done!  Just sent the information I wanted. It could be a false positive, hence I'm checking directly to you.

Thank you so much.

We can close this one for now.

Cheers

[2019-10-07 23:19] #1208 closed

[2019-10-08 08:28] aryszka commented on #1208
Thanks a lot for reporting it!

[2019-10-08 12:06] szuecs commented on #1209
@xavivars thanks for creating the issue. Are you thinking from a library user perspective to have a hook?
If so what kind of arguments you would like to have as function that you pass as a possible callback?

[2019-10-09 07:48] xavivars commented on #1209
Hi @szuecs,

Yes, I was thinking of a hook that allowed me to "enrich" the key value pair that is sent to logrus.

I've been playing with some implementations (by disabling the built-in accessLogger and creating my own as a filter) and I think the perfect (and scalable/extensible) solution would need to allow selecting data from a filter, so you have access to the request, the reponse, the route,

[2019-10-09 13:19] aryszka opened #1217 "Benchmark and optimize the apiUsageMonitoring() filter"
In certain cases, unnecessarily long time spent was observed in the apiUsageMonitoring() filter. It should be benchmarked and if optimization possibilities were found, then implemented.

One possible optimization can be to avoid caching of the concatenated keys and see if the concatenating them on-the-fly turns out to be cheaper than caching them in a sync.Map.

[2019-10-09 16:04] #1198 closed

[2019-10-09 17:45] xavivars commented on #1209
@szuecs, I just created a work-in-progress pull request, just to get some input about the approach.

I am using Skipper as a library with this implementation and it _sort of works_, but I'd like be able to access to some other data in filters (like the Route itself).

Is there any way to do that? Would it be to big of a deal to also pass the routes to the filterContext?

[2019-10-09 20:49] szuecs commented on #1209
To show the idea, it's good to have the PR open for discussion.
I am not sure about FilterContext having the route. To me is seems a bit of a responsibility problem and it also could lead to dependency cycles. A route has predicates and filters. A FilterContext has access to Request and Response and the Route. It does not sound good to me.

I think there is a need of more details why this needs to

[2019-10-11 09:30] szuecs commented on #1209
I talked with @aryszka about the goals and how to achieve this.

The goal is that users can add in request or response filters data to a stateBag that will be passed to the access logs, similar in functionality to the current [`flowId()` filter](https://opensource.zalando.com/skipper/reference/filters/#flowid). For example we can have a filter to control whether the chosen backend gets into the ac

[2019-10-11 10:55] tkrop commented on #1217
After looking on many request-filter traces, I come to the conclusion, that the performance of the `apiUsageMonitoring`-filter seems within expected bounds. There surely is room for improvement, but it is unlikely, that it is the reason of the experienced problems.

[2019-10-11 11:04] xavivars commented on #1209
Thanks for the feedback, and for deeper thoughts about this feature.

I just have a question: do we need to bundle the changes of exposing the route ID in this same PR?

As I see it, with the current implementation, it's already possible for filters to add arbitrary data (non-route related).

I'm happy to implement the other changes suggested, but merging the PR as it is would already be great for

[2019-10-11 12:47] szuecs commented on #1217
@tkrop can you share your expected bounds?
We might want to document these boundaries, if you have some in mind. :)

[2019-10-11 13:05] xavivars commented on #1133
1.13 has been released. I guess this issue is not reproducible anymore

[2019-10-11 20:03] max-neverov commented on #1133
Can confirm.
[code]

[2019-10-11 21:54] szuecs commented on #1133
Yes, thanks

[2019-10-11 21:54] #1133 closed

[2019-10-12 12:39] szuecs commented on #745
https://github.com/golang/go/issues/30055 Go1.14 should have it as default

[2019-10-14 16:23] #1209 closed

[2019-10-14 16:39] #1039 closed

[2019-10-15 08:35] aryszka commented on #1210
fixed in #1211

[2019-10-15 08:35] #1210 closed

[2019-10-15 08:41] aryszka commented on #1195
fixed in #1199

[2019-10-15 08:41] #1195 closed

[2019-10-15 08:43] aryszka commented on #1018
fixed in #1200

[2019-10-15 08:43] #1018 closed

[2019-10-15 08:43] aryszka commented on #1109
fixed in #1200

[2019-10-15 08:43] #1109 closed

[2019-10-15 09:04] szuecs commented on #1161
@mtrovo do you want to create a PR?
Sorry for not following up on this, yet

[2019-10-15 09:07] szuecs commented on #1156
Reading the documentation again I am not sure what we have to do.
It's basically for routing from external IPs to skipper. We have no validation, if the user does not opt-in for specific predicates or filters, so nothing to do here.
Before I thought it's a list of backends, that skipper should proxy to for this service, but it's not.

I will close this issue and, if you have input why we need this

[2019-10-15 09:07] #1156 closed

[2019-10-15 12:18] pabloborh opened #1222 "Improve config.yaml documentation"
Actual config.yaml documentation is poor. There are no info about boolean flags and list flags.
I've did some test and this is a valid configuration.

[code]

[2019-10-15 13:14] pabloborh commented on #1222
https://github.com/zalando/skipper/pull/1223

[2019-10-15 13:34] mikkeloscar opened #1224 "Official Linux binaries does not include version information"
**Describe the bug**

Skipper version prints empty version information

[code]

**To Reproduce**

Get the latest binary from the release page and check the version:

[code]

Seems like a bug in the build where it doesn't include the version information. Not sure about other targets.

[2019-10-15 17:00] AlexanderYastrebov opened #1226 "clientRatelimit filter could be avoided by supplying X-Forwarded-For header value"
`clientRatelimit` filter works by counting requests per first `X-Forwarded-For` header value:

https://github.com/zalando/skipper/blob/0c034b77029a9258a447ff070798190c55bc9abc/ratelimit/registry.go#L117-L122

https://github.com/zalando/skipper/blob/0c034b77029a9258a447ff070798190c55bc9abc/net/net.go#L34-L37

therefore if `X-Forwarded-For` header is present on incoming request its value would be us

[2019-10-15 17:57] AlexanderYastrebov commented on #1226
The complimentary attack would be malicious client supplying `X-Forwarded-For` IP of legitimate client thus causing Denial Of Service.

[2019-10-15 18:16] szuecs commented on #1226
These are of course not news, because it's the only way of doing clientratelimit by client IPs, if you maybe have a reverse proxy in front.
You can also use Tuple matches to filter out malicious traffic. There is no need to use X-Forwarded-For header based clientRatelimit, it's just the default.

[2019-10-16 07:03] szuecs commented on #1222
Was merged

[2019-10-16 07:03] #1222 closed

[2019-10-16 13:22] cjbooms commented on #1076
Our team's log monitoring just alerted us to the occurrence of this issue in our K8S cluster.
Is it possible to get this bug triaged and worked on in the immediate future?
I worry that there is an increasing probability of this bug occurring in a clusters that my team cannot monitor the logs for.

[2019-10-18 14:30] wndhydrnt opened #1230 "Move config code of Skipper into its own package"
**Is your feature request related to a problem? Please describe.**
We are adding some custom filters to Skipper. To be able to do this, we are using Skipper as a library. We copy the files in [cmd/skipper](https://github.com/zalando/skipper/tree/master/cmd/skipper) into our project each time we update the version of Skipper. This is done to have all flags available and set their proper default val

[2019-10-18 14:51] szuecs commented on #1230
Sounds good, happy to read the PR.

[2019-10-22 11:56] #1224 closed

[2019-10-22 11:56] #1230 closed

[2019-10-23 15:48] kolbis opened #1233 "Skipper Helm Chart"
Is there anyone which already created a production ready helm chart for skipper?
If so, can you please share it?

[2019-10-23 16:05] szuecs commented on #1233
We don’t like helm and probably all of them in the internet are outdated.

https://github.com/zalando-incubator/kubernetes-on-aws/tree/dev/cluster/manifests/skipper has all manifests that you need to build a production setup. It’s used in >140 clusters.

[2019-10-23 16:40] kolbis commented on #1233
I appreciate the answer.
Just out of curiosity, why dont you like helm?

[2019-10-23 21:43] szuecs commented on #1233
Tiller is known to be unsafe.
I don’t like, if I have a templated mess that I can’t easily understand.
Plain manifests with a little template to replace numbers of CPUs or memory is much easier.
I understand that helm is good for, just trying something, but you could also provide a directory that has some yaml files which you can deploy with `kubectl create -f dir`. Maybe something that can help.

[2019-10-24 06:48] kolbis commented on #1233
I understand your point. That said, I think it has many benefits which overcome the downfalls such as "hard to read templating engine".
For us, microservice may have dependency in redis, elastic, mssql and etc.
Coordinating such a deployment is easier with helm as you are reusing charts.

I think supporting helm for skipper would be a nice add-on.

[2019-10-24 14:51] szuecs commented on #1233
@kolbis I wrote documentation. Would you mind checking if this helps you in order to get faster started?

[2019-10-24 16:54] szuecs commented on #1233
It's now available at https://opensource.zalando.com/skipper/kubernetes/ingress-controller/#install-skipper-as-ingress-controller

[2019-10-25 05:26] kolbis commented on #1233
Thanks!
I will have a look.
If we will decide to create a chart, we will open source it.
I Will update

[2019-10-25 07:01] szuecs commented on #1233
If you like create a doc PR, maybe someone find it useful, too

[2019-10-29 18:13] aryszka opened #1237 "OpenTracing, proxy span not visible"
**Describe the bug**
In some cases, the proxy opentracing span is missing, while the filter processing spans are not.

![no-proxy-span](https://user-images.githubusercontent.com/733217/67796291-0fd6bd00-fa80-11e9-99e8-689f7868306d.png)

the above screenshot should contain a proxy span. Checked on multiple traces.

[2019-10-29 18:16] szuecs commented on #1237
Spans can be dropped by satelites and clients, so it does not need to be a bug in our code base.

[2019-10-30 06:03] xavivars commented on #1076
Just to make sure: this is only happening with named wildcards? Or is this happening with other use cases (not named wildcards, paths without wildcards,...)?

[2019-10-30 08:31] lmineiro commented on #1237
I believe when spans are dropped this is visible in the vendor tool with a dotted-red-line (parent missing). This is possible because the span context carries both the root span id and the parent span id. This allows the assembly of the full trace even if the parent is missing, rendering that sort of information.

[2019-10-30 08:32] lmineiro commented on #1237
How does the trace look for `<shunt>` route?

[2019-10-30 09:59] szuecs commented on #1237
@lmineiro good point!
For shunted routes this might be an expected trace.

[2019-10-30 10:02] szuecs commented on #1076
@xavivars I am not sure what you refer with "this", maybe you can clarify what you exactly mean. Thanks

[2019-10-30 12:50] aryszka opened #1238 "consistent handling of the filter chain on the response path"
The filters are applied first to the requests in normal order, then a backend request, a shunt, rate limiting, or loopback happens. Then in the case of a response received from the backend (regardless of its status), in the case of the shunt and loopback, the response is passed to the filter chain in reverse order before sending it back to the client. On the other hand the response filters are ski

[2019-10-30 13:16] NorthFury commented on #1076
will be fixed by #1227

[2019-10-30 13:35] xavivars commented on #1076
You're right... my bad... I meant "the problem this issue is about (_Paths with named wildcards must be unique across all hosts_)"

[2019-10-30 21:56] NorthFury commented on #1076
fixed by #1227

[2019-10-30 21:56] #1076 closed

[2019-11-04 13:36] aryszka opened #1240 "Feature sync for HTTP and HTTPS"
Skipper supports now graceful shutdown and TCP queue when run with HTTP without TLS. We should enables these features for HTTPS, as well.

[2019-11-08 11:03] ancelotpinto commented on #1140
@hjacobs I have a basic implementation for the `implicit flow`... intend to take this forward to build a plugin for skipper:
https://chat.google.com/room/AAAAGhZzIdU/h8RbfCADNpI

[code]

[2019-11-08 11:05] HerrmannHinz commented on #1140
following :)

[2019-11-08 15:13] szuecs commented on #1140
@ancelotpinto provided lua code for https://github.com/zalando/skipper/issues/624

[2019-11-13 15:16] szuecs commented on #1172
@alimakarfi can you reply to @aryszka, thanks.

I am also more for the interface definition. I am not sure if in case of clusterRatelimit it can be easily done, because we use redis commands as algorithm.

[2019-11-13 17:02] szuecs commented on #904
We have `swarm.redis.allows` and `swarm.redis.forbids` via promql `sum(rate(skipper_custom_total{key =~ "^swarm[.]redis[.].*"}[1m])) by (key)`

[2019-11-13 17:02] #904 closed

[2019-11-24 16:46] #1226 closed

[2019-11-25 13:58] mikkeloscar opened #1249 "Support for "slow start mode""
**Is your feature request related to a problem? Please describe.**
Some backends (e.g. JVM based) benefits from a warm-up period where they don't get the full traffic load but instead slowly get more and more of the traffic load in order to warm-up.

AWS Application Load Balancers has a solution for this in the form of "slow start mode": https://docs.aws.amazon.com/elasticloadbalancing/latest/appl

[2019-11-26 13:41] szuecs commented on #1249
Please make sure it's not only based on the LB Algorithm. Basically I think you need to have a by chance filter on the memberlist before applying the algorithm.
You would need to subset `ctx.Route.LBEndpoints` for example in:
https://github.com/zalando/skipper/blob/master/loadbalancer/algorithm.go#L53

And keep state for a certain amount of time to do the slow fade-in

[2019-11-26 13:46] mikkeloscar commented on #1249
@szuecs thanks for the feedback. jFYI: Currently I will not attempt any implementation on this. It was just to start the discussion.

[2019-11-29 13:14] szuecs opened #1253 "implement H2C to proxy to h2 over TCP"
**Is your feature request related to a problem? Please describe.**

For example in Kubernetes, people want to use server push, etc. features from h2.

- server/client ALPN/Upgrade h2/h2c: https://github.com/nekolunar/http2
- very short unmaintained: https://github.com/owlwalks/unload/blob/master/main.go
- h2i console https://godoc.org/golang.org/x/net/http2/h2i
- h2c handler https://godoc.org/gola

[2019-12-09 12:01] Raffo commented on #149
@szuecs @aryszka I'm not sure if you still need this issue, but I unassigned myself... It's unlikely I'm gonna work on it :sweat_smile:

[2019-12-09 14:19] szuecs commented on #149
I will close it.
We have more tooling to have forced linting, but some parts will only change if we have a breaking change.

[2019-12-09 14:19] #149 closed

[2019-12-09 14:20] szuecs commented on #1249
In general this should not be kubernetes specific. I put it into enhancement

[2019-12-09 17:38] otrosien commented on #1249
Isn't this a duplicate of https://github.com/zalando/skipper/issues/1207 ?

[2019-12-09 18:55] szuecs commented on #1249
True

[2019-12-09 18:55] #1249 closed

[2019-12-09 18:55] szuecs commented on #1207
For implementation see also https://github.com/zalando/skipper/issues/1249#issuecomment-558633258

[2019-12-11 13:14] miry commented on #1140
Trying to pretty format the snippet WIP, there are too many escape chars need to test. Draft version:

[code]

[2019-12-17 07:30] manson opened #1258 "Response caching"
Some services generates rarely changing data (RSS feeds) sometimes static assets (images). The last one the front caching service may process (nginx for example). But the first one is a bit complicated situation as it can provide Cache headers and we can lay on it, but some may not provide such info but we might be knowing that we can bravely cache responses for a couple of seconds for such an end

[2019-12-17 09:07] szuecs commented on #1258
We have https://github.com/zalando/skipper/issues/628 and https://github.com/zalando/skipper/issues/956 as issues, but did not touched it yet. So, right now not possible.
Do you want to keep it open?
Do you want to work on it?

Right now I do not have an internal use case requested for this and I have no personal need for it, too. I would happy to review contributed PRs and guide you through the c

[2019-12-17 10:01] manson commented on #1258
Thanks for reply. I'm in process of investigating the field of reverse-proxies, searching for a balance between speed, configuration and usage simplicity, amount of features it has. This project is almost ideal for me in a specified conditions except of caching. I have some more proxies not touched yet so after them I'll make a decision if it worth spending time to implement missing features in th

[2019-12-17 10:01] #1258 closed

[2019-12-17 17:34] szuecs commented on #1258
@manson thanks for considering skipper, let us know what you miss and why you choose something else. This would be really great feedback!

[2019-12-20 15:07] szuecs commented on #660
https://github.com/zalando/skipper/pull/1180 is in progress

[2019-12-23 14:56] szuecs commented on #1161
To clarify the bug:

It's only an issue for library users that want to have a global ratelimit setting.
If you want to have route based ratelimiting, use the provided filters.

[2019-12-31 13:02] szuecs commented on #939
[code]

[2020-01-03 10:39] szuecs opened #1262 "No retries on /.well-known/openid-configuration auth filters auto configuration fetch"
oidc* filters use open-id configuration URL `/.well-known/openid-configuration` to fetch endpoint configrations. If this URL is not responding (request get an error) it will try only after the regular interval to fetch the data again. This can lead to downtime.
I would suggest, that we do a retry with exponential backoff in the config requests on errors.

[2020-01-06 12:55] aryszka opened #1263 "Grouping of routes for metrics"
## Problem

There is no effective way of collecting aggregated metrics for arbitrary sets of routes.

Skipper supports collecting metrics for individual routes, which then can be used to create any aggregates, but this has two problems:

- when the set of routes belonging together changes the configuration of the metric collector needs to be updated (potentiall, or the route IDs have to follow a p

[2020-01-06 13:25] lmineiro commented on #1263
Can't `tracingTag` be used to allow the observability mechanism to group by unique values of a tag.
Examples:
- `stack: foo`
- `stack: bar`
- `stack: foo-v1`
- `stack: foo-v2`

[2020-01-06 13:57] aryszka commented on #1263
Indeed, it can, good point!

I think the ideal would be to provide a single way to achieve this kind of grouping without leaking the underlying observability mechanism, and reflect the values in each supported tooling: metrics and tracing (as of today). Then we could use it in metrics keys, and tracing tags as well. We would just need a good name that doesn't leak the implementation.

[2020-01-06 16:04] aryszka commented on #1263
suggested name for the filter: `telemetryGroup`

to support different telemetry backends, it could work the following way: if `telemetryGroup("stack=foo-v1")` is set, then for codahale metrics "stack=foo-v1" would be converted into a key fragment like "...stack_foo_v1"...", in prometheus it could be used as is, and in case of opentracing, it would become a tag as @lmineiro suggested above.

Ideall

[2020-01-07 10:39] szuecs commented on #1263
@aryszka as far as I understand, you want to crate dynamically from user/filter input `stack_foo_v1`. This is not possible in Prometheus and will IIRC panic.
What you want to do to support it is to add version as "attribut" (Prometheus naming?):
`stack_foo{version="v1"}`, such that we get:

[code]

Via query you can get all for `stack_foo` or group them by `version`.

[2020-01-07 11:03] jessi3mae20 opened #1264 "skipper ingress pod failed request error"
Having installed skipper and the aws-controller via helm, my skipper ingress pod fails to be ready with the following error:

"GET /kube-system/healthz HTTP/1.1" 404 10 "-" "kube-probe/1.14+" 0 10.95.109.110:9999 - -
[APP]time="2020-01-07T10:54:42Z" level=error msg="failed to load all: request failed, status: 403, 403 Forbidden"
[APP]time="2020-01-07T10:54:42Z" level=error msg="error while receive

[2020-01-07 13:18] szuecs commented on #1264
@jessi3mae20 can you point me to the helm chart you used?
We are not maintaining any helm charts and I think it's more easy to just use the deployment.yaml or daemonset.yaml, instead of helm.
Maybe you can post your skipper-ingress deployment, such that we can check what's wrong.

[2020-01-07 13:33] aryszka commented on #1263
@szuecs makes sense!

[2020-01-07 13:35] MarcusNoble commented on #1264
Hey @szuecs, it's a Helm chart built internally that bundles kube-ingress-aws and external-dns together which we've been using on a few other clusters without issue.

It looks like we've been using an old version of skipper previously (`v0.10.126`) and our chart has since been updated to `v0.11.1`. I'm going to go look at what changes were made between 0.10 and 0.11 that we haven't accounted for (

[2020-01-07 13:43] szuecs commented on #1264
@MarcusNoble I think we wrote the changes you have to do in the v0.11.1 release note or the last v0.10 release

[2020-01-07 13:47] MarcusNoble commented on #1264
Looking at some older 0.10 versions it looks like the same issue also exists (confirmed by changing the version in one of our working clusters using v0.10.126).

I've just been looking at https://github.com/zalando-incubator/kubernetes-on-aws/blob/stable/cluster/manifests/skipper/deployment.yaml to see what we might be missing (there's a lot of arguments I'm going to need to work through and see i

[2020-01-07 14:10] szuecs commented on #1264
securityContext only disallows things, so it would not break if you do not specify them.
https://github.com/zalando-incubator/kubernetes-on-aws/blob/stable/cluster/manifests/skipper/deployment.yaml#L128-L131

[2020-01-07 14:14] szuecs commented on #1264
The most important flags for Kubernetes are:
[code]

You need to understand why you get the health check with 404.
I think you should check the support-listener, default to 9911 and check `/routes`: https://opensource.zalando.com/skipper/operation/operation/#routing-table-information

[2020-01-07 14:23] MarcusNoble commented on #1264
Figured it out. Turns out I'd missed this change: https://github.com/zalando/skipper/releases/tag/v0.10.177 🤦‍♂

[2020-01-07 14:31] MarcusNoble commented on #1264
@jessi3mae20 I'll get out chart updated now. Do you want to close this issue? 😄

Thanks for your help @szuecs

[2020-01-07 14:51] jessi3mae20 commented on #1264
Thanks @szuecs and @MarcusNoble !

[2020-01-07 14:51] #1264 closed

[2020-01-09 11:27] szuecs opened #1266 "rainbow traffic switching flap route matches"
If you specify more than 2 versions of the same ingress, like in the example you get unepected results:

[code]

This will result in 3 routes:

[code]

This looks good, but we now have r1 and r2 with the same priority for the routing match!
Therefore r1 and r2 can flap, which results in sometimes having unexpected r1 25% and r2 50%.

[2020-01-10 16:14] mikkeloscar opened #1268 "Log TCP lifo configuration information"
**Is your feature request related to a problem? Please describe.**
Currently skipper can calculate the TCP lifo settings internally based on memory. In that cases you don't clearly see what the values for maxConcurrency and for maxQueueSize is.

**Describe the solution you would like**
It would be helpful if skipper logged the configuration on startup so you know what amount of requests an instanc

[2020-01-10 16:36] mikkeloscar opened #1269 "TCP lifo accept rate can be reported as negative in metrics"
**Describe the bug**
TCP lifo accepted connection metric becomes negative after connections were en queued.

While investigating an incident I found this metric:

Rate of queued connections

![image](https://user-images.githubusercontent.com/128566/72169511-89b7ea80-33cf-11ea-85c0-ea2c4db9a666.png)

And when looking at accepted connections for the same time frame I see that it start to be negative

[2020-01-11 14:57] dlmiddlecote opened #1270 "Customisable Rate Limiter"
**Is your feature request related to a problem? Please describe.**
I’d like to have different rate limits for different users on the same route, where a user would be identified by a header, and the user defines the rate limit count and period, which themselves could be headers.

**Describe the solution you would like**
Something along the lines of the `clusterClientRatelimit` filter, but without

[2020-01-13 10:06] szuecs commented on #1269
Clarified internally. Because we use gauge for the queue metrics, you can not use `rate()`.

[2020-01-13 10:06] #1269 closed

[2020-01-13 10:44] mikkeloscar commented on #1269
What confused me was the naming "accepted connections" which made me think it was a counter.

[2020-01-13 13:43] szuecs commented on #1270
Thanks for creating the issue!
For my understanding, `filter("group", 2000, "1h", "X-Ratelimit-Count", "X-Ratelimit-Period", "X-ID")` would allow 2000/h, if none of the headers `X-Ratelimit-Count` or `X-Ratelimit-Period` are provided. Each header can override the specific setting.

Do I understand the idea correctly?

[2020-01-13 13:53] #1266 closed

[2020-01-13 14:05] #1268 closed

[2020-01-13 14:32] dlmiddlecote commented on #1270
Hey! Yeah, that’s correct ☺️

[2020-01-13 23:25] dlmiddlecote commented on #1270
I also wonder whether adding the above routes will work in the `zalando.org/skipper-routes` Kubernetes Ingress annotations.

[2020-01-14 09:02] szuecs commented on #1270
@dlmiddlecote yes it should work, but of course test in a test cluster, to understand the outcome of `zalando.org/skipper-routes`. The custom routes specified like that will get all predicates and filters from the "main" ingress definition, such that you can not create arbitrary overlapping routes and catch requests from other ingresses.
A better way to specify complex routes via kubernetes, will

[2020-01-14 13:09] buzzlighty opened #1272 "Multiple methods in Method predicate"
**Is your feature request related to a problem? Please describe.**
I need to use separate filters for separate HTTP Methods but same path. E.G. I need to modify body of the request only for PUT,POST and PATCH. This will cause configuration duplication as only single method is allowed for predicate.

Example:
[code]

Would become:
[code]

There also might be other use cases for that.

**Describe th

[2020-01-14 16:41] szuecs commented on #1272
@buzzlighty thanks fir the issue, makes a lot of sense!

@aryszka can we do varargs easily for Method predicate?
I mentioned it in https://github.com/zalando/skipper/issues/623#issuecomment-382832728, but TBH I don't remember why we did not do it.

[2020-01-15 00:57] justinrcs opened #1273 "Help Requested with Inconsistent Filter Behavior"
Running Skipper as the Ingress Controller in eight separate Kubernetes clusters. In one of the clusters, deployed in AWS us-west-2 region, seeing inconsistent behavior with ingress filters. Requesting some help how to troubleshoot what could be the issue:

- Currently running Skipper v0.11.23 as a Daemonset.
- Pod has 2 separate Ingresses:
 Ingress 1 Uses host: app.dev2.domain and filter: secureOa

[2020-01-15 13:46] szuecs commented on #1273
Do I understand correctly, that you think applications with client cert auth are routed to the identity provider?

This sounds like you have routes that interfere with each other.
In your issue you wrote that you 2 different host definitions, which will make it impossible to interfere.
I would start to dump the routes and look at them: https://opensource.zalando.com/skipper/operation/operation/#ro

[2020-01-15 18:11] justinrcs commented on #1273
That's what the behavior seemed to demonstrate. However, today I am unable to reproduce the error. I did dump the routes to see if they were somehow interfering with one another but they looked properly configured.

Thanks for the response, I'll close the ticket and keep an eye on things. If it comes up again I'll gather more diagnostic info.

[2020-01-15 18:11] #1273 closed

[2020-01-16 12:45] buzzlighty commented on #1272
What do you think, either it is better to introduce new predicate `Methods` or leave `Method` for backward compatibility. Latter may confuse one, who reads code, though.

[2020-01-16 16:25] oporkka opened #1275 "Remove the experimental status of `setPath` template operations"
**Is your feature request related to a problem? Please describe.**
The documentation of setPath states that applying template operations in the value
is experimental. The feature has been there  for 3 years now (https://github.com/zalando/skipper/blame/fadf7fe361a05d5c4823b948360c176737cf8f87/filters/builtin/path.go#L33),
and probably tested enough in production to be non-experimental.

**Describe

[2020-01-16 19:48] szuecs commented on #1272
If Methods, we should put this into predicates/builtin/methods.go because we want to move all predicates into this directory. We plan to have a breaking change some day, but not now. I will check with @aryszka and respond with a direction for your proposed change.

[2020-01-17 08:00] TBeijen opened #1276 "Creating/updating ingress objects causes 404s in unrelated ingress objects"
Skipper version: v0.11.1

2 node EKS cluster, running skipper ingress as daemonset.

We experienced unrelated application(s) starting to return 404s after deploying a new application containing 2 ingress resources.
Initially it was 'fixed' after uninstalling the new application (scoreboardapi) and re-installing. However after manually editing an ingress object, we now have a situation where one in

[2020-01-17 08:24] TBeijen commented on #1276
Startup log after bumping to skipper v0.11.25:
[code]
Those ''catch-all name in * doesn't match *' errors are gone, so there's that.

[2020-01-17 09:49] aryszka commented on #1272
let's create a new predicate, called "Methods", and put in the predicates/methods/methods.go, so that the package name would become "methods", too.

One reason is having the legacy "Method" field on the eskip.Route objects. The canonical way of defining new predicates is indeed to create a new PredicateSpec.

---

The anecdotal reason for not having varargs in the Method predicate is that we wante

[2020-01-17 09:51] aryszka commented on #432
Resurrecting this thread...

One of the plenty topics to address are the legacy predicates that have a named field representation on the eskip.Route object, e.g Path, Method etc.

Related: https://github.com/zalando/skipper/issues/1272

[2020-01-17 10:05] szuecs commented on #1276
@TBeijen thanks for providing so detailed information.
In general `PathSubtree()` does not support a single `*` without a name afterwards. If you want to match everything that starts with a slash, then `PathSubtree("/")` is already what you wanted to specify.
[code]

For the flapping 404, it could be fixed by https://github.com/zalando/skipper/releases/tag/v0.11.5.
Do you see these kind of problem

[2020-01-17 16:42] linki opened #1277 "[Kubernetes] Refresh Service Account token before it expires"
**Is your feature request related to a problem? Please describe.**

We would like to transition to issuing ServiceAccount tokens that expire, aka [BoundServiceAccountTokenVolumes](https://github.com/kubernetes/kubernetes/issues/70679).

Skipper's Kubernetes data client is currently not aware that ServiceAccount tokens can expire and therefore only reads the token once when the client is initialize

[2020-01-17 22:14] szuecs commented on #1277
Sounds good, but we don’t like client-go.
We have already a [secrets module](https://godoc.org/github.com/zalando/skipper/secrets) which you can use to read and update secrets.
I also work on providing an http client in a branch https://github.com/zalando/skipper/blob/feature/skipper-http-client/net/httpclient.go that should also use the secrets module and you can use this client to replace the cu

[2020-01-20 09:41] TBeijen commented on #1276
Had these 2 commands running in parallel for 1 hour. Didn't observe a single 404 using skipper v0.11.25.

So, I assume it was indeed the issue fixed in v0.11.5. If not, I'll re-open.

[code]

[code]

[2020-01-21 09:46] gchudnov commented on #1140
@ancelotpinto
you can use use `"Set-Cookie"` to avoid javascript code.

[2020-01-21 10:40] kolbis opened #1279 "Question: eskip routes using ingress resources VS etcd"
We are running skipper as ingress controller on our k8s cluster.
According to the documentation, it is recommended to use ingress resources (and k8s data client) to configure routes.
it implies that there should always be a developer/devops to create the routes.

Given the above I have a few questions / best practices:
1. why is it recommended to use ingress resources to configure routes?
2. what

[2020-01-21 13:08] szuecs opened #1280 "safer ingress to svc with no endpoints"
We should omit creating routes for service type ClusterIP, that has no endpoints.
Right now we fallback to service IP and we had multiple times issues with people migrating ingress to different namespace.

[2020-01-21 14:16] szuecs commented on #1279
@kolbis our main idea for the kubernetes dataclient is, that we enable devops organzations. For us it means developers own the whole stack including the loadbalancer, and in order to deploy they create an ingress resource.
If your idea is different as you stated, it means you can use a different [dataclient](https://opensource.zalando.com/skipper/operation/deployment/), for example [etcd](https://

[2020-01-21 14:28] kolbis commented on #1279
@szuecs thank you for the response.
It does clears up some of my questions.

- why did you depricated it?
- Why do you plan to remove support for inkeeper?

[2020-01-21 14:52] shamil opened #1281 "Skipper doesn't strip port portion from host header when matching routes"
**Describe the bug**
Skipper doesn't strip port portion from host header when matching routes

**To Reproduce**
Add context, for example:

[code]

2. http request with headers (truncate your secrets)

Works

[code]

Doesn't work (I get 404)

[code]

**Expected behavior**

The route should match regardless whether the port specified in `Host` header, it is fully RFC valid (https://tools.ietf.org/ht

[2020-01-21 15:12] szuecs commented on #1281
I am not 100% sure, if I understand the RFC similar to your statement.
I tested your example in our setup and I get a 400 from AWS ALB:

[code]

[2020-01-21 15:22] shamil commented on #1281
Try to do the request directly not from ELB, since AFAIK ELB (with HTTP listener), will strip the port automatically.

dowsn't work

[code]

works

[code]

where `localhost` is skipper listener directly, without LB or Reverse proxy behind it

[2020-01-21 16:28] szuecs commented on #1281
What I meant with my example is, that it seem the RFC is not clearly stating what you supposed in the issue.

[2020-01-21 17:10] aryszka commented on #1281
I think that when it comes to the plain eskip routes, then the we can configure the Host headers so that they tolerate any port, because it's a regexp, and it could be simply `Host("^www.example.org(:[0-9]+)?$")`. Fine, I'd say.

The problem with the ingress may be that we enforce the host names in the generated Host predicates to match only if there is no port. So I would turn around the problem

[2020-01-21 17:56] universam1 opened #1282 "OIDC and authZ support"
**Is your feature request related to a problem? Please describe.**
Authentication (`authN`) via OIDC seems to be working fine. However there appears to be no information if and how authorization filtering (`authZ`) can be implemented?

**Describe the solution you would like**
Skipper should be able to parse the `JWT` and determine path based access based on `group` membership.

**Describe alternat

[2020-01-21 17:58] szuecs commented on #1281
@aryszka fine for me.

[2020-01-21 18:37] shamil commented on #1281
@aryszka yes, that's will solve the issue I'm experiencing
thanks

[2020-01-21 23:48] szuecs commented on #1282
The authz part is missing, yes.
It should be ok to implement. The question is how to specify the configuration for authz in the filter.

[2020-01-22 07:39] szuecs commented on #1279
Inkeeper is not able to handle so many updates, as far as I remember it was less than 10000 routes and we have  one skipper with >200000 routes. Basically it was a unsuccessful test, that is not removed because we plan a breaking change to clean more things up. Everything marked as deprecated will be removed.

To answer your 3. question:
In skipper project you find ./cmd/eskip/ which builds a bina

[2020-01-22 11:43] universam1 commented on #1282
Would a subsequent, independent filter like `jwt-contains` provide advantages:
- separation of concerns
- independent of OIDC implementation
- could be used at a later skipper instance as the JWT token is forwarded
- would allow abstraction, ex. on cluster level an authN gatekeeper and on application level authZ: advantage the app-ingress doesn’t have to know client secrets!

[2020-01-22 11:51] #1279 closed

[2020-01-22 12:33] szuecs commented on #1282
We could put the parsed IDToken in the statebag in the authN (current) filter and use a new filter, like `validateAnyClaims`, `validateAllClaims` to do the authZ. Not sure about the forward, but we can use the already existent `forwardToken()` (maybe needs some little changes) to forward the statebag entry to the backend.

@aryszka what do you think?

[2020-01-22 13:03] szuecs opened #1283 "Kubernetes dataclient should read service account token regularly"
When we create a new kubernetes dataclient we use `readServiceAccountToken()` once to fetch the token to access k8s API. We should support rotating access tokens, so reading every now and then the token on `LoadUpdate()` an/or `LoadAll()`.

As we want to enable token rotation, we need to update tokens regularly, soon. Maybe we could use our secrets.SecretsReader implementation https://godoc.org/gi

[2020-01-22 15:20] ioggstream commented on #1169
@tkrop @whiskeysierra the I-D proposal is essentially the result of this discussion https://github.com/zalando/restful-api-guidelines/issues/379#issuecomment-392705421

It's fine to stick with the `X-` for now :) OTOH it would be great if Zalando could in some way support the proposal writing a comment  here https://github.com/ioggstream/draft-polli-ratelimit-headers/issues/1

[2020-01-22 15:36] szuecs commented on #1169
Thanks @ioggstream , makes sense

[2020-01-22 18:04] universam1 commented on #1282
@szuecs Unfortunately not for us as we use it as of now. Consider following example jwt:

[code]
The mere check of the claim `group` does not suffice, we have to check if it contains a specific one.
It would even be better to support matching. May be that would even be a simpler approach

[2020-01-23 10:10] szuecs commented on #1282
@universam1 we have a similar custom thing called "teams".
How would you like to express this in the filter?
I also wonder if a list based key is enough or if there might be use case that need nested structures.

[2020-01-23 17:48] universam1 opened #1284 "filter oauthOIDCUserInfo not found"
**Describe the bug**
running latest version and several filter are not found
registry.opensource.zalan.do/pathfinder/skipper:v0.11.27

**To Reproduce**

[code]
logs:
[code]

same applies to `oauthOIDCAnyClaims`:
[code]

[2020-01-24 06:21] kolbis opened #1285 "[Question] skipper Ingress resources examples"
I am looking for examples for defining ingress resources for skipper.
Beside the following [documentation](https://opensource.zalando.com/skipper/kubernetes/ingress-usage/), where can I get more examples?

For instance, how would you create ingress resources for the following routes:
path1: *  -> "https://www.example.org";
path2: Path("/home") -> "https://www.google.com";
dynamicPath1: Path("/cata

[2020-01-24 08:13] universam1 commented on #1089
Looks like we are hitting the same issue

[2020-01-24 08:32] universam1 commented on #1284
looks like the docs are wrong regarding caps:

https://opensource.zalando.com/skipper/reference/filters/#oauthtokeninfoanyscope

compare "oauthOidcAnyClaims" vs. "oauthOIDCAnyClaims"

@szuecs

[2020-01-24 08:45] universam1 commented on #1282
Haven't seen nested structures so far, but I might be wrong.
Maybe a `validateAnyClaims` could be considered as a `contains-style` definition in case of an list, while the `validateAllClaims` could be explicit. If necessary a KV version might be added.

However, if that all would have to be covered by a single filter I believe it would be almost impossible. Rather a subsequent filter chain would g

[2020-01-24 08:59] szuecs commented on #1282
@universam1 I agree the idea of authz filters seems to be the way to go.
So I would say we create 2 filters to do authz and change oidc filters to put the parsed ID Token into `ctx.StateBag()[jwtIDTokenKey]`. The 2 authz filters can work read from the stateBag and validate the settings `jwtValidateAnyClaims()` and `jwtValidateAllClaims()`.

One open question is how to handle the cookie, that we se

[2020-01-24 09:17] szuecs commented on #1285
@kolbis In case of ingress skipper reads from ingress objects and I don't see how the first routes can be expressed. For routes without host definition you would need to create a backend, which will get default traffic.

[code]

You can read more documentation about ingress in https://kubernetes.io/docs/reference/generated/kubernetes-api/ . If you want to proxy to an external URL, you can use http

[2020-01-24 09:20] universam1 commented on #1282
Looks like we are hitting also #1089 @szuecs - with our given identity provider I'm currently unable to change that situation in order to verify the flow of the cookie ...

[2020-01-24 09:21] szuecs commented on #1089
It would be nice to have a test bed here, such that we can fix it more easy.

@universam1  Do you want to work on a fix for the oidc filter? Not sure if splitting the cookie or if gzip the cookie content could help. Split would be a fix that clearly works. What do you think?

[2020-01-24 09:46] aryszka opened #1287 "default filters in ingress should be applied to custom annotation routes"
**Describe the bug**

default filters are not applied to 'extra' routes from the custom route annotations.

**To Reproduce**
In Kubernetes Ingress:
1. run skipper with default filters configuration
2. create an ingress with a custom route in the annotations
3. check the generated routes, the one derived from the annotation won't have the default filters

[2020-01-24 09:53] szuecs commented on #1287
Default filters from file or prepend/append default filters?

[2020-01-24 10:29] universam1 commented on #1089
Chrome says "Malformed Response Cookies: This set-cookie had invalid syntax"

Example truncated:
[code]

[2020-01-24 10:44] #1284 closed

[2020-01-24 19:05] universam1 commented on #1089
Made a test for my idP token, they are 14.4k plain and 5.5k using simple gzip compression. Guess the ide to gzip @szuecs is an interesting one. Nevertheless, splitting must happen as well.
If you like @szuecs I could work on an implementation of that

[2020-01-24 21:32] szuecs commented on #1089
I am happy to review your pr or if you need guidance let us know!

[2020-01-24 21:40] universam1 commented on #1089
Ok sounds good- is there any policy or suggestions from your side that would be valuable to know for an acceptable implementation?

[2020-01-24 21:54] szuecs commented on #1089
Normal Go style, tests that show the problem and that your fix work. Simple is better. :)
Sign off your commits is mandatory.

[2020-01-28 09:50] universam1 commented on #1089
@szuecs Please see my first part of the proposed solution in #1289 . I like to split the chunking and the compressing into two PR as they are not directly tied and it will allow you possibly an easier review.

[2020-01-28 14:45] szuecs commented on #1089
Thanks @universam1 your PR triggered the release: https://github.com/zalando/skipper/releases/tag/v0.11.30

[2020-01-28 14:45] #1089 closed

[2020-01-28 22:40] universam1 commented on #1282
@szuecs Regarding your question how to express the filter syntax, my idea is to make use of the fact that a JWT is a json data type. Then we can simply use `jq` syntax to express our search and don’t have to bother about reinventing the wheel!
There are libs that provide this ready to use, example: https://github.com/savaki/jq
Let me know what you think

[2020-01-29 09:14] ancelotpinto commented on #1140
Yes it's possible, I was hoping to write it again in Go to avoid the penalty of Lua.

Should be started with it soon.

[2020-01-30 13:48] linki commented on #1277
Thanks, I'll take a look.

[2020-01-31 17:03] universam1 commented on #1089
@szuecs Please see the second part to properly deal with large JWT token and cookies by compressing the cookie. Your idea is a great one - it actually not only solves our issues with ALB limits but also improves the overall latency on the deployments quite a bit!

[2020-02-03 14:54] universam1 commented on #1282
@szuecs if you like me to come up with a proposal implementation please let me know

[2020-02-03 14:55] linki commented on #1277
Duplicate https://github.com/zalando/skipper/issues/1283

[2020-02-03 15:42] szuecs commented on #1282
@universam1 is map[string]string not enough?
I would not like to have too much dependencies for this (gojq) and the savaki/jq seems to be either state done or abandoned.

[2020-02-03 17:10] universam1 commented on #1282
I understand the objection, and I avoid pulling dependencies as much as possible!

I guess it is not, at least I see no other, smart solution. Example if I have to 'allow members of computer department', that is a subselection of groups array, how would I achieve it?

[code]
in jq language I could just state:
[code]

Again, might be overkill, however the Benchmarks of the project appear to be prom

[2020-02-03 17:17] szuecs commented on #1282
What we currently have is `Any` and `All`.
With `Any` you could configure `claimsAny("groups", "CD-xyz", "groups", "CD-abc")`.
With `All` you could have `claimsAll("groups", "CD-xyz", "groups", "Group-asdf")`.

[2020-02-03 18:32] universam1 commented on #1282
Guess I could live with that when it simplifies things a lot. 👍
Of course I would like to have a simple wildcard "*" support one day, but that could be decoupled! How can we get it rolling?

[2020-02-03 22:21] szuecs commented on #1282
@aryszka what do you think about jq-style support or not?

[2020-02-04 08:37] universam1 commented on #1282
@szuecs Thanks for the background, I'm new to skipper so that helps.

Did some research about JSON-query languages (besides of `jq`) and - if the discussion is still hot for such an option - maybe a better idea would be to use a proper language for. Found this one being lean and probably well fitting:
https://github.com/tidwall/gjson#check-for-the-existence-of-a-value

[2020-02-05 13:08] aryszka commented on #1282
Hi, somewhat late to the party, but here's my take on the topic:

My concern would be not so much the additional dependency (these are quite modest libraries), but with having one syntax in the other, where one needs to be aware of the escaping. But TBH, this below format is quite sloppy:

`claimsAny("groups", "CD-xyz", "groups", "CD-abc")`

And since we already have Lua filters, I'd actually say

[2020-02-05 14:52] universam1 commented on #1282
@szuecs I've uploaded a playground what I have put together so far in https://github.com/zalando/skipper/pull/1296 - probably that allows easier discussion of the approach, happy for your initial comments

[2020-02-06 17:28] universam1 commented on #1282
I believe the implementation #1296  is ready for review @szuecs - please let me know if that is acceptable

[2020-02-07 09:35] #1277 closed

[2020-02-07 12:23] universam1 opened #1297 "Error while checking known resource types: resource not found"
**Describe the bug**
Errors flooding the logs:
[code]

Possibly related to #1180

**To Reproduce**
Looking into sources, probably happening at cluster where no `RouteGroups` are used or defined

**Expected behavior**
No errors logged

**Observed behavior**
logs flooded

[2020-02-07 12:24] universam1 commented on #1297
FYI @szuecs

[2020-02-07 12:34] szuecs commented on #1282
@universam1 thanks, looks great to me :)

[2020-02-11 13:11] szuecs commented on #1282
was fixed in https://github.com/zalando/skipper/pull/1296 and released

[2020-02-11 13:11] #1282 closed

[2020-02-11 13:13] #1283 closed

[2020-02-11 13:57] szuecs commented on #1297
@universam1 sorry for the inconvenience we fixed it in https://github.com/zalando/skipper/pull/1300 and released the fix in >= https://github.com/zalando/skipper/releases/tag/v0.11.40

[2020-02-11 13:57] #1297 closed

[2020-02-11 16:52] szuecs commented on #1237
One case, when we observed slightly different times, but also missing proxy span: When skipper starts to block processing requests, because of the `lifo()` protecting impact on other routes.

[2020-02-13 10:55] universam1 opened #1305 ":bug: error while receiveing initial data;failed to load cluster state: secret not found: token"
**Describe the bug**
Since 0.11.42 or #1278 Skipper doesn't start up any more:

[code]

**To Reproduce**
switching from 0.11.41 to .42 image

not much further information yet

@szuecs

[2020-02-13 13:14] szuecs commented on #1305
I just validated it, thanks for creating the issue

[2020-02-14 12:44] szuecs commented on #1140
@muaazsaleem here are some pointers to build this feature:

Protocol information:
- https://tools.ietf.org/html/rfc6749
- https://tools.ietf.org/html/rfc6749#section-1.2
- https://tools.ietf.org/html/rfc6749#section-1.3.1
- https://tools.ietf.org/html/rfc6749#section-4.1

Library pointers:
- https://github.com/golang/oauth2/blob/master/oauth2.go#L138-L149
- https://godoc.org/github.com/dgrijalva/j

[2020-02-14 13:45] #1305 closed

[2020-02-14 14:12] szuecs commented on #1305
fixed in https://github.com/zalando/skipper/releases/tag/v0.11.46

[2020-02-14 16:44] universam1 commented on #1305
thanks @szuecs

[2020-02-16 13:24] buzzlighty commented on #1272
Please see https://github.com/zalando/skipper/pull/1308

[2020-02-17 16:58] topicus opened #1310 "Routes using tee() combined with <shunt> cause an increase in goroutines"
**Describe the bug**
Bodies of tee'd requests are not cleaned up when shunting responses. This causes the following goroutine to being executed indefinitely https://github.com/zalando/skipper/blob/master/filters/tee/tee.go#L155-L169

**To Reproduce**
1. route or ingress definition:
[code]
2. request with a body
[code]
3. response with headers
Depending on how strict is the backend configuration th

[2020-02-18 09:24] szuecs commented on #1310
@topicus thanks for the issue, we could reproduce it. Problem is that `<shunt>` does not read the body and `tee()` filter use a Pipe to read the body when the the backend processes the request body.

[2020-02-18 14:08] #1272 closed

[2020-02-20 13:38] aryszka opened #1312 "compress filter can panic"
**Describe the bug**
GZip compression may panic sometimes.

**To Reproduce**

1. use a backend that returns uncompressed data, with Content-Type: application/octet-stream
2. create a route to this backend that includes the compress() filter
3. generate high concurrent load to this route where the requests have the Accept-Encoding: gzip header

**Expected behavior**

compressed responses without pr

[2020-02-20 13:39] aryszka commented on #1312
investigation shows that the problem is caused by first putting the encoders back to the pool and only then closing them.

[2020-02-20 17:56] szuecs commented on #1312
@aryszka this can be closed, right?

[2020-02-24 18:10] xavivars commented on #689
Is there appetite for such a feature? We'd need the `weight()` predicate, and we're happy to implement it.

[2020-02-25 09:49] szuecs commented on #689
We started to have a [public document](https://docs.google.com/document/d/1fBrCTcvDGFVmCnmcwTevOfCa9j86TewAnn-D1U-Xtas/edit#) to collect problems and solution ideas.
Everyone is welcome to suggest paragraphs, changes, ....

[2020-02-28 11:39] szuecs opened #1320 "Support cluster internal ingress"
We should make sure that `cluster.local` routes and eastwest routes and if possible ingress with internal load balancer are properly protected with Source() predicate automatically set by the dataclient.
This should also work for RouteGroup.
We should make internal CIDRs configurable if it’s not already possible, too.

[2020-02-28 19:25] szuecs commented on #1233
I had a discussion about helm v3 an @shaunzie (?) convinced me that it makes sense to create an official helm chart to simplify testing the ingress stack.
We can have some knobs to change to make sure you can easily test a simple setup and one with all batteries included.

[2020-02-29 08:44] ruudk opened #1322 "Route requests directly to PHP via FastCGI"
**Is your feature request related to a problem? Please describe.**
When running a PHP application you need `php-fpm`, a fast CGI server. On order to serve traffic to it, you need something that is able to convert HTTP requests to FastCGI requests, like Nginx or Apache.

But having Nginx running only to pass the request coming from Skipper directly to PHP feels like a waste of resources.

**Describ

[2020-03-01 12:11] szuecs commented on #1322
Do you think about running this setup outside kubernetes?

For Kubernetes I would not recommend to use this setup.

[2020-03-01 12:39] ruudk commented on #1322
No, inside Kubernetes. Why wouldn’t you recommend this?

[2020-03-02 08:57] szuecs commented on #1322
@ruudk :
I think in general FastCGI was done, because of limitations of the load balancer stack in use before.
Within Kubernetes you have hpa + ingress which should be good enough to make your webapp scalable without the need of another reverse proxy.
So I think it will:
1) be more efficient, if you just use the php application without FastCGI and just reverse proxy to their http handlers.
2) be m

[2020-03-02 09:54] ruudk commented on #1322
The issue is that there is [no other way](https://serverfault.com/questions/652382/php-servers-without-apache-nginx-cgi-stack) to serve PHP than to use FastCGI.

[2020-03-02 13:22] szuecs commented on #1322
@ruudk fine for me!

[2020-03-02 16:48] #1233 closed

[2020-03-03 16:24] szuecs commented on #856
Btw. you can see it in opentracing with the ErrorTag, set in: https://github.com/zalando/skipper/blob/master/proxy/proxy.go#L888.
So valid response returned by the RoundTrip could be 4xx and 5xx, which are not tagged like this in our tracing implementation.

[2020-03-04 02:25] yury-kozlov commented on #1285
szuecs, when I tried to use custom-routes, I faced a problem that the path was not matched by skipper.
Meaning if I have this yaml:

	apiVersion: networking.k8s.io/v1beta1
	kind: Ingress
	metadata:
	  name: my-skipper-ingress-routes
	  namespace: default
	  annotations:
		kubernetes.io/ingress.class: skipper
		zalando.org/skipper-routes: |
		  Method("GET") ->
                setRequestHeader("my-

[2020-03-04 08:42] szuecs commented on #1285
Your 1. rule won't match any HTTP/1.1 requests, because Host header is mandatory.
`Host(/^$/)` will always be false in this case

[2020-03-04 13:29] aryszka opened #1333 "route validation"
Invalid route configuration, e.g. a type in a filter's name or invalid arguments are currently detected only in the last phase of the route updates, and it's not possible to reuse Skipper's code for route validation in external processes.

A validation mechanism that works with the in-memory eskip representation of the routes, and can be used in the data clients or in external processes. To make i

[2020-03-04 19:34] shamil commented on #1281
@aryszka @szuecs when should we expect this fix to land?

[2020-03-05 11:26] szuecs commented on #1281
@shamil do you want to create a PR for this?

[2020-03-07 13:39] ruudk opened #1342 "Flaky TestTrafficPredicateInRoutes test"
**Describe the bug**
Every time I run `make shortcheck` I have a 50% chance that I get a failure.

**To Reproduce**
`make shortcheck` keep trying until it fails

**Expected behavior**
No fail

**Observed behavior**

[code]

Any idea how to solve this?

[2020-03-07 13:41] ruudk commented on #1333
Permalink: https://github.com/zalando/skipper/blob/0cc8c24b726a3f2da11594c86b125dead0c324c3/routing/datasource.go#L220

[2020-03-09 08:37] szuecs commented on #1342
I can only reproduce a panic with:
[code]

[2020-03-13 14:42] AlexanderYastrebov opened #1345 "apiusagemonitoring does not support multiple variables in path segment"
**Describe the bug**
apiusagemonitoring filter does not support multiple variables in path segment.

Consider path with multiple variables, e.g. `/exchange-rates/{source-currency}-{target-currency}`

Current implementation splits path into segments by `/`:
https://github.com/zalando/skipper/blob/12212234a5ce108bd98bd46fefc230b68e5443ba/filters/apiusagemonitoring/spec.go#L296
and assumes single var

[2020-03-13 16:19] szuecs commented on #1345
How many var do you expect to be able to use?
This influences the memory usage.

[2020-03-16 16:59] #1322 closed

[2020-03-16 17:48] tkrop commented on #1345
The variables are not the problem here. It just effects the path matching. When we implemented api-monitoring, our rules excluded paths like this. We have changed the rule only recently to allow patterns with multiple variables representing a compound resource identifier. Seems as we have overlooked the effect on API monitoring.

I think we can fix this.

[2020-03-18 16:02] grassator opened #1355 "Custom response body for auth reject response"
**Is your feature request related to a problem? Please describe.**
Currently if you use [auth](https://github.com/zalando/skipper/blob/cce10ed4a000ee627df5d7988b658745505d41a9/filters/auth/auth.go) filters, you end up with a 401 response and an empty page. This ok in most situation, but in a user facing scenario, or when protecting an endpoint whose clients expect a JSON response this can cause is

[2020-03-19 09:33] aryszka opened #1360 "V1/Eskip/Support integers [EU/LU]"
https://github.com/zalando/skipper/issues/432

[2020-03-19 09:35] aryszka opened #1361 "V1/Eskip/drop the legacy predicate fields like Path and PathRegexp, and use only the Predicates list field instead"
https://github.com/zalando/skipper/issues/432

[2020-03-19 09:36] aryszka opened #1362 "V1/Eskip/refactor the Backend: a single structure field, with the type and the arguments contained - [LU]"

[2020-03-19 09:38] aryszka opened #1363 "V1/Eskip/make the Host and HostRegexp predicates named like the Header and HeaderRegexp predicates. Currently, Host is really HostRegexp, while there's no exact host matching predicate. - [EU/LU]"
https://github.com/zalando/skipper/issues/432

[2020-03-19 09:39] aryszka opened #1364 "V1/Visibility/smarter way to enable/disable metrics types"
https://github.com/zalando/skipper/issues/432

[2020-03-19 09:39] aryszka opened #1365 "V1/Visibility/get rid of global objects - [LU]"
https://github.com/zalando/skipper/issues/432

[2020-03-19 09:40] aryszka opened #1366 "V1/Visibility/unified telemetry"
https://github.com/zalando/skipper/issues/432

investigate whether it is possible to shift towards a unified telemetry approach and whether it fits in the scope without delaying the other changes too much [more details required]

[2020-03-19 09:41] aryszka opened #1367 "V1/Routing/Revisit templating - [EU/LU]"
https://github.com/zalando/skipper/issues/432

Revisit templating, and the usage of path params and named groups in regexp replace filters (e.g. modPath), to have a standard format for template arguments

[2020-03-19 09:42] aryszka opened #1368 "V1/Configuration/make the naming of the config fields consistent (e.g. revisit the usage of enable/disable) - [EU/LU]"
https://github.com/zalando/skipper/issues/432

[2020-03-19 09:43] aryszka opened #1369 "V1/Config/group the config fields - [EU/LU]"
https://github.com/zalando/skipper/issues/432

where possible group the config fields by functionality, similar to the kubernetes config fields. Consider if levels are good. E.g. -kubernetes.api-url

[2020-03-19 09:44] aryszka opened #1370 "V1/Operation/health context"
https://github.com/zalando/skipper/issues/432

introduce a health context, where individual features are able to set healthy/unhealthy state

[2020-03-19 09:45] aryszka opened #1371 "V1/Deprecated/Drop deprecated features/alternatives - [EU/LU]"
https://github.com/zalando/skipper/issues/432

[2020-03-19 09:47] aryszka opened #1372 "V1/Package structure/move all the dataclient packages under dataclients - [LU}"
https://github.com/zalando/skipper/issues/432

[2020-03-19 09:48] aryszka opened #1373 "V1/Package structure/find a better name for "DataClient", it's kind of cute but not meaningful - [LU]"
https://github.com/zalando/skipper/issues/432

[2020-03-19 09:48] aryszka opened #1374 "V1/Package structure/refactor filters builtin, extract the actual filters to their own package like the recent ones - [LU]"
https://github.com/zalando/skipper/issues/432

[2020-03-19 15:06] ruudk commented on #1371
This is mostly done, right?

[2020-03-19 15:09] ruudk commented on #1363
So what does this mean? What needs to be done?

[2020-03-20 11:14] aryszka opened #1376 "V1/eskip/consistent validation of special predicates"
in eskip.ValidatePredicates(), we check for only max one Path and max one Weight predicates. The rules really should be:

- 0 or 1 of either Path or PathSubtree
- 0 or 1 Weight

See: https://github.com/zalando/skipper/blob/release/v1/eskip/predicates.go#L54

[2020-03-22 22:14] szuecs commented on #1355
@grassator I don't understand what the benefit is.
401 is `not allowed` so why does a json body help?
Clients should be able to react and show meaningful errors to users with a 401 response.

[2020-03-23 08:44] aryszka commented on #1355
i can rather imagine a filter similar to the inlineContent() but one that is conditional. E.g, a route could look like:

[code]

where the error object would be returned as the response only if the status is 401.

One advantage of this is that this way we don't overload too much the auth functionality, and the other advantage is that it can be used in a more generic way, e.g. for a common 404 page

[2020-03-23 09:13] grassator commented on #1355
@aryszka I really like your suggestion! It is way more general and fits the use case properly.

@szuecs To provide more context on the main setup I'm considering:

1. Browser contacts an edge server for an HTML / JSON payload with explicit `Accept: text/html` / `Accept: application/json` respectively
1. Edge server transforms user session into an auth token for internal requests and routes it to a

[2020-03-23 10:57] AlexanderYastrebov commented on #1345
Another approach could be to document it as feature/implementation detail.

[2020-03-23 10:59] ruudk commented on #1376
Would it be an idea to add a method to the `Predicate` interface:
[code]

[2020-03-23 13:51] ruudk opened #1378 "V1/ find solution for disabled tests"
When fixing https://github.com/zalando/skipper/issues/1376 we needed to disable these tests:
[code]

To not block the progress of https://github.com/zalando/skipper/pull/1377 I create this issue so that @aryszka can figure it out later :)

[2020-03-23 17:31] szuecs commented on #1355
@aryszka sounds good!
@grassator good to have the context, thanks!

[2020-03-24 22:27] samuelthan opened #1381 "skipper ingress controller vs kube ingress aws controller"
In reference to https://opensource.zalando.com/skipper/kubernetes/ingress-controller/, there seems to be no mention of the comparison between skipper ingress controller vs [kube ingress aws controller](https://github.com/zalando-incubator/kube-ingress-aws-controller)

When should i choose to use skipper ingress controller vs kube ingress aws controller ?

thanks

[2020-03-25 19:05] ruudk commented on #1376
@aryszka This can be closed because the PR has been merged :)

[2020-03-25 19:46] aryszka commented on #1381
Thanks for your question!

We may need to clarify this better in our documentation. Skipper and kube-ingress-aws-controller are not alternatives but they complement each other.

Skipper is only a proxy and basically just executes the routing described by the ingress specifications. (It can be used outside of Kubernetes, as well.) It listens on the configured address on the nodes and forwards the r

[2020-03-26 12:19] #1355 closed

[2020-03-27 14:04] aryszka opened #1386 "v1/net/move the queue listener under the net package"
#432

This listener would fit well in the net package and doesn't need its own package: https://godoc.org/github.com/zalando/skipper/queuelistener

[2020-04-01 11:43] aryszka commented on #1207
This design is intended to describe the approach supporting gradually increasing the traffic sent to new backend endpoints.

**Problem:**

When using the load balanced backends, and the backend service is scaling out horizontally, new backend endpoints are added, and once Skipper detects the new endpoint, it immediately starts sending the proportional traffic rate to the new endpoint. In certain c

[2020-04-01 14:48] #1345 closed

[2020-04-03 08:37] szuecs opened #1400 "New filter inlineContentIfStatus has no documentation"
https://github.com/zalando/skipper/pull/1380 Has no docs

[2020-04-03 09:52] aryszka commented on #1400
i pushed the docs, not sure why i forgot to open the PR: https://github.com/zalando/skipper/pull/1401

[2020-04-07 15:23] szuecs opened #1410 "Kubernetes 1.18 ingress class changes"
https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/
Path types are now in spec that we already support via annotations, so they followed my comments. (Yeah)

Host header match (globbing)with wildcards to the next dot.

Ingress class:
Ingress class Resource supports default ingress class.
https://twitter.com/learnk8s/status/1247439078154330113?s=21
Ingress grad

[2020-04-08 08:43] aryszka commented on #432
https://github.com/zalando/skipper/pull/1347

[2020-04-08 08:49] aryszka opened #1414 "V1/Proxying - Proxy errors/aborts and response filters"
Revisit those error cases or other terminations of the proxying where the error response is not passed through the response filters. E.g. rate limited requests. The responses in such cases should go through the response filters.

As part of: #432

[2020-04-08 12:27] lambertpan opened #1415 "cache duration?"
Nginx seems support the auth-cache-duration, do we have the same functionality in Skipper. If so what is the annotation in use with kubernetes?

[2020-04-08 12:53] aryszka commented on #1415
Can you link to documentation of auth-cache-duration?

Skipper doesn't cache the outcome of the tokeninfo checks, if this is what you are looking for. It would be a good thing, but it's not yet implemented. In Kubernetes, we use a sidecar currently, that regularly exchanges the required signatures in the background, and executes the validation locally. I am aware that this may require some more ef

[2020-04-08 14:53] jbspeakr commented on #1414
If I could upvote, I would upvote this.

[2020-04-08 17:44] szuecs commented on #1415
@lambertpan which kind of auth filters are you using or is it a general question?

[2020-04-10 12:00] ruudk opened #1417 "Support ingress without http path to prevent "invalid ingress item: rule missing http definitions" warning"
I want to serve some `inlineContent` based on predicate `Header("Trigger", "true")` for some domains.

I do this with:
[code]

Kubernetes accepts this input and `kube-ingress-aws-controller` will provide a loadbalancer for it.

But Skipper ignores it and gives a warning:
[code]

In order to let Skipper accept it, I need to write it like this:
[code]

Skipper will accept it, but it will create the

[2020-04-10 15:43] szuecs commented on #1417
Please use RouteGroup for this case.

[2020-04-12 13:47] kolbis opened #1419 "Skipper Gitops K8s Operator"
I would like to store all skipper routes in a git repo and implement a GitOps process for managing skipper routes.
Once the routes are pushed into the repo, a k8s operator pull the changes and apply them to the cluster.

[2020-04-12 14:47] aryszka commented on #1419
Hi @kolbis ,

I think this should be possible. You need to implement the operator, that would generate ingress objects or [route groups](https://opensource.zalando.com/skipper/kubernetes/routegroups/), and would keep them up-to-date. Things to consider are: which details of the desired routes you'd like to store in a git repo, and which part should depend on the current state of the cluster, e.g.

[2020-04-13 09:35] ruudk commented on #1417
Not sure if that's possible, because:
https://github.com/zalando/skipper/blob/a192a7dec3fa08e73f60a921d5bf27b2b61abcab/dataclients/kubernetes/deploy/apply/routegroups_crd.yaml#L34-L36
https://github.com/zalando/skipper/blob/a192a7dec3fa08e73f60a921d5bf27b2b61abcab/dataclients/kubernetes/deploy/apply/routegroups_crd.yaml#L42-L44

So that means that you need to specify backends always?

[2020-04-13 10:37] szuecs commented on #1417
You can use shunt as backend which is what you want or I completely miss understood your goal.

[2020-04-13 11:15] ruudk commented on #1417
@szuecs You're right.

[code]

creates the following routes:
[code]

But when I change it to
[code]

I somehow get this dangerous catch-all:
[code]

Why does it insist on creating this catch-all?

[2020-04-13 11:27] szuecs commented on #1417
I think it’s ported how ingress behaves in skipper. It was a safety reason. You can specify all routes for the given host in this RouteGroup if it’s possible in your case. You could even use status(404) -> <shunt> to reply similar to route not found.

The https redirect has also the filter applied, not sure if this should be done.
Wdyt @aryszka?

[2020-04-13 11:40] ruudk commented on #1417
That doesn't work for me. I want to mix Ingress and RouteGroups. That means that my Ingress-es already have the hosts defined. I just want to introduce some new special routes via RouteGroups. But that catch-all scares me because I think it can conflict with the routes that are set-up via Ingress.

What is the `safety reason`?

[2020-04-13 14:06] szuecs commented on #1417
Good question, I don’t remember (I also didn’t find the issue that could explain it.
I think with RouteGroup all of this changed again and we have to consider ingress and RouteGroup can be mixed.
Maybe we can create a flag to disable the Catchall route creation. We might be able to drop the flag on the v1 branch.
Wdyt?

[2020-04-14 09:11] aryszka commented on #1417
The "safety" is not actually a safety. The reason is that skipper by default, when no route is found returns 404. It was decided that this is not the best in the role as Kubernetes ingress, I don't remember why. So when no route is found, then skipper ingress returns the a configured default status code, 5xx something. But then if there is a valid ingress that handles only requests with a specific

[2020-04-19 18:38] szuecs opened #1420 "Geo ip lookup"
https://github.com/autom8ter/geodb/ maybe to checkout

[2020-04-19 18:39] szuecs commented on #1419
You can also use the etcd dataclient to store the routes and gitops script push’s to etcd.

[2020-04-19 18:47] #1400 closed

[2020-04-24 14:55] appu-sm opened #1421 "Enable Https usin TLS"
Why HTTPS support is not provided, from the pod logs i can see "TLS settings not fond, defaulting to http" but i couldn't find any option or document to enable HTTPS. Will this feature be included or not?

[2020-04-24 17:35] szuecs commented on #1421
I don't understand what you mean:

[code]

[2020-04-28 18:37] ruiaraujo opened #1423 "Decompress filter"
Skipper supports compressing responses which allows backend system like NodeJS to delegate CPU intensive work to the ingress. Ideally this could be also supported on the request side.

**Describe the solution you would like**
A new filter named decompress that would decompress the request body.

**Describe alternatives you've considered (optional)**
Skipper doesn't support the filter and the backe

[2020-04-28 19:53] szuecs commented on #1423
Sgtm, I assigned you to make sure we know in the issue listings.

[2020-04-28 23:22] szuecs commented on #1024
If you have this problem, you might want to consider to use https://opensource.zalando.com/skipper/kubernetes/routegroups/ instead.

[2020-04-29 09:19] aryszka commented on #1423
this is a documentation issue. The filter exists: https://godoc.org/github.com/zalando/skipper/filters/builtin#NewDecompress

But the documentation is missing from here: https://opensource.zalando.com/skipper/reference/filters/

Sorry, for the confusion. Will fix it.

[2020-04-29 10:07] ruiaraujo commented on #1423
@aryszka I want Decompress on the request path.

[2020-05-15 05:18] NuckChorris opened #1426 "Lua: ctx.header is empty?"
**Describe the bug**
I'm using an inline Lua script to parse the Host and inject part of it into the path, but `ctx.request.header['Host']` is empty.  In fact, `ctx.request.header` is an empty list.

**To Reproduce**
A Lua filter:
[code]

And then you make a request.  Here's one I made:

[code]
Which gave this access log line:
[code]

And this is where it stops acting normal...

**Expected behavio

[2020-05-15 17:01] szuecs commented on #1426
Thanks for creating the issue. As far as I understand https://godoc.org/net/http#Request without testing it, it could be that Go doesn’t have it in the Headers map. You could try to use request.url and get the host header from there. If this doesn’t work it would make sense to add the host to the lua table https://github.com/zalando/skipper/blob/master/script/script.go#L188.
Pull requests are welc

[2020-05-15 17:04] NuckChorris commented on #1426
I logged `request.url` and it only shows the path so I can't parse the host out of that. How difficult would it be to get the Host added to the map? Is there a reason for the whitelist instead of a full `Map<string, string[]>` with all headers?

[2020-05-15 17:27] szuecs commented on #1426
As I wrote, maybe host is not in Go headers map, because it is already in request.Host.
I don’t see a whitelist of headers on our side.

[2020-05-15 19:47] NuckChorris commented on #1426
When I try `ctx.request.host` or `ctx.request.Host` I get this:

[code]

Looks like those don't exist either :(

[2020-05-15 19:48] szuecs commented on #1426
Thanks for testing!

[2020-05-20 13:25] szuecs commented on #850
We now support ingress with `host: myapp.skipper.cluster.local` (cluster.local) will be ignored by kube-ingress-aws-controller and external-dns, but skipper will create the route as defined in ingress.

[2020-05-27 12:01] rafaellima opened #1428 "The flag -ratelimits doesn't accept cluster-based strategies"
**Is your feature request related to a problem? Please describe.**
I want to enable global rate-limiting (using Redis ring shards) by using the command line `-ratelimits` flag. Although cluster-based options are available in the implementation[1] and documentation[2], they can't be set via command line because there is a validation that accepts only one of the following options: (client/service/di

[2020-05-27 16:07] szuecs commented on #1428
Sounds great!

[2020-05-27 16:13] szuecs commented on #1426
I validated that Go does not have the Host in the request.Header.Get("Host"):

[code]

Test:

[code]

[2020-05-27 18:12] szuecs commented on #1426
In #1431 I tested that we can get request.host with the fix. Setting request.Host does not change the proxy request call, but the path can be changed via url.

Route:
[code]

proxy:
[code]

backend:
[code]

client
[code]

@aryszka Interesting that in the proxy access logs the changed Host is used, but the proxy request use the one from the backend. If I use `preserveHost("true")`, then I get the o

[2020-05-27 18:13] szuecs commented on #1426
I think it's good enough for the issue @NuckChorris , right?

[2020-05-27 18:25] szuecs commented on #1421
@appu-sm do you mean TLS from skipper to pods in kubernetes?

[2020-05-27 18:27] NuckChorris commented on #1426
It is indeed! Thanks a ton for getting this fixed!

[2020-05-27 18:31] szuecs commented on #1419
@kolbis If you think your suggestion is different please reopen and explain in more detail what the dataclient should provide.
Thanks

[2020-05-27 18:31] #1419 closed

[2020-05-28 08:44] #1426 closed

[2020-06-06 10:22] AlexanderYastrebov opened #1436 "bearerinjector filter requires absolute secret path"
**Describe the bug**
1. Documentation [states](https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#bearerinjector) `bearerinjector` filter uses filename as argument while in fact it requires absolute secret path (i.e. it should be `bearerinjector("/tmp/secrets/write-token")` )
2. [Another part of documentation](https://github.com/zalando/skipper/blob/master/docs/reference/egre

[2020-06-06 10:46] AlexanderYastrebov commented on #1436
Another idea (a bit out of scope of this ticket) is to support glob credentials path in order to pick only certain filenames as secrets, e.g. `-credentials-paths=/meta/credentials/*-secret`

[2020-06-06 11:19] AlexanderYastrebov opened #1438 "Secrets module should log initial secret file update"
**Is your feature request related to a problem? Please describe.**

Secrets module logs periodic secret file update:
https://github.com/zalando/skipper/blob/8f3bb2b7d11c8cac07cd5d8486a7ab9e07ecd828/secrets/file.go#L160-L161
but not on initial load
https://github.com/zalando/skipper/blob/8f3bb2b7d11c8cac07cd5d8486a7ab9e07ecd828/secrets/file.go#L129-L140

**Describe the solution you would like**
Mov

[2020-06-06 21:53] AlexanderYastrebov commented on #1436
Not needed, multiple secrets can be specified explicitly if needed:
`-credentials-paths=/meta/credentials/service1-token-secret,/meta/credentials/service2-token-secret`

[2020-06-08 10:23] #1438 closed

[2020-06-08 10:29] szuecs commented on #1436
I changed the docs

[2020-06-08 10:29] #1436 closed

[2020-06-08 14:30] szuecs opened #1440 "tee() routes for advanced shadow traffic"
**Is your feature request related to a problem? Please describe.**

Shadow traffic is used more and more and sometimes you need additional features, which can create complex routes for the user.
People want for example ratelimit the backend service that is targeted by `tee()`.

**Describe the solution you would like**

A solution could be to add a Predicate `Tee`, that matches a statebag entry (or

[2020-06-08 15:04] aryszka commented on #1310
Fixed in: https://github.com/zalando/skipper/pull/1314

[2020-06-08 15:04] #1310 closed

[2020-06-11 21:15] AlexanderYastrebov commented on #1140
@gchudnov
According to https://tools.ietf.org/html/rfc6749#section-10.3

   in the URI fragment, which can expose it to unauthorized parties.

therefore javascript is required to pull it form location hash

[2020-06-11 21:36] szuecs commented on #1140
@AlexanderYastrebov this is public GH, don’t leak internal URLs, please.
The other thing is that implicit flow is another issue tracked there https://github.com/zalando/skipper/issues/624

[2020-06-11 21:47] AlexanderYastrebov commented on #1140
@gchudnov
According to https://tools.ietf.org/html/rfc6749#section-10.3

   in the URI fragment, which can expose it to unauthorized parties.

therefore javascript is required to pull it form location hash as skipper never sees location hash returned auth server

[2020-06-11 22:56] gchudnov commented on #1140
yes, got it.
thank you for the information.

[2020-06-12 00:07] AlexanderYastrebov opened #1444 "Support filter context (state bag) value templates"
**Is your feature request related to a problem? Please describe.**

It is often needed to transfer/reuse values within route. Currently special-purpose filters are created, e.g.:
- `queryToHeader`, `headerToQuery`
- `setContextRequestHeader`
- `setDynamicBackendHostFromHeader`

**Describe the solution you would like**

* Support template resolution in filter values from context (state bag).
* Add

[2020-06-14 09:23] szuecs opened #1446 "Prefer Same zone traffic to save costs"
Right now in kubernetes dataclient we use endpoints to get lb pool members. These are flat ip port tuples.

In Kubernetes there is a new feature endpointslices that have topology which enables us to have endpoints for specific zones for example. With this we can optimize traffic costs, because same zone traffic costs less than cross zone traffic.

In a discussion in slack a user wrote:

5% is huge

[2020-06-16 17:19] anchalkhandelwal opened #1448 "Oauth2 OIDC return ID token as JWT"
I am using 'oauthOidcAllClaims' filter which return access_token as JWT and userinfo and claims. I also want it to return ID_token as JWT. Is this possible in the current set of filters?

[2020-06-16 22:42] alvaro-qwantec opened #1449 "Host+Path+Regex integrated redirect rule"
**Is your feature request related to a problem?**
Yes, recently I started to use "kube-ingress-aws-controller" in my cluster k8s. A while ago I was using a Nginx server and I used the next redirect rule with success:

[code]

Is like a combination between modRequestHeader with modPath and Regex, and involves the entire request URL.

My question is, **How can I do the same thing with Skipper annota

[2020-06-17 11:51] burimshala opened #1451 "Rename inlineContent filter to finallyInlineContent"
**Is your feature request related to a problem? Please describe.**
There is no clear indication that this filter should be placed as the last one beside the documentation.

**Describe the solution you would like**
I want to make it obvious that this filter should be placed as the last filter which will be indicated by the finally keyword.

**Would you like to work on it?**
Yes, but no time

[2020-06-17 14:37] zoonage opened #1452 "Support multiple ingress controllers with different routing requirements in RouteGroup"
**Is your feature request related to a problem? Please describe.**
We would like to utilise two ingresses, one internal-only ingress for inter-cluster communication, and one external-only ingress for customer products. These require different routing logic to be applied depending on the ingress that it comes from

**Describe the solution you would like**
An ability to apply rules defined in RouteG

[2020-06-18 09:02] szuecs commented on #1451
I would prefer changing documentation, because if it is missing it will be ok and I don't think a rename would make it obvious.

[2020-06-19 09:45] szuecs commented on #1448
@anchalkhandelwal I am not sure.

Do you use https://opensource.zalando.com/skipper/reference/filters/#oidcclaimsquery to do authorization?

Did you check `Skipper-Oidc-Info` header in your backend?

[2020-06-19 13:47] LaseII opened #1453 "Provide filters for pathParamToX()"
**Is your feature request related to a problem? Please describe.**
I want to create a route where e.g a `responseHeader` can consume a route variable
This would enable us to create e.g a cookie value based on parameter.

**Describe the solution you would like**
[code]

**Would you like to work on it?**
no, no time and not enough experience with skipper yet.

[2020-06-19 19:26] azak-azkaran commented on #929
Maybe this library could help for handling https:
https://github.com/elazarl/goproxy

[2020-06-20 18:34] szuecs commented on #929
We likely have to reimplement this.
I want to have a better connection pooling and keep-alive is not implemented, too.
It’s a good idea to read the transport code, so thanks for the link!

[2020-06-20 18:48] szuecs commented on #1452
Thanks

[2020-06-23 07:32] AlexanderYastrebov commented on #1444
#1453 could be implemented given:
- `Path` predicate stores path params to state bag
- `setResponseHeader` filter supports value template substitution

[2020-06-24 01:58] anchalkhandelwal commented on #1448
Hello @szuecs

I am using skipper filter ‘**oauthOidcUserInfo**’ to get the token and the claims.
oauthOidcUserInfo("https://oidc-provider.example.com", "client_id", "client_secret",
    "http://target.example.com/subpath/callback", "email profile",
    "name email picture") -> "https://internal.example.org";

This sets the cookie in my browser and Skipper sends to the backend the access token and

[2020-06-25 10:27] szuecs commented on #1448
Sounds good to me.
Maybe @universam1 has some interest, too.

[2020-06-25 10:58] universam1 commented on #1448
:+1: see a use case to support a logout from the application initiated. It the `tokenContainer struct` would be extended, that data would be also accessible for `setHeaders` automatically

[2020-06-25 14:18] szuecs commented on #1448
Cool thanks for your input @universam1 !
@anchalkhandelwal I think feel free to go for the change!

[2020-06-25 16:30] szuecs commented on #1449
Thanks for the idea and options provided, I think it's a valid enhancement request.
We will likely need some time to do it.
There are some more use cases for templating with variables, it's great to have some use cases provided.

[2020-06-25 16:33] szuecs commented on #1452
Basically filter by class similar to ingress to separate which skipper controller deployment is reading which routegroups.

[2020-07-01 10:36] szuecs opened #1461 "shadow traffic routing issues"
Assume we have 2 routes without shadow traffic. `v1` is used to enter your site and in case you have a "valid" cookie you trust the client to enter the trusted part of our application.

[code]

Let's assume you built a replacement of `v1`, and want to test with some percentage of traffic, you would add a third route with `Traffic()` predicate:

[code]

It looks like you have a successful shadow tr

[2020-07-02 00:28] AlexanderYastrebov commented on #1444
Related to https://github.com/zalando/skipper/issues/1367

[2020-07-02 06:35] #1452 closed

[2020-07-02 18:49] AlexanderYastrebov commented on #1444
https://github.com/zalando/skipper/pull/1462#discussion_r448948138 demonstrates how header/query/cookie values can be projected for template variable resolution thus eliminating the need for *getter* filter variants to store value into context:
[code]

[2020-07-03 09:10] szuecs opened #1464 "Wrong traffic to route while RouteGroup traffic switching a route with Traffic() predicate"
**Describe the bug**
For example you have a routegroup with shadow traffic with 10% and later you traffic switch v1/v2 with 80%/20% will send more traffic than 10% to shadow backend as requested.

[code]

This will create the following eskip routes:
[code]

8% and 10% traffic to shadow while traffic switching is ongoing.

**Expected behavior**

10% traffic goes to shadow backend

**Observed behavi

[2020-07-03 10:13] aryszka commented on #1464
During the first step, kube_rg__default__rg_shadow__all__1_0 is tested, and it is matched with a 0.1 * 0.8 = 0.08 chance. In the next step, both kube_rg__default__rg_shadow__all__0_0 and can match the remaining 0.92, with either 0.8 * 0.92 or 0.1 * 0.92. This makes it a bit more complicated, and it's not exactly 0.18, but somewhat less. Though, this doesn't change the fact that we have this bug.

[2020-07-03 10:33] aryszka commented on #1464
Ran an experiment.

Routing:

[code]

Requests (1000 total):

[code]

Repeated 5 times, restarting Skipper before each run, so that the unspecified priority between `v1_10_shadow` and `shadow` could take effect. Results:

[code]

[2020-07-03 14:07] szuecs commented on #1464
Thanks @aryszka , yes it's not as bad but we have a bug.
Maybe not as important, because shadow backend should not harm if it dies and it's just more traffic than expected not less.

[2020-07-06 16:19] szuecs opened #1466 "diagnostics filter to log request headers"
It should log to OpenTracing and logs

[2020-07-07 16:18] szuecs opened #1470 "fix logHeader test"
The current test is dumping log and does a string Equal.
The logHeader loops around req.Header map and is not stable sorted.
This creates test flakyness.

I would like to omit output sorting in the filter because it means we read 2 times the map.

I tried to use proxytest with Log in a first hack to have better control, but I was not able to do this as fast as we need the filter change.

[2020-07-07 18:05] szuecs commented on #1466
https://github.com/zalando/skipper/pull/1469 did the fix for logHeader()

[2020-07-07 18:05] #1466 closed

[2020-07-07 20:32] szuecs commented on #689
https://opensource.zalando.com/skipper/reference/predicates/#weight-priority was done

[2020-07-07 20:32] #689 closed

[2020-07-07 20:33] szuecs commented on #660
This was done also for external-dns and kube-ingress-aws-controller and is in use by Zalando.

[2020-07-07 20:33] #660 closed

[2020-07-07 20:34] szuecs commented on #623
https://opensource.zalando.com/skipper/reference/predicates/#methods exists

[2020-07-07 20:34] #623 closed

[2020-07-07 20:35] szuecs commented on #1381
Closing to cleanup our issues

[2020-07-07 20:35] #1381 closed

[2020-07-07 20:37] szuecs commented on #610
With https://opensource.zalando.com/skipper/operation/operation/#tcp-lifo and route separation via lifo and lifoGroup https://opensource.zalando.com/skipper/operation/operation/#scheduler we have good countermeasures against exausting of goroutines.

[2020-07-07 20:37] #610 closed

[2020-07-07 20:42] szuecs commented on #583
I think this was done @aryszka

[2020-07-07 20:42] #583 closed

[2020-07-07 20:44] szuecs commented on #584
@aryszka Do we need to do something here?
I think our test strategy change was very good and the next is the validation webhook for RouteGroups, not sure if we can add an ingress validation webhook, too.
@muaazsaleem Maybe you know if we could also validate ingress?

[2020-07-07 20:47] szuecs commented on #551
Logs are now based on filter for example https://opensource.zalando.com/skipper/reference/filters/#enableaccesslog
If you check the code maybe you can see already how this can be implemented.

[2020-07-07 20:48] szuecs commented on #542
I guess the new thing is opentelemitry, so closing

[2020-07-07 20:48] #542 closed

[2020-07-07 20:53] szuecs opened #1472 "Log sampling filter"
add a log sampling filter to log only if `n` percent.
for example `logSample(0.01)` with `n` in `[0,1]`

[2020-07-07 20:53] szuecs commented on #534
With Predicates and https://opensource.zalando.com/skipper/reference/filters/#enableaccesslog or https://opensource.zalando.com/skipper/reference/filters/#disableaccesslog you can already do this.
For log sampling I will create another issue, but you could duplicate the routes and having on each duplicated one a Traffic(0.1) predicate and an enableAccessLog() filter to log 10% of traffic.
https://

[2020-07-07 20:53] #534 closed

[2020-07-07 20:59] szuecs commented on #360
https://opensource.zalando.com/skipper/reference/predicates/#weight-priority exists

[2020-07-07 21:05] szuecs commented on #1014
closing because of too few data provided for requirements

[2020-07-07 21:05] #1014 closed

[2020-07-07 21:06] szuecs commented on #1440
This was done

[2020-07-07 21:06] #1440 closed

[2020-07-07 21:08] szuecs commented on #997
10% to tee backend can be done with:

[code]

[2020-07-07 21:08] #997 closed

[2020-07-07 21:12] szuecs commented on #935
[code]

should be changed

[2020-07-07 21:18] szuecs commented on #734
this was done

[2020-07-07 21:18] #734 closed

[2020-07-07 21:23] szuecs commented on #704
Do we need more than https://opensource.zalando.com/skipper/reference/filters/#tracingtag or close this issue?

[2020-07-07 21:26] szuecs opened #1473 "retry filter"
This looks great to use, maybe as filter https://github.com/sethvargo/go-retry
Needs to check what if we have non idempotent requests like POST requests, but in general as opt-in feature could be done.

[2020-07-07 22:36] ruiaraujo commented on #704
@szuecs the idea would be to have something like `headerToTracingTag`, although something like https://github.com/zalando/skipper/issues/1444 could allow implementing this in a different way.

[2020-07-08 16:27] mikkeloscar opened #1477 "kubernetes: Add support for new ingress resource field `pathType` added in Kubernetes v1.18"
Kubernetes v1.18 introduces changes to the Ingress resource: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md#extending-ingress-with-and-replacing-a-deprecated-annotation-with-ingressclass

One of these changes is adding a `pathType` field to `ingress.spec.rules.http.paths.pathType` See relevant part of this [Ingress KEP](https://github.com/kubernetes/enhancements/b

[2020-07-08 16:39] mikkeloscar opened #1478 "kubernetes: Add support for IngressClass introduced in Kubernetes v1.18"
Kubernetes v1.18 introduced a dedicated resource + field for defining `IngressClass`. See the documentation here: https://kubernetes.io/docs/concepts/services-networking/ingress/#ingress-class

It would make sense for skipper to support ingress class in this way going forward.

[2020-07-09 13:31] szuecs commented on #704
I agree and think maybe #1444 is the more generic one which would allow better combinations for composition

[2020-07-09 16:00] szuecs opened #1481 "TestConstantlyUpdatingRoutes failing in GH actions"
--- FAIL: TestConstantlyUpdatingRoutes (10.27s)
    concurrency_test.go:393: failed to equally balance load, counters: lb group member 5 1420 lb group member 0 1344
    concurrency_test.go:393: failed to equally balance load, counters: lb group member 0 1344 lb group member 5 1420

[2020-07-09 16:29] szuecs commented on #1477
SGTM

[2020-07-09 16:32] szuecs commented on #1478
SGTM, because of Kubernetes, not that I think the change makes sense. The move towards v2: GatewayClass/Gateway/Route we likely don't do, because it creates only complexity without value.

[2020-07-10 10:21] muaazsaleem commented on #584
@szuecs we decided not to address ingress validation in #1482 because it requires a broader refactoring but we should be able to do this in the future.

[2020-07-10 14:36] szuecs opened #1484 "RouteGroup backend type service can not specify LB algorithm"
Basically we need to have the algorithm field also be as optional for Backends of type `service`

[2020-07-13 17:44] szuecs opened #1487 "v1 lua() script breaking changes"
https://github.com/zalando/skipper/pull/1485#discussion_r453721421

[2020-07-22 05:52] myaser commented on #992
what is the status of this issue
I see it was documentation issue, or there is a bug still?

I would like to contribute to skipper (Kubernetes ingress controller area) and was searching for my first issue 😄

[2020-07-22 06:07] myaser commented on #1478
hello, I would like to contribute to this issue

[2020-07-22 15:58] szuecs commented on #1478
Thanks I am happy to read a PR.
Let's see if this a good first issue, if not just tell us and we find something that maybe fits better.

[2020-07-22 16:02] szuecs commented on #992
@myaser the issue is not fixed.
Basically the default `-kubernetes-https-redirect=true` can not be overridden by `zalando.org/skipper-ingress-redirect: "false"` annotation.
Seems to be more simple than https://github.com/zalando/skipper/issues/1478 to fix, because testing is more simple and you don't need to introduce new types, which is in refactoring for adding a validation webhook for routegrou

[2020-07-28 17:38] tachang opened #1494 "Implement ApplicationLogJSONEnabled for ApplicationLog json formatted log lines"
**Is your feature request related to a problem? Please describe.**
We log everything in JSON and for some logs such as the ApplicationLog it does not seem to result in JSON.
I am not sure if this is a configuration error or not but I don't see it.

**Describe the solution you would like**
A setting called ApplicationLogJSONEnabled to output JSON

**Describe alternatives you've considered (optional

[2020-07-29 14:41] szuecs commented on #1494
@tachang sounds like a good enhancement. Do you want to create a PR, adding flag and config entry for having application logs also switchable to JSON?

[2020-08-05 17:07] kenotsolutions opened #1498 "Can we use a startup parameters in an ingress rule?"
Hi,

I could not find my question answer in the repository.  Can we use a startup parameter in an ingress rule? for example, I would like to use this disable-http-keepalives for only below ingress rule. I can disable it from Kubernetes skipper deployment but If I can I would like to disable keep alive for only this ingress rule not for all the k8s env.

I put it under annotations but it did not wo

[2020-08-05 19:46] szuecs commented on #1494
@tachang do you have opinions on https://github.com/zalando/skipper/pull/1496#discussion_r465616065 ?
If not we would merge this as it is.

[2020-08-05 19:47] #1481 closed

[2020-08-05 20:08] szuecs opened #1499 "Generalize backend opentracing tag"
https://github.com/zalando/skipper/pull/1495 introduced a way to get opentracing tag `skipper.backend_name`
This https://github.com/zalando/skipper/pull/1495/files#diff-6174ff750fcb17e93febb4b1ee2aec34R727 would be nice if we could use the PreProcessor for default routes like in https://github.com/zalando/skipper/blob/master/skipper.go#L1179

[2020-08-06 09:09] marcinzaremba commented on #1499
Does it make sense to overall make names for backends first class citizen in Skipper then? For sources that do not provide it (Ingress, direct eskip definition, etc.) that could be autogenerated like route names are (according to some sensible pattern). On the other hand isn't it much, is there any other use case that can be simplified/benefit from backends having names?

[2020-08-06 12:41] aryszka commented on #1498
Hi Tolgay,

currently, this is not possible, because we use a shared connection pool and the individual routes currently don't have control on the connection states. But it's a good idea for a new feature.

How I would imagine, we could create a filter that instruments the proxy mechanism to use the connections in a specific way, like always create a new one and close after each request that are h

[2020-08-06 12:41] #1494 closed

[2020-08-06 12:51] aryszka commented on #1499
Maybe but not sure. The route objects can have filters, that can set any key/value combination. Just like how we set the tracingTag. Since the routes are usually generated from a higher level representation like the ingress, we can say that the current way is fine for the majority of the use cases. On the routing level, or when the input is in eskip format, it would make sense only if it was possi

[2020-08-06 16:57] AlexanderYastrebov commented on #270
Should this be closed?

[2020-08-07 15:36] AlexanderYastrebov commented on #867
#1485 makes a workaround possible with a bit of scripting:
[code]
Demo:
[code]

[2020-08-10 19:43] rraraujo opened #1501 "Make query parameter to be passed to OIDC provider on oauthOidc filters redirect"
**Is your feature request related to a problem? Please describe.**
No. It is just a feature that would help us.

**Describe the solution you would like**
We need a way to pass dynamically a query parameter and value to the OIDC provider when the filters do the redirect to the provider.
Our OIDC provider accepts the query parameter "login_hint". The value passed in the parameter will be already set

[2020-08-10 21:33] szuecs commented on #1501
The link to the code is for configuring a filter, so here you can’t read the query from a request but do you suggest that you add an authcodeoption that if set would read a query from the request to pass it to the auth server?
If so sounds reasonable to me.
I am not sure what the spec says about the usage of authcode options but sounds reasonable to me.

[2020-08-10 21:38] #270 closed

[2020-08-11 14:07] rraraujo commented on #1501
Thank you @szuecs. You are right. Maybe it should be inserted [here](https://github.com/zalando/skipper/blob/master/filters/auth/oidc.go#L329) then?

Something like this:

        queryValues := ctx.Request().URL.Query()
        for k := range queryValues {
          f.authCodeOptions = append(f.authCodeOptions, oauth2.SetAuthURLParam(k, queryValues.Get(k)))
        }

[2020-08-11 21:42] szuecs commented on #1501
@rraraujo sounds good to me.
@universam1 what do you think about it?

[2020-08-12 10:40] brendanmaguire opened #1505 "RouteGroups spec.hosts field is inconsistent with documentation"
**Describe the bug**
The documentation indicates that the `spec.hosts` field is [optional](https://github.com/zalando/skipper/blob/master/docs/kubernetes/routegroup-crd.md#L18).

**Expected behavior**
Omitting the `spec.hosts` field should be valid.

**Observed behavior**
It is [actually required](https://github.com/zalando/skipper/blob/master/dataclients/kubernetes/deploy/apply/routegroups_crd.ya

[2020-08-13 17:30] aryszka commented on #1505
Thanks! We'll look into this. Or in case you already checked how to fix it a PR is welcome, or we're also happy to discuss a suggestion on how to fix it.

[2020-08-13 19:14] szuecs commented on #1505
@aryszka I think at Zalando cluster we enforce spec.hosts which doesn’t mean that we have to have it enforced in the oss version.

[2020-08-13 20:16] aryszka commented on #1505
Correct, I also believe that the implementation on Skipper side doesn't enforce it (to be verified), and only the CRD enforces it. I think the CRD needs to be fixed to not enforce the host, while we can find other ways for additional validation.

[2020-08-14 10:27] universam1 commented on #1501
Sounds like a great idea!
I wonder if this would need to be guarded by a feature flag in case the idP does not deal well with potentially included application queries?

[2020-08-14 21:40] szuecs commented on #1501
@universam1 as far as I understand the solution will use authCodeOptions to pass it as user input to the filter.
@rraraujo did I understand correctly?

[2020-08-18 07:08] #1417 closed

[2020-08-18 12:57] rraraujo commented on #1501
Thank you @szuecs and @universam1. Yes, using authCodeOptions was one of the options I mentioned. But, @universam1 is right, the code on my last post was not reflecting this option.

I will create a PR using authCodeOptions then. But just to see if you both have any suggestions, let me explain a possible solution with authCodeOptions.

If an application needs to send the username to idP as a query

[2020-08-18 19:02] szuecs commented on #1501
For me this sounds like the best solution. It’s opt-in so we don’t risk any problem others could get as side effect.
We can change it to the default behavior in skipper v1 or after some time doing a poll in slack and mailing list, if nobody cares we can default to it. Please create a follow up issue if you like to have it as default later.

[2020-08-20 16:41] mikkeloscar opened #1508 "Issue with Connection upgrade (SPDY/Websocket) since v0.11.118 (#1458)"
**Describe the bug**
For our Kubernetes setup we run skipper as a proxy in front of the kube-apiserver (https://github.com/zalando-incubator/kubernetes-on-aws/pull/3516). Since v0.11.118 (#1458) `kubectl exec` like operations (SPDY or Websocket I'm not sure yet) breaks with the following error:

[code]

**To Reproduce**

So far I just reproduced it in our rather complex setup with Kubernetes e2e t

[2020-08-24 08:07] #1508 closed

[2020-08-24 13:46] zeitlinger opened #1510 "add stateBagToTag filter"
**Is your feature request related to a problem? Please describe.**

I would like to identify callers in open tracing.

**Describe the solution you would like**

I know that this should be possible just by analyzing the parent spans, but this is not very useful due to

1. vendor tooling which makes this inconvenient
2. skipper itself being often being shown as the caller

Hence the idea to convert

[2020-08-24 19:59] AlexanderYastrebov commented on #1449
It is possible with lua scripting:
[code]

[2020-08-24 20:17] AlexanderYastrebov commented on #1453
It is possible with lua scripting:
[code]

[2020-08-24 20:32] AlexanderYastrebov commented on #1451
Generally to use a filter user consults documentation and [documentation for the `inlineContent`](https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#inlinecontent) states

IMO this should be closed to reduce backlog.

[2020-08-25 13:23] szuecs commented on #1451
@AlexanderYastrebov Yes thanks documentation was done

[2020-08-25 13:23] #1451 closed

[2020-08-26 16:51] rgritti opened #1514 "enableAccessLog filter actively disable routes that are not matched"
**Describe the bug**
Filter `enableAccessLog` with parameter disables access logs of status codes that are not matched.

**To Reproduce**
1. set `skipper.Options.AccessLogDisabled = false`
2. add a route with `-> enableAccessLog(4, 5)`
3. make a requests that returns 2xx

**Expected behavior**
I expect to see the access logs

**Observed behavior**
Access logs for the request are not shown

[2020-08-27 11:10] #1510 closed

[2020-08-27 11:27] AlexanderYastrebov commented on #1514
`enableAccessLog` [overrides](https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#enableaccesslog) global Skipper `AccessLogDisabled` setting per route

[2020-08-28 07:02] evangelion1204 opened #1516 "FlowId filter inject tag in open tracing span"
**Is your feature request related to a problem? Please describe.**
By tagging the spans it would enable people to do a search in their specific provider for a given flow id. Because Skipper is generating the id it would also be the perfect place to inject be. Especially helpful for people in 24/7 needing quickly map issues from skipper metrics to the actual tracing.

**Describe the solution you wo

[2020-08-28 10:16] lmineiro commented on #1516
An alternative that could make sense as well would be to add another flowId `[Generator](https://github.com/zalando/skipper/blob/master/filters/flowid/filter.go#L18)` that uses as FlowID the TraceID. that FlowID generator would then reuse the current tracing identifier as the FlowID instead of the other way around. This is actually the long term strategy for Zalando.

[2020-08-28 12:59] aryszka opened #1517 "compression level validation"
**Describe the bug**
The documentation states that the valid levels for the compress filter are [0..9], while the validation logic allows a wider range, see: https://github.com/zalando/skipper/pull/1515

**Expected behavior**
The safest is to limit the validation to 0..9, and explicitly support HuffmanOnly, and use the default when the compression level is not specified.

**Observed behavior**
Cur

[2020-08-31 07:46] evangelion1204 commented on #1516
Sound reasonable - any plan on applying that change? Will that be a new filter or modify the existing one?

[2020-08-31 11:23] AlexanderYastrebov commented on #702
I could not reproduce it. I've tried:
[code]
and
[code]
The latencies are awful but it does not fail.

The code with intentional large allocation fails as expected from single request:
[code]

[2020-09-01 08:38] rgritti commented on #1514
Right, but in my example above I have never explicitly disabled anything, but I end up with access logs for status codes 2xx disabled.

[2020-09-01 18:52] szuecs commented on #1514
@rgritti as far as I understand you set the default to log, but then you filter logging for the route to log only 4xx and 5xx.
So the behavior seems as you configured, not?

[2020-09-13 19:52] szuecs opened #1520 "Support Http3"
https://github.com/lucas-clemente/quic-go Looks like a great library to check. It could work with skipper.

[2020-09-22 11:01] rgritti commented on #1514
@szuecs I think that if you **enable** the access logs globally, and then you **enable** specifically the 4xx and 5xx, you should see the 2xx as well, no?

[2020-09-22 18:08] szuecs commented on #1514
No, I think you should specify what you want to see, no inheritance!

[2020-09-28 10:12] szuecs opened #1525 "Kubernetes: short circuit route if no endpoints found"
Normally we fallback to use service, but there was an issue that skipper could not get endpoints and the service IP did not get the RST rule to short circuit (maybe kube-proxy did not get the notification through WATCH???). This resulted in 2m timeouts for all calls to that route, which piled up and caused instability in one production cluster.

I propose as @aermakov-zalando suggested, that in ca

[2020-09-28 17:29] szuecs opened #1526 "Kubernetes: use automatically an allowlist for cluster.local domain"
For example given that you have

[code]

I wan to have an allow list of IP CIDRs automatically enforced with `Source` or `SourceFromLast` predicates to separate internal routes from being called from public internet.

A default should add only private subnets to the allow list.

[2020-09-28 18:15] szuecs commented on #1444
@AlexanderYastrebov I think the idea of getters that store things in the context for modification and that can be referenced makes a lot of sense and seems to be really powerful!

[2020-09-28 18:16] szuecs commented on #1453
I think we should do https://github.com/zalando/skipper/issues/1444 instead of this specific one as @AlexanderYastrebov suggested.

[2020-09-28 20:52] soceanainn commented on #1140
I see some work went in to this in #1387 - any chance you might come back to it soon @aryszka ?

[2020-09-29 08:45] AlexanderYastrebov commented on #1453
@szuecs The described solution should work and is already [documented](https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#setresponseheader).

[2020-09-29 08:57] AlexanderYastrebov commented on #1444
@szuecs To me _[projection](https://github.com/zalando/skipper/issues/1444#issuecomment-653167980)_ idea that came later seems more powerful. It does not require persisting intermediate values into context - they could be used right away in many cases. And to store value (if really needed) it would not require N getters (for headers, query, path param, etc) but rather single filter, e.g. `setConte

[2020-09-29 18:06] szuecs commented on #1444
@AlexanderYastrebov sgtm, so can you express the final semantics of it?

Operations I could imagine:
- get `"${response.header.X-Foo}"`
- set `"${response.header.X-Foo}=${request.query.bar}"`
- modify `TBD`

I guess `setContext("foo", "${response.header.X-Foo}")` will store the value `Response.Header.Get("X-Foo")` in the projectionContext (type maybe `map[string]interface{}` or `map[string]string`

[2020-09-29 18:08] szuecs commented on #1453
@AlexanderYastrebov then I will close this issue. Please reopen if you think it's not done, but I want to have something what needs to be done in case it's not. Thanks!

[2020-09-29 18:08] #1453 closed

[2020-09-29 20:26] AlexanderYastrebov commented on #1444
@szuecs Let me summarize what we have at the moment and possible extensions to it.

### Current state
1. Template variable resolution for header filter family (e.g. `setRequestHeader`) implemented by #1462
- [documented](https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#setrequestheader)
- supports path params and state bag values
2. Template variable resolution for `setQuer

[2020-09-30 08:07] szuecs commented on #1444
@AlexanderYastrebov thanks for the summary, it helps me a lot to understand.
This seems to be a great advance and I only have one question:
Do we want to make it possible to interact with statebag, for example we could peek into validated and parsed JWT tokens to select specific values?
If so we could use `${stateBag["foo"]}` to access it. It can of course be postponed to later.

[2020-09-30 08:12] szuecs commented on #1410
Because a discussion happened at the duplicate https://github.com/zalando/skipper/issues/1478, I will close this one

[2020-09-30 08:12] #1410 closed

[2020-09-30 08:45] aryszka commented on #1140
@soceanainn thanks for asking! I would like to pick it up as soon as possible, but unfortunately, I currently cannot tell when, yet.

[2020-09-30 13:49] AlexanderYastrebov commented on #1444
@szuecs Header filter family resolve variables from statebag already as implemented by #1462
https://github.com/zalando/skipper/blob/071da49db445a8fc3060f45e269ea3cd390e9501/filters/builtin/headerfilter.go#L257-L268

so one can use `setRequestHeader("X-Uid", "${auth-user}")` which is equivalent to `setContextRequestHeader("X-Uid", "auth-user")`.

If we unify template resolution function based on t

[2020-10-02 14:54] aryszka opened #1533 "RouteGroups catchall route may shadow user defined default routes"
**The observed issue is different.**

**Describe the bug**

*This has to be reproduced and verified yet.*

When a catchall route is generated for a route group, and the main route in the route group doesn't have any predicates, then the catchall route may overshadow the user defined route.

[2020-10-02 14:55] #1533 closed

[2020-10-03 09:02] peterklijn opened #1535 "Pass along Logrus JSONFormat to ApplicationLog and AccessLog loggers"
**Is your feature request related to a problem? Please describe.**
We use Skipper as a framework (as code) within our company. The structured logs that Skipper sends differ slightly from our other services.
For example, we use the field `lvl` for the log level, while Skipper uses the Logrus default `level`.
I would like to make these settings configurable, so our services aligned again.

**Describ

[2020-10-03 18:50] szuecs commented on #1535
Great to see that skipper is used at your place!
The change sounds good as long as the default doesn't change.
More options for library users make always sense to me.

[2020-10-03 19:33] peterklijn commented on #1535
Awesome! It should not affect the default as the struct will be initialized empty, just like now, it’s just initialized at a different place :)

[2020-10-04 11:32] peterklijn opened #1537 "Easier use of eskip.Route when using Skipper as code"
**Is your feature request related to a problem? Please describe.**
When using Skipper as a product, and defining routes via the eskip format, Skipper has good and clear documentation.
But when using Skipper as a framework, and defining routes in code, documentation is sparse and I often find myself browsing through the source code to understand how to set predicates and filters.

**Describe the so

[2020-10-04 12:59] AlexanderYastrebov commented on #1537
The issue with such helpers (IMO) is that they tend to diverge from filter/predicate implementations as they evolve so I think their maintenance cost/value ratio should be carefully considered here. Of course lib users always may introduce client-side helpers as they please.

If the goal is pure aesthetics brought by DSL then parsing eskip is also an option:
https://github.com/zalando/skipper/blob

[2020-10-04 16:12] peterklijn commented on #1537
Thanks for your reply Alexander,

I did not consider the aspect that helpers might diverge from the actual implementations. You made a good point there.

The goal would not be purely aesthetics, although it does help, and I think readability of code is not a minor argument.

Instead, the main goal is easy of use. Writing rules in the eskip format is well documented, however the documentation of fo

[2020-10-04 19:18] szuecs commented on #1537
Do you read godocs?

Developer/library docs are considered
https://godoc.org/github.com/zalando/skipper
Or
https://pkg.go.dev/github.com/zalando/skipper

[2020-10-05 07:04] peterklijn commented on #1537
Hi Sandor, I've read them, and they have helped us a lot with setting up Skipper as a framework.
I think that the high level functions together with a few lines of Godoc would dramatically improve pages like this one: https://godoc.org/github.com/zalando/skipper/predicates

[2020-10-06 15:37] szuecs commented on #1505
@aryszka yes the CRD is which enforces it and it was changed also in skipper oss project via https://github.com/zalando/skipper/pull/1490

[2020-10-06 17:00] szuecs commented on #1537
@peterklijn thanks great to here.

[2020-10-07 07:58] peterklijn commented on #1537
Thanks for getting back to me @szuecs.
Please keep in mind that the PR is in no way done, it's incomplete, the build fails and there are no tests.

I added it to show what I meant, and am happy to work on it if you guys are willing to merge it, hence this issue :)

[2020-10-08 16:36] ardaguclu commented on #557
I would like to work on "least requests". Because round robin is not uniformly distributed between nodes especially if long connections exist. Do you have any concern or objection before that?

[2020-10-09 12:12] aryszka opened #1546 "log error information in rate limiting spans when they are marked as error"

[2020-10-09 15:31] szuecs commented on #557
As discussed in slack there is https://github.com/zalando/skipper/pull/1507 that you can test or also check the code to make a new PR, if you like.

[2020-10-09 21:12] AlexanderYastrebov commented on #1238
A related example of inconsistency is that [status](https://github.com/zalando/skipper/blob/master/docs/reference/filters.md#status) filter docs say

It is not true in case of backend error:
[code]

[2020-10-12 09:00] szuecs commented on #1238
I am not sure if we should replace the status in case of a connection error to the backend.

[2020-10-12 09:36] AlexanderYastrebov commented on #1238
@szuecs True, probably status docs should be clarified

[2020-10-12 18:03] aryszka commented on #1537
Thanks for raising this topic! I got a weird idea: if we can apply some convention in the naming of these functions, then they might become the most straightforward input for a reflection based validation.

Nevertheless, I agree that the godoc around the filters and predicates is ripe for an overhaul, regardless of the linked pull request.

[2020-10-12 19:30] #1535 closed

[2020-10-14 14:23] AlexanderYastrebov commented on #202
All routes (and hence all filters) are recreated on any route update because whole route table is re-instantiated, as can be demonstrated by:
[code]

This means that all filters from previous version of routing table should be cleaned up.
In order to perform safe cleanup there must be no in-flight requests that use route from previous version of route table. To achieve that route table (or particu

[2020-10-16 09:46] wndhydrnt opened #1553 "Non-matching requests are sent to route with Service of type ExternalName"
**Describe the bug**
When an Ingress points to a Service of type `ExternalName`, skipper creates a route that matches every host. Requests that do not match a host/path configuration of any other route are then sent to that route.

**To Reproduce**
Ingress and Service definitions:
[code]

The resulting route:
[code]

**Expected behavior**

skipper only proxies requests to the host `my-external-ser

[2020-10-16 15:42] #1553 closed

[2020-10-16 15:44] szuecs commented on #1157
should be fixed in https://github.com/zalando/skipper/releases/tag/v0.11.166

[2020-10-16 15:44] #1157 closed

[2020-10-16 15:44] szuecs commented on #1553
fix will be released in https://github.com/zalando/skipper/releases/tag/v0.11.166

[2020-10-17 08:40] AlexanderYastrebov commented on #1526
I am wondering what kind of a setup would allow call to reach `test-app.ingress.cluster.local` from internet?..
<details>
I assume for HTTPS terminating LB or HTTPS serving skipper there will be no certificate for `cluster.local`.
If there is no LB but just service that exposes HTTP on public IP the `Source(FromLast)` is easily defeated by supplying `X-Forwarded-For`.
Plain HTTP load balancer/prox

[2020-10-17 17:17] szuecs commented on #1526
@AlexanderYastrebov we tested it two times already that ALB sets the ip of the client that connects to the ALB as last entry in xff header, so it can’t be defeated.
We could build something that automatically sets a Source/FromLast predicate with internal IP cidrs to routes with domain .local.

[2020-10-17 17:20] AlexanderYastrebov commented on #1526
@szuecs I mean how do you issue request to HTTPS terminating ALB that has header "Host: test-app.ingress.cluster.local"? Or do you mean HTTP ALB?

[2020-10-17 17:40] szuecs commented on #1526
You can send different SNI and host header, but it doesn’t matter in this case. The ALB doesn’t stop you from connecting tls with an unknown name, because it’s not mTLS.
You can perfectly use `curl -k https://<up> -H”Host: foo.cluster.local”` and without Source/FromLast predicate, skipper will happily forward the traffic to your internal endpoint.

[2020-10-17 18:11] AlexanderYastrebov commented on #1526
Nice, I see. Initially I overlooked SNI vs Host header, then after reading about domain fronting I thought ALB would check host header against SNI but apparently it does not. Thank you for explanation.

[2020-10-20 09:13] szuecs opened #1558 "increase visibility on redis down"
Right now we only spam the logs with messages like
[code]

We should have a separate counter `"fallback"`, instead of `"allow"` and `"forbid"`

[2020-10-20 15:45] szuecs commented on #1558
This is visible by https://opensource.zalando.com/skipper/operation/operation/#redis-rate-limiting-metrics

[2020-10-20 15:45] #1558 closed

[2020-10-20 16:29] AlexanderYastrebov commented on #1207
Why not take detection time directly from `endpointCreated` contrary to:
https://github.com/zalando/skipper/blob/d21aec1d8032185fbc632ba4e8369f0668ebd6d0/filters/fadein/fadein.go#L236-L240

If `endpointCreated` is designed to be a metadata provided by infrastructure, why can't we trust infrastructure to know when endpoint (e.g. pod) went online?
Also consider the case of a new skipper instance upo

[2020-10-20 16:41] AlexanderYastrebov commented on #1207
I was thinking about `EndpointMetrics` - a service that would measure endpoint in-flight requests and latencies across all routes and could be useful datasource for load balancing algorithms. The main issue I stuck on is endpoint identity. It is clear that ip address is not enough as they can be reused. I think in k8s context skipper can and should leverage infrastructure to provide endpoint ident

[2020-10-21 11:16] AlexanderYastrebov opened #1559 "Endpoint metadata"
**Is your feature request related to a problem? Please describe.**

Load balancing algorithms (#557) require or would benefit from additional endpoint information besides currently available
scheme, ip address and port. For example slow start aka fadeIn algorithm (#1207) has to know when endpoint bacame available to receive traffic. Other algorithms need endpoint metrics and thus endpoint identity

[2020-10-21 12:08] AlexanderYastrebov commented on #1520
Golang issue https://github.com/golang/go/issues/32204

[2020-10-22 11:11] AlexanderYastrebov commented on #1041
I will post a comment instead of a new issue.

## Problem

**TL;DR**: There is no "response read timeout" available and therefore skipper hangs if backend hangs until client cancels the request.

Skipper has the following timeout configurations (look for `*timeoutBackend*`) available regarding backend:
https://github.com/zalando/skipper/blob/5a92e9fd9abc86e2fbf925afb08d13932fec74e4/config/config.g

[2020-10-22 20:25] szuecs commented on #1537
I guess a decision needs to be done if we want to have simpler interface functions for library users or not @aryszka. I see @AlexanderYastrebov point, but honestly I like the point of readability and it could simplify some code in dataclients and tests.

[2020-10-23 12:58] szuecs opened #1564 "Flush on upgraded connections lead to panic"
**Describe the bug**
Flush socket also in error cases [PR](https://github.com/zalando/skipper/pull/1560) result in panic as
[commented](https://github.com/zalando/skipper/pull/1560#issuecomment-714710929).

The bug was introduced in https://github.com/zalando/skipper/releases/tag/v0.11.167

**To Reproduce**
backend
[code]

proxy
[code]

client
[code]

**Expected behavior**
Do not panic

**Observed

[2020-10-23 14:34] AlexanderYastrebov commented on #1564
Judging from https://github.com/zalando/skipper/issues/1508 the problem might be observed by `kubectl exec` if skipper is a proxy in front of the kube-apiserver

[2020-10-23 17:32] #1564 closed

[2020-10-23 17:51] szuecs commented on #1564
https://github.com/zalando/skipper/releases/tag/v0.11.172 contains a fix

@AlexanderYastrebov yes that's the case. Kubectl exec, port-forward, attach, log were impacted, but we I am pretty sure there is too few uses of these that these could impact anything.

[2020-10-26 10:11] aryszka commented on #939
`TestInitialAndDeleteFile`

times out, possible the loggingtest/logger get stuck at https://github.com/zalando/skipper/blob/master/logging/loggingtest/logger.go#L113

Log output:

[code]

[2020-10-26 10:17] #612 closed

[2020-10-26 14:49] #1525 closed

[2020-10-28 09:41] azarakovskiy opened #1573 "Support custom HTTP handlers added to the support listener"
**Is your feature request related to a problem? Please describe.**
I am trying to add some custom listeners that would work on the support port.

As a specific example, I want to change a health check endpoint from being just a normal route returned in my custom data client to the support listener. Because of that, two things happen:
1. Every request to /healthcheck is logged in access log.
2. Hea

[2020-10-28 16:13] szuecs commented on #1573
@azarakovskiy Can you add more context regards to other useful examples?
I don't think that you should have a health check on a support listener, because the main listener could just crash and support listener happily replies healthy to all the health checks. (think of it as a general recommendation, that you can happily ignore)
I understand that the feature could make a lot of sense for other use

[2020-10-28 20:05] AlexanderYastrebov commented on #1573
I honestly did not get why. Also @szuecs comment about having health check on main listener seems very reasonable if not a best practice.

A route:
[code]
should not produce any access logs and I am not sure skipper writes access logs for support listeners at all. IMO clarification is needed.

[2020-10-28 20:06] AlexanderYastrebov commented on #1573
@szuecs I dont see any blocker but would like to better understand the need.

[2020-10-29 09:59] azarakovskiy commented on #1573
Hi @szuecs @AlexanderYastrebov thanks for your replies.

This is a super valid concern, I have not thought about it. I believe this is a very good reason _not_ to put the healthcheck on support port.

This actually might solve the issue I am having and reduce "spam" in access logs. The second issue is that access to the healthcheck also counts in Prometheus metrics., and since healthchecks are oft

[2020-10-30 11:17] NorthFury opened #1575 "The proxied request path is URI decoded"
**Describe the bug**
Skipper mutates the request path and decodes the encoded characters.

**To Reproduce**
Have a stub service on 8082 logging the request path.
Start skipper with the following routes:
```test: * -> "http://localhost:8082";```
Requests executed:
[code]
The logged request paths were:
[code]

**Expected behavior**
Keep the encoded characters as they were.
**Observed behavior**
The

[2020-10-30 11:24] szuecs commented on #1575
The bug was introduced in https://github.com/zalando/skipper/pull/1547

[2020-10-30 11:27] rkeytacked commented on #1575
Actually the bug is a combination of URI-unescaping together with normalization.
Before #1547 already the unescaping was violating the W3C recommendations:

According to https://www.w3.org/Addressing/URL/4_URI_Recommentations.html URL-sensitive characters

Currently `[%24,%26,%2B..%3B,%3D,%40..%7A]` are being unescaped, i.e. including the / ? & characters

[2020-10-30 11:27] rkeytacked commented on #1575
The logging is not a problem

[2020-10-30 11:29] szuecs commented on #1575
@rkeytacked ok thanks

[2020-10-30 11:33] NorthFury commented on #1575
I tested the output of `httppath.Clean` and it does not touch the escaped characters. This is in reference to the linked PR.

The issue here is that the escaped characters are not preserved for the request path received by the backend.

[2020-10-30 11:42] aryszka commented on #1575
@NorthFury do you mean that it's not the linked change that causes the problem? https://github.com/zalando/skipper/pull/1547

[2020-10-30 11:49] NorthFury commented on #1575
@aryszka I just ran my test against #1547 and it is the change that introduced the bug.

[2020-10-30 12:35] AlexanderYastrebov commented on #1575
@tomlarkworthy

[2020-10-30 12:47] aryszka commented on #1575
My suggestion is to revert #1547 and so return to earlier behavior, and to support the use case of #1547 , we should create a filter that achieves the same.

@tomlarkworthy would this approach work for you?

[2020-10-30 12:49] rkeytacked commented on #1575
@aryszka Actually I would feel better not to decode the slash %2F. Then the URL normalization would also not hurt anymore.

[2020-10-30 12:52] rkeytacked commented on #1575
Actually this very commit wanted to avoid what is happening right now: https://github.com/zalando/skipper/pull/1547/commits/d79a87f14bd1b9d98bb490932a85a248b40e42d1

Somehow the intention is not met.

[2020-10-30 12:59] NorthFury commented on #1575
The proposal to to the normalization using a filter is the better approach for a proxy. A request in general and more specifically the request path should not be mutated unless explicitly via a filter or a flag.

[2020-10-30 13:05] rkeytacked commented on #1575
@NorthFury but that also means that decoding %-characters should only happen if wanted, right?

[2020-10-30 13:17] NorthFury commented on #1575
@rkeytacked yes, any change to the request path should be explicit.

[2020-10-30 13:43] tomlarkworthy commented on #1575
My original issue is that the regex path filers diverge from what gets sent upstream. So even if you set a filter, you might get something different hit upstream that looks like it should have been filtered out. This is being observed in our services ATM.

Adding an additional explicit normalize filter would satisfy our needs, but I kind of feel by setting a PathFilter I have already opted into a

[2020-10-30 15:07] szuecs commented on #1575
@tomlarkworthy do you mean the Path predicate, if you write about PathFilter?

[2020-10-30 15:28] NorthFury commented on #1575
@tomlarkworthy I don't have specific requirements apart for not to decode the reserved characters.
@tomlarkworthy when you mention the `PathFilter` do you mean the `Path` predicate?

Let me summarize the problem as I understand it and various directions this can go into.
Normalization of the URI is required for both filters and for route matching in order to have the system behave in a predictable

[2020-10-30 15:58] tomlarkworthy commented on #1575
OK an explicit opt-in normalization filter seems to be safest choice.

[2020-10-30 17:01] tomekit opened #1579 "Support for https backend"
I've configured Ingress with ALB using this: https://github.com/zalando-incubator/kube-ingress-aws-controller/tree/master/deploy

Given this rule for: `Ingress`
[code]
and accessing my app over HTTPS using the: `https://mydomain.app-web.example.com`

my final Apache2 app receives HTTP traffic over 443 port which results in:
`100.96.4.10:443 100.96.5.0 - - [30/Oct/2020:16:43:04 +0000] "GET / HTTP/1

[2020-10-30 19:30] szuecs commented on #1579
Thanks sounds great to me as feature request and should not be complicated, but I would try to have an annotation and not rely on the port, because you never know how people are using it right now.

[2020-10-30 19:54] tomekit commented on #1579
Thank you for your fast reply. My contact with skipper is indeed related to `kube-ingress-aws-controller` which I've started to use, but since the guide suggest using `skipper` and I've just followed the default path of using it.

In my case I want `skipper->app` to have https. I am not sure whether SSL termination happens already on `ALB` level or not, but that shouldn't matter, since it's ultima

[2020-10-31 13:33] chellitorvic opened #1581 "Documentation for copyRequestHeader & copyResponseHeader filters"
**Is your feature request related to a problem? Please describe.**
Currently, there are no mentions in the documentation about `copyRequestHeader` & `copyResponseHeader` filters, which makes an impression that such functionality is not implemented.

**Describe the solution you would like**
Mention `copyRequestHeader` & `copyResponseHeader` in filters documetnation.

**Would you like to work on it?

[2020-11-01 22:47] szuecs commented on #1579
Ok great thanks!

[2020-11-02 08:42] universam1 opened #1582 "error: endpoint not found"
**Describe the bug**
upgrading from version .150 to .179 breaks majority of routes, Skipper returns "no endpoint" when accessing these routes

**To Reproduce**

errors logged
[code]

Slack ref: https://gophers.slack.com/archives/C82Q5JNH5/p1604304999030600

@szuecs

[2020-11-02 09:20] szuecs commented on #1582
@universam1 thanks.
The log is more information than a serious error. Do you see a significant increase of 502 in your metrics?

[2020-11-03 08:43] universam1 commented on #1582
I can pinpoint the breaking change was introduced in version .174.
Actually with that version I even get a nil-pointer panic at this critical point!
[code]

[2020-11-03 08:43] universam1 commented on #1582
related to #1525

[2020-11-03 10:11] szuecs commented on #1582
also related https://github.com/zalando/skipper/pull/1569 (fixed the panic)

[2020-11-03 18:36] szuecs commented on #1582
Thanks to @universam1 for the investigation.

Chat transcript:
[code]

We work on a fix

[2020-11-03 20:28] blessanm86 opened #1585 "Cannot install skipper"
**Describe the bug**
I am trying to install skipper as per the commands on the readme.
But when I run `GO111MODULE=on go get github.com/zalando/skipper/...`
I get missing package errors

[code]

**To Reproduce**
Fresh checkout of the project, my go version is `go version go1.15.3 darwin/amd64`

**Expected behavior**
Packages to downloaded and and have eskip and skipper command available

**Observe

[2020-11-03 21:58] szuecs commented on #1582
@universam1 can you test registry.opensource.zalan.do/pathfinder/skipper-test:pr-1584-2 please?

[2020-11-03 22:04] szuecs commented on #1585
@blessanm86 work around would be to git clone the repository and use `make` to build the binaries.

This what I get with a mac with Go1.14.4:
[code]

[2020-11-04 07:42] blessanm86 commented on #1585
@szuecs I tried with 1.14.10 and still got the same error.
But the work around worked. thanks. I will close the ticket.

[2020-11-04 07:42] #1585 closed

[2020-11-04 08:09] universam1 commented on #1582
Wonderful - I've tested it against .179 and I can confirm in lab at least that fix does solve our issue

[2020-11-04 10:14] chellitorvic commented on #1579
Isn't there already a `zalando.org/skipper-backend-protocol` annotation that allows configuring this behavior?

[2020-11-04 10:21] #1581 closed

[2020-11-04 12:08] tomekit commented on #1579
Thanks. I've missed that one, I am going to give the: `zalando.org/skipper-backend-protocol` setting a try.

[2020-11-04 14:47] sergeykolbasov opened #1587 "Add backend host as a tag to tokeninfo span of auth filter"
**Is your feature request related to a problem? Please describe.**
At the moment it's impossible to create a tracing stream of `tokeninfo` spans executed only for a specific backend if auth is performed by Skipper filter. Therefore, it's not straight-clear how to measure time spent on authentication in the specific service's response.

**Describe the solution you would like**
It would be nice to i

[2020-11-04 14:54] wndhydrnt opened #1588 "Reduce level of "convertPathRule: add shuntroute to..." log message"
**Is your feature request related to a problem? Please describe.**
#1551 introduced a [log message](https://github.com/zalando/skipper/blob/2573c534751b1c5f6b3c590d65aae3215e1900c2/dataclients/kubernetes/ingress.go#L192) in case the list of endpoints is empty or an endpoint does not exist.
On our non-production clusters, where deployments are regularly scaled down to 0 replicas, this adds a lot of

[2020-11-04 16:58] #1582 closed

[2020-11-04 19:48] szuecs commented on #1588
I agree, DebugLevel should be fine!

[2020-11-06 09:17] ardaguclu opened #1593 "Hijacked connection panics when flush"
**Describe the bug**
We are using skipper with upgrading and hijacking request to our websocket service. It was working without any problem with the 0.11.1 version. After upgrading to 0.11.182(with trying 0.11.177, etc.), it started getting panics while closing the connection.

`gateway           | 2020/11/05 07:32:26 http: response.WriteHeader on hijacked connection from github.com/zalando/skippe

[2020-11-06 09:20] ardaguclu commented on #1593
[https://github.com/zalando/skipper/pull/1594](url)

[2020-11-06 09:51] szuecs commented on #1593
@ardaguclu thanks great finding!

[2020-11-06 16:57] #1593 closed

[2020-11-06 22:51] szuecs commented on #1573
Just to add with these filters [1], you can select status code you like to have access logs or not.
Do you want to close the PR?

[1]
https://opensource.zalando.com/skipper/reference/filters/#enableaccesslog
https://opensource.zalando.com/skipper/reference/filters/#disableaccesslog

[2020-11-07 19:00] szuecs opened #1597 "Aws nitro enclave support"
TLS termination integrated with kms and acm possible.

These posts explain more details

https://www.sentiatechblog.com/acm-for-nitro-enclaves-its-a-big-deal
https://aws.amazon.com/blogs/aws/aws-nitro-enclaves-isolated-ec2-environments-to-process-confidential-data/

[2020-11-08 19:31] szuecs commented on #1587
Backend host will be the host (url) configured for tokeninfo or the backend application skipper will proxy to?

[2020-11-08 19:38] szuecs commented on #1559
The idea to mix kubernetes IDs into backend id seem not reasonable to me.
1) it leaks data from dataclient
2) IMO IP address is enough and not explained well enough that this doesn’t make sense.
3) the IDs by kubernetes does not tell running nor ready (endpoints will be ready), how long this takes per pod is not clear.

[2020-11-08 19:41] szuecs commented on #1579
Thanks!

[2020-11-08 19:41] #1579 closed

[2020-11-08 19:42] szuecs commented on #1505
Doc change was merged

[2020-11-08 19:42] #1505 closed

[2020-11-08 19:47] szuecs commented on #1498
@aryszka what do you think about connection pool per backend?
We could have a map[backend]*http.Client for example. Unclear to me if people would like to change it even more fine granular like per route.

[2020-11-08 22:43] sergeykolbasov commented on #1587
The application's backend

[2020-11-10 17:18] AlexanderYastrebov commented on #1559
@szuecs

Well, routes themselves are a leak from dataclient then :)

Not sure I understand, IP reuse appears to be a very real thing:
[code]
[code]

I am not sure I can read it correctly, but what I propose are:
a) pass endpoint identity from infrastructure (IP address can not serve as an identity due to reuse)
b) pass endpoint creation time from infrastructure to reliably know when endpoint becam

[2020-11-11 19:06] #1588 closed

[2020-11-11 19:32] szuecs commented on #1587
@sergeykolbasov why do you need this in the tokeninfo span?
It's already on the proxy span, which I think it should belong to.
Filter does not know about the chosen backend (only known by the load balancer and the proxy)

[2020-11-12 09:31] sergeykolbasov commented on #1587
@szuecs so I'd be able to build a tracing stream out of the tokeninfo spans that are related only to the specific downstream service, meaning I would be able to tell how much time was spent on auth from the total request time

I've ventured into the codebase, and it seems one can't add custom tags to the span created in the depths of HTTP client

[2020-11-12 14:27] marcusianlevine commented on #1074
Any hope for this getting fixed? We'd like to upgrade Skipper to pick up other bugfixes but this bug breaks many of our existing ingresses

[2020-11-12 16:27] szuecs commented on #1074
@marcusianlevine this should have been fixed in https://github.com/zalando/skipper/releases/tag/v0.11.182
I am working right now on a refactoring, that should fix the whole port mapping completely.

Tests are here: https://github.com/zalando/skipper/tree/v0.11.182/dataclients/kubernetes/testdata/ingress/named-ports
This edge case is not working right now: https://github.com/zalando/skipper/blob/v0

[2020-11-12 16:32] marcusianlevine commented on #1074
Got it, thanks for the prompt response @szuecs!

[2020-11-12 17:27] AlexanderYastrebov opened #1601 "Add request cookie support to Lua scripts"
**Is your feature request related to a problem? Please describe.**
As a Lua script user
I want to get (and set?) request cookies

**Describe the solution you would like**
Extend Lua scripting with cookie support similar to [headers](https://github.com/zalando/skipper/blob/9cb979aedcdb06836ccbb2b627eda2eb344d0135/script/script.go#L375-L384)

**Describe alternatives you've considered (optional)**
Pa

[2020-11-13 11:27] aryszka opened #1604 "Host header handling is inconsistent when using the <loopback>"
This set of routes should return "It works!":

[code]

But it ends up in an infinite loop. This, however, works as expected:

[code]

where the only change is using the `Header("Host", "...")` predicate instead of `Host("...")`. Both approaches should work the same way.

[2020-11-13 15:14] szuecs opened #1605 "improve visibility for TCP-LIFO and lifo()"
It might make sense to get number of dropped entries

[2020-11-13 19:20] szuecs commented on #1333
This was fixed via validation webhook, but we need to add documentation for this. I have some local start that I will push hopefully soon.

[2020-11-13 19:20] #1428 closed

[2020-11-13 19:24] szuecs commented on #1575
@NorthFury I think we can close this issue and create a new one to add the requested filter, right?

[2020-11-13 19:25] szuecs commented on #1280
We added `<shunt>` routes

[2020-11-13 19:25] #1280 closed

[2020-11-13 19:38] szuecs commented on #1484
tested and works as documented in https://opensource.zalando.com/skipper/kubernetes/routegroup-crd/#backend_1

[2020-11-13 19:38] #1484 closed

[2020-11-13 19:39] szuecs commented on #1270
This can be done since a while with routegroups see also https://opensource.zalando.com/skipper/kubernetes/routegroup-crd/ and https://opensource.zalando.com/skipper/kubernetes/routegroups/

[2020-11-13 19:39] #1270 closed

[2020-11-13 19:41] szuecs commented on #1604
I think `setRequestHeader` sets it into the http.Header map and Host() works on `request.Host` which is not `request.Header["Host"]`

[2020-11-13 19:46] szuecs commented on #683
FYI: https://github.com/zalando/skipper/pull/1606 makes it possible to use https backend protocol also in routegroups similar to how it works in ingress with the same annotation.

[2020-11-13 20:49] AlexanderYastrebov commented on #1604
@szuecs

There are three things to consider `request.Host` used by `Host` predicate, `Host` header and `context.OutgoingHost()` used for backend request construction.

[2020-11-14 19:08] szuecs commented on #1604
req.Header.Get(„Host“) is always empty string in a http handler or you added it yourself. We don’t copy request.Host to the req.Header.

The Host() predicate works on req.Host, setRequestHeader works only on req.Header. So the why is clear, but we might want to change the predicate to also check the Header or I think better would be to change the filter in case of Host we set req.Host.
Of course r

[2020-11-16 10:10] tkrop commented on #1238
@aryszka @szuecs Fixing this would also solve a problem of the `apiUsageMonitoring`-filter not monitoring this responses, that is regularly re-discovered by our clients.

[2020-11-16 11:19] AlexanderYastrebov commented on #1238
@tkrop suggested an alternative idea worth considering:
Instead of creating dummy response for the proxy error, add an additional optional `ErrorHandler` filter interface with say `ProxyError(err proxyError)` method and pass proxy error to all filters that implement it so that on response path either `Response()` or `ProxyError()` would be called. This should not break existing filters (or introdu

[2020-11-16 11:28] AlexanderYastrebov commented on #1238
Regarding https://github.com/zalando/skipper/issues/1238#issuecomment-727915854 we may combine two ideas: convert `Proxy.do()` early return on error into proper error response  but pass it to new `ErrorResponse()` optional filter method.

[2020-11-16 14:17] szuecs opened #1608 "operations monitoring docs"
I recall there was some confusion around Skipper_backend_ vs Skipper_server_host vs Skipper_response_duration usage

Make the mentioned metrics more clear

[2020-11-17 13:07] aryszka commented on #1573
In general, I like the idea of the custom support listeners, but as it was already discussed, the healthcheck is just the wrong example.

I am closing this PR and issue for now. Please feel free to reopen or create a new issue to discuss the custom handlers topic, and same for the PR.

[2020-11-17 13:07] #1573 closed

[2020-11-17 16:12] #1601 closed

[2020-11-17 19:32] szuecs opened #1610 "atuo configuration of OAuth2 code grant server endpoints"
https://github.com/zalando/skipper/pull/1609 implements OAuth2 code grant flow and there is an auto configuration possibility which would remove some of the required flag parameters to skipper.
See also:
https://tools.ietf.org/html/rfc8414#section-2
https://tools.ietf.org/html/rfc8414#section-3

[2020-11-19 09:49] mikkeloscar opened #1614 ""Secure" Source predicate which can't be manipulated by the client"
**Is your feature request related to a problem? Please describe.**
Currently skipper has two predicates for allowing clients access based on IP address/range: [`Source`](https://opensource.zalando.com/skipper/reference/predicates/#Source) and [`SourceFromLast`](https://opensource.zalando.com/skipper/reference/predicates/#sourcefromlast)

Both of them rely on first checking the `X-Forwarded-For (XF

[2020-11-19 14:20] szuecs commented on #1614
I would rather create a new predicate called `RemoteIP(CIDRs)` that only considers http.Request.RemoteIP, because `Source()` is already var args and the change would break all predicates compatability.

[2020-11-19 14:24] szuecs commented on #1587
As discussed in chat, not really possible

[2020-11-19 14:24] #1587 closed

[2020-11-24 10:22] szuecs opened #1618 "validation webhook did not caught miss spelled filter"
**Describe the bug**

RouteGroup created
[code]

**Expected behavior**

This should not be an allowed change

**Observed behavior**

It was submitted without error

[2020-11-24 10:50] aermakov-zalando commented on #1614
I think we've discussed this before when talking about migrating to NLBs, but it might be a good idea to have a command-line switch for the behaviour of the `Source` predicate as well (or instead). For example, consider our current setup: we probably have more than one ingresses/routegroups relying on the Source filter to do IP-based filtering, which works because we use ELBs in front of Skipper.

[2020-11-24 11:04] szuecs commented on #1614
@aermakov-zalando it's a different problem how to migrate an NLB and not really scope of this PR nor this project.
Maybe we can add some flag to be able to add replace f1 with f2 for example to have a generic possibility to rewrite filters at our scale.

[2020-11-24 11:14] aermakov-zalando commented on #1614
I don't see why this is out of scope. My point was that it might make more sense to give the users a higher-level predicate ("filter by source IP, I don't care how exactly it's determined") instead of very low-level ones that need to be changed if something is changed in the setup.